Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(rust): bump aws-config to enable AWS_ENDPOINT_URL support
  rust/main/Cargo.lock
  rust/main/Cargo.toml
Due: none

fix(rust): pin aws-config to 1.1.9
  rust/main/Cargo.lock
  rust/main/Cargo.toml
Due: none

feat: scraper outbox
  rust/main/agents/relayer/src/relayer/origin.rs
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260817_000010_create_table_outbox.rs
  rust/main/agents/scraper/migration/src/m20260817_000011_create_table_indexing_checkpoint.rs
  rust/main/agents/scraper/migration/src/m20260817_000012_create_table_merkle_tree_insertion.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/db/generated/indexing_checkpoint.rs
  rust/main/agents/scraper/src/db/generated/merkle_tree_insertion.rs
  rust/main/agents/scraper/src/db/generated/mod.rs
  rust/main/agents/scraper/src/db/generated/outbox.rs
  rust/main/agents/scraper/src/db/generated/prelude.rs
  rust/main/agents/scraper/src/db/indexing_checkpoint.rs
  rust/main/agents/scraper/src/db/merkle_tree_insertion.rs
  rust/main/agents/scraper/src/db/mod.rs
  rust/main/agents/scraper/src/db/outbox.rs
  rust/main/agents/scraper/src/store.rs
  rust/main/agents/scraper/src/store/deliveries.rs
  rust/main/agents/scraper/src/store/dispatches.rs
  rust/main/agents/scraper/src/store/merkle_tree_insertions.rs
  rust/main/agents/scraper/src/store/payments.rs
  rust/main/agents/scraper/src/store/storage.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/backward.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/forward.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/mod.rs
  rust/main/hyperlane-base/src/settings/base.rs
  rust/main/hyperlane-core/src/traits/db.rs
Due: none

fix(rust): bump aws-config to enable AWS_ENDPOINT_URL support (#9265)
  rust/main/Cargo.lock
  rust/main/Cargo.toml
Due: none

chore(config): switch Kiichain block explorer to Blockscout
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: bump registryrc to include Kiichain Blockscout explorer
  .registryrc
Due: none

refactor(cli): type the AltVM file submitter factory with FileSubmitterConfig
  typescript/cli/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(provider-sdk): narrow the base txSubmitterType discriminant
  typescript/provider-sdk/src/submitter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(solidity): exact-in fee quoting for warp routes
  .changeset/exact-in-fee-quoting.md
  solidity/contracts/interfaces/ITokenBridge.sol
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/contracts/token/CrossCollateralRoutingFee.sol
  solidity/contracts/token/extensions/PredicateCrossCollateralRouterWrapper.sol
  solidity/contracts/token/fees/BaseFee.sol
  solidity/contracts/token/fees/LinearFee.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
  solidity/contracts/token/interfaces/ICrossCollateralFee.sol
  solidity/test/token/CrossCollateralRouter.t.sol
  solidity/test/token/LinearFeeExactIn.t.sol
  solidity/test/token/OffchainQuotedLinearFee.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat: outbox table
  rust/main/agents/scraper/migration/src/m20260817_000010_create_table_outbox.rs
  rust/main/agents/scraper/src/db/generated/outbox.rs
  rust/main/agents/scraper/src/db/outbox.rs
  typescript/infra/package.json
  typescript/infra/scripts/scraper/fork-prod-db.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: outbox start
  rust/main/agents/scraper/src/db/outbox.rs
Due: none

fix(rust): pin dynamic block tags before quorum voting (#9217)
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/dynamic_tag_quorum.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/mod.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/trait_builder.rs
Due: none

fix(rust): persist Lander finalized nonce regressions (#9219)
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_reprocess.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/db.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/db/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/core.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/updater.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/updater/tests.rs
Due: none

fix(rust): allow recipient-less native Cosmos transactions (#9220)
  rust/main/chains/hyperlane-cosmos/src/cw/cw_query_client.rs
  rust/main/chains/hyperlane-cosmos/src/native/module_query_client.rs
  rust/main/chains/hyperlane-cosmos/src/providers/cosmos.rs
Due: none

fix(rust): decode unsigned zkSync priority operations (#9224)
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/fixtures/abstract_priority_operation.json
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/provider.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

perf(rust): back off idle Lander reorg polling
  rust/main/lander/Cargo.toml
  rust/main/lander/src/dispatcher/stages/finality_stage.rs
  rust/main/lander/src/dispatcher/stages/finality_stage/tests.rs
  rust/main/lander/src/dispatcher/stages/inclusion_stage.rs
  rust/main/lander/src/dispatcher/stages/inclusion_stage/tests.rs
  rust/main/lander/src/dispatcher/stages/state.rs
Due: none

fix(validator): preserve announcement escalation nonce
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/chains/hyperlane-ethereum/src/contracts/validator_announce.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/trait_builder.rs
  rust/main/chains/hyperlane-ethereum/src/tx.rs
Due: none

perf(rust): back off idle Lander reorg polling (#9223)
  rust/main/lander/Cargo.toml
  rust/main/lander/src/dispatcher/stages/finality_stage.rs
  rust/main/lander/src/dispatcher/stages/finality_stage/tests.rs
  rust/main/lander/src/dispatcher/stages/inclusion_stage.rs
  rust/main/lander/src/dispatcher/stages/inclusion_stage/tests.rs
  rust/main/lander/src/dispatcher/stages/state.rs
Due: none

fix(sdk): support pre-audit BlacklistIsm deployments (#9206)
  .changeset/legacy-blacklist-ism-support.md
  solidity/contracts/test/TestLegacyBlacklistIsm.sol
  typescript/sdk/src/block-explorer/etherscan.ts
  typescript/sdk/src/ism/EvmIsmModule.hardhat-test.ts
  typescript/sdk/src/ism/EvmIsmModule.test.ts
  typescript/sdk/src/ism/EvmIsmModule.ts
  typescript/sdk/src/ism/EvmIsmReader.test.ts
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/ism/blacklist.ts
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/ism/utils.ts
  typescript/sdk/src/providers/SmartProvider/HyperlaneEtherscanProvider.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.ts
  typescript/sdk/src/test/contractDouble.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(sealevel-sdk,provider-sdk,cli): AltVM impersonated submitter for warp apply on a fork (#9263)
  .changeset/altvm-impersonated-submitter.md
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/commands/warp.ts
  typescript/cli/src/tests/sealevel/warp/warp-fork.e2e-test.ts
  typescript/deploy-sdk/src/AltVMJsonRpcSubmitter.ts
  typescript/provider-sdk/src/altvm.ts
  typescript/provider-sdk/src/index.ts
  typescript/provider-sdk/src/submitter.ts
  typescript/svm-sdk/src/clients/base-signer.ts
  typescript/svm-sdk/src/clients/impersonating-signer.ts
  typescript/svm-sdk/src/clients/protocol.ts
  typescript/svm-sdk/src/clients/signer.ts
  typescript/svm-sdk/src/fork/impersonation.ts
  typescript/svm-sdk/src/fork/svm-fork-manager.ts
  typescript/svm-sdk/src/fork/svm-fork-manager.unit-test.ts
  typescript/svm-sdk/src/index.ts
  typescript/svm-sdk/src/tests/impersonating-signer.unit-test.ts
  typescript/svm-sdk/src/tests/protocol.unit-test.ts
  typescript/svm-sdk/src/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(sdk): cover Solana base fee estimates
  typescript/sdk/src/providers/transactionFeeEstimators.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): use Solana message fee estimates
  .changeset/solana-base-transaction-fee.md
  typescript/sdk/src/providers/transactionFeeEstimators.test.ts
  typescript/sdk/src/providers/transactionFeeEstimators.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): list compatible block explorers
  typescript/sdk/src/metadata/ChainMetadataManager.test.ts
  typescript/sdk/src/metadata/ChainMetadataManager.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): fall back across block explorers
  .changeset/fallback-evm-explorers.md
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address Solana fee review feedback
  .changeset/solana-base-transaction-fee.md
  typescript/sdk/src/providers/transactionFeeEstimators.test.ts
  typescript/sdk/src/providers/transactionFeeEstimators.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

changeset(sdk): mark explorer fallback as minor
  .changeset/fallback-evm-explorers.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): change oUSDT tron adn arbitrum legs to hyp collaterals
  typescript/infra/config/environments/mainnet3/warp/configGetters/getoUSDTTokenWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): fall back across block explorers (#9271)
  .changeset/fallback-evm-explorers.md
  typescript/sdk/src/metadata/ChainMetadataManager.test.ts
  typescript/sdk/src/metadata/ChainMetadataManager.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(starknet): tolerate transaction receipt fetch failures during indexing
  rust/main/chains/hyperlane-starknet/src/provider/client.rs
Due: none

fix: solaxy backfill (#9207)
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): address outbox review feedback
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260818_000013_create_outbox_source_indexes.rs
  rust/main/agents/scraper/src/db/outbox.rs
  rust/main/agents/scraper/src/store/storage.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/rate_limited.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/forward.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/mod.rs
  rust/main/hyperlane-core/src/traits/db.rs
  typescript/infra/scripts/scraper/fork-prod-db.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rust): heartbeat idle contract sync tasks (#9222)
  rust/main/agents/scraper/Cargo.toml
  rust/main/agents/scraper/src/agent.rs
  rust/main/hyperlane-base/Cargo.toml
  rust/main/hyperlane-base/src/contract_sync/mod.rs
Due: none

test(rust): exercise concurrent fallback probes
  rust/main/hyperlane-core/src/rpc_clients/fallback.rs
Due: none

fix(relayer): preserve validator metadata waits
  rust/main/agents/relayer/src/msg/pending_message.rs
Due: none

fix(relayer): distinguish expected metadata signature waits (#9221)
  rust/main/agents/relayer/src/metrics/message_submission.rs
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
  rust/main/agents/relayer/src/msg/metadata/message_builder.rs
  rust/main/agents/relayer/src/msg/metadata/routing.rs
  rust/main/agents/relayer/src/msg/op_queue.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/relayer/src/test_utils/dummy_data.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/fallback.rs
  rust/main/chains/hyperlane-starknet/src/provider/fallback.rs
  rust/main/hyperlane-base/src/metrics/core.rs
Due: none

perf(rust): coalesce fallback provider health probes (#9215)
  rust/main/hyperlane-core/Cargo.toml
  rust/main/hyperlane-core/src/rpc_clients/fallback.rs
Due: none

fix(scraper): address outbox follow-up review
  rust/main/agents/scraper/migration/Cargo.toml
  rust/main/agents/scraper/migration/bin/create_outbox_source_indexes.rs
  rust/main/agents/scraper/migration/src/m20260818_000013_create_outbox_source_indexes.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/backward.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/mod.rs
Due: none

fix(validator): back off failed announcement retries (#9225)
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/agents/validator/Cargo.toml
  rust/main/agents/validator/src/validator.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/validator_announce.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/trait_builder.rs
  rust/main/chains/hyperlane-ethereum/src/tx.rs
  rust/main/hyperlane-core/src/traits/validator_announce.rs
Due: none

fix(scraper): tolerate absent outbox indexes
  rust/main/agents/scraper/migration/src/m20260818_000013_create_outbox_source_indexes.rs
Due: none

fix(relayer): close metadata wait lifecycle gaps
  rust/main/agents/relayer/src/metrics/message_submission.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
Due: none
