Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

chore: catalog compare-versions dependency
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typescript/infra/package.json
  typescript/sdk/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): cover igp upgrade edge cases
  .changeset/neat-igp-upgrades.md
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): detect legacy ica igp owners
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): tighten igp upgrade safeguards
  typescript/infra/.gitignore
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/src/config/chain.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): use hook module for igp upgrade planning
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): harden igp upgrade reruns
  .changeset/neat-igp-upgrades.md
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
  typescript/sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): narrow igp timelock rerun matching
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): clean up igp upgrade script nits
  .changeset/neat-igp-upgrades.md
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/src/govern/constants.ts
  typescript/infra/src/utils/timelock.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/utils/contract.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): keep igp upgrade proposals upgrade-only
  typescript/infra/scripts/igp/upgrade-compatible-igps.ts
  typescript/infra/test/igp-upgrade-compatible-igps.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add rebalancing bridges to USDC and USDT Moonpay warp configs (#8885)
  typescript/infra/config/environments/mainnet3/governance/ica/aw.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  .changeset/hot-bears-enjoy.md
  typescript/infra/src/govern/multisend.ts
  typescript/sdk/src/ism/EvmIsmModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: validator fastpath scripts
  typescript/infra/scripts/validators/fastpath/check-fastpath-isms.ts
  typescript/infra/scripts/validators/fastpath/deploy-fastpath-isms.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): temporarily disable taiko validator and relayer
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): temporarily disable taiko validator and relayer (#8928)
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: seismic deployments
  typescript/sdk/src/hook/EvmHookReader.ts
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/router/HyperlaneRouterDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: updated comments about metadata build refusal
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
  rust/main/agents/relayer/src/msg/metadata/base.rs
Due: none

fix: aggregation ism metadata building improvement (#8920)
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
  rust/main/agents/relayer/src/msg/metadata/base.rs
Due: none

fix: igra gas prices
  typescript/infra/config/environments/mainnet3/tokenPrices.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: igra gas prices solana
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: dual write
  typescript/ccip-server/src/services/CallCommitmentsService.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: new calldata endpoints
  typescript/ccip-server/prisma/migrations/20260617200000_add_calldata_user_salt/migration.sql
  typescript/ccip-server/prisma/migrations/20260617210000_rename_calldata_columns/migration.sql
  typescript/ccip-server/prisma/schema.prisma
  typescript/ccip-server/src/services/CallCommitmentsService.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: new CCS endpoints for vm agnostic calldata
  typescript/ccip-server/prisma/migrations/20260617154917_add_calldata/migration.sql
  typescript/ccip-server/prisma/schema.prisma
  typescript/ccip-server/src/services/CallCommitmentsService.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: solana reveals
  rust/main/chains/hyperlane-sealevel/Cargo.toml
  rust/main/chains/hyperlane-sealevel/src/keypair.rs
  rust/main/chains/hyperlane-sealevel/src/lib.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/trait_builder.rs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  typescript/ccip-server/prisma/migrations/20260622000000_add_calldata_reveal_accounts/migration.sql
  typescript/ccip-server/prisma/schema.prisma
  typescript/ccip-server/src/services/CallCommitmentsService.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: igra gas prices (#8929)
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
  typescript/infra/config/environments/mainnet3/tokenPrices.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: ccs config
  rust/main/config/mainnet_config.json
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_config.rs
  typescript/infra/helm/offchain-lookup-server/values-mainnet.yaml
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: lint
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
Due: none

fix: lower optimizer runs to 9990 to keep CrossCollateralRouter under EIP-170
  .changeset/ccr-addbridge-override.md
  solidity/foundry.toml
  solidity/rootHardhatConfig.cts
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(core): widen MCR rebalance config to CCR-enrolled domains (#8743)
  .changeset/ccr-addbridge-override.md
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/contracts/token/libs/MovableCollateralRouter.sol
  solidity/foundry.toml
  solidity/rootHardhatConfig.cts
  solidity/test/token/CrossCollateralRouter.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat: add BlacklistIsm for per-message-ID blocking (#8756)
  .changeset/black-tips-jam.md
  solidity/contracts/isms/BlacklistIsm.sol
  solidity/test/isms/BlacklistIsm.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(solidity): reject future standing quote issuedAt [HL-2026Q2-001] (#8781)
  .changeset/bright-quotes-settle.md
  .changeset/quoter-issued-at-bounds.md
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/test/igps/IGPOffchainQuoting.t.sol
  solidity/test/token/OffchainQuotedLinearFee.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

audit: document NetFlow mechanic, scope, composition, and minOutboundNonce
  solidity/contracts/hooks/warp-route/NetFlowRateLimitedHookIsm.sol
Due: prettier --write

test(core): cover DelayedFlowRouter audit-response paths
  solidity/test/isms/DelayedFlowRouter.t.sol
  solidity/test/isms/routing/TimelockRouter.t.sol
Due: prettier --write

chore: blacklist USDC/eclipsemainnet message to Circle-blacklisted recipient
  typescript/infra/config/environments/mainnet3/customBlacklist.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: debug logs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
Due: none

fix: reveals
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
  rust/main/hyperlane-core/src/traits/mailbox.rs
Due: none

fix: native sol reveals
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/aw-validators/rc.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: resubmit reveals
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
Due: none

fix: cleanup
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/hyperlane-core/src/traits/mailbox.rs
Due: none
