Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix: properly add blacklist
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: infra tests
  typescript/infra/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: actually use transaction suffix for tronscan
  typescript/sdk/src/metadata/blockExplorer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: don't need to add extra # as this is already present in the registry
  typescript/sdk/src/metadata/blockExplorer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add fast path context (#8428)
  typescript/infra/config/contexts.ts
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/package.json
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/src/agents/index.ts
  typescript/infra/src/config/agent/relayer.ts
  typescript/infra/src/funding/key-funder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf: split runtime entrypoints from UI imports
  .changeset/swift-spoons-laugh.md
  pnpm-lock.yaml
  solidity/build-tron.sh
  typescript/aleo-sdk/package.json
  typescript/aleo-sdk/src/runtime.ts
  typescript/cosmos-sdk/package.json
  typescript/cosmos-sdk/src/runtime.ts
  typescript/radix-sdk/package.json
  typescript/radix-sdk/src/runtime.ts
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
  typescript/sdk/src/signers/radix/radix-toolkit.ts
  typescript/tron-sdk/package.json
  typescript/tron-sdk/src/runtime.ts
  typescript/widgets/package.json
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/cosmos.ts
  typescript/widgets/src/walletIntegrations/radix.ts
  typescript/widgets/src/walletIntegrations/tron.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): add probe-specific smart provider requests
  .changeset/probe-request-kind.md
  typescript/sdk/package.json
  typescript/sdk/scripts/benchmark-smart-provider-probes.ts
  typescript/sdk/src/hook/EvmHookReader.test.ts
  typescript/sdk/src/hook/EvmHookReader.ts
  typescript/sdk/src/ism/EvmIsmReader.test.ts
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
  typescript/sdk/src/providers/SmartProvider/types.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/checker.ts
  typescript/sdk/src/utils/HyperlaneReader.test.ts
  typescript/sdk/src/utils/HyperlaneReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: tron explorer family (#8432)
  .changeset/green-bobcats-compare.md
  typescript/sdk/src/block-explorer/utils.ts
  typescript/sdk/src/metadata/blockExplorer.ts
  typescript/sdk/src/metadata/chainMetadataTypes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): use version-agnostic branch name for rust release PR
  .github/workflows/rust-release.yml
Due: none

fix(ci): use version-agnostic branch name for rust release PR (#8435)
  .github/workflows/rust-release.yml
Due: none

fix(sdk): handle tron probe misses
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
  typescript/sdk/src/utils/HyperlaneReader.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): preserve smart provider read overrides
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli): split starknet e2e cases
  .github/workflows/test-cli-e2e.yml
  typescript/cli/src/tests/starknet/core/core-apply-default-hook-protocol-fee.e2e-test.ts
  typescript/cli/src/tests/starknet/core/core-apply-default-ism-redeploy.e2e-test.ts
  typescript/cli/src/tests/starknet/core/core-apply-mailbox-owner.e2e-test.ts
  typescript/cli/src/tests/starknet/core/core-apply-routing-ism-owner.e2e-test.ts
  typescript/cli/src/tests/starknet/core/core-apply.e2e-test.ts
  typescript/cli/src/tests/starknet/core/core-apply.shared.ts
  typescript/cli/src/tests/starknet/helpers.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-hook-add-merkle.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-hook-replace-with-protocol-fee.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-hook-same-config.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-hook-update-protocol-fee-config.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ism-add-test-ism.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ism-replace-with-message-id-multisig.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ism-same-config.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ownership-all.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ownership-preserve.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ownership-starknet1.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ownership-starknet2.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-route-extension.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply.shared.ts
  typescript/cli/src/tests/starknet/warp/warp-read.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli): remove old starknet warp suites
  typescript/cli/src/tests/starknet/warp/warp-apply-hook-updates.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ism-updates.e2e-test.ts
  typescript/cli/src/tests/starknet/warp/warp-apply-ownership-updates.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: add configurable multi protocol provider
  typescript/sdk/src/providers/ConfiguredMultiProtocolProvider.ts
  typescript/sdk/src/providers/MultiProtocolProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add light sdk and widget subpath exports
  .changeset/famous-pugs-breathe.md
  typescript/sdk/package.json
  typescript/widgets/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): handle live probe misses
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
  typescript/sdk/src/utils/HyperlaneReader.test.ts
  typescript/sdk/src/utils/HyperlaneReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf: reuse warp read metadata and package versions
  .changeset/probe-request-kind.md
  typescript/cli/src/context/context.ts
  typescript/cli/src/tests/context/context.test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Add structured warning log for PostSubmitFailure
  rust/main/agents/relayer/src/msg/message_processor/stage/submit.rs
Due: none

fix(ci): speed up beta release workflow (~15min → ~3min)
  .github/workflows/release.yml
Due: none

fix: Ethermint nonce detection and PostSubmitFailure retry latency (#8426)
  rust/main/agents/relayer/src/msg/message_processor.rs
  rust/main/agents/relayer/src/msg/message_processor/disposition.rs
  rust/main/agents/relayer/src/msg/message_processor/stage/submit.rs
  rust/main/agents/relayer/src/msg/message_processor/stage/submit/tests.rs
  rust/main/agents/relayer/src/msg/message_processor/tests/tests_common.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_submit.rs
Due: none

perf(sdk): batch evm warp reads with multicall
  .changeset/warp-read-multicall.md
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
  typescript/sdk/src/router/EvmRouterReader.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/tokenMetadataUtils.ts
  typescript/sdk/src/utils/HyperlaneReader.test.ts
  typescript/sdk/src/utils/HyperlaneReader.ts
  typescript/sdk/src/utils/multicall.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): batch warp route probes and recover nested reverts
  .changeset/bright-moles-rush.md
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/utils/HyperlaneReader.test.ts
  typescript/sdk/src/utils/HyperlaneReader.ts
  typescript/sdk/src/utils/multicall.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(changeset): clarify nested revert wording
  .changeset/bright-moles-rush.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add IGP fee token oracle config and warp route feeHook support
  typescript/sdk/src/gas/HyperlaneIgpChecker.ts
  typescript/sdk/src/gas/HyperlaneIgpDeployer.ts
  typescript/sdk/src/gas/types.ts
  typescript/sdk/src/hook/EvmHookReader.test.ts
  typescript/sdk/src/hook/EvmHookReader.ts
  typescript/sdk/src/hook/types.test.ts
  typescript/sdk/src/hook/types.ts
  typescript/sdk/src/router/types.test.ts
  typescript/sdk/src/router/types.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Read CCRF fee defaults from route destination union
  typescript/sdk/src/fee/EvmTokenFeeReader.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add EvmHookModule tokenOracleConfig deploy, read, and update support
  typescript/sdk/src/hook/EvmHookModule.hardhat-test.ts
  typescript/sdk/src/hook/EvmHookModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): fixed SealevelCCHandleLocalInstruction encoder/decoder
  typescript/sdk/src/token/adapters/serialization.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): fixed local transfer insturction encoding
  typescript/sdk/src/token/adapters/SealevelCrossCollateralAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add feeHook update support in EvmWarpModule for warp apply
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for IGP fee token support
  .changeset/igp-fee-token-support.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Document CCRF read parameter semantics
  typescript/sdk/src/fee/EvmTokenFeeModule.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): review fixes for SealevelHypCrossCollateralAdapter
  typescript/sdk/src/token/adapters/SealevelCrossCollateralAdapter.ts
  typescript/sdk/src/token/adapters/serialization.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): omit tokenOracleConfig from derived IGP config when undefined
  typescript/sdk/src/hook/EvmHookReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): speed up beta release workflow (#8439)
  .github/workflows/release.yml
Due: none

chore(sdk): add changeset for SealevelHypCrossCollateralAdapter
  .changeset/sealevel-cross-collateral-adapter.md
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor: split token and warp metadata surfaces
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/ITokenMetadata.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenAmount.ts
  typescript/sdk/src/token/TokenConnection.ts
  typescript/sdk/src/token/TokenMetadata.ts
  typescript/sdk/src/warp/WarpCore.ts
  typescript/sdk/src/warp/WarpRouteGraph.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: preserve provider logger labels
  typescript/sdk/src/providers/ConfiguredMultiProtocolProvider.ts
  typescript/sdk/src/providers/MultiProtocolProvider.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
