Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --write"],
  "*.ts": ["oxlint", "oxfmt --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(indexer): use shovel main build and reduce default batch_size
  typescript/indexer/migrations/0002_shovel_pipeline.sql
  typescript/indexer/scripts/compare-shovel.ts
  typescript/indexer/scripts/download-shovel.sh
  typescript/indexer/scripts/generate-shovel-config.ts
  typescript/indexer/scripts/migrate-shovel.ts
  typescript/indexer/scripts/run-shovel-local.sh
Due: oxlint, oxfmt --write

feat(indexer): add --database-url argument to db:comparison script
  typescript/indexer/scripts/db-comparison.ts
Due: oxlint, oxfmt --write

Change starting block on Sepolia
  typescript/indexer/src/config/chains.ts
Due: oxlint, oxfmt --write

fix(indexer): use exec to ensure SIGTERM reaches ponder
  typescript/infra/helm/indexer/templates/deployment.yaml
Due: none

feat(indexer): improve missed events reporting in db:comparison
  typescript/indexer/scripts/db-comparison.ts
Due: oxlint, oxfmt --write

fix(indexer): reduce shovel batch_size to 25 and concurrency to 1
  typescript/indexer/scripts/generate-shovel-config.ts
Due: oxlint, oxfmt --write

feat(indexer): add 30s termination grace period
  typescript/infra/helm/indexer/templates/deployment.yaml
Due: none

docs: add indexing v2 shovel phase 1 design spec
  docs/specs/indexing-v2-shovel-phase1-design.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(indexer): skip messages with domain IDs > INTEGER max
  typescript/indexer/src/db/adapter.ts
  typescript/indexer/src/handlers/mailbox.ts
Due: oxlint, oxfmt --write

fix(indexer): run ponder directly without pnpm wrapper
  typescript/infra/helm/indexer/templates/deployment.yaml
Due: none

fix(indexer): match scraper data format for recipient and gas_price
  typescript/indexer/scripts/db-comparison.ts
  typescript/indexer/src/db/adapter.ts
  typescript/indexer/src/handlers/mailbox.ts
Due: oxlint, oxfmt --write

fix(indexer): auto-drop Ponder internal tables on restart
  typescript/infra/helm/indexer/templates/deployment.yaml
Due: none

fix(indexer): store messages with unknown destination domains
  typescript/indexer/scripts/drop-ponder-tables.ts
  typescript/indexer/src/handlers/mailbox.ts
Due: oxlint, oxfmt --write

chore: update pnpm-lock.yaml with indexer package dependencies
  pnpm-lock.yaml
Due: none

fix(indexer): remove FK constraint on destination domain
  typescript/indexer/migrations/0001_ponder_tables.sql
  typescript/indexer/src/db/schema.ts
Due: oxlint, oxfmt --write

feat(indexer): concurrent backfill + tip indexing in shovel config
  typescript/indexer/scripts/generate-shovel-config.ts
Due: oxlint, oxfmt --write

fix(indexer): add tron-sdk to Dockerfile and suppress eslint console warning
  typescript/indexer/Dockerfile
  typescript/indexer/ponder.config.ts
Due: oxlint, oxfmt --write

feat(agents): add chain configuration metrics (#8185)
  rust/main/agents/relayer/src/msg/op_batch.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/test_utils/dummy_data.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/chains/hyperlane-cosmos/src/cw/cw_query_client.rs
  rust/main/hyperlane-base/src/metrics/agent_metrics.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/hyperlane-core/src/types/native_token.rs
  rust/main/lander/src/adapter/chains/radix/conf.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_config.rs
  rust/main/utils/run-locally/src/cosmos/types.rs
  rust/main/utils/run-locally/src/cosmosnative/types.rs
  rust/main/utils/run-locally/src/radix/types.rs
Due: none

fix: address review feedback for lander gas estimation
  rust/main/agents/relayer/src/msg/pending_message/prepare.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/lander/src/adapter/chains/aleo/adapter/core.rs
  rust/main/lander/src/adapter/chains/cosmos.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_estimate_gas_limit.rs
  rust/main/lander/src/adapter/chains/radix/adapter.rs
  rust/main/lander/src/adapter/chains/tron/adapter.rs
  rust/main/lander/src/dispatcher/entrypoint.rs
  rust/main/lander/src/tests/test_utils.rs
Due: none

fix(rebalancer): make executionType required in schema and update configs
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/arbitrum-avalanche-base-bsc-ethereum-optimism-unichain-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/eclipsemainnet-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/electroneum-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/eni-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/incentiv-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/lumia-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/mantra-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/matchain-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/paradex-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/pulsechain-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/radix-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/subtensor-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/superseed-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDCSTAGE/eclipsemainnet-config.yaml
  typescript/infra/test/rebalancer.test.ts
  typescript/rebalancer/package.json
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/core/RebalancerService.test.ts
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
  typescript/rebalancer/src/e2e/composite.e2e-test.ts
  typescript/rebalancer/src/e2e/minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/weighted.e2e-test.ts
  typescript/rebalancer/src/strategy/CollateralDeficitStrategy.test.ts
  typescript/rebalancer/src/strategy/MinAmountStrategy.test.ts
  typescript/rebalancer/src/strategy/StrategyFactory.test.ts
  typescript/rebalancer/src/strategy/WeightedStrategy.test.ts
  typescript/rebalancer/tsconfig.json
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

feat(tron): add ethereuem compatability & tron aws signer (#8222)
  rust/main/agents/relayer/src/msg/op_batch.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/test_utils/dummy_data.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/chains/hyperlane-ethereum/src/config.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/mailbox.rs
  rust/main/chains/hyperlane-tron/src/error.rs
  rust/main/chains/hyperlane-tron/src/lib.rs
  rust/main/chains/hyperlane-tron/src/provider/tron.rs
  rust/main/chains/hyperlane-tron/src/signer.rs
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/hyperlane-base/src/settings/signers.rs
  rust/main/hyperlane-core/src/chain.rs
  rust/main/lander/src/adapter/chains/factory.rs
  rust/main/lander/src/adapter/chains/radix/conf.rs
  rust/main/lander/src/adapter/chains/tron/adapter.rs
  rust/main/lander/src/adapter/chains/tron/conf.rs
Due: none

feat(infra): update relayer image to 4aabed7-20260226-151632
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --write

fix(infra): use per-item try/catch for ICA call decoding
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --write

fix(infra): make safe tx parser resilient to RPC failures and fix ICA validation
  .prettierrc
  typescript/infra/src/tx/govern-transaction-reader.ts
  typescript/infra/src/utils/utils.ts
Due: oxlint, oxfmt --write

feat(rebalancer): add mixed movable collateral + inventory rebalancing mode
  .changeset/mixed-rebalancer-mode.md
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/eclipsemainnet-config.yaml
  typescript/rebalancer/package.json
  typescript/rebalancer/src/bridges/LiFiBridge.ts
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/RebalancerConfig.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/e2e/harness/MixedLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/mixed-weighted.e2e-test.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/service.ts
  typescript/rebalancer/src/utils/bridgeUtils.test.ts
  typescript/rebalancer/src/utils/gasEstimation.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): narrow catch blocks to RPC errors and fix undefined in ICA mismatch messages
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --write

feat(infra): update relayer image to 4aabed7-20260226-151632 (#8235)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --write

fix: add missing collateral token standards
  typescript/sdk/src/token/TokenStandard.ts
Due: oxlint, oxfmt --write

fix(infra): distinguish CALL_EXCEPTION with revert data from transient RPC errors
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --write

fix(infra): parameterize proxyAdmins in buildEclipseUSDCWarpConfig for USDCSTAGE
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCSTAGEWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --write

fix(svm-provider): address warp route deployment bugs and missing features
  typescript/svm-provider/src/instructions/token.ts
  typescript/svm-provider/src/instructions/utils.ts
  typescript/svm-provider/src/tests/collateral-token.e2e-test.ts
  typescript/svm-provider/src/tests/native-token.e2e-test.ts
  typescript/svm-provider/src/tests/synthetic-token.e2e-test.ts
  typescript/svm-provider/src/warp/collateral-token.ts
  typescript/svm-provider/src/warp/native-token.ts
  typescript/svm-provider/src/warp/synthetic-token.ts
  typescript/svm-provider/src/warp/types.ts
  typescript/svm-provider/src/warp/warp-artifact-manager.ts
  typescript/svm-provider/src/warp/warp-query.ts
  typescript/svm-provider/src/warp/warp-tx.ts
Due: oxlint, oxfmt --write

chore: add changeset
  .changeset/radix-starknet-collateral-standards.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): parameterize proxyAdmins for USDCSTAGE warp config (#8236)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCSTAGEWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --write

fix(sdk): add Radix and Starknet to collateralized token standards (#8237)
  .changeset/radix-starknet-collateral-standards.md
  typescript/sdk/src/token/TokenStandard.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

fix(core): fix tron typechain ethers v5/v6 webpack compat
  solidity/build-tron.sh
  solidity/fix-tron-typechain-ethers.mjs
Due: none

refactor(svm-provider): remove redundant name/symbol guard in synthetic token create
  typescript/svm-provider/src/warp/synthetic-token.ts
Due: oxlint, oxfmt --write

fix: address PR feedback for gas estimation migration
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/relayer/src/msg/pending_message/prepare.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/lander/src/adapter/chains/aleo/adapter/core.rs
  rust/main/lander/src/adapter/chains/cosmos.rs
  rust/main/lander/src/adapter/chains/ethereum/gas_price.rs
  rust/main/lander/src/adapter/chains/radix/adapter.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_estimate.rs
  rust/main/lander/src/dispatcher/entrypoint.rs
Due: none

fix(rebalancer): correct inventory_deposit action assertion in mixed e2e test
  typescript/rebalancer/src/e2e/mixed-weighted.e2e-test.ts
Due: oxlint, oxfmt --write

chore: WIP Aleo config getter
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAleoUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
  typescript/infra/src/config/warp.ts
Due: oxlint, oxfmt --write

chore: USDC/aleo rebalancer config
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/aleo-config.yaml
Due: none
