Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

update agent configs
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor: split source and destination transient slots
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

deploy
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/aw-validators/hyperlane.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

tmp igp adjustments
  typescript/infra/config/environments/mainnet3/tokenPrices.json
Due: oxfmt --no-error-on-unmatched-pattern --write

update registryrc
  .registryrc
Due: none

docs/test: document par invariant, fuzz cross-decimal value, deprecate approveTokenForBridge
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/contracts/token/libs/MovableCollateralRouter.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

feat: deploy to nexus, tea (#8864)
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/hyperlane.json
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/chains.ts
  typescript/infra/config/environments/mainnet3/core/verification.json
  typescript/infra/config/environments/mainnet3/gasPrices.json
  typescript/infra/config/environments/mainnet3/ism/verification.json
  typescript/infra/config/environments/mainnet3/middleware/accounts/verification.json
  typescript/infra/config/environments/mainnet3/supportedChainNames.ts
  typescript/infra/config/environments/mainnet3/tokenPrices.json
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): revoke legacy bridge allowances on in-place upgrade
  .changeset/atomic-local-rebalancing-bridge.md
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: reject native-collateral source for atomic rebalancing bridge
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

feat: emit LocalRebalanceExecuted on local rebalance
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

fix: protect input-token donations from being spent by calls
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

test: strengthen cross-decimal value-preservation fuzz
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

test: rename stale warp deploy e2e case
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: source over-pull guard catches a leaked bridge approval
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

chore(dango): bump left-curve to c2950a3c
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/chains/hyperlane-dango/Cargo.toml
  rust/main/chains/hyperlane-dango/src/contracts/va/core.rs
  rust/main/chains/hyperlane-dango/src/types/provider.rs
  rust/main/chains/hyperlane-dango/src/types/singer.rs
  rust/main/chains/hyperlane-dango/tests/integration.rs
  rust/main/chains/hyperlane-dango/tests/localdango.rs
  rust/main/chains/hyperlane-dango/tests/manual_relay.rs
  rust/main/chains/hyperlane-dango/tests/run_agents.rs
  rust/main/chains/hyperlane-dango/tests/utils/dango_builder.rs
  rust/main/chains/hyperlane-dango/tests/utils/ext.rs
  rust/main/chains/hyperlane-dango/tests/utils/startup.rs
  rust/sealevel/Cargo.lock
Due: none

chore(infra): rotate governance safe/squad signers and thresholds
  typescript/infra/config/environments/mainnet3/governance/signers/aw.ts
  typescript/infra/config/environments/mainnet3/governance/signers/regular.ts
  typescript/infra/config/environments/mainnet3/governance/signers/warpFees.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): add remaining AW SVM signer
  typescript/infra/config/environments/mainnet3/governance/signers/aw.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: sealevel universal-router
  rust/sealevel/Cargo.lock
  rust/sealevel/Cargo.toml
  rust/sealevel/programs/build-programs.sh
  rust/sealevel/programs/universal-router/Cargo.toml
  rust/sealevel/programs/universal-router/README.md
  rust/sealevel/programs/universal-router/src/constants.rs
  rust/sealevel/programs/universal-router/src/dispatcher.rs
  rust/sealevel/programs/universal-router/src/error.rs
  rust/sealevel/programs/universal-router/src/hyperlane.rs
  rust/sealevel/programs/universal-router/src/instruction.rs
  rust/sealevel/programs/universal-router/src/lib.rs
  rust/sealevel/programs/universal-router/src/modules/bridge.rs
  rust/sealevel/programs/universal-router/src/modules/cross_chain.rs
  rust/sealevel/programs/universal-router/src/modules/mod.rs
  rust/sealevel/programs/universal-router/src/modules/payments.rs
  rust/sealevel/programs/universal-router/src/modules/raydium.rs
  rust/sealevel/programs/universal-router/src/processor.rs
  rust/sealevel/programs/universal-router/src/types.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

docs: Add Hyperlane ICA + Tally DAO integration tutorial
  docs/ica-tally-tutorial.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: remove non-existent CLI call-remote, use contract interaction instead
  docs/ica-tally-tutorial.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): add raw dispatch reconciliation backoff
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/db/raw_message_dispatch.rs
  rust/main/agents/scraper/src/store.rs
  rust/main/agents/scraper/src/store/dispatches.rs
Due: none

fix: handle
  rust/sealevel/programs/universal-router/src/hyperlane.rs
  rust/sealevel/programs/universal-router/src/instruction.rs
  rust/sealevel/programs/universal-router/src/processor.rs
  rust/sealevel/programs/universal-router/src/types.rs
Due: none

feat(infra): add fastpath validators (#8848)
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/fastpath.json
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/config/environments/testnet4/validators.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/src/agents/agent.ts
  typescript/infra/src/agents/aws/key.ts
  typescript/infra/src/agents/index.ts
  typescript/infra/src/agents/key-utils.ts
  typescript/infra/src/config/agent/validator.ts
  typescript/infra/test/aws-key-policy.test.ts
  typescript/infra/test/cloud-agent-keys.test.ts
  typescript/infra/test/validator-helm-manager.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet3 agent image to 557df49-20260615-165434
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): replace custom utils with @hyperlane-xyz/utils
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): fix LayerZero scan status parsing (API returns data[] not messages[])
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): remove Tron support from LayerZeroBridge
  typescript/rebalancer/package.json
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): remove unused ts-expect-error directive for tronweb import
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): update USDTSTAGE rebalancer config to use LayerZero OFT bridge
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
Due: none

fix(rebalancer): use StaticJsonRpcProvider in LayerZeroBridge to avoid detectNetwork failure
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use Hyperlane chainId 9745 for Plasma in LayerZero OFT_CONTRACTS
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): implement LayerZeroBridge IExternalBridge
  .changeset/layerzero-bridge.md
  typescript/rebalancer/package.json
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/test/layerZeroMocks.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): derive isSupportedRoute from OFT_CONTRACTS
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): throw immediately on non-429 4xx in fetchWithRetry
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

add changeset for LayerZero quote fixes
  .changeset/lucky-rats-dress.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): read OFT Store tokenEscrow from raw account data
  typescript/rebalancer/src/bridges/layerZeroSolanaClient.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix inventory bridge config validation
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use correct Plasma chain ID 9745 in LayerZero tests
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/test/layerZeroMocks.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add solana usdt0 layerzero support
  pnpm-workspace.yaml
  typescript/rebalancer/package.json
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroSolanaClient.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
  typescript/rebalancer/src/test/layerZeroMocks.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
