Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor(rebalancer): add per-protocol address validation to inventory signer schema
  typescript/rebalancer/src/config/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): generalize inventory signer env vars by protocol
  typescript/rebalancer/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): deduplicate hasInventoryChains and extract getInventoryChainNames helper
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: stabilize viem fallback + e2e retry flakes
  solidity/core-utils/viemFactory.ts
  typescript/radix-sdk/src/testing/setup.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-weighted.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): normalize constructor args in encodeDeploy
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): use SDK PROTOCOL_TO_HYP_NATIVE_STANDARD for native token check
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): guard fn.outputs and clean tron forge outputs
  solidity/build-tron.sh
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): tighten overload disambiguation and zero-output reads
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: migrate spellchecker from codespell to typos
  .codespell/.codespellrc
  .codespell/ensure-venv.sh
  .codespell/ignore.txt
  .codespell/requirements.txt
  .codespell/run-diff.sh
  .codespell/run.sh
  .github/workflows/codespell.yml
  .github/workflows/spellcheck.yml
  .gitignore
  .spellcheck/run-diff.sh
  .spellcheck/typos.toml
  README.md
  package.json
  rust/main/agents/relayer/src/msg/gas_payment/mod.rs
  rust/main/chains/hyperlane-aleo/src/provider/base.rs
  rust/main/chains/hyperlane-cosmos/src/cw/interchain_gas.rs
  rust/main/chains/hyperlane-cosmos/src/native/module_query_client.rs
  rust/main/chains/hyperlane-radix/src/events/mod.rs
  rust/main/chains/hyperlane-starknet/src/ism/interchain_security_module.rs
  rust/main/chains/hyperlane-starknet/src/utils.rs
  rust/main/hyperlane-base/src/contract_sync/eta_calculator.rs
  rust/main/hyperlane-base/src/settings/signers.rs
  rust/main/lander/src/adapter/chains/radix/adapter/tests/tests_build.rs
  rust/main/lander/src/adapter/chains/radix/adapter/tests/tests_simulate.rs
  rust/main/lander/src/adapter/chains/radix/adapter/tests/tests_submit.rs
  rust/sealevel/programs/mailbox/src/processor.rs
  solidity/contracts/libs/RateLimited.sol
  solidity/test/isms/OPStackIsm.t.sol
  typescript/cli/src/tests/cross-chain/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/radix/e2e-test.setup.ts
  typescript/cosmos-sdk/src/registry.ts
  typescript/infra/src/config/agent/relayer.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/sdk/src/router/ProxiedRouterChecker.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/widgets/src/stories/ChainLogo.stories.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore: whitelist 'unparseable' in typos config
  .spellcheck/typos.toml
Due: none

docs(changeset): Added Tron ProtocolType & deprecated Tron TechnicalStack. Add support for TronLink wallet in the widgets.
  .changeset/yellow-pumas-build.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for Tron testing and concurrent deploy fix
  .changeset/tron-testing-concurrent-deploy.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: harden Tron testing infrastructure and disable concurrent deploy
  solidity/foundry.toml
  solidity/test/tron/TronCreate2.t.sol
  typescript/sdk/src/deploy/warp.ts
  typescript/tron-sdk/src/ethers/TronWallet.integration.test.ts
  typescript/tron-sdk/src/testing/node.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix: only pass concurrentDeploy to HypERC20Deployer (ERC721 doesn't accept it)
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: add concurrentDeploy param to HypERC721Deployer for Tron support
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: trim PR to foundry profile isolation and test cleanup
  .changeset/tron-testing-concurrent-deploy.md
  solidity/test/tron/TronCreate2.t.sol
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/token/deploy.ts
  typescript/tron-sdk/src/testing/node.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore: remove unnecessary changeset (no published package changes)
  .changeset/tron-testing-concurrent-deploy.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: add out-tron and forge-cache-tron to gitignore and clean script
  solidity/.gitignore
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: add defensive null guards, harden infra scripts, fix lint warnings
  solhint-plugin/index.js
  typescript/cli/src/commands/xerc20.ts
  typescript/cli/src/tests/ethereum/commands/helpers.ts
  typescript/cli/src/tests/ethereum/e2e-test.setup.ts
  typescript/infra/fork.sh
  typescript/infra/scripts/warp-routes/export-warp-configs.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.ts
  typescript/sdk/src/rpc/evm/utils.ts
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
  typescript/sdk/src/token/xerc20.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: correct bigint precision check in toNumber and validate domainId
  typescript/cli/src/tests/ethereum/e2e-test.setup.ts
  typescript/sdk/src/rpc/evm/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cosmos-sdk): wait for rpc readiness in test node startup
  typescript/cosmos-sdk/src/testing/node.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for defensive guards and lint fixes
  .changeset/defensive-guards-lint-fixes.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: format utils.ts, use pollAsync for cosmos RPC readiness
  typescript/cosmos-sdk/src/testing/node.ts
  typescript/sdk/src/rpc/evm/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: use isSafeInteger for number path in toNumber for consistent validation
  typescript/sdk/src/rpc/evm/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: guard against Infinity before BigInt round-trip in toNumber
  typescript/sdk/src/rpc/evm/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): stabilize e2e tests with SnapshotHelper (#8294)
  .changeset/rebalancer-e2e-stabilization.md
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
  typescript/rebalancer/src/e2e/composite.e2e-test.ts
  typescript/rebalancer/src/e2e/harness/SnapshotHelper.ts
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-weighted.e2e-test.ts
  typescript/rebalancer/src/e2e/minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/weighted.e2e-test.ts
  typescript/rebalancer/src/test/helpers.ts
  typescript/rebalancer/src/utils/blockTag.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): tighten warp route resolution and test helpers
  typescript/cli/src/tests/cosmosnative/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/utils/warp.test.ts
  typescript/cli/src/utils/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): allow partial warp deploy configs in e2e sync
  typescript/cli/src/tests/commands/warp-config-sync.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): use deploy input path for cosmos warp-read symbol e2e
  typescript/cli/src/tests/cosmosnative/warp/warp-read.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli): tighten warp route id assertion
  typescript/cli/src/tests/ethereum/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): use stable warp route id paths in resumable extend e2e
  typescript/cli/src/tests/ethereum/warp/warp-extend-resumable.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): preserve resolved warp route ID through deploy/apply flow
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/config/warp.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/context/types.ts
  typescript/cli/src/utils/warp.test.ts
  typescript/cli/src/utils/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(cli): drop redundant unknown cast in sync helper
  typescript/cli/src/tests/commands/warp-config-sync.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): clean up warp route ID handling and stabilize e2e tests
  .changeset/1770124342-117270fb.md
  typescript/cli/src/commands/options.ts
  typescript/cli/src/commands/relayer.ts
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/config/warp.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/fees/warp.ts
  typescript/cli/src/read/warp.ts
  typescript/cli/src/tests/commands/warp.ts
  typescript/cli/src/tests/cosmosnative/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/cosmosnative/warp/warp-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/commands/helpers.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/consts.ts
  typescript/cli/src/tests/ethereum/relay.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-hook-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-ism-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-ownership-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-rebalancing-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-simple-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-submitters.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-bridge-utils.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-3.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-4.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-5.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-ica.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-basic.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-recovery.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-rebalancer.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-send.e2e-test.ts
  typescript/cli/src/utils/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: remove prompt changes (moving to separate PR)
  .github/prompts/code-review.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(cli-tests): restore warp helper behavior for e2e flows
  typescript/cli/src/tests/ethereum/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): address code review feedback
  .changeset/cli-warp-route-id-cleanup.md
  .changeset/sdk-warp-chain-filtering.md
  .github/prompts/code-review.md
  typescript/cli/src/commands/relayer.ts
  typescript/cli/src/tests/aleo/warp/warp-read.e2e-test.ts
  typescript/cli/src/tests/cosmosnative/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/cosmosnative/warp/warp-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/consts.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-5.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-read.e2e-test.ts
  typescript/cli/src/utils/warp.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): tighten warp route resolution and test stability
  .changeset/cli-warp-route-id-cleanup.md
  typescript/cli/src/commands/xerc20.ts
  typescript/cli/src/tests/cosmosnative/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/cosmosnative/warp/warp-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-read.e2e-test.ts
  typescript/cli/src/utils/warp.test.ts
  typescript/cli/src/utils/warp.ts
  typescript/sdk/src/token/configUtils.test.ts
  typescript/sdk/src/token/configUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(cli-tests): use shared warp-config sync helper directly
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-basic.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-resumable.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
