Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

test(rebalancer): avoid private helper casts in LiFi collision coverage
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): drop historical comments from USDT rebalancing wiring
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron token standards to rebalanceable sets
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron signer derivation in service entry point
  typescript/rebalancer/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): gracefully skip unsupported protocols in LiFi bridge
  typescript/rebalancer/src/bridges/LiFiBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): use isEVMLike for block tag and gas estimation guards
  typescript/rebalancer/src/utils/blockTag.ts
  typescript/rebalancer/src/utils/gasEstimation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron protocol cases in InventoryRebalancer
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron address validation in config schema
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(rebalancer): add Tron example config and changeset
  .changeset/tron-rebalancer-support.md
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/tron-config.yaml
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): guard against named block tags for Tron chains
  typescript/rebalancer/src/utils/blockTag.test.ts
  typescript/rebalancer/src/utils/blockTag.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use allowlist for LiFi unsupported protocols
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/bridges/LiFiBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use hex addresses in Tron example config
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/tron-config.yaml
Due: none

docs(rebalancer): fix changeset tense to past tense
  .changeset/tron-rebalancer-support.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): remove unused toWei import after restack
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): prevent vacuous pass in LiFi Tron test
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): collapse duplicate Tron/Ethereum signer derivation
  typescript/rebalancer/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): add Tron unit tests for all new protocol code paths
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.test.ts
  typescript/rebalancer/src/utils/blockTag.test.ts
  typescript/rebalancer/src/utils/gasEstimation.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): remove conflict markers
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

infra changes
  typescript/infra/config/environments/mainnet3/chains.ts
  typescript/infra/scripts/check/check-utils.ts
  typescript/infra/src/config/chain.ts
  typescript/infra/src/govern/HyperlaneHaasGovernor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

smaller batching of hook deployments
  typescript/sdk/src/gas/HyperlaneIgpDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/hook/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix typo: Intialization -> Initialization
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

pseudo-batched routing ism deployment
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

add changeset for SDK deploy batching and MultiProvider changes
  .changeset/batched-deploy-transactions.md
Due: oxfmt --no-error-on-unmatched-pattern --write

bump min confirmation timeout for infra
  typescript/infra/scripts/agent-utils.ts
  typescript/sdk/src/providers/MultiProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

address PR review feedback
  .changeset/batched-deploy-transactions.md
  typescript/infra/scripts/check/check-utils.ts
  typescript/infra/src/config/chain.ts
  typescript/sdk/src/deploy/utils.ts
  typescript/sdk/src/gas/HyperlaneIgpDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/hook/utils.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/providers/builders/ethersV5.ts
  typescript/sdk/src/providers/builders/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix import grouping per review
  typescript/infra/src/config/chain.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: denylist velo_message_module stuck messages on soneium
  typescript/infra/config/environments/mainnet3/customBlacklist.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(validator): clean up quorum routing follow-ups
  .changeset/registry-bump-cli-sdk.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rust/main/agents/validator/src/validator.rs
  rust/main/hyperlane-base/src/settings/base.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: drop unrelated lockfile drift
  pnpm-lock.yaml
Due: none

fix: pr review
  rust/main/agents/relayer/src/relay_api/extractor.rs
  rust/main/agents/relayer/src/relay_api/handlers.rs
Due: none

docs(changeset): Added cctp hook type
  .changeset/mean-papayas-dance.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: added cctp hook type
  typescript/sdk/src/hook/EvmHookModule.ts
  typescript/sdk/src/hook/EvmHookReader.ts
  typescript/sdk/src/hook/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Update typescript/sdk/src/hook/types.ts
  typescript/sdk/src/hook/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Update typescript/sdk/src/hook/EvmHookModule.ts
  typescript/sdk/src/hook/EvmHookModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: cctp hook type random
  .changeset/mean-papayas-dance.md
  typescript/sdk/src/test/testUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: duplicate hook
  typescript/sdk/src/hook/EvmHookModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): require hex Tron inventory signer addresses
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): remove new protocol-entry casts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): align LiFi key handling with other bridges
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/bridges/LiFiBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
