Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

chore: add changeset for stale standing quote fix
  .changeset/stale-standing-quotes.md
Due: oxfmt --no-error-on-unmatched-pattern --write

style(solidity): flatten nested if/else in submitQuote with early return
  solidity/contracts/libs/AbstractOffchainQuoter.sol
Due: prettier --write

refactor(solidity): emit QuoteSubmitted in base class, not subclasses
  solidity/contracts/hooks/igp/OffchainQuotedIGP.sol
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
Due: prettier --write

refactor(solidity): inline stale quote checks, remove _checkStaleQuote helper
  solidity/contracts/hooks/igp/OffchainQuotedIGP.sol
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
Due: prettier --write

test(solidity): add tests for permit2 front-running in QuotedCalls
  .changeset/permit2-frontrun-fix.md
  solidity/test/token/QuotedCalls.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

test(solidity): add reentrancy guard test for QuotedCalls.execute
  .changeset/reentrancy-guard-quotedcalls.md
  solidity/test/token/QuotedCalls.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(changeset): bump @hyperlane-xyz/core to minor for ABI addition
  .changeset/reentrancy-guard-quotedcalls.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: refactor functionalities
  typescript/infra/config/environments/mainnet3/governance/proxy-admin/aw.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: change strategy to only target safes
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDTWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: remove unused import
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Add CCR router scale validation to warp check
  typescript/aleo-sdk/scripts/generate-artifacts.js
  typescript/cli/src/check/warp.test.ts
  typescript/cli/src/check/warp.ts
  typescript/cli/src/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(solidity): add refund failure test coverage for PredicateRouterWrapper
  .changeset/predicate-transient-refund.md
  solidity/test/token/PredicateRouterWrapperNative.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(solidity): address PR review comments on PredicateRouterWrapper
  .changeset/predicate-transient-refund.md
  solidity/contracts/token/extensions/PredicateRouterWrapper.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(solidity): suppress QuoteSubmitted event on stale standing quotes
  solidity/contracts/hooks/igp/OffchainQuotedIGP.sol
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
Due: prettier --write

chore: add changeset for AmountRoutingHook fix
  .changeset/amount-routing-hook-msgvalue.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Add patch changeset for minor audit suggestions
  .changeset/minor-audit-suggestions.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Add patch changeset for CCR same-chain guard
  .changeset/ccr-same-chain-guard.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(solidity): address PR review comments
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/contracts/token/bridge/TokenBridgeDepositAddress.sol
  solidity/test/token/TokenBridgeDepositAddress.t.sol
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore: AI reviews
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Remove Aleo build workaround
  typescript/aleo-sdk/scripts/generate-artifacts.js
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: use local amounts for fee quoting instead of outbound amounts
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/contracts/token/extensions/OPL2ToL1TokenBridgeNative.sol
  solidity/contracts/token/libs/TokenRouter.sol
Due: prettier --write

fix: restore _outboundAmount in TokenMessage.format for accurate hook quoting
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/contracts/token/extensions/OPL2ToL1TokenBridgeNative.sol
  solidity/contracts/token/libs/TokenRouter.sol
Due: prettier --write

fix: address review - OPL2 quote consistency and remove PredicateRouterWrapper changes
  .changeset/outbound-amount-quoting.md
  solidity/contracts/token/extensions/OPL2ToL1TokenBridgeNative.sol
  solidity/contracts/token/extensions/PredicateRouterWrapper.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

test: add scaled fee arithmetic consistency tests for HypERC20Collateral
  solidity/test/token/ScaledFeeConsistency.t.sol
Due: prettier --write

fix(sdk): pass mailbox address to InterchainGasPaymaster constructor
  typescript/sdk/src/gas/HyperlaneIgpDeployer.ts
  typescript/sdk/src/hook/EvmHookModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

reuse verifyScale for ccr checks
  typescript/cli/src/deploy/warp.test.ts
  typescript/cli/src/deploy/warp.ts
  typescript/sdk/src/token/checker.test.ts
  typescript/sdk/src/token/checker.ts
  typescript/sdk/src/utils/decimals.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: lint and formatting
  solidity/test/token/ScaledFeeConsistency.t.sol
Due: prettier --write

Tighten CCR warp scale validation
  typescript/cli/src/check/warp.test.ts
  typescript/cli/src/check/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add ModuleSet and ModuleRemoved events to DomainRoutingIsm
  solidity/contracts/isms/routing/DomainRoutingIsm.sol
  solidity/test/isms/DomainRoutingIsm.t.sol
Due: prettier --write

fix(rebalancer): use exact spend mode for deBridge with fee percentage guard
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: add onlyOwner tests for batch functions
  solidity/test/isms/DomainRoutingIsm.t.sol
Due: prettier --write

discard rust/sealevel changes
  rust/sealevel/environments/mainnet3/warp-routes/USDC-arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/USDC-arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed/token-config.json
  rust/sealevel/environments/mainnet3/warp-routes/USDC-base-ethereum-solana-subtensor/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/USDC-base-ethereum-solana-subtensor/token-config.json
  rust/sealevel/environments/mainnet3/warp-routes/eclipseusdc/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/eclipseusdc/token-config.json
  rust/sealevel/programs/install-solana-1.14.20.sh
Due: oxfmt --no-error-on-unmatched-pattern --write

Fix diff
  rust/sealevel/environments/local-e2e/sealeveltest3/core/keys/hyperlane_sealevel_igp-keypair.json
  rust/sealevel/environments/local-e2e/sealeveltest3/core/keys/hyperlane_sealevel_mailbox-keypair.json
  rust/sealevel/environments/local-e2e/sealeveltest3/core/keys/hyperlane_sealevel_multisig_ism_message_id-keypair.json
  rust/sealevel/environments/local-e2e/sealeveltest3/core/keys/hyperlane_sealevel_validator_announce-keypair.json
  rust/sealevel/environments/local-e2e/warp-routes/testwarproute/keys/hyperlane_sealevel_token-sealeveltest3-keypair.json
  solidity/foundry.lock
Due: oxfmt --no-error-on-unmatched-pattern --write

Remove rust/sealevel changes from PR
  rust/sealevel/environments/mainnet3/warp-routes/USDC-arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/USDC-arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed/token-config.json
  rust/sealevel/environments/mainnet3/warp-routes/USDC-base-ethereum-solana-subtensor/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/USDC-base-ethereum-solana-subtensor/token-config.json
  rust/sealevel/environments/mainnet3/warp-routes/eclipseusdc/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/eclipseusdc/token-config.json
  rust/sealevel/programs/install-solana-1.14.20.sh
Due: oxfmt --no-error-on-unmatched-pattern --write

Address remaining warp check review feedback
  .changeset/late-llamas-sort.md
  typescript/cli/src/check/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Simplify warp check concurrency typing
  typescript/cli/src/check/warp.test.ts
  typescript/cli/src/check/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Support legacy dispatch tx API
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/ccip-server/tests/services/CallCommitmentsService.test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/middleware/account/InterchainAccount.test.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Skip non-EVM CCR scale reads
  typescript/cli/src/check/warp.test.ts
  typescript/cli/src/check/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Migrate from jest to mocha
  typescript/ccip-server/.mocharc.json
  typescript/ccip-server/jest.config.js
  typescript/ccip-server/package.json
  typescript/ccip-server/tests/services/CallCommitmentsService.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Add test:ci script for ccip-server mocha tests
  typescript/ccip-server/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write
