Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

Fix CI regressions in tron, warp config defaults, and aleo gas parsing
  solidity/test/tron/TronCreate2.t.sol
  typescript/aleo-sdk/src/hook/hook-query.ts
  typescript/cli/src/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

test: fix viem provider stubs and flaky rebalancer intent assertion
  typescript/rebalancer/src/e2e/inventory-minAmount.e2e-test.ts
  typescript/sdk/src/test/multiProviderStubs.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ccip-server: inline OP stack messenger and drop optimism sdk
  pnpm-lock.yaml
  typescript/ccip-server/package.json
  typescript/ccip-server/src/services/OPStackService.ts
  typescript/ccip-server/src/services/OpStackMessengerLite.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: align token deploy args and harden viem overrides
  solidity/core-utils/viemFactory.ts
  typescript/sdk/src/middleware/account/accounts.hardhat-test.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: unblock viem migration build and rebalancer e2e
  solidity/generate-contract-factories.mjs
  typescript/rebalancer/src/e2e/harness/BaseLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/Erc20LocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
  typescript/rebalancer/src/e2e/harness/NativeLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/inventory-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-weighted.e2e-test.ts
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/utils/contract.ts
  typescript/sdk/src/warp/WarpCore.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): increase local fork provider fallback window
  typescript/sdk/src/utils/fork.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: refresh lockfile for tron-sdk dependency move
  pnpm-lock.yaml
Due: none

Update lockfile for turbo version bump
  pnpm-lock.yaml
Due: none

Replaced SmartProvider Record intersections with explicit types
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
  typescript/sdk/src/providers/SmartProvider/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(solidity): ignore generated tron artifacts in eslint
  solidity/eslint.config.mjs
Due: none

Fix tron e2e startup and remove stale tron factory test
  typescript/cli/src/tests/ethereum/e2e-test.setup.ts
  typescript/sdk/src/providers/MultiProvider.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(helloworld): restore typed viem contract surface and signer compat
  typescript/helloworld/src/app/helloWorldFactory.ts
  typescript/sdk/src/signers/evm/local.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Harden tron deploy retries and extend pnpm test timeout
  typescript/cli/src/tests/ethereum/commands/helpers.ts
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Remove dead viem write paths and fix EVM test signer
  solidity/core-utils/viemFactory.ts
  typescript/cli/src/tests/ethereum/commands/helpers.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: fix relayer lint and rebalancer ethers v6 mocks
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer/src/e2e/harness/LocalDeploymentManager.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): harden local-fork RPC timeout and rebalancer threshold
  typescript/rebalancer-sim/test/integration/full-simulation.test.ts
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: restore lint-staged version to match main
  pnpm-lock.yaml
Due: none

fix(infra): clean stale local anvil between fork retries
  typescript/infra/fork.sh
Due: none

fix: finalize rebase checks and formatting
  solidity/core-utils/viemFactory.ts
  typescript/cli/test-configs/tron/chains/anvil1/metadata.yaml
  typescript/cli/test-configs/tron/chains/anvil2/metadata.yaml
  typescript/cli/test-configs/tron/chains/anvil3/metadata.yaml
  typescript/cli/test-configs/tron/chains/anvil4/metadata.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: deflake inflight-guard volume assertion
  typescript/rebalancer-sim/test/integration/full-simulation.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): remove redundant viem arg normalization
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: stabilize CI tron/core race and clean stale deps
  pnpm-workspace.yaml
  turbo.json
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(core-utils): remove dead write result normalization
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): avoid genesis default in queryFilter
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(multicollateral): remove ethers typechain and generate viem factories
  pnpm-lock.yaml
  pnpm-workspace.yaml
  solidity/multicollateral/eslint.config.mjs
  solidity/multicollateral/generate-contract-factories.mjs
  solidity/multicollateral/generated/contracts/IMultiCollateralFee.ts
  solidity/multicollateral/generated/contracts/MultiCollateral.ts
  solidity/multicollateral/generated/contracts/MultiCollateralRoutingFee.ts
  solidity/multicollateral/generated/index.ts
  solidity/multicollateral/index.ts
  solidity/multicollateral/package.json
  solidity/multicollateral/tsconfig.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): narrow tx.wait fallback to receipt retry errors
  solidity/core-utils/viemFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): preserve duplicate artifact names in generator
  solidity/core-utils/viemFactory.ts
  solidity/generate-contract-factories.mjs
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(solidity): remove rebase marker from tron build script
  solidity/build-tron.sh
Due: none

fix(rebalancer): restore erc20 inventory viem e2e paths
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/e2e/fixtures/routes.ts
  typescript/rebalancer/src/e2e/harness/Erc20InventoryLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
  typescript/rebalancer/src/utils/blockTag.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(core-utils): recurse bytes32 address padding for nested abi args
  solidity/core-utils/viemFactory.ts
  solidity/test/viemFactory.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: remove remaining ethers-based token/router paths
  solidity/eslint.config.mjs
  solidity/test/test-data/getProof-data.json
  typescript/rebalancer-sim/src/ResultsExporter.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.ts
  typescript/warp-monitor/src/monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: use any for finalize callback to satisfy Promise resolve/reject types
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: skip signer cache in shared-signer mode to prevent stale providers
  typescript/sdk/src/providers/MultiProvider.test.ts
  typescript/sdk/src/providers/MultiProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: avoid double logging for SAFE batch errors
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(rebalancer): clarify gas estimation skip rationale for non-EVM
  typescript/rebalancer/src/utils/gasEstimation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): revert test script shell wrapper
  typescript/rebalancer/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: replace unsafe as cast with type guard in setProvider catch block
  typescript/sdk/src/providers/MultiProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: support both remoteRouters key shapes in warp deploy e2e
  typescript/cli/src/tests/cross-chain/warp/warp-deploy.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): add sealevel signer and trim redundant overrides in eclipse config
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/eclipsemainnet-config.yaml
Due: none

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
