Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

docs(solidity): sharpen BlacklistIsm aggregation-wrapper guidance
  solidity/contracts/isms/BlacklistIsm.sol
Due: prettier --write

chore(changeset): bump @hyperlane-xyz/sdk to major for RateLimited duration
  .changeset/configurable-rate-limit-window.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(tron-sdk): read contracts via raw constant-call endpoint to mirror eth_call
  .changeset/tron-xerc20-rate-limit-validation.md
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.test.ts
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.ts
  typescript/tron-sdk/src/utils/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: deployment
  rust/main/agents/validator/src/settings.rs
  rust/main/helm/hyperlane-agent/templates/validator-external-secret.yaml
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/src/config/agent/validator.ts
  typescript/infra/src/utils/gcloud.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: deployment
  rust/main/helm/hyperlane-agent/templates/validator-external-secret.yaml
  rust/main/helm/hyperlane-agent/templates/validator-statefulset.yaml
Due: none

feat(warp-monitor): centralized multi-route monitor
  typescript/warp-monitor/src/monitor.test.ts
  typescript/warp-monitor/src/monitor.ts
  typescript/warp-monitor/src/multi-monitor.ts
  typescript/warp-monitor/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: complete test deployment
  typescript/infra/config/docker.ts
  typescript/infra/scripts/validators/announce-validators.ts
  typescript/infra/scripts/validators/fastpath/announce-fastpath-validators.ts
  typescript/infra/scripts/validators/verify-validators.ts
  typescript/infra/src/agents/aws/validator.ts
  typescript/infra/src/agents/gcp/validator.ts
  typescript/infra/src/utils/gcloud.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp-monitor): fail fast on zero routes and dedup in-flight builds
  typescript/warp-monitor/src/multi-monitor.test.ts
  typescript/warp-monitor/src/multi-monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(warp-monitor): add centralized deploy path to deploy-warp-monitor script
  typescript/infra/scripts/warp-routes/deploy-warp-monitor.ts
  typescript/infra/src/warp-monitor/helm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra,sdk): key warp rebalancing bridges by chain name (#9138)
  .changeset/warp-rebalancing-bridge-key-canonicalization.md
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRadixUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getSubtensorUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayStagingWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
  typescript/infra/config/warp.ts
  typescript/sdk/src/token/configUtils.test.ts
  typescript/sdk/src/token/configUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): spin down agents for deprecated testnet chains
  typescript/infra/config/environments/testnet4/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: only use validator with index 0
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/infra/config/environments/testnet4/validators.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): compare xERC20 rate limit and burn debit in message space with fees
  .changeset/tron-xerc20-rate-limit-validation.md
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(solidity): lower CrossCollateralRouter optimizer pin to fit EIP-170
  solidity/foundry.toml
  solidity/hardhat.config.cts
Due: none

feat(warp-monitor): lower centralized monitor concurrency to 2 and cycle to 5m
  typescript/infra/helm/warp-routes/values.yaml
  typescript/infra/src/warp-monitor/helm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): assert tx.to before use in warp module reader
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(changeset): correct CrossCollateralRouter optimizer-runs figures
  .changeset/atomic-local-rebalancing-bridge.md
  .changeset/ccr-addbridge-override.md
  .changeset/raise-optimizer-runs.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(tron-sdk): eth_call-first reads, zero-address caller, revert-vs-error semantics
  .changeset/tron-xerc20-rate-limit-validation.md
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.test.ts
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.ts
  typescript/tron-sdk/src/utils/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): reword disable comment to satisfy spellcheck
  typescript/infra/config/environments/testnet4/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): spin down agents for deprecated testnet chains (#9172)
  typescript/infra/config/environments/testnet4/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(tron-sdk): non-blocking wait(0), depth-first confirmation, real receipt identity
  .changeset/tron-xerc20-rate-limit-validation.md
  typescript/tron-sdk/src/ethers/TronWallet.test.ts
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): exclude USDCSTAGE staging ata-payer from solana balance alerts
  typescript/infra/src/config/funding/alert-query-templates.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): normalize Turnkey bare-hex signature components
  .changeset/warp-deploy-automation.md
  typescript/sdk/src/signers/evm/turnkey.test.ts
  typescript/sdk/src/signers/evm/turnkey.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): harden warp propose scripts per review
  typescript/infra/scripts/safes/propose-warp-batch.ts
  typescript/infra/scripts/squads/propose-warp-batch.ts
  typescript/infra/src/utils/squads.ts
  typescript/infra/src/utils/warp-propose-result.ts
  typescript/infra/src/utils/warp-propose-safe.ts
  typescript/infra/src/utils/warp-propose-squads.ts
  typescript/infra/test/warp-propose-result.test.ts
  typescript/infra/test/warp-propose-safe.test.ts
  typescript/infra/test/warp-propose-squads.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(skills): derive ICAs read-only, never via mutating ica deploy
  .claude/skills/classify-onchain-owner/SKILL.md
  .claude/skills/warp-update-resolve-artifacts/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(skills): fork-gate limits, config.yaml staging, early route-id check
  .claude/skills/warp-deploy-init-route/SKILL.md
  .claude/skills/warp-update-extend/SKILL.md
  .claude/skills/warp-update/SKILL.md
  .claude/skills/warp-verify-onchain-config/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: resolve typos CI failures (mis- prefix split)
  .claude/skills/warp-update/SKILL.md
  typescript/sdk/src/signers/evm/turnkey.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): reword ata-payer exclusion comment to fix spellcheck
  typescript/infra/src/config/funding/alert-query-templates.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): exclude USDCSTAGE staging ata-payer from solana balance alerts (#9174)
  typescript/infra/src/config/funding/alert-query-templates.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(warp-monitor): whitelist centralized monitor to deployed per-route monitors
  typescript/infra/helm/warp-routes/values.yaml
  typescript/infra/scripts/warp-routes/deploy-warp-monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): extract + unit-test Turnkey signature normalizers
  typescript/sdk/src/signers/evm/turnkey.test.ts
  typescript/sdk/src/signers/evm/turnkey.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): report already-created Squads proposal indexes on failure
  typescript/infra/src/utils/squads.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(skills): tighten route-id validation + actionable fork-gate UNSUPPORTED
  .claude/skills/warp-deploy-init-route/SKILL.md
  .claude/skills/warp-update-extend/SKILL.md
  .claude/skills/warp-update/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): reject unsupported Turnkey recovery ids
  typescript/sdk/src/signers/evm/turnkey.test.ts
  typescript/sdk/src/signers/evm/turnkey.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(skills): non-strict path resolve + inline warp-route-check ref
  .claude/skills/warp-deploy-init-route/SKILL.md
  .claude/skills/warp-update/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): support ALT-compressed + non-default-CU Squads warp-propose receipts
  typescript/infra/scripts/squads/propose-warp-batch.ts
  typescript/infra/src/utils/squads.ts
  typescript/infra/src/utils/warp-propose-squads.ts
  typescript/infra/test/warp-propose-squads.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(skills): make init-route --key flags conditional on route protocols
  .claude/skills/warp-deploy-init-route/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs(infra): state residual ALT-loaded identity tamper vector in squads propose
  typescript/infra/src/utils/warp-propose-squads.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(skills): protocol-specific owner verification in warp update chain
  .claude/skills/warp-update-extend/SKILL.md
  .claude/skills/warp-update-resolve-artifacts/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(forking-sdk): scaffold @hyperlane-xyz/forking-sdk package
  pnpm-lock.yaml
  typescript/forking-sdk/.gitignore
  typescript/forking-sdk/.mocharc.json
  typescript/forking-sdk/package.json
  typescript/forking-sdk/tsconfig.json
Due: oxfmt --no-error-on-unmatched-pattern --write
