Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(infra): fix usdc eclipse config getter so that cli does not complain about scaling
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Add rate limiting and body size limit to commitments API
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typescript/ccip-server/package.json
  typescript/ccip-server/src/server.ts
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/ccip-server/src/utils/prometheus.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Address PR review comments
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Add changeset for SDK PostCallsSchema union
  .changeset/instant-commit-reveal.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Update offchain-lookup-server image tag to 0ce6c9d-20260331-211119
  typescript/infra/helm/offchain-lookup-server/values-mainnet.yaml
  typescript/infra/helm/offchain-lookup-server/values-testnet.yaml
  typescript/infra/helm/offchain-lookup-server/values.yaml
Due: none

Add userSalt support for ICA derivation
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Simplify userSalt: default to bytes32(0) in getAccount
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Address PR comments: userSalt on AccountConfig, fix metrics cardinality
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/ccip-server/src/utils/prometheus.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
  typescript/sdk/src/middleware/account/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: only add identity signer if it is trusted relayer ism
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/provider.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_common.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_identity.rs
Due: none

test: add first composite ism tests
  rust/sealevel/Cargo.lock
  rust/sealevel/programs/ism/composite-ism/Cargo.toml
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_aggregation.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_amount_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_composite.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_multisig.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_pausable.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_test_ism.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_trusted_relayer.rs
Due: none

test: composite ism types
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_aggregation.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_amount_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_composite.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_multisig.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_pausable.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_test_ism.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_trusted_relayer.rs
Due: none

test: further organised tests
  rust/sealevel/programs/ism/composite-ism/tests/functional_aggregation.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_amount_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_composite.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_multisig.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_pausable.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_test_ism.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_trusted_relayer.rs
Due: none

refactor(rebalancer): remove Tron support from LayerZeroBridge
  typescript/rebalancer/package.json
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): replace custom utils with @hyperlane-xyz/utils
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): derive isSupportedRoute from OFT_CONTRACTS
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): remove unused EID_TO_CHAIN_ID and getChainIdFromEID
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use correct Plasma chain ID 9745 in LayerZero tests
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/test/layerZeroMocks.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: update pnpm-lock.yaml after removing tronweb dependency
  pnpm-lock.yaml
Due: none

feat(rebalancer): implement DeBridgeBridge for deBridge DLN protocol
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add deBridge utils, enum, and factory wiring
  typescript/rebalancer/src/bridges/deBridgeUtils.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use exact spend mode for deBridge with fee percentage guard
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): add unit tests for DeBridgeBridge (34 passing)
  typescript/rebalancer/src/bridges/DeBridgeBridge.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use txHash→orderId map for deBridge status polling
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): add ERC-20 approval before deBridge bridge transaction
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use exact amount approval with USDT reset-to-zero for deBridge
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): add BSC and Tron to USDTSTAGE rebalancer config using deBridge
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
Due: none

fix(rebalancer): use StaticJsonRpcProvider + ProtocolType filter in DeBridgeBridge
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): re-add tronweb dependency needed by DeBridgeBridge
  pnpm-lock.yaml
  typescript/rebalancer/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: rate limited ism for solana
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/error.rs
  rust/sealevel/programs/ism/composite-ism/src/lib.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/rate_limit.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_rate_limited.rs
Due: none

refactor(rebalancer): replace custom base58/SHA256 with @hyperlane-xyz/utils
  typescript/rebalancer/src/bridges/deBridgeUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): replace TronWebLike with TronWeb, add protocol switch
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: unused code warnings
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_aggregation.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_amount_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_composite.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_multisig.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_pausable.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_rate_limited.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_test_ism.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_trusted_relayer.rs
Due: none

docs(rebalancer): add API doc links to deBridge response types
  typescript/rebalancer/src/bridges/deBridgeUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): fix DeBridgeBridge test mock data for fee guard
  typescript/rebalancer/src/bridges/DeBridgeBridge.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): skip hook update for unproxied OFT contracts
  .changeset/fix-oft-proxy-admin.md
  typescript/sdk/src/token/EvmWarpModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): add USDT OFT warp route config getter
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
  typescript/infra/src/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): re-sync nonce iterator when db_loader starts on fresh DB
  rust/main/agents/relayer/src/msg/db_loader.rs
Due: none

feat: add new composite ism to relayer
  rust/main/Cargo.lock
  rust/main/agents/relayer/src/msg/metadata/base_builder.rs
  rust/main/agents/relayer/src/msg/metadata/message_builder.rs
  rust/main/agents/relayer/src/msg/metadata/mod.rs
  rust/main/agents/relayer/src/msg/metadata/sealevel_composite.rs
  rust/main/agents/relayer/src/test_utils/mock_base_builder.rs
  rust/main/chains/hyperlane-sealevel/Cargo.toml
  rust/main/chains/hyperlane-sealevel/src/composite_ism.rs
  rust/main/chains/hyperlane-sealevel/src/lib.rs
  rust/main/chains/hyperlane-sealevel/src/utils.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-core/src/traits/interchain_security_module.rs
  rust/sealevel/programs/ism/composite-ism/src/instruction.rs
  rust/sealevel/programs/ism/composite-ism/src/lib.rs
  rust/sealevel/programs/ism/composite-ism/src/metadata_spec.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_aggregation.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_amount_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_composite.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_multisig.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_pausable.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_rate_limited.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_test_ism.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_trusted_relayer.rs
Due: none

feat: mar 27 mainnets (#8482)
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
  rust/main/config/testnet_config.json
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/action.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign/tests/tests_assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign/tests/tests_identify.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/tests/test_overwrite_upper_nonce.rs
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/hyperlane.json
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/chains.ts
  typescript/infra/config/environments/mainnet3/core/verification.json
  typescript/infra/config/environments/mainnet3/gasPrices.json
  typescript/infra/config/environments/mainnet3/ism/verification.json
  typescript/infra/config/environments/mainnet3/middleware/accounts/verification.json
  typescript/infra/config/environments/mainnet3/supportedChainNames.ts
  typescript/infra/config/environments/mainnet3/tokenPrices.json
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/infra/src/utils/utils.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(solidity): simplify katana redeem gas config
  solidity/contracts/token/TokenBridgeKatanaRedeemIca.sol
  solidity/test/token/TokenBridgeKatanaVault.t.sol
Due: prettier --write
