Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

feat(rebalancer): add Tron token standards to rebalanceable sets
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: update pnpm-lock.yaml for tronweb dependency
  pnpm-lock.yaml
Due: none

fix(rebalancer): throw immediately on non-429 4xx in fetchWithRetry
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): update USDTSTAGE rebalancer config to use LayerZero OFT bridge
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
Due: none

fix(rebalancer): remove unused ts-expect-error directive for tronweb import
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use Hyperlane chainId 9745 for Plasma in LayerZero OFT_CONTRACTS
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): implement LayerZeroBridge IExternalBridge
  .changeset/layerzero-bridge.md
  typescript/rebalancer/package.json
  typescript/rebalancer/src/bridges/LayerZeroBridge.test.ts
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
  typescript/rebalancer/src/bridges/layerZeroUtils.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/test/layerZeroMocks.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use StaticJsonRpcProvider in LayerZeroBridge to avoid detectNetwork failure
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): fix LayerZero scan status parsing (API returns data[] not messages[])
  typescript/rebalancer/src/bridges/LayerZeroBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use txHash→orderId map for deBridge status polling
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): add unit tests for DeBridgeBridge (34 passing)
  typescript/rebalancer/src/bridges/DeBridgeBridge.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): add BSC and Tron to USDTSTAGE rebalancer config using deBridge
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
Due: none

fix(rebalancer): use exact amount approval with USDT reset-to-zero for deBridge
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): add ERC-20 approval before deBridge bridge transaction
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use StaticJsonRpcProvider + ProtocolType filter in DeBridgeBridge
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): implement DeBridgeBridge for deBridge DLN protocol
  typescript/rebalancer/src/bridges/DeBridgeBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add deBridge utils, enum, and factory wiring
  typescript/rebalancer/src/bridges/deBridgeUtils.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix fresh-account evm nonce reuse
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/action.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign/tests/tests_assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign/tests/tests_identify.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/tests/test_overwrite_upper_nonce.rs
Due: none

update agent tags
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Simplify CCR metadata validation
  typescript/cli/src/deploy/warp.test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/crossCollateralValidation.test.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix ci for same-chain ccr guard
  .changeset/fuzzy-pears-cough.md
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/test/token/CrossCollateralRouter.t.sol
  solidity/tron-hardhat.config.cts
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

bump core changeset for abi additions
  .changeset/fuzzy-pears-cough.md
Due: oxfmt --no-error-on-unmatched-pattern --write

simplify ccr scale validation
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/deploy/warp.test.ts
  typescript/cli/src/deploy/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/checker.test.ts
  typescript/sdk/src/token/checker.ts
  typescript/sdk/src/token/crossCollateralValidation.test.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/utils/decimals.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: identity for lander
  rust/main/chains/hyperlane-sealevel/src/provider.rs
  rust/main/config/local_config.json
  rust/main/lander/src/adapter/chains/sealevel/adapter.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_common.rs
  rust/main/lander/src/adapter/chains/sealevel/conf.rs
  rust/main/lander/src/tests/svm/tests_inclusion_stage.rs
  rust/main/lander/tests/integration_sealevel.rs
  rust/sealevel/client/composite-ism.json
  rust/sealevel/environments/local-e2e/sealeveltest1/core/program-ids.json
Due: oxfmt --no-error-on-unmatched-pattern --write

ci: enforce minimum npm package release age
  .npmrc
Due: none

feat(infra): implemented the getFixedRoutingFeeConfigForChain util func
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): added katana and bsc usdc addresses
  typescript/infra/config/environments/mainnet3/warp/cctp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: enforce minimum package release age in pnpm for supply chain protection
  pnpm-workspace.yaml
Due: none

ci: enforce minimum package release age in pnpm (#8504)
  pnpm-workspace.yaml
Due: none

fix(sdk): skip unknown domains in routing fee config derivation (#8502)
  .changeset/skip-unknown-fee-domains.md
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(solidity): add synthetic warp route to IGP postDispatch invariant tests
  solidity/test/igps/IGPPostDispatch.invariant.t.sol
Due: prettier --write

chore: add changeset for IGP postDispatch access control
  .changeset/igp-postdispatch-access-control.md
Due: oxfmt --no-error-on-unmatched-pattern --write

test(solidity): add unit tests for IGP postDispatch message integrity check
  solidity/test/igps/InterchainGasPaymaster.t.sol
Due: prettier --write

update registryrc
  .registryrc
Due: none

feat(infra): updated eclipse usdc config getter
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCSTAGEWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(solidity): skip stale standing quotes instead of reverting
  solidity/contracts/hooks/igp/OffchainQuotedIGP.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
  solidity/test/igps/IGPOffchainQuoting.t.sol
  solidity/test/token/OffchainQuotedLinearFee.t.sol
Due: prettier --write

fix(solidity): revert stale standing quotes, skip equal issuedAt
  solidity/contracts/hooks/igp/OffchainQuotedIGP.sol
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
  solidity/test/igps/IGPOffchainQuoting.t.sol
  solidity/test/token/OffchainQuotedLinearFee.t.sol
Due: prettier --write

fix(solidity): use struct literal assignment to avoid extra SLOADs
  solidity/contracts/hooks/igp/OffchainQuotedIGP.sol
  solidity/contracts/token/fees/OffchainQuotedLinearFee.sol
Due: prettier --write
