Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

Index warp fee admin events
  solidity/contracts/token/fees/WarpFeeController.sol
Due: prettier --write

Improve warp fee controller coverage mapping
  solidity/contracts/token/fees/WarpFeeController.sol
Due: prettier --write

Relax component coverage threshold
  codecov.yml
Due: none

Cover native warp fee controller flow
  solidity/contracts/test/MockWarpFeeControllerIcaRouter.sol
  typescript/sdk/src/fee/WarpFeeController.hardhat-test.ts
  typescript/sdk/src/fee/WarpFeeController.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix: pr review
  rust/main/agents/relayer/src/msg/metadata/sealevel_composite.rs
  rust/main/chains/hyperlane-sealevel/src/provider.rs
  rust/main/utils/run-locally/src/sealevel/composite_ism.rs
  rust/sealevel/client/src/composite_ism.rs
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
Due: none

fix: rate limited bypass with non-writable domain pda
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_nested.rs
Due: none

fix: identity signer leak
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/utils.rs
Due: none

fix: pr review
  rust/sealevel/client/src/composite_ism.rs
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
Due: none

fix: pr review
  rust/sealevel/client/src/composite_ism.rs
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
Due: none

fix: restore sdk lint and tests
  typescript/sdk/src/providers/MultiProvider.test.ts
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenMetadata.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf: split runtime entrypoints from UI imports
  .changeset/swift-spoons-laugh.md
  pnpm-lock.yaml
  solidity/build-tron.sh
  typescript/aleo-sdk/package.json
  typescript/aleo-sdk/src/runtime.ts
  typescript/cosmos-sdk/package.json
  typescript/cosmos-sdk/src/runtime.ts
  typescript/radix-sdk/package.json
  typescript/radix-sdk/src/runtime.ts
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
  typescript/sdk/src/signers/radix/radix-toolkit.ts
  typescript/tron-sdk/package.json
  typescript/tron-sdk/src/runtime.ts
  typescript/widgets/package.json
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/cosmos.ts
  typescript/widgets/src/walletIntegrations/radix.ts
  typescript/widgets/src/walletIntegrations/tron.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: restore monorepo root build
  typescript/helloworld/src/multiProtocolApp/evmAdapter.ts
  typescript/helloworld/src/multiProtocolApp/sealevelAdapter.ts
  typescript/metrics/src/balance.ts
  typescript/rebalancer/src/core/RebalancerService.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/utils/blockTag.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: add configurable multi protocol provider
  typescript/sdk/src/providers/ConfiguredMultiProtocolProvider.ts
  typescript/sdk/src/providers/MultiProtocolProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add light sdk and widget subpath exports
  .changeset/famous-pugs-breathe.md
  typescript/sdk/package.json
  typescript/widgets/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: preserve provider logger labels
  typescript/sdk/src/providers/ConfiguredMultiProtocolProvider.ts
  typescript/sdk/src/providers/MultiProtocolProvider.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: export configured multi protocol provider
  typescript/sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: narrow runtime provider surfaces
  typescript/sdk/src/index.ts
  typescript/sdk/src/providers/MultiProtocolProvider.ts
  typescript/sdk/src/providers/defaultProviderBuilderMaps.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/providers/rpcHealthTest.ts
  typescript/sdk/src/zksync/ZKSyncDeployer.ts
  typescript/widgets/src/walletIntegrations/AccountList.tsx
  typescript/widgets/src/walletIntegrations/ConnectWalletButton.tsx
  typescript/widgets/src/walletIntegrations/accountUtils.ts
  typescript/widgets/src/walletIntegrations/accounts.tsx
  typescript/widgets/src/walletIntegrations/activeChains.tsx
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/cosmos.ts
  typescript/widgets/src/walletIntegrations/ethereum.ts
  typescript/widgets/src/walletIntegrations/radix.ts
  typescript/widgets/src/walletIntegrations/solana.ts
  typescript/widgets/src/walletIntegrations/starknet.ts
  typescript/widgets/src/walletIntegrations/transactionFns.tsx
  typescript/widgets/src/walletIntegrations/tron.ts
  typescript/widgets/src/walletIntegrations/watchAsset.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: split widget wallet integration surfaces
  typescript/widgets/src/chains/ChainAddMenu.tsx
  typescript/widgets/src/chains/ChainDetailsMenu.tsx
  typescript/widgets/src/chains/ChainSearchMenu.tsx
  typescript/widgets/src/index.ts
  typescript/widgets/src/messages/useMessageStage.ts
  typescript/widgets/src/messages/useMessageTimeline.ts
  typescript/widgets/src/stories/ChainSearchMenu.stories.tsx
  typescript/widgets/src/stories/MultiProtocolWalletModal.stories.tsx
  typescript/widgets/src/utils/explorers.ts
  typescript/widgets/src/utils/useChainConnectionTest.ts
  typescript/widgets/src/walletIntegrations/AccountList.tsx
  typescript/widgets/src/walletIntegrations/ConnectWalletButton.tsx
  typescript/widgets/src/walletIntegrations/accountUtils.ts
  typescript/widgets/src/walletIntegrations/accounts.tsx
  typescript/widgets/src/walletIntegrations/activeChains.tsx
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/connectFns.tsx
  typescript/widgets/src/walletIntegrations/cosmos.ts
  typescript/widgets/src/walletIntegrations/disconnectFns.tsx
  typescript/widgets/src/walletIntegrations/ethereum.ts
  typescript/widgets/src/walletIntegrations/multiProtocol.tsx
  typescript/widgets/src/walletIntegrations/radix.ts
  typescript/widgets/src/walletIntegrations/solana.ts
  typescript/widgets/src/walletIntegrations/starknet.ts
  typescript/widgets/src/walletIntegrations/transactionFns.tsx
  typescript/widgets/src/walletIntegrations/tron.ts
  typescript/widgets/src/walletIntegrations/types.ts
  typescript/widgets/src/walletIntegrations/utils.ts
  typescript/widgets/src/walletIntegrations/walletDetails.tsx
  typescript/widgets/src/walletIntegrations/watchAsset.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: restore root build after metadata split
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: split token and warp metadata surfaces
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/ITokenMetadata.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenAmount.ts
  typescript/sdk/src/token/TokenConnection.ts
  typescript/sdk/src/token/TokenMetadata.ts
  typescript/sdk/src/warp/WarpCore.ts
  typescript/sdk/src/warp/WarpRouteGraph.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: prune unused sdk read helper surfaces
  typescript/sdk/src/metadata/ChainMetadataResolver.test.ts
  typescript/sdk/src/metadata/ChainMetadataResolver.ts
  typescript/sdk/src/warp/read.test.ts
  typescript/sdk/src/warp/read.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add light sdk read and resolver surfaces
  typescript/sdk/src/metadata/ChainMetadataResolver.test.ts
  typescript/sdk/src/metadata/ChainMetadataResolver.ts
  typescript/sdk/src/providers/ConfiguredMultiProtocolProvider.ts
  typescript/sdk/src/providers/ConfiguredProviderRegistry.ts
  typescript/sdk/src/warp/read.test.ts
  typescript/sdk/src/warp/read.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: inline local evm-like standards shape
  typescript/sdk/src/token/adapters/evmLikeHyp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: correct resolver test spelling
  typescript/sdk/src/metadata/ChainMetadataResolver.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: drop unused sdk core exports
  typescript/sdk/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor: clean provider and hyp adapter internals
  typescript/sdk/src/providers/ConfiguredMultiProtocolProvider.ts
  typescript/sdk/src/token/adapters/evmHyp.ts
  typescript/sdk/src/token/adapters/evmLikeHyp.ts
  typescript/sdk/src/token/adapters/tronHyp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: preserve zksync lazy provider typing
  typescript/sdk/src/providers/MultiProtocolProvider.test.ts
  typescript/sdk/src/providers/MultiProviderAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: preserve rebalancer provider builders
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add protocol-bound sdk runtime helpers
  typescript/sdk/src/providers/runtime/aleo.ts
  typescript/sdk/src/providers/runtime/cosmos.ts
  typescript/sdk/src/providers/runtime/evm.ts
  typescript/sdk/src/providers/runtime/radix.ts
  typescript/sdk/src/providers/runtime/sealevel.ts
  typescript/sdk/src/providers/runtime/starknet.ts
  typescript/sdk/src/providers/runtime/tron.ts
  typescript/sdk/src/providers/runtime/utils.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/aleoHyp.ts
  typescript/sdk/src/token/adapters/cosmosHyp.ts
  typescript/sdk/src/token/adapters/evmHyp.ts
  typescript/sdk/src/token/adapters/hypTokenAdapterUtils.ts
  typescript/sdk/src/token/adapters/radixHyp.ts
  typescript/sdk/src/token/adapters/sealevelHyp.ts
  typescript/sdk/src/token/adapters/starknetHyp.ts
  typescript/sdk/src/token/adapters/tronHyp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: prune unused package surfaces
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/sdk/package.json
  typescript/sdk/src/index.ts
  typescript/sdk/src/providers/runtime/evm.ts
  typescript/sdk/src/providers/runtime/utils.ts
  typescript/widgets/package.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: split widget wallet integration base hooks
  typescript/widgets/src/walletIntegrations/accounts.tsx
  typescript/widgets/src/walletIntegrations/activeChains.tsx
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/aleoBase.ts
  typescript/widgets/src/walletIntegrations/connectFns.tsx
  typescript/widgets/src/walletIntegrations/cosmos.ts
  typescript/widgets/src/walletIntegrations/cosmosBase.ts
  typescript/widgets/src/walletIntegrations/disconnectFns.tsx
  typescript/widgets/src/walletIntegrations/ethereum.ts
  typescript/widgets/src/walletIntegrations/ethereumBase.ts
  typescript/widgets/src/walletIntegrations/radix.ts
  typescript/widgets/src/walletIntegrations/radixBase.ts
  typescript/widgets/src/walletIntegrations/solana.ts
  typescript/widgets/src/walletIntegrations/solanaBase.ts
  typescript/widgets/src/walletIntegrations/starknet.ts
  typescript/widgets/src/walletIntegrations/starknetBase.ts
  typescript/widgets/src/walletIntegrations/tron.ts
  typescript/widgets/src/walletIntegrations/tronBase.ts
  typescript/widgets/src/walletIntegrations/walletDetails.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: restore hyp adapter routing guards
  typescript/sdk/src/token/adapters/sealevelHyp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: cut over wallet entrypoints
  typescript/sdk/package.json
  typescript/widgets/src/walletIntegrations/accounts.tsx
  typescript/widgets/src/walletIntegrations/activeChains.tsx
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/aleoWallet.ts
  typescript/widgets/src/walletIntegrations/connectFns.tsx
  typescript/widgets/src/walletIntegrations/cosmos.ts
  typescript/widgets/src/walletIntegrations/cosmosWallet.ts
  typescript/widgets/src/walletIntegrations/disconnectFns.tsx
  typescript/widgets/src/walletIntegrations/ethereum.ts
  typescript/widgets/src/walletIntegrations/ethereumWallet.ts
  typescript/widgets/src/walletIntegrations/radix.ts
  typescript/widgets/src/walletIntegrations/radixWallet.ts
  typescript/widgets/src/walletIntegrations/solana.ts
  typescript/widgets/src/walletIntegrations/solanaWallet.ts
  typescript/widgets/src/walletIntegrations/starknet.ts
  typescript/widgets/src/walletIntegrations/starknetWallet.ts
  typescript/widgets/src/walletIntegrations/tron.ts
  typescript/widgets/src/walletIntegrations/tronWallet.ts
  typescript/widgets/src/walletIntegrations/walletDetails.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: refresh lockfile after rebase
  pnpm-lock.yaml
Due: none

fix: align metadata resolver lookups
  typescript/sdk/src/metadata/ChainMetadataResolver.test.ts
  typescript/sdk/src/metadata/ChainMetadataResolver.ts
  typescript/sdk/src/providers/MultiProtocolProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: restore runtime token typing after rebase
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: prune unused sdk runtime helpers
  typescript/sdk/src/providers/runtime/aleo.ts
  typescript/sdk/src/providers/runtime/cosmos.ts
  typescript/sdk/src/providers/runtime/radix.ts
  typescript/sdk/src/providers/runtime/sealevel.ts
  typescript/sdk/src/providers/runtime/starknet.ts
  typescript/sdk/src/providers/runtime/tron.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
