Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --write"],
  "*.ts": ["oxlint", "oxfmt --write"],
  "*.md": "oxfmt --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --write"
}

Split TTL expiry log into debug details and warn summary
  typescript/rebalancer/src/tracking/ActionTracker.ts
Due: oxlint, oxfmt --write

Add DEFAULT_INTENT_TTL_MS constant to replace inline multiplication
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/core/RebalancerService.test.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/index.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
Due: oxlint, oxfmt --write

Add comment explaining send_occurred_at format and null case
  typescript/rebalancer/src/tracking/ActionTracker.ts
Due: oxlint, oxfmt --write

Use structured logging for TTL warn and add send_occurred_at tests
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.ts
Due: oxlint, oxfmt --write

Fail in-progress actions when parent intent TTL expires
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.ts
Due: oxlint, oxfmt --write

Rename test: 'should throw' -> 'should skip' for invalid send_occurred_at
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
Due: oxlint, oxfmt --write

Fix test type errors: add intentTTL to configs, fix RebalanceAction/Intent fields
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
Due: oxlint, oxfmt --write

Address code review feedback for intent TTL
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/tracking/ActionTracker.ts
Due: oxlint, oxfmt --write

chore: update changeset to trigger CI
  .changeset/rebalancer-intent-ttl.md
Due: oxfmt --write

feat(rebalancer): add configurable intent TTL to expire stale intents
  .changeset/rebalancer-intent-ttl.md
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/RebalancerConfig.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/e2e/harness/ForkIndexer.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.ts
  typescript/rebalancer/src/utils/ExplorerClient.ts
Due: oxlint, oxfmt --write

Add test for invalid send_occurred_at timestamp
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
Due: oxlint, oxfmt --write

Address code review feedback for intent TTL feature
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/core/RebalancerService.test.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/index.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.ts
Due: oxlint, oxfmt --write

Add additional default TTL to tests
  typescript/rebalancer/src/core/RebalancerService.test.ts
Due: oxlint, oxfmt --write

Remove DEFAULT_INTENT_TTL_MS, use DEFAULT_INTENT_TTL_S * 1_000 instead
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/core/RebalancerService.test.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/index.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
Due: oxlint, oxfmt --write

fix(altvm): add contextual RPC error handling for warp tokens
  typescript/aleo-sdk/src/warp/native-token.ts
  typescript/aleo-sdk/src/warp/synthetic-token.ts
  typescript/cosmos-sdk/src/warp/collateral-token.ts
Due: oxlint, oxfmt --write

fix(aleo-sdk): add contextual RPC handling for collateral warp token
  typescript/aleo-sdk/src/warp/collateral-token.ts
Due: oxlint, oxfmt --write

Fix lint
  solidity/contracts/middleware/InterchainAccountRouter.sol
  solidity/test/InterchainAccountRouter.t.sol
Due: prettier --write

fix(solidity): add approveFeeTokenForHook to InterchainAccountRouter (#8175)
  .changeset/ica-fee-token-hook-approval.md
  solidity/contracts/middleware/InterchainAccountRouter.sol
  solidity/test/InterchainAccountRouter.t.sol
  typescript/sdk/src/core/EvmIcaModule.hardhat-test.ts
  typescript/sdk/src/core/EvmIcaModule.ts
  typescript/sdk/src/ica/types.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/middleware/account/InterchainAccountDeployer.ts
  typescript/sdk/src/middleware/account/accounts.hardhat-test.ts
Due: oxlint, oxfmt --write, prettier --write

fix(ci): Docker build cache misses and layer ordering for monorepo and node-services (#8188)
  .dockerignore
  .github/workflows/monorepo-docker.yml
  .github/workflows/node-services-docker.yml
  typescript/Dockerfile.node-service
Due: none

Simplify Eclipse USDC submission strategy to single function with ethereum origin + ICA for all other EVM chains
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --write

chore: add cursor agent docker environment config
  .cursor/Dockerfile
  .cursor/environment.json
Due: oxfmt --write

Add two-stage tip/finalized scraper indexing
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260224_000007_add_cursor_type.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/db/block_cursor.rs
  rust/main/agents/scraper/src/db/generated/cursor.rs
  rust/main/agents/scraper/src/db/mod.rs
  rust/main/agents/scraper/src/store.rs
  rust/main/agents/scraper/src/store/storage.rs
  rust/main/agents/scraper/src/store/tip_dispatches.rs
Due: none

Remove proxyAdminOverride from Eclipse USDC warp config
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --write

Fix export-warp-configs silently failing when ESLint has no fixes
  typescript/infra/scripts/warp-routes/export-warp-configs.ts
Due: oxlint, oxfmt --write

fix: warp & core tron e2e test
  typescript/cli/cli.ts
  typescript/cli/examples/tron-core-config.yaml
  typescript/cli/src/tests/ethereum/consts.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
  typescript/tron-sdk/src/testing/node.ts
Due: oxlint, oxfmt --write

chore: refactor to read-only byte arrays
  typescript/svm-provider/src/codecs/binary.ts
  typescript/svm-provider/src/codecs/shared.ts
  typescript/svm-provider/src/instructions/igp.ts
  typescript/svm-provider/src/instructions/interfaces.ts
  typescript/svm-provider/src/instructions/multisig-ism-message-id.ts
  typescript/svm-provider/src/instructions/test-ism.ts
  typescript/svm-provider/src/instructions/token.ts
  typescript/svm-provider/src/instructions/utils.ts
Due: oxlint, oxfmt --write

feat: add ISM, hook artifact readers/writers
  pnpm-lock.yaml
  typescript/svm-provider/package.json
  typescript/svm-provider/src/hook/hook-artifact-manager.ts
  typescript/svm-provider/src/hook/hook-query.ts
  typescript/svm-provider/src/hook/hook-tx.ts
  typescript/svm-provider/src/hook/igp-hook.ts
  typescript/svm-provider/src/hook/index.ts
  typescript/svm-provider/src/hook/merkle-tree-hook.ts
  typescript/svm-provider/src/instructions/igp.ts
  typescript/svm-provider/src/ism/index.ts
  typescript/svm-provider/src/ism/ism-artifact-manager.ts
  typescript/svm-provider/src/ism/ism-query.ts
  typescript/svm-provider/src/ism/multisig-ism.ts
  typescript/svm-provider/src/ism/test-ism.ts
  typescript/svm-provider/src/rpc.ts
  typescript/svm-provider/src/signer.ts
  typescript/svm-provider/src/testing/setup.ts
  typescript/svm-provider/src/testing/solana-container.ts
  typescript/svm-provider/src/tests/deploy.e2e-test.ts
  typescript/svm-provider/src/tests/hook.e2e-test.ts
  typescript/svm-provider/src/tests/ism.e2e-test.ts
  typescript/svm-provider/src/tx.ts
Due: oxlint, oxfmt --write

refactor: obsolete codecs, type casts
  typescript/svm-provider/src/hook/hook-artifact-manager.ts
  typescript/svm-provider/src/hook/igp-hook.ts
  typescript/svm-provider/src/ism/ism-artifact-manager.ts
  typescript/svm-provider/src/signer.ts
  typescript/svm-provider/src/tx.ts
Due: oxlint, oxfmt --write

chore: use readable discriminators
  typescript/svm-provider/src/accounts/token.ts
Due: oxlint, oxfmt --write

doc: design comments
  typescript/svm-provider/src/accounts/multisig-ism-message-id.ts
  typescript/svm-provider/src/codecs/shared.ts
  typescript/svm-provider/src/constants.ts
  typescript/svm-provider/src/instructions/interfaces.ts
  typescript/svm-provider/src/pda.ts
Due: oxlint, oxfmt --write

refactor: use module-level ADDRESS_CODEC instead of on-the-fly encoder/decoder calls
  typescript/svm-provider/src/deploy/program-deployer.ts
  typescript/svm-provider/src/instructions/igp.ts
  typescript/svm-provider/src/instructions/multisig-ism-message-id.ts
  typescript/svm-provider/src/instructions/token.ts
Due: oxlint, oxfmt --write

refactor(svm-provider): remove singleton assumption from readers/writers/managers
  typescript/svm-provider/src/hook/hook-artifact-manager.ts
  typescript/svm-provider/src/hook/igp-hook.ts
  typescript/svm-provider/src/hook/merkle-tree-hook.ts
  typescript/svm-provider/src/ism/ism-artifact-manager.ts
  typescript/svm-provider/src/ism/multisig-ism.ts
  typescript/svm-provider/src/ism/test-ism.ts
  typescript/svm-provider/src/testing/setup.ts
  typescript/svm-provider/src/tests/hook.e2e-test.ts
  typescript/svm-provider/src/tests/ism.e2e-test.ts
Due: oxlint, oxfmt --write

keep session reports
  sessions/2026-02-21-solana-kit-artifact-review/findings.md
  sessions/2026-02-21-svm-codecs-pubkey-model/findings.md
  sessions/2026-02-22-svm-provider-implementation-fixes/report.md
Due: oxfmt --write

refactor(svm-provider): add SvmProgramTarget, SvmDeployed* types and resolveProgram helper
  typescript/svm-provider/src/deploy/index.ts
  typescript/svm-provider/src/deploy/resolve-program.ts
  typescript/svm-provider/src/types.ts
Due: oxlint, oxfmt --write

fix: address validation, hook detection, and tx send in svm-provider
  typescript/svm-provider/src/hook/hook-artifact-manager.ts
  typescript/svm-provider/src/hook/hook-query.ts
  typescript/svm-provider/src/hook/igp-hook.ts
  typescript/svm-provider/src/hook/merkle-tree-hook.ts
  typescript/svm-provider/src/ism/ism-artifact-manager.ts
  typescript/svm-provider/src/rpc.ts
  typescript/svm-provider/src/signer.ts
Due: oxlint, oxfmt --write

refactor: model Solana pubkey fields as Address in svm-provider codecs
  typescript/svm-provider/src/accounts/multisig-ism-message-id.ts
  typescript/svm-provider/src/accounts/token.ts
  typescript/svm-provider/src/codecs/shared.ts
  typescript/svm-provider/src/hook/igp-hook.ts
Due: oxlint, oxfmt --write

chore: format code
  typescript/aleo-sdk/src/warp/warp-tx.ts
  typescript/radix-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --write

chore: format code
  typescript/cosmos-sdk/src/warp/collateral-token.ts
Due: oxlint, oxfmt --write

Add new chains to Eclipse USDC warp route program-ids
  rust/sealevel/environments/mainnet3/warp-routes/USDC-eclipsemainnet/program-ids.json
Due: oxfmt --write
