Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore: add changeset for deploy-sdk core artifact API breaking changes
  .changeset/core-artifact-api-breaking-changes.md
Due: oxfmt --no-error-on-unmatched-pattern --write

more fixes
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

more tron fixes
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

more tron fixes
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

more tron fixes
  typescript/cli/test-configs/tron/chains/anvil1/metadata.yaml
  typescript/cli/test-configs/tron/chains/anvil2/metadata.yaml
  typescript/cli/test-configs/tron/chains/anvil3/metadata.yaml
  typescript/cli/test-configs/tron/chains/anvil4/metadata.yaml
Due: none

fix: github action
  .github/workflows/test-coverage.yml
Due: none

feat(deploy-sdk, cli): deploy sdk core artifact api integration (#8148)
  .changeset/core-artifact-api-breaking-changes.md
  .github/workflows/test-cli-e2e.yml
  typescript/cli/src/deploy/core.ts
  typescript/cli/src/read/core.ts
  typescript/cli/src/tests/helpers/core-ism-hook-test-factory.ts
  typescript/cli/src/tests/radix/core/core-apply-updates.e2e-test.ts
  typescript/deploy-sdk/src/AltVMCoreModule.ts
  typescript/deploy-sdk/src/AltVMCoreReader.ts
  typescript/deploy-sdk/src/core-module.ts
  typescript/deploy-sdk/src/core/core-artifact-reader.ts
  typescript/deploy-sdk/src/core/core-writer.ts
  typescript/deploy-sdk/src/index.ts
  typescript/provider-sdk/src/core.ts
  typescript/provider-sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

more fixes
  typescript/tron-sdk/src/ethers/TronWallet.integration.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(audit-q2): move TokenBridgeOft into core solidity (#8341)
  .changeset/bright-pears-retire.md
  .changeset/cross-collateral-rename.md
  .changeset/sixty-boats-wave.md
  .github/workflows/solidity-fork-tests.yml
  Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  solidity/contracts/token/TokenBridgeOft.sol
  solidity/contracts/token/interfaces/layerzero/IOFT.sol
  solidity/multicollateral/CHANGELOG.md
  solidity/multicollateral/eslint.config.mjs
  solidity/multicollateral/foundry.toml
  solidity/multicollateral/hardhat.config.cts
  solidity/multicollateral/index.ts
  solidity/multicollateral/package.json
  solidity/multicollateral/remappings.txt
  solidity/multicollateral/tsconfig.json
  solidity/package.json
  solidity/test/token/TokenBridgeOft.fork.t.sol
  solidity/test/token/TokenBridgeOft.t.sol
  typescript/Dockerfile.node-service
  typescript/sdk/package.json
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

update changesets
  .changeset/tron-provider-fix.md
  .changeset/tron-sdk-isevmlike.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: coverage check
  .github/workflows/test-coverage.yml
  solidity/coverage.sh
  solidity/foundry.toml
Due: none

Update .changeset/popular-readers-film.md
  .changeset/popular-readers-film.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: pr feedback
  typescript/cli/src/send/transfer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr feedback
  .changeset/thick-ravens-jog.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: pr feedback
  typescript/cli/README.md
  typescript/cli/cli.ts
  typescript/cli/src/commands/utils.ts
  typescript/cli/src/tests/utils.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: use pnpm-build-with-cache action for coverage and downsize runner
  .github/workflows/test-coverage.yml
Due: none

fix: add name to pnpm-build step in coverage workflow
  .github/workflows/test-coverage.yml
Due: none

configure icas
  typescript/infra/config/environments/mainnet3/governance/ica/aw.ts
  typescript/infra/config/environments/mainnet3/governance/ica/regular.ts
  typescript/infra/config/environments/mainnet3/governance/ica/warpFees.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: coverage check (#8358)
  .github/workflows/test-coverage.yml
  solidity/coverage.sh
  solidity/foundry.toml
Due: none

fix: address PR review comments for minimal ICA router
  typescript/sdk/src/middleware/account/InterchainAccountDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

update agent config
  .registryrc
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: add receive() to MinimalInterchainAccountRouter for hook refunds
  solidity/contracts/middleware/MinimalInterchainAccountRouter.sol
Due: prettier --write

feat(tron): support custom_rpc_header for gRPC endpoints
  rust/main/chains/hyperlane-tron/src/provider/grpc.rs
  rust/main/chains/hyperlane-tron/src/provider/prometheus/metrics_channel.rs
Due: none

fix(tron): strip credentials from stored gRPC URL and load gRPC secrets in helm
  rust/main/chains/hyperlane-tron/src/provider/grpc.rs
  rust/main/helm/hyperlane-agent/templates/external-secret.yaml
Due: none

feat(tron): load solidity gRPC secrets in helm
  rust/main/helm/hyperlane-agent/templates/external-secret.yaml
Due: none

feat: decrease memory consumption in coverage run
  .github/workflows/test-coverage.yml
  solidity/coverage.sh
  solidity/foundry.toml
Due: none

feat: predicate router wrapper (#8262)
  .changeset/fair-windows-invite.md
  .github/workflows/test-coverage.yml
  solidity/contracts/interfaces/hooks/IPostDispatchHook.sol
  solidity/contracts/mock/MockPredicateRegistry.sol
  solidity/contracts/token/extensions/PredicateRouterWrapper.sol
  solidity/coverage.sh
  solidity/foundry.toml
  solidity/remappings.txt
  solidity/test/token/PredicateRouterWrapperCollateral.t.sol
  solidity/test/token/PredicateRouterWrapperFork.t.sol
  solidity/test/token/PredicateRouterWrapperNative.t.sol
  solidity/test/token/PredicateRouterWrapperSynthetic.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat: add Predicate SDK (config, deploy, read only)
  .changeset/predicate-wrapper-sdk.md
  typescript/cli/examples/warp-config-predicate-mainnet.yaml
  typescript/cli/examples/warp-deployed-predicate-mainnet.yaml
  typescript/cli/src/tests/ethereum/fixtures/warp-config-predicate-base-ethereum.yaml
  typescript/cli/src/tests/ethereum/fixtures/warp-deploy-predicate-command.sh
  typescript/cli/src/tests/ethereum/warp/warp-deploy-predicate.e2e-test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/predicate/PredicateApiClient.test.ts
  typescript/sdk/src/predicate/PredicateApiClient.ts
  typescript/sdk/src/predicate/PredicateDeployer.hardhat-test.ts
  typescript/sdk/src/predicate/PredicateDeployer.ts
  typescript/sdk/src/predicate/index.ts
  typescript/sdk/src/token/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(tron): redact custom header values in Debug output
  rust/main/chains/hyperlane-tron/src/provider/prometheus/metrics_channel.rs
Due: none

fix(tron-sdk): support custom_rpc_header for TronWeb HTTP API and use txLocal for alterTransaction
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: dedupe ICA router shared logic
  solidity/contracts/middleware/AbstractInterchainAccountRouter.sol
  solidity/contracts/middleware/InterchainAccountRouter.sol
  solidity/contracts/middleware/MinimalInterchainAccountRouter.sol
Due: prettier --write

feat: remove changes from other pr
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
  rust/main/agents/relayer/src/lib.rs
  rust/main/agents/relayer/src/server/mod.rs
Due: none

feat: remove changes from other pr
  rust/main/agents/relayer/src/relay_api/cosmos_indexer.rs
  rust/main/agents/relayer/src/relay_api/cosmosnative_indexer.rs
  rust/main/agents/relayer/src/relay_api/evm_indexer.rs
  rust/main/agents/relayer/src/relay_api/extractor.rs
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/agents/relayer/src/relay_api/mod.rs
  rust/main/agents/relayer/src/relay_api/registry_builder.rs
Due: none

feat: use predicate router wrapper from audit branch
  solidity/contracts/token/extensions/PredicateRouterWrapper.sol
Due: prettier --write

feat: remove unused cmd
  typescript/cli/src/commands/signCommands.ts
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(tron): bump IGP min USD cost to $4.00 to cover energy variance
  typescript/infra/src/config/gas-oracle.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

update changesets
  .changeset/tron-provider-fix.md
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor: remove redundant minimal ICA overrides
  solidity/contracts/middleware/MinimalInterchainAccountRouter.sol
Due: prettier --write

refactor: dedupe ICA router shared logic (#8361)
  solidity/contracts/middleware/AbstractInterchainAccountRouter.sol
  solidity/contracts/middleware/InterchainAccountRouter.sol
  solidity/contracts/middleware/MinimalInterchainAccountRouter.sol
Due: prettier --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
