Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(sdk): handle cross-collateral decimals in checker (#8550)
  .changeset/green-bananas-juggle.md
  typescript/sdk/src/token/checker.test.ts
  typescript/sdk/src/token/checker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: funding script for sealevel
  typescript/sdk/src/signers/svm/solana-web3js.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(changeset): Fixed sealevel fee payer
  .changeset/five-doors-fold.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: deployed scraper with ethereum reorg period of 1
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Unify warp route checks onto shared CLI logic
  .changeset/real-bugs-dance.md
  typescript/cli/cli.ts
  typescript/cli/src/check/warp.ts
  typescript/cli/src/commands/warp.ts
  typescript/infra/config/warp.ts
  typescript/infra/scripts/check/check-deploy.ts
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/infra/scripts/check/check-warp-route.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/configUtils.test.ts
  typescript/sdk/src/token/configUtils.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: remove unused ism config
  rust/sealevel/client/README.md
  rust/sealevel/client/composite-ism.json
Due: oxfmt --no-error-on-unmatched-pattern --write

docs(changeset): Added composite-ism to sealevel programs
  .changeset/tame-feet-visit.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: change ethereum scraper reorg period (#8525)
  rust/main/helm/hyperlane-agent/templates/scraper-statefulset.yaml
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp): preserve preloaded route configs in checks
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/infra/scripts/check/check-warp-route.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: funding script for sealevel (#8553)
  .changeset/five-doors-fold.md
  typescript/sdk/src/signers/svm/solana-web3js.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): reject transfers where recipient is the destination router or collateral token
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add Igra warp routes (IKAS, WSTETH, CBBTC, USDC) (#8546)
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
  typescript/infra/config/environments/mainnet3/governance/ica/warpFees.ts
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/igra-config.yaml
  typescript/infra/config/environments/mainnet3/warp/configGetters/getIgraUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp): tighten shared diff typing
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: added iteration limit for vam
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/config/local_config.json
  rust/main/config/local_validator_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(warp): harden shared diff flattening
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr reviews
  rust/main/agents/relayer/src/msg/metadata/sealevel_composite.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/instruction.rs
Due: none

refactor(infra): remove warp from check-deploy
  typescript/infra/scripts/check/check-deploy.ts
  typescript/infra/scripts/check/check-utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(infra): remove warp module option
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/check/check-utils.ts
  typescript/infra/scripts/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp): preserve non-evm router entries in checks
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr reviews
  rust/sealevel/client/README.md
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/rate_limit.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor(warp): hard cut over shared warp checks
  .changeset/real-bugs-dance.md
  typescript/infra/config/warp.ts
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/app.ts
  typescript/sdk/src/token/checker.test.ts
  typescript/sdk/src/token/checker.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(infra): inline the warp check wrapper
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/infra/scripts/check/check-warp-route.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(sdk): use a stable warp check describe label
  typescript/sdk/src/token/deploy.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp): address follow-up review feedback
  typescript/cli/cli.ts
  typescript/infra/config/warp.ts
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp): preserve mixed-vm route expansion
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Support Solana router nodes in warp monitor
  typescript/warp-monitor/src/monitor.test.ts
  typescript/warp-monitor/src/monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(skills): add fork transfer test step
  .claude/skills/warp-route-check/skill.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Support monitor inventory addresses by protocol
  typescript/warp-monitor/src/monitor.test.ts
  typescript/warp-monitor/src/monitor.ts
  typescript/warp-monitor/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Fix warp fork test ISM bypass instructions
  .claude/skills/warp-route-check/skill.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Fix warp route TestIsm forge command
  .claude/skills/warp-route-check/skill.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Fix warp check scale validation scope
  .changeset/late-llamas-sort.md
  typescript/cli/src/check/warp.test.ts
  typescript/cli/src/check/warp.ts
  typescript/cli/src/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Fix warp route TestIsm dry-run command
  .claude/skills/warp-route-check/skill.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(skills): add transferRemote test step to warp-route-check skill (#8556)
  .claude/skills/warp-route-check/skill.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(tron-sdk): parse custom_rpc_header in TronJsonRpcProvider and TronTransactionBuilder
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.ts
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add patch changeset for @hyperlane-xyz/tron-sdk
  .changeset/tron-custom-rpc-headers.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(registry): tolerate subset overlay misses
  package.json
  patches/@hyperlane-xyz__registry@23.12.0.patch
  pnpm-lock.yaml
  typescript/infra/test/merged-registry.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Add warp fee controller
  .changeset/warp-fee-controller.md
  codecov.yml
  solidity/contracts/test/MockWarpFeeControllerIcaRouter.sol
  solidity/contracts/token/fees/WarpFeeController.sol
  solidity/test/token/WarpFeeController.t.sol
  typescript/sdk/src/fee/WarpFeeController.hardhat-test.ts
  typescript/sdk/src/fee/WarpFeeController.ts
  typescript/sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write
