Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

chore: migrate to pnpm 11
  .cursor/Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt --no-error-on-unmatched-pattern --write

ci: handle pnpm 11 installs
  .github/actions/pnpm-cache/action.yml
  pnpm-workspace.yaml
Due: none

ci: setup node before pnpm build
  .github/actions/pnpm-build-with-cache/action.yml
Due: none

ci: read node version from nvmrc
  .github/workflows/cli-install-test.yml
  .github/workflows/monorepo-docker.yml
  .github/workflows/node-services-docker.yml
  Dockerfile
  typescript/Dockerfile
  typescript/cosmos-types/Dockerfile
Due: none

fix: tighten swap rebalancing bridge approvals
  solidity/contracts/token/SwapRebalancingBridge.sol
  solidity/contracts/token/interfaces/ISwapRebalancingBridge.sol
  solidity/test/token/SwapRebalancingBridge.fork.t.sol
  solidity/test/token/SwapRebalancingBridge.t.sol
Due: prettier --write

ci: keep cosmos docker stage naming
  typescript/cosmos-types/Dockerfile
Due: none

docs: document swap rebalancing bridge assumptions
  solidity/contracts/token/SwapRebalancingBridge.sol
  solidity/contracts/token/interfaces/ISwapRebalancingBridge.sol
Due: prettier --write

fix(rust): restore hyperlane-sealevel dep in relayer Cargo.toml
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
Due: none

refactor: removed newly introduced duplications
  rust/sealevel/Cargo.lock
  rust/sealevel/libraries/account-utils/src/lib.rs
  rust/sealevel/libraries/test-utils/Cargo.toml
  rust/sealevel/libraries/test-utils/src/lib.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/Cargo.toml
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp-test/src/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
Due: none

fix: use standard bash identifier
  .claude/skills/warp-deploy-init-route/SKILL.md
  .claude/skills/warp-deploy-update-owners/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: use --writeMode in warp-deploy skills for http-registry (#8775)
  .claude/skills/warp-deploy-init-route/SKILL.md
  .claude/skills/warp-deploy-update-owners/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  typescript/sdk/src/fee/EvmTokenFeeModule.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.ts
  typescript/sdk/src/hook/EvmHookReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(changeset): Fixed safe tx building by allowing api key in strategy
  .changeset/loud-horses-begin.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: safe apiKey in strategy
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5GnosisSafeTxBuilder.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5GnosisSafeTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(changeset): Fixed ICA gas estimation
  .changeset/blue-moose-refuse.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: ica gas estimation
  typescript/sdk/src/providers/transactions/submitter/IcaTxSubmitter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: forward ISM/router overrides in fromConfig, deduplicate icaConfig, use toBigInt
  typescript/sdk/src/providers/transactions/submitter/IcaTxSubmitter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: updated moonpay getters to include polygon
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(core): widen MCR rebalance config to CCR-enrolled domains
  .changeset/ccr-addbridge-override.md
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/contracts/token/libs/MovableCollateralRouter.sol
  solidity/test/token/CrossCollateralRouter.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

Support ICA native balance sentinel
  solidity/contracts/middleware/libs/Call.sol
  solidity/test/InterchainAccountRouter.t.sol
Due: prettier --write

fix: blacklist ism append only (#8762)
  solidity/contracts/isms/BlacklistIsm.sol
  solidity/test/isms/BlacklistIsm.t.sol
Due: prettier --write

feat: add BlacklistIsm for per-message-ID blocking
  solidity/contracts/isms/BlacklistIsm.sol
  solidity/test/isms/BlacklistIsm.t.sol
Due: prettier --write

Fix Blacklist ISM lint and changeset
  .changeset/black-tips-jam.md
  solidity/contracts/isms/BlacklistIsm.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(core): DelayedFlowRouter amount-sensitive rate-limit + timelock ISM
  .changeset/delayed-flow-router.md
  docs/delayed-flow-router.md
  solidity/contracts/isms/routing/TimelockRouter.sol
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/contracts/libs/RateLimited.sol
  solidity/test/hooks/RateLimitedHook.t.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor(core): DelayedFlowRouter replay guard uses lastCreditedNonce
  docs/delayed-flow-router.md
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

test(core): RateLimited tests reflect zero-capacity passthrough
  solidity/test/lib/RateLimited.t.sol
Due: prettier --write

test(core): expand DelayedFlowRouter fuzz coverage + rebalancing scenario
  solidity/contracts/isms/routing/TimelockRouter.sol
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
Due: prettier --write

fix(solidity): bound standing quote issuedAt and TTL [HL-2026Q2-001]
  .changeset/quoter-issued-at-bounds.md
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/test/igps/IGPOffchainQuoting.t.sol
  solidity/test/token/OffchainQuotedLinearFee.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore: migrate to pnpm 11 (#8780)
  .cursor/Dockerfile
  .github/actions/pnpm-build-with-cache/action.yml
  .github/actions/pnpm-cache/action.yml
  .github/workflows/cli-install-test.yml
  .github/workflows/monorepo-docker.yml
  .github/workflows/node-services-docker.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typescript/Dockerfile
  typescript/cosmos-types/Dockerfile
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  .changeset/fix-aleo-message-extraction.md
  .changeset/six-ads-sneeze.md
  typescript/aleo-sdk/src/clients/provider.ts
  typescript/aleo-sdk/src/runtime.ts
  typescript/aleo-sdk/src/utils/helper.ts
  typescript/sdk/src/core/adapters/AleoCoreAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Drop MAX_STANDING_TTL; not-before check alone closes bricking
  .changeset/quoter-issued-at-bounds.md
  solidity/contracts/libs/AbstractOffchainQuoter.sol
  solidity/test/igps/IGPOffchainQuoting.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

Add net flow rate limited warp hook ISM
  solidity/contracts/hooks/warp-route/NetFlowRateLimitedHookIsm.sol
  solidity/contracts/interfaces/IMailbox.sol
  solidity/contracts/libs/NetFlowRateLimited.sol
  solidity/test/hooks/NetFlowRateLimitedHookIsm.t.sol
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/hook/EvmHookReader.ts
  typescript/sdk/src/hook/types.ts
  typescript/sdk/src/hook/updates.ts
  typescript/sdk/src/ism/types.ts
  typescript/sdk/src/token/EvmWarpModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

Add ICA native balance sentinel changeset
  .changeset/quiet-icas-collect.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Fix delayed rate limit CI
  .changeset/fresh-rates-delay.md
  solidity/test/lib/RateLimited.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write
