Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(infra): handle unknown function selectors in multisend inner txs
  typescript/infra/scripts/safes/parse-txs.ts
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: mark svm-sdk program-bytes.ts as generated binary in gitattributes
  .gitattributes
Due: none

fix(solidity): add ERC4626Test and MockEverclear to tron build allowlist
  solidity/tron-hardhat.config.cts
Due: none

fix(solidity): exclude ForkTest contracts from test:ci
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): always emit setMaxFeePpm when upgrading across bps-to-ppm storage boundary
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): handle unknown function selectors in multisend inner txs (#8529)
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: mark program-bytes.ts as generated binary (#8530)
  .gitattributes
Due: none

fix(solidity): combine ForkTest exclusion into test:forge regex
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(cctp): upgrade CCTP V2 warp routes to 11.2.0 with PPM fee precision (#8523)
  .changeset/cctp-v2-max-fee-ppm.md
  typescript/infra/config/environments/mainnet3/warp/cctp.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCCTPConfig.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): support parsing setMaxFeePpm in safe tx reader
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): support parsing setMaxFeePpm in safe tx reader (#8531)
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(infra): use combined ABI for warp route safe tx parsing
  pnpm-lock.yaml
  typescript/infra/package.json
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(svm-sdk): address PR review feedback for cross-collateral token
  .changeset/cross-collateral-token.md
  typescript/svm-sdk/src/accounts/cross-collateral-token.ts
  typescript/svm-sdk/src/codecs/shared.ts
  typescript/svm-sdk/src/instructions/cross-collateral-token.ts
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
  typescript/svm-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: restore tron allowlist and lint cleanups
  solidity/tron-hardhat.config.cts
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/fee-quoting/FeeQuotingServer.ts
  typescript/fee-quoting/scripts/run-server.ts
  typescript/fee-quoting/src/services/quoteService.ts
  typescript/fee-quoting/test/routes/quote.test.ts
  typescript/warp-widget/src/react.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): drop removed multicollateral lint step
  .github/workflows/test.yml
Due: none

fix(ci): format test coverage workflow
  .github/workflows/test-coverage.yml
Due: none

fix: format test-coverage.yml to pass oxfmt check
  .github/workflows/test-coverage.yml
Due: none

fix(cli): exclude collateralDepositAddress from warp e2e random config generation
  typescript/cli/src/tests/ethereum/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): add input validation for CC account meta parsing and token message encoding
  typescript/sdk/src/token/adapters/SealevelCrossCollateralAdapter.ts
  typescript/sdk/src/token/adapters/serialization.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): skip extra signer generation for same-chain CC transfers
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sealevel-sdk): svm sdk cross collateral token (#8384)
  .changeset/cross-collateral-token.md
  .github/workflows/test-sdk-e2e.yml
  pnpm-lock.yaml
  typescript/svm-sdk/package.json
  typescript/svm-sdk/src/accounts/cross-collateral-token.ts
  typescript/svm-sdk/src/codecs/shared.ts
  typescript/svm-sdk/src/index.ts
  typescript/svm-sdk/src/instructions/cross-collateral-token.ts
  typescript/svm-sdk/src/instructions/token.ts
  typescript/svm-sdk/src/pda.ts
  typescript/svm-sdk/src/tests/cross-collateral-token.e2e-test.ts
  typescript/svm-sdk/src/tests/read-token.e2e-test.ts
  typescript/svm-sdk/src/tests/warp-token-suite.ts
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
  typescript/svm-sdk/src/warp/warp-artifact-manager.ts
  typescript/svm-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): exclude collateralDepositAddress from warp e2e tests (#8536)
  typescript/cli/src/tests/ethereum/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): svm cross collateral token adapter (#8446)
  .changeset/sealevel-cross-collateral-adapter.md
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/token/adapters/SealevelCrossCollateralAdapter.ts
  typescript/sdk/src/token/adapters/SealevelTokenAdapter.ts
  typescript/sdk/src/token/adapters/serialization.ts
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: format test-coverage.yml to pass oxfmt check (#8535)
  .github/workflows/test-coverage.yml
Due: none

chore: enable solana cross collateral token deployments in the cli
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): canonicalize CC router addresses to lowercase hex32 before diffing
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): include CC-only domains in destination gas updates
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): remove raw CC instruction builder exports from public API
  typescript/svm-sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): set from address for eth_estimateGas calls
  typescript/rebalancer/src/core/Rebalancer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

skip deprecated chains
  typescript/infra/src/config/chain.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: apr 6 deprecations (#8518)
  rust/main/config/testnet_config.json
  rust/main/hyperlane-core/src/chain.rs
  rust/sealevel/environments/testnet4/multisig-ism-message-id/solanatestnet/hyperlane/multisig-config.json
  rust/sealevel/environments/testnet4/multisig-ism-message-id/sonicsvmtestnet/hyperlane/multisig-config.json
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/hyperlane.json
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/config/environments/testnet4/core/verification.json
  typescript/infra/config/environments/testnet4/funding.ts
  typescript/infra/config/environments/testnet4/gasPrices.json
  typescript/infra/config/environments/testnet4/ism/verification.json
  typescript/infra/config/environments/testnet4/middleware/accounts/verification.json
  typescript/infra/config/environments/testnet4/supportedChainNames.ts
  typescript/infra/config/environments/testnet4/tokenPrices.json
  typescript/infra/config/environments/testnet4/validators.ts
  typescript/infra/src/config/chain.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: tidy up fee-quoting service
  .changeset/fee-quoting-private.md
  .github/workflows/node-services-docker.yml
  pnpm-lock.yaml
  solidity/zk-hardhat.config.cts
  typescript/Dockerfile
  typescript/cli/package.json
  typescript/cli/src/send/transfer.ts
  typescript/docker-entrypoint.sh
  typescript/fee-quoting/index.ts
  typescript/fee-quoting/package.json
  typescript/fee-quoting/server.ts
  typescript/fee-quoting/src/routes/quote.ts
  typescript/fee-quoting/src/services/quoteService.ts
  typescript/fee-quoting/src/types.ts
  typescript/fee-quoting/test/services/quoteService.test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/quoted-calls/client.ts
  typescript/sdk/src/quoted-calls/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: tidy up fee-quoting service (#8539)
  .changeset/fee-quoting-private.md
  .github/workflows/node-services-docker.yml
  pnpm-lock.yaml
  solidity/zk-hardhat.config.cts
  typescript/Dockerfile
  typescript/cli/package.json
  typescript/cli/src/send/transfer.ts
  typescript/docker-entrypoint.sh
  typescript/fee-quoting/index.ts
  typescript/fee-quoting/package.json
  typescript/fee-quoting/server.ts
  typescript/fee-quoting/src/routes/quote.ts
  typescript/fee-quoting/src/services/quoteService.ts
  typescript/fee-quoting/src/types.ts
  typescript/fee-quoting/test/services/quoteService.test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/quoted-calls/client.ts
  typescript/sdk/src/quoted-calls/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: remove prepublishOnly from @hyperlane-xyz/core
  package.json
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: read RoutingFee domains when parsing setFeeRecipient
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pin zk-hardhat solidity to 0.8.22
  solidity/zk-hardhat.config.cts
Due: none

fix: bump zk-hardhat solidity from 0.8.22 to 0.8.28
  solidity/zk-hardhat.config.cts
Due: none

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
