Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(ci): gate svm program bytes on rebuilt ELFs, not source-hash drift
  .changeset/svm-source-hash-refresh.md
  .github/workflows/test.yml
  typescript/svm-sdk/scripts/check-program-bytes-hash.mjs
  typescript/svm-sdk/scripts/sealevel-source-hash.test.mjs
  typescript/svm-sdk/src/hyperlane/program-bytes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): harden generic near-head publication
  docs/scraper/near-head.md
  rust/main/agents/scraper/migration/src/near_head.sql
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/runtime.rs
  rust/main/agents/scraper/src/near_head/runtime/tests.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/agents/scraper/src/near_head/store.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(igp): set ethereum gas price to 2 gwei (#9729)
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
  typescript/infra/config/environments/mainnet3/gasPrices.json
  typescript/infra/config/environments/mainnet3/igp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): align Celestia, Eden and Forma multisig validators
  .changeset/tidy-eden-forma-validators.md
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): remove unused ZKV validator constant
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): bound sparse confirmation scans
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/store.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: none

docs(scraper): make near-head cutover safe on shared databases
  docs/scraper/near-head.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): persist verified publication frontier
  rust/main/agents/scraper/migration/src/frontier_publication.sql
  rust/main/agents/scraper/migration/src/frontier_publication_down.sql
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/runtime.rs
  rust/main/agents/scraper/src/near_head/runtime/tests.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/agents/scraper/src/near_head/store.rs
  rust/main/agents/scraper/src/near_head/store/tests.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: none

docs(scraper): make near-head cutover safe on shared databases (#9706)
  docs/scraper/near-head.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs: simplify validator rotation changeset
  .changeset/tidy-eden-forma-validators.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): align Celestia, Eden and Forma multisig validators (#9728)
  .changeset/tidy-eden-forma-validators.md
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): close generic indexing gaps
  rust/main/agents/scraper/migration/src/indexes.rs
  rust/main/agents/scraper/migration/src/near_head.sql
  rust/main/agents/scraper/migration/tests/init_db.rs
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/runtime/tests.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/agents/scraper/src/near_head/store.rs
  rust/main/agents/scraper/src/near_head/tests.rs
  rust/main/chains/hyperlane-sealevel/src/interchain_gas.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox_indexer.rs
  rust/main/chains/hyperlane-starknet/src/indexer.rs
  rust/main/hyperlane-base/src/settings/chains.rs
Due: none

fix(relayer): contain bad scraper dispatch rows per stream
  rust/main/agents/relayer/src/scraper_websocket.rs
  typescript/infra/scripts/scraper/backfill-raw-dispatch-bodies.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): drop one-off raw dispatch body backfill script
  typescript/infra/scripts/scraper/backfill-raw-dispatch-bodies.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): preserve exact confirmation boundaries
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: none

fix(lander): drop stale recovered transactions and repair nonce gaps
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_stale_recovery.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/validate.rs
  rust/main/lander/src/adapter/core.rs
  rust/main/lander/src/dispatcher/core.rs
  rust/main/lander/src/dispatcher/db/transaction/loader.rs
  rust/main/lander/src/dispatcher/stages.rs
  rust/main/lander/src/tests/test_utils.rs
Due: none

fix(ci): gate svm program bytes on rebuilt ELFs, not source-hash drift (#9730)
  .changeset/svm-source-hash-refresh.md
  .github/workflows/test.yml
  typescript/svm-sdk/scripts/check-program-bytes-hash.mjs
  typescript/svm-sdk/scripts/sealevel-source-hash.test.mjs
  typescript/svm-sdk/src/hyperlane/program-bytes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(lander): align nonce tests with gap repair and upper trim
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/validate/tests.rs
Due: none

test: make scraper websocket tests independent of scheduler timing
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/hyperlane-base/src/scraper_websocket/client.rs
  rust/main/hyperlane-base/src/scraper_websocket/session.rs
Due: none

fix(lander): never move a possibly broadcast tx to another nonce
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_stale_recovery.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/validate.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/validate/tests.rs
Due: none

chore(infra): rotate igra warp-fee owner to Turnkey treasury key (#9336)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getIgraUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(lander): drop stale recovered transactions and repair nonce gaps (#9732)
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_stale_recovery.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary/tests.rs
  rust/main/lander/src/adapter/core.rs
  rust/main/lander/src/dispatcher/core.rs
  rust/main/lander/src/dispatcher/db/transaction/loader.rs
  rust/main/lander/src/dispatcher/stages.rs
  rust/main/lander/src/tests/test_utils.rs
Due: none

test: make scraper websocket tests independent of scheduler timing (#9733)
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/hyperlane-base/src/scraper_websocket/client.rs
  rust/main/hyperlane-base/src/scraper_websocket/session.rs
Due: none

fix(relayer): contain bad scraper dispatch rows per stream (#9731)
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

ci: split sealevel e2e and rust tests into parallel legs, cache Solana downloads
  .github/workflows/rust.yml
  .github/workflows/test-rust-e2e.yml
  rust/main/.config/nextest.toml
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/utils/run-locally/src/cosmos/utils.rs
  rust/main/utils/run-locally/src/cosmosnative/mod.rs
  rust/main/utils/run-locally/src/sealevel/mod.rs
  rust/main/utils/run-locally/src/sealevel/solana.rs
  rust/main/utils/run-locally/src/sealevel/warp_route_composite_ism.rs
  rust/main/utils/run-locally/src/utils.rs
  rust/sealevel/client/src/main.rs
Due: none

fix(sealevel-client): reject processed commitment for transfer-remote
  rust/sealevel/client/src/main.rs
Due: none

chore(infra): update agent image tags to 524aac0
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): update RC agent image tags to 524aac0
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): update agent image tags to 524aac0 (#9735)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): enable testnet relayer scraper authority
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/test/agent-configs.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): enable testnet relayer scraper authority (#9736)
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/test/agent-configs.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): skip NES/legacy in check-warp-deploy
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): address near-head review feedback
  rust/main/agents/scraper/migration/src/frontier_publication.sql
  rust/main/agents/scraper/migration/src/frontier_publication_down.sql
  rust/main/agents/scraper/migration/src/indexes.rs
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260925_000017_verified_frontier.rs
  rust/main/agents/scraper/migration/src/verified_frontier.sql
  rust/main/agents/scraper/migration/src/verified_frontier_down.sql
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/agents/scraper/src/near_head/store.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: none

chore(infra): lower USDC/paradex rebalancer bridgeMinAcceptedAmount to 5000
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/paradex-config.yaml
Due: none

chore(infra): lower USDC/paradex rebalancer bridgeMinAcceptedAmount to 5000 (#9738)
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/paradex-config.yaml
Due: none

fix(infra): sync CARR, MITO, USDC/aleo warp getters to on-chain state
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAleoUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainCARRWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getMitosisMITOWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): sync CARR, MITO, USDC/aleo warp getters to on-chain state (#9739)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAleoUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainCARRWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getMitosisMITOWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(wormhole): clarify consistency levels
  solidity/contracts/hooks/wormhole/README.md
  solidity/contracts/hooks/wormhole/WormholeVaaHookIsm.sol
  solidity/contracts/hooks/wormhole/libs/CustomConsistencyLevel.sol
  solidity/test/hooks/WormholeHookIsm.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore(infra): bump validator-monitor image to 17dd7ac
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump validator-monitor image to 17dd7ac (#9740)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
