Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(relayer): harden scraper authority handoff
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
  rust/main/hyperlane-base/src/db/rocks/hyperlane_db.rs
  rust/main/hyperlane-base/src/scraper_websocket.rs
  typescript/scraper-proxy/src/live/event-websocket.integration.test.ts
  typescript/scraper-proxy/src/live/event-websocket.test.ts
  typescript/scraper-proxy/src/live/event-websocket.ts
  typescript/scraper-proxy/src/live/protocol.ts
  typescript/sdk/src/metadata/agentConfig.test.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): keep gas RPC authoritative
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

feat(infra): enable shared scraper authority
  rust/main/agents/relayer/src/scraper_websocket.rs
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/test/agent-configs.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): bound scraper authority handoff and freshness
  rust/main/agents/relayer/src/scraper_websocket.rs
  rust/main/hyperlane-base/src/contract_sync/mod.rs
Due: none

feat(relayer): cut over to shared scraper indexing
  .changeset/brave-relayers-share.md
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/relayer/origin.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
  rust/main/agents/relayer/src/settings/mod.rs
  typescript/infra/src/config/agent/relayer.ts
  typescript/scraper-proxy/src/live/event-websocket.integration.test.ts
  typescript/scraper-proxy/src/live/event-websocket.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): reject gas payments with unknown block metadata
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(metrics): verify inline contract sync attribution
  rust/main/hyperlane-base/src/contract_sync/mod.rs
Due: none

feat(metrics): attribute RPC requests by operation
  rust/main/Cargo.lock
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/validator/src/validator.rs
  rust/main/hyperlane-base/src/contract_sync/mod.rs
  rust/main/hyperlane-base/src/metrics/agent_metrics.rs
  rust/main/hyperlane-metric/Cargo.toml
  rust/main/hyperlane-metric/src/lib.rs
  rust/main/hyperlane-metric/src/prometheus_metric.rs
  rust/main/hyperlane-metric/src/rpc_operation.rs
  rust/main/lander/Cargo.toml
  rust/main/lander/src/dispatcher/entrypoint.rs
  rust/main/lander/src/dispatcher/stages/building_stage/building.rs
  rust/main/lander/src/dispatcher/stages/finality_stage.rs
  rust/main/lander/src/dispatcher/stages/inclusion_stage.rs
  rust/main/lander/src/dispatcher/stages/utils.rs
Due: none

fix(validator): bound optional merkle snapshot reads
  rust/main/agents/validator/src/submit/tests.rs
  rust/main/hyperlane-base/src/types/gcs_storage.rs
  rust/main/hyperlane-base/src/types/local_storage.rs
  rust/main/hyperlane-base/src/types/s3_storage.rs
  rust/main/hyperlane-base/src/types/utils.rs
Due: none

perf(ccip-server): skip decoding unrelated receipt logs
  typescript/ccip-server/.mocharc.json
  typescript/ccip-server/src/services/CCTPService.ts
  typescript/ccip-server/tests/services/CCTPService.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(warp-monitor): skip unused reads for delegated metrics
  typescript/warp-monitor/src/monitor-efficiency.test.ts
  typescript/warp-monitor/src/monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(rebalancer): coalesce concurrent token price lookups
  .changeset/tidy-prices-share.md
  typescript/rebalancer/src/metrics/PriceGetter.test.ts
  typescript/rebalancer/src/metrics/PriceGetter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(scraper-proxy): reuse cache key document metadata
  typescript/scraper-proxy/benchmarks/README.md
  typescript/scraper-proxy/src/scraperdb/cache-plugin.test.ts
  typescript/scraper-proxy/src/scraperdb/cache-plugin.ts
  typescript/scraper-proxy/src/scripts/benchmark-cache-plugin.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(keyfunder): reuse recipient balance within funding decisions
  typescript/keyfunder/src/core/KeyFunder.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(scraper): resolve sequence block heights in one query
  rust/main/agents/scraper/src/db/block.rs
  rust/main/agents/scraper/src/db/block/tests.rs
  rust/main/agents/scraper/src/db/message.rs
  rust/main/agents/scraper/src/db/payment.rs
  rust/main/agents/scraper/src/db/txn.rs
  rust/main/agents/scraper/src/store/deliveries.rs
  rust/main/agents/scraper/src/store/dispatches.rs
  rust/main/agents/scraper/src/store/payments.rs
  rust/main/agents/scraper/src/store/storage.rs
  rust/main/agents/scraper/src/store/tests.rs
Due: none

perf(relayer): defer message filter hashing and body encoding
  rust/main/hyperlane-core/src/matching_list.rs
Due: none

perf(metrics): reduce per-chain value-at-risk log amplification
  .changeset/quiet-derived-risk-logs.md
  typescript/metrics/src/update.test.ts
  typescript/metrics/src/update.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(validator): overlap pinned checkpoint read groups
  rust/main/agents/validator/src/validator.rs
Due: none

perf(validator): compact S3 checkpoints and move upload buffers
  rust/main/hyperlane-base/src/types/s3_storage.rs
Due: none

perf(rebalancer): reuse gas quote within cost estimation
  .changeset/quiet-gas-quote.md
  typescript/rebalancer/src/utils/gasEstimation.test.ts
  typescript/rebalancer/src/utils/gasEstimation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(metrics): resolve xERC20 once per limit observation
  .changeset/fresh-xerc20-observation.md
  typescript/metrics/src/balance.test.ts
  typescript/metrics/src/balance.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(ccip-server): avoid duplicate error logs for pending attestations
  typescript/ccip-server/.mocharc.json
  typescript/ccip-server/src/services/CCTPAttestationService.ts
  typescript/ccip-server/src/utils/abiHandler.ts
  typescript/ccip-server/src/utils/errors.ts
  typescript/ccip-server/tests/services/AttestationPending.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): bound Merkle insertion batches
  rust/main/agents/scraper/src/db/merkle_tree_insertion.rs
  rust/main/agents/scraper/src/db/merkle_tree_insertion/tests.rs
Due: none

perf(validator): publish newest checkpoint before sibling retries finish
  rust/main/agents/validator/src/submit.rs
  rust/main/agents/validator/src/submit/tests.rs
Due: none

perf(relayer): encode multisig metadata in one buffer
  rust/main/agents/relayer/src/merkle_tree/builder.rs
  rust/main/agents/relayer/src/msg/metadata/multisig/base.rs
  rust/main/agents/relayer/src/msg/metadata/multisig/merkle_root_multisig.rs
  rust/main/agents/relayer/src/msg/metadata/multisig/message_id_multisig.rs
  rust/main/agents/relayer/src/prover.rs
Due: none

perf(validator): release S3 cache locks before client initialization
  rust/main/hyperlane-base/src/types/s3_storage.rs
Due: none

perf(relayer): stop aggregation discovery after first eligible module
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
Due: none

fix(scraper): bound delivery and payment database batches
  rust/main/agents/scraper/src/db/message.rs
  rust/main/agents/scraper/src/db/mod.rs
  rust/main/agents/scraper/src/db/payment.rs
  rust/main/agents/scraper/src/db/write_batches.rs
Due: none

perf(rebalancer): load LiFi only when configured
  .changeset/lazy-external-bridge.md
  typescript/rebalancer/docs/performance/lazy-lifi.md
  typescript/rebalancer/src/factories/RebalancerContextFactory.test.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(relayer): preallocate aggregation metadata and write headers directly
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
Due: none

chore(scraper): clarify insert wording for spellcheck
  rust/main/agents/scraper/src/db/write_batches.rs
Due: none

perf(scraper): materialize chunks lazily and move dispatch models
  rust/main/agents/scraper/src/db/message.rs
  rust/main/agents/scraper/src/db/write_batches.rs
  rust/main/agents/scraper/src/store/storage.rs
Due: none

fix(scraper): bound block and transaction hash lookups
  rust/main/agents/scraper/src/db/block.rs
  rust/main/agents/scraper/src/db/lookup_batches.rs
  rust/main/agents/scraper/src/db/mod.rs
  rust/main/agents/scraper/src/db/txn.rs
  rust/main/agents/scraper/src/db/write_batches.rs
Due: none

perf(scraper): move raw dispatch and transaction payload buffers
  rust/main/agents/scraper/src/db/raw_message_dispatch.rs
  rust/main/agents/scraper/src/db/txn.rs
  rust/main/agents/scraper/src/db/write_batches.rs
Due: none

perf(ccip-server): load only required startup dependencies
  typescript/ccip-server/.mocharc.json
  typescript/ccip-server/benchmarks/README.md
  typescript/ccip-server/benchmarks/startup.py
  typescript/ccip-server/src/moduleRegistry.ts
  typescript/ccip-server/src/server.ts
  typescript/ccip-server/src/services/BaseService.ts
  typescript/ccip-server/src/services/CCTPService.ts
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/ccip-server/src/utils/abiHandler.ts
  typescript/ccip-server/tests/services/moduleRegistry.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ccip-server): resolve benchmark Node before sanitizing environment
  typescript/ccip-server/benchmarks/startup.py
Due: none

perf(scraper): project payment reconciliation identities
  rust/main/agents/scraper/src/db/payment.rs
  rust/main/agents/scraper/src/db/write_batches.rs
Due: none

perf(validator): hash EIP-191 checkpoint envelopes without allocation
  rust/main/hyperlane-core/src/traits/signing.rs
Due: none

perf(relayer): defer unused prepare allocations
  rust/main/agents/relayer/src/msg/pending_message.rs
Due: none

perf(scraper): add concurrent indexes for scoped event counts
  rust/main/Cargo.lock
  rust/main/agents/scraper/migration/Cargo.toml
  rust/main/agents/scraper/migration/README.md
  rust/main/agents/scraper/migration/benchmarks/event_scope_indexes.sql
  rust/main/agents/scraper/migration/bin/create_event_scope_indexes.rs
Due: oxfmt --no-error-on-unmatched-pattern --write
