Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(provider-sdk): default new-router destination gas to '0' ignoring orphaned entries
  typescript/provider-sdk/src/warp.test.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(changeset): use past tense and note new-router gas default
  .changeset/svm-fee-beneficiary-ata.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): pin warp getter destinationGas config to on-chain values (#9040)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAleoUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseEthereumESWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getSuperseedUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sealevel-sdk): export FALLBACK_SIMULATION_PAYER
  typescript/svm-sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): fund fallback simulation payer so the non-deployer-owner SVM read succeeds
  typescript/cli/src/tests/cross-chain/warp/warp-cc-evm-svm.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(svm-sdk): run prepareProgramUpgrade in SvmMailboxWriter.update
  typescript/svm-sdk/src/core/mailbox.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk,provider-sdk): surface contractVersion on core config
  typescript/deploy-sdk/src/core/core-artifact-reader.test.ts
  typescript/provider-sdk/src/core.ts
  typescript/provider-sdk/src/mailbox.ts
  typescript/sdk/src/core/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk): thread contractVersion through CoreWriter and CoreArtifactReader
  typescript/deploy-sdk/src/core/core-artifact-reader.test.ts
  typescript/deploy-sdk/src/core/core-artifact-reader.ts
  typescript/deploy-sdk/src/core/core-writer.test.ts
  typescript/deploy-sdk/src/core/core-writer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk): add contractVersion to MailboxArtifactConfig
  typescript/provider-sdk/src/mailbox.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(svm-sdk): read mailbox program version
  typescript/svm-sdk/src/core/mailbox-query.ts
  typescript/svm-sdk/src/core/mailbox.ts
  typescript/svm-sdk/src/tests/mailbox.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(svm-sdk): e2e coverage for mailbox program upgrade
  typescript/svm-sdk/scripts/run-e2e-test.sh
  typescript/svm-sdk/src/tests/mailbox-program-upgrade.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(deploy-sdk): forward contractVersion onto deployed mailbox artifact
  typescript/deploy-sdk/src/core/core-writer.test.ts
  typescript/deploy-sdk/src/core/core-writer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): EvmCoreReader populates contractVersion
  typescript/sdk/src/core/EvmCoreReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: add mailbox-program-upgrade to SVM e2e matrix
  .github/workflows/test-sdk-e2e.yml
Due: none

refactor(svm-sdk): extract shared queryProgramVersionWithOwnerFallback
  typescript/svm-sdk/src/core/mailbox-query.ts
  typescript/svm-sdk/src/hook/hook-query.ts
  typescript/svm-sdk/src/version/version-query.ts
  typescript/svm-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for mailbox program upgrade feature
  .changeset/mailbox-program-upgrade.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): address PR #8825 review comments
  .changeset/mailbox-program-upgrade.md
  typescript/svm-sdk/src/tests/mailbox-program-upgrade.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli,svm-sdk): cover mailbox contractVersion round-trip + fund fallback payer
  typescript/cli/src/tests/sealevel/core/core-apply.e2e-test.ts
  typescript/cli/src/tests/sealevel/e2e-test.setup.ts
  typescript/svm-sdk/src/tests/mailbox.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(svm-sdk): assert BPF upgrade authority in mailbox owner-transfer tests
  typescript/svm-sdk/src/tests/mailbox.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(svm-sdk): transfer BPF upgrade authority alongside mailbox owner
  typescript/svm-sdk/src/core/mailbox.ts
  typescript/svm-sdk/src/tests/mailbox.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): core check tolerates missing contractVersion on expected side
  typescript/cli/src/commands/core.ts
  typescript/cli/src/tests/sealevel/core/core-apply.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test,docs(svm-sdk,deploy-sdk): polish mailbox upgrade tests + comments
  typescript/deploy-sdk/src/core/core-artifact-reader.test.ts
  typescript/svm-sdk/src/core/mailbox.ts
  typescript/svm-sdk/src/tests/mailbox-program-upgrade.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(deploy-sdk): don't forward config contractVersion into create-path mailbox update
  typescript/deploy-sdk/src/core/core-writer.test.ts
  typescript/deploy-sdk/src/core/core-writer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): extract shared fetchPackageVersion helper
  typescript/sdk/src/core/EvmCoreReader.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/utils/contract.test.ts
  typescript/sdk/src/utils/contract.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(changeset): note create-path contractVersion change and shared fetchPackageVersion helper
  .changeset/mailbox-program-upgrade.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): pin CARR solanamainnet scale to on-chain value
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainCARRWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet3 Rust agent image
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet3 Rust agent image (#9042)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: warp read
  .changeset/fix-jsonrpc-call-empty-response.md
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove deprecated chains from mainnet3 balance configs
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove deprecated chains from mainnet3 agent configs
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/rc.json
  typescript/infra/config/environments/mainnet3/chains.ts
  typescript/infra/config/environments/mainnet3/funding.ts
  typescript/infra/config/environments/mainnet3/gasPrices.json
  typescript/infra/config/environments/mainnet3/supportedChainNames.ts
  typescript/infra/config/environments/mainnet3/tokenPrices.json
  typescript/infra/config/environments/mainnet3/validators.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: skip explorer API key GCP fetch in k8s for warp check (#9008)
  typescript/infra/src/config/chain.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(rust): remove deprecated chains from mainnet config, app contexts, and chain enum
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
  rust/main/hyperlane-core/src/chain.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(sealevel): remove deprecated chains from mainnet3 IGP and multisig configs
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/eclipsemainnet/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/solanamainnet/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/solaxy/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/sonicsvm/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/soon/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/svmbnb/hyperlane/multisig-config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove deprecated chains from SDK and TS config maps
  typescript/cli/src/verify/warp.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/chains.ts
  typescript/infra/config/environments/mainnet3/customBlacklist.ts
  typescript/infra/config/environments/mainnet3/owners.ts
  typescript/infra/config/relayer.json
  typescript/infra/src/config/chain.ts
  typescript/infra/src/config/funding/alert-query-templates.ts
  typescript/infra/src/config/gas-oracle.ts
  typescript/infra/src/config/warp.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/utils/helm.ts
  typescript/infra/src/utils/safe.ts
  typescript/sdk/src/ccip/consts.ts
  typescript/sdk/src/consts/multisigIsm.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove deprecated chains from verification and misc artifact JSONs
  typescript/infra/config/environments/mainnet3/core/verification.json
  typescript/infra/config/environments/mainnet3/ism/verification.json
  typescript/infra/config/environments/mainnet3/middleware/accounts/verification.json
  typescript/infra/config/environments/mainnet3/misc-artifacts/merkly-erc20-addresses.json
  typescript/infra/config/environments/mainnet3/misc-artifacts/merkly-eth-addresses.json
  typescript/infra/config/environments/mainnet3/testrecipient/verification.json
Due: oxfmt --no-error-on-unmatched-pattern --write

style(rust): apply cargo fmt to chain enum
  rust/main/hyperlane-core/src/chain.rs
Due: none

chore(infra): remove deprecated chains from warp route configs
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAncient8EthereumUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getArbitrumBaseEthereumOptimismPolygonZeroNetworkUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getArbitrumTiaWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBaseZeroNetworkCBBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBsquaredUBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseStrideSTTIAWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseStrideTIAWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumZircuitRe7LRTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getIncentivUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getLitLitchainWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getMantapacificTiaWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRenzoEZETHSTAGEWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRenzoEZETHWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRenzoPZETHSTAGEWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRenzoPZETHWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRenzoREZBaseEthereum.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRenzoREZStaging.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getoUSDTTokenWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/renzo.ts
  typescript/infra/config/environments/mainnet3/warp/strategies/ousdt.yaml
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
  typescript/infra/scripts/warp-routes/ousdt/prune-warp-config.ts
  typescript/infra/scripts/warp-routes/ousdt/update-submitter-strategy.ts
  typescript/infra/test/warp-configs.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove deprecated chains from governance, ICA, and rebalancer configs
  typescript/infra/config/environments/mainnet3/governance/ica/_regularLegacy.ts
  typescript/infra/config/environments/mainnet3/governance/ica/aw.ts
  typescript/infra/config/environments/mainnet3/governance/ica/regular.ts
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/incentiv-config.yaml
  typescript/infra/src/govern/HyperlaneICAChecker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove residual deprecated chain entries from governance, safes, timelocks, and sealevel helpers
  typescript/infra/config/environments/mainnet3/governance/ica/_awLegacy.ts
  typescript/infra/config/environments/mainnet3/governance/ica/regular.ts
  typescript/infra/config/environments/mainnet3/governance/ica/warpFees.ts
  typescript/infra/config/environments/mainnet3/governance/safe/aw.ts
  typescript/infra/config/environments/mainnet3/governance/safe/regular.ts
  typescript/infra/config/environments/mainnet3/governance/timelock/aw.ts
  typescript/infra/config/environments/mainnet3/governance/timelock/regular.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/check/check-validator-version.ts
  typescript/infra/scripts/safes/governance/test-icas.ts
  typescript/infra/scripts/sealevel-helpers/print-gas-oracles.ts
  typescript/infra/src/tx/govern-transaction-reader.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
