Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

test(sdk): cover CCR offchain quoted child deploy
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix lint and format regressions from eslint removal
  .github/workflows/claude-code-review.yml
  .github/workflows/ghcr-cleanup.yml
  .github/workflows/test-sdk-e2e.yml
  .github/workflows/test.yml
  .lintstagedrc
  .prettierignore
  package.json
  scripts/sort-yaml.ts
  turbo.json
  typescript/cli/examples/starknet/core-config.yaml
  typescript/cli/test-configs/test-registry/chains/starknet1/metadata.yaml
  typescript/cli/test-configs/test-registry/chains/starknet2/metadata.yaml
  typescript/starknet-sdk/package.json
  typescript/utils/src/yaml.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

update lockfile for starknet sdk cleanup
  pnpm-lock.yaml
Due: none

fix(infra): update USDC/paradex rebalancer config
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/paradex-config.yaml
Due: none

enable more oxlint type-aware coverage
  oxlint.json
Due: oxfmt --no-error-on-unmatched-pattern --write

enable additional oxlint type-aware rules
  oxlint.json
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/service.ts
  typescript/metrics/src/server.ts
  typescript/provider-sdk/src/core.ts
  typescript/provider-sdk/src/ism.ts
  typescript/provider-sdk/src/test/AltVMMockSigner.ts
  typescript/provider-sdk/src/warp.ts
  typescript/starknet-sdk/src/clients/provider.ts
  typescript/starknet-sdk/src/clients/signer.ts
  typescript/starknet-sdk/src/hook/protocol-fee-hook-artifact-manager.ts
  typescript/starknet-sdk/src/mailbox/mailbox-artifact-manager.ts
  typescript/starknet-sdk/src/testing/node.ts
  typescript/starknet-sdk/src/validator-announce/validator-announce-artifact-manager.ts
  typescript/warp-monitor/src/explorer.ts
  typescript/warp-monitor/src/monitor.ts
  typescript/warp-monitor/src/service.ts
  typescript/warp-monitor/src/utils.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

add changeset for utils yaml exports
  .changeset/utils-yaml-exports.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix follow-up lint and runtime regressions
  scripts/sort-yaml.ts
  typescript/metrics/src/server.test.ts
  typescript/metrics/src/server.ts
  typescript/starknet-sdk/src/mailbox/mailbox-artifact-manager.ts
  typescript/starknet-sdk/src/validator-announce/validator-announce-artifact-manager.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

add changeset for metrics port validation
  .changeset/metrics-port-validation.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix metrics changeset wording
  .changeset/metrics-port-validation.md
Due: oxfmt --no-error-on-unmatched-pattern --write

tweak metrics changeset phrasing
  .changeset/metrics-port-validation.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix format command and solidity lib ignore
  .prettierignore
  package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

add cast annotations for yaml sorting
  scripts/sort-yaml.ts
  typescript/utils/src/yaml.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix lint-staged race and dead oxlint override
  .husky/pre-commit
  oxlint.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: pr review
  typescript/cli/src/tests/ethereum/warp/warp-deploy-remote-routers.e2e-test.ts
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/token/config.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): support quoted CCR fee deployment
  typescript/sdk/src/fee/EvmTokenFeeDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add state API for offchain fee quoting
  typescript/rebalancer/src/api/stateApi.ts
  typescript/rebalancer/src/core/RebalancerService.ts
  typescript/rebalancer/src/index.ts
  typescript/rebalancer/test/api/stateApi.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

use oxlint config in lint-staged
  .lintstagedrc
Due: none

fix: add sealevel support to keyfunder
  typescript/infra/src/funding/key-funder.ts
  typescript/infra/test/key-funder.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(solidity): add katana vault bridge adapters
  .changeset/katana-vault-bridge-core.md
  solidity/contracts/interfaces/IInterchainAccountRouter.sol
  solidity/contracts/token/TokenBridgeKatanaRedeemIca.sol
  solidity/contracts/token/TokenBridgeKatanaVaultHelper.sol
  solidity/contracts/token/interfaces/IKatanaVaultComposer.sol
  solidity/contracts/token/interfaces/IKatanaVaultRedeemer.sol
  solidity/contracts/token/interfaces/IVaultBridgeToken.sol
  solidity/test/token/TokenBridgeKatanaVault.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat: solution for issue #3401
  commit_msg.txt
  pr_body.txt
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/src/config/types.test.ts
  typescript/keyfunder/src/config/types.ts
  typescript/keyfunder/src/core/KeyFunder.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address PR review feedback for #3401
  .changeset/curly-lions-approve.md
  commit_msg.txt
  pr_body.txt
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/src/core/KeyFunder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address follow-up review comments for #3401
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/src/config/types.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: solution for issue #4595
  commit_msg.txt
  typescript/warp-monitor/src/duster.test.ts
  typescript/warp-monitor/src/duster.ts
  typescript/warp-monitor/src/service.ts
  typescript/warp-monitor/src/types.test.ts
  typescript/warp-monitor/src/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: remove PR helper file for #4595
  commit_msg.txt
Due: none

refactor: tighten keyfunder protocol helpers for #3401
  typescript/keyfunder/src/config/types.ts
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/service.ts
  typescript/keyfunder/src/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: restore keyfunder relayer fallback coverage
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/src/utils.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: harden warp transfer dusting setup
  typescript/warp-monitor/src/duster.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): tighten keyfunder review follow-ups
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/package.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(warp-monitor): harden native dusting review follow-ups
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/service.ts
  typescript/warp-monitor/src/duster.test.ts
  typescript/warp-monitor/src/duster.ts
  typescript/warp-monitor/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(keyfunder): complete sealevel funding support
  .changeset/curly-lions-approve.md
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/package.json
  typescript/keyfunder/src/config/types.test.ts
  typescript/keyfunder/src/config/types.ts
  typescript/keyfunder/src/core/KeyFunder.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/service.ts
  typescript/keyfunder/src/utils.test.ts
  typescript/keyfunder/src/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

configure
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/hyperlane.json
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/gasPrices.json
  typescript/infra/config/environments/mainnet3/supportedChainNames.ts
  typescript/infra/config/environments/mainnet3/tokenPrices.json
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: newest relayer release for hyperlane mainnet
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: key funding fast path
  typescript/infra/config/environments/mainnet3/funding.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: update relayer (#8470)
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/funding.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: build error
  typescript/cli/src/commands/message.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

deploy
  typescript/infra/config/environments/mainnet3/core/verification.json
  typescript/infra/config/environments/mainnet3/ism/verification.json
  typescript/infra/config/environments/mainnet3/middleware/accounts/verification.json
  typescript/infra/src/config/chain.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

update agent configs
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

update agent config
  .registryrc
  rust/main/config/testnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: add composite-ism cli support
  rust/sealevel/Cargo.lock
  rust/sealevel/client/Cargo.toml
  rust/sealevel/client/README.md
  rust/sealevel/client/composite-ism.json
  rust/sealevel/client/src/composite_ism.rs
  rust/sealevel/client/src/core.rs
  rust/sealevel/client/src/main.rs
  rust/sealevel/client/src/squads.rs
  rust/sealevel/environments/local-e2e/composite-ism/sealeveltest1/program-ids.json
  rust/sealevel/environments/local-e2e/sealeveltest1/core/program-ids.json
  rust/sealevel/programs/build-programs.sh
Due: oxfmt --no-error-on-unmatched-pattern --write
