Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix: build
  Dockerfile
  typescript/metaswaps-sdk/src/utils/constants.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: skip non cctp messages
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/agents/relayer/src/relay_api/tests.rs
Due: none

fix: tests
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
  rust/main/agents/relayer/src/msg/metadata/multisig/message_id_multisig.rs
Due: none

feat: faster polling for validator signatures (#8843)
  rust/main/agents/relayer/src/msg/db_loader/tests.rs
  rust/main/agents/relayer/src/msg/metadata/aggregation.rs
  rust/main/agents/relayer/src/msg/metadata/base.rs
  rust/main/agents/relayer/src/msg/metadata/multisig/base.rs
  rust/main/agents/relayer/src/msg/metadata/multisig/message_id_multisig.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/validator/src/settings.rs
  rust/main/hyperlane-core/src/traits/pending_operation.rs
Due: none

feat: config getters for moonpay rebalancing bridges
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(rebalancer): lower USDC/superseed min/target to 3000/4000
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/superseed-config.yaml
Due: none

chore(rebalancer): lower USDC/superseed min/target to 3000/4000 (#8886)
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/superseed-config.yaml
Due: none

chore(infra): bump mainnet3 rebalancer image to 9474574-20260612-104459
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet3 rebalancer image to 9474574-20260612-104459 (#8887)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): read Starknet balances at latest block instead of pending
  .changeset/starknet-balances-latest-block.md
  typescript/sdk/src/providers/builders/starknet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): read Starknet balances at latest block instead of pending (#8888)
  .changeset/starknet-balances-latest-block.md
  typescript/sdk/src/providers/builders/starknet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: enable OffchainQuotedLinearFee on eclipse USDC/USDT FPWRs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDTWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): cover tracker concurrency feedback
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/core/RebalancerOrchestrator.ts
  typescript/rebalancer/src/monitor/Monitor.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.ts
  typescript/rebalancer/src/tracking/store/IStore.ts
  typescript/rebalancer/src/tracking/store/InMemoryStore.test.ts
  typescript/rebalancer/src/tracking/store/InMemoryStore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: expect no standing bridge allowance in warp deploy e2e
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer-sim): implement tracker batch lookups
  typescript/rebalancer-sim/src/runners/MockActionTracker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs: update atomic rebalancing changeset
  .changeset/atomic-local-rebalancing-bridge.md
  .changeset/swap-rebalancing-bridge.md
Due: oxfmt --no-error-on-unmatched-pattern --write

perf(rebalancer): split planning execution seams
  .changeset/rebalancer-planner-execution-split.md
  typescript/rebalancer/docs/rebalancer-architecture-review.md
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/bridges/LiFiBridge.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/core/RebalancerOrchestrator.ts
  typescript/rebalancer/src/interfaces/IRebalancer.ts
  typescript/rebalancer/src/planning/BalanceProjector.test.ts
  typescript/rebalancer/src/planning/BalanceProjector.ts
  typescript/rebalancer/src/planning/RoutePlanner.test.ts
  typescript/rebalancer/src/planning/RoutePlanner.ts
  typescript/rebalancer/src/planning/index.ts
  typescript/rebalancer/src/planning/types.ts
  typescript/rebalancer/src/strategy/BaseStrategy.ts
  typescript/rebalancer/src/strategy/CollateralDeficitStrategy.ts
  typescript/rebalancer/src/strategy/StrategyFactory.ts
  typescript/rebalancer/src/utils/bridgeUtils.test.ts
  typescript/rebalancer/src/utils/bridgeUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): cover planner execution review gaps
  .changeset/rebalancer-planner-execution-split.md
  typescript/rebalancer/src/bridges/LiFiBridge.ts
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/strategy/BaseStrategy.ts
  typescript/rebalancer/src/strategy/CollateralDeficitStrategy.test.ts
  typescript/rebalancer/src/utils/bridgeUtils.test.ts
  typescript/rebalancer/src/utils/bridgeUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): cover lifi lock feedback
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/core/RebalancerOrchestrator.test.ts
  typescript/rebalancer/src/utils/bridgeUtils.test.ts
  typescript/rebalancer/src/utils/bridgeUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): cover movable execution metrics
  typescript/rebalancer/src/core/Rebalancer.test.ts
  typescript/rebalancer/src/core/movable/MovableExecution.test.ts
  typescript/rebalancer/src/core/movable/TransactionPreparer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): split strategy and movable execution
  .changeset/rebalancer-strategy-movable-split.md
  typescript/rebalancer/docs/rebalancer-architecture-review.md
  typescript/rebalancer/src/core/Rebalancer.ts
  typescript/rebalancer/src/core/movable/ChainTransactionExecutor.ts
  typescript/rebalancer/src/core/movable/MovableExecution.test.ts
  typescript/rebalancer/src/core/movable/ResultRecorder.ts
  typescript/rebalancer/src/core/movable/RouteValidator.ts
  typescript/rebalancer/src/core/movable/TransactionPreparer.ts
  typescript/rebalancer/src/core/movable/types.ts
  typescript/rebalancer/src/planning/StrategyPlanner.test.ts
  typescript/rebalancer/src/planning/StrategyPlanner.ts
  typescript/rebalancer/src/planning/index.ts
  typescript/rebalancer/src/strategy/BaseStrategy.ts
  typescript/rebalancer/src/strategy/CollateralDeficitStrategy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): cover movable recorder feedback
  typescript/rebalancer/src/core/Rebalancer.test.ts
  typescript/rebalancer/src/core/movable/MovableExecution.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): split inventory and e2e fixtures
  .changeset/rebalancer-inventory-e2e-split.md
  typescript/rebalancer/docs/rebalancer-architecture-review.md
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/core/inventory/BridgeCapacityEstimator.ts
  typescript/rebalancer/src/core/inventory/IntentResolver.test.ts
  typescript/rebalancer/src/core/inventory/IntentResolver.ts
  typescript/rebalancer/src/core/inventory/InventoryMovementExecutor.ts
  typescript/rebalancer/src/core/inventory/InventoryPlanner.test.ts
  typescript/rebalancer/src/core/inventory/InventoryPlanner.ts
  typescript/rebalancer/src/core/inventory/TransferRemoteExecutor.ts
  typescript/rebalancer/src/core/inventory/types.ts
  typescript/rebalancer/src/e2e/harness/Erc20InventoryLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/Erc20LocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/MixedLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/NativeLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/RouteFixtureBuilder.test.ts
  typescript/rebalancer/src/e2e/harness/RouteFixtureBuilder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): address inventory fixture review feedback
  typescript/rebalancer/src/core/inventory/BridgeCapacityEstimator.test.ts
  typescript/rebalancer/src/core/inventory/InventoryMovementExecutor.test.ts
  typescript/rebalancer/src/core/inventory/InventoryPlanner.test.ts
  typescript/rebalancer/src/e2e/harness/RouteFixtureBuilder.test.ts
  typescript/rebalancer/src/e2e/harness/RouteFixtureBuilder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): tighten route fixture typing
  typescript/rebalancer/src/e2e/harness/RouteFixtureBuilder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(aleo): dump raw block JSON from rust client before deserialization
  rust/main/chains/hyperlane-aleo/src/provider/tests.rs
Due: none

test(aleo): add captured block JSON fixtures for the deser repro
  rust/main/chains/hyperlane-aleo/repro_artifacts/aleo_block_19154506.json
  rust/main/chains/hyperlane-aleo/repro_artifacts/aleo_block_19154507.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): retry dispatches on partial enrichment
  rust/main/agents/scraper/src/store/dispatches.rs
  rust/main/hyperlane-base/src/contract_sync/mod.rs
Due: none

fix: reject spending pre-existing native in local rebalance
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

refactor: use shared ReentrancyGuardTransient for local rebalance
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

test(aleo): parse captured block JSON fixtures offline
  rust/main/chains/hyperlane-aleo/src/provider/tests.rs
Due: none

feat: emit fee-token gas payment events
  .changeset/gold-feetoken-igp.md
  rust/main/chains/hyperlane-ethereum/abis/IInterchainGasPaymaster.abi.json
  rust/main/chains/hyperlane-tron/abis/IInterchainGasPaymaster.abi.json
  solidity/contracts/hooks/igp/InterchainGasPaymaster.sol
  solidity/contracts/interfaces/IInterchainGasPaymaster.sol
  solidity/test/igps/InterchainGasPaymaster.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor: refund native via Address.sendValue
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: prettier --write

fix(scraper): address enrichment retry review
  rust/main/agents/scraper/src/store/dispatches.rs
  rust/main/hyperlane-base/src/contract_sync/mod.rs
Due: none

fix(scraper): reconcile raw dispatch message gaps
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260613_000008_add_msg_body_to_raw_message_dispatch.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/db/generated/raw_message_dispatch.rs
  rust/main/agents/scraper/src/db/raw_message_dispatch.rs
  rust/main/agents/scraper/src/store/dispatches.rs
Due: none

fix(scraper): harden raw dispatch reconciliation
  rust/main/agents/scraper/README.md
  rust/main/agents/scraper/migration/src/m20260613_000008_add_msg_body_to_raw_message_dispatch.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/db/generated/raw_message_dispatch.rs
  rust/main/agents/scraper/src/db/raw_message_dispatch.rs
  rust/main/agents/scraper/src/store/dispatches.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

test: assert native fee-token gas payment events
  solidity/test/igps/InterchainGasPaymaster.t.sol
Due: prettier --write

feat: support fee-token IGP enforcement
  .changeset/young-fee-token-agents.md
  rust/main/agents/relayer/src/msg/gas_payment/mod.rs
  rust/main/agents/relayer/src/msg/gas_payment/policies/minimum.rs
  rust/main/agents/relayer/src/msg/gas_payment/policies/none.rs
  rust/main/agents/relayer/src/msg/gas_payment/policies/on_chain_fee_quoting.rs
  rust/main/agents/relayer/src/msg/op_batch.rs
  rust/main/agents/relayer/src/relay_api/tests.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/server/igp/list_igp_rules.rs
  rust/main/agents/relayer/src/settings/mod.rs
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260611_000008_add_gas_payment_fee_token.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/db/generated/gas_payment.rs
  rust/main/agents/scraper/src/db/payment.rs
  rust/main/chains/hyperlane-aleo/src/indexer/tests.rs
  rust/main/chains/hyperlane-aleo/src/types.rs
  rust/main/chains/hyperlane-cosmos/src/cw/interchain_gas.rs
  rust/main/chains/hyperlane-cosmos/src/native/indexers/interchain_gas.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/interchain_gas.rs
  rust/main/chains/hyperlane-radix/src/events/mod.rs
  rust/main/chains/hyperlane-sealevel/src/interchain_gas.rs
  rust/main/chains/hyperlane-tron/src/contracts/interchain_gas.rs
  rust/main/hyperlane-base/src/db/mod.rs
  rust/main/hyperlane-base/src/db/rocks/hyperlane_db.rs
  rust/main/hyperlane-base/src/db/rocks/test_utils.rs
  rust/main/hyperlane-base/src/db/storage_types.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/hyperlane-base/src/tests/mock_hyperlane_db.rs
  rust/main/hyperlane-core/src/matching_list.rs
  rust/main/hyperlane-core/src/traits/encode.rs
  rust/main/hyperlane-core/src/types/mod.rs
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: harden fee-token gas payment indexing
  .changeset/young-fee-token-agents.md
  .github/workflows/rust.yml
  .github/workflows/test.yml
  rust/main/agents/relayer/src/settings/mod.rs
  rust/main/agents/scraper/migration/src/m20230309_000005_create_table_message.rs
  rust/main/agents/scraper/migration/src/m20260611_000008_add_gas_payment_fee_token.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/interchain_gas.rs
  rust/main/chains/hyperlane-tron/src/contracts/interchain_gas.rs
  typescript/sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

artifacts
  typescript/infra/config/environments/mainnet3/core/verification.json
  typescript/infra/config/environments/mainnet3/middleware/accounts/verification.json
Due: oxfmt --no-error-on-unmatched-pattern --write
