Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(core): add LpCollateral library for non-reclaimable vault collateral
  solidity/contracts/token/libs/TokenCollateral.sol
Due: prettier --write

fix(core): size TvlRateLimited capacity on non-reclaimable collateral (HL-2026Q3-002)
  solidity/contracts/hooks/warp-route/NetFlowRateLimitedHookIsm.sol
  solidity/contracts/libs/TvlRateLimited.sol
  solidity/test/hooks/NetFlowRateLimitedHookIsm.t.sol
Due: prettier --write

fix(core): retain over-limit debt in DelayedFlowRouterHookIsm (HL-2026Q3-001)
  solidity/contracts/isms/warp-route/DelayedFlowRouterHookIsm.sol
  solidity/contracts/libs/RateLimited.sol
  solidity/test/isms/DelayedFlowRouterHookIsm.t.sol
Due: prettier --write

chore(core): note flow-limiter audit fixes in changesets
  .changeset/delayed-flow-router.md
  .changeset/neat-netflow-guard.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(core): reject delegatecall in atomic rebalancing bridge, document call authority
  .changeset/atomic-local-rebalancing-bridge.md
  solidity/contracts/middleware/libs/Call.sol
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/contracts/token/libs/MovableCollateralRouter.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(core): add optional totalAssets accounting invariant to atomic rebalancing bridge
  .changeset/atomic-local-rebalancing-bridge.md
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/contracts/token/libs/SafeTotalAssets.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore: add dedicated changeset for atomic rebalancing bridge changes
  .changeset/atomic-local-rebalancing-bridge.md
  .changeset/atomic-rebalancing-bridge-hardening.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs(infra): clarify checkpoint monitor threat model
  typescript/infra/scripts/validators/monitor-checkpoints.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: public rpc config
  rust/main/agents/validator/src/settings.rs
  rust/main/agents/validator/src/validator.rs
  rust/main/hyperlane-base/src/settings/base.rs
Due: none

fix: gaps
  rust/main/agents/validator/src/settings.rs
  rust/main/agents/validator/src/validator.rs
  rust/main/hyperlane-base/src/settings/base.rs
Due: none

fix: error logs
  rust/main/agents/validator/src/validator.rs
Due: none

feat: EVM
  rust/main/agents/validator/src/validator.rs
Due: none

fix: comments
  rust/main/agents/validator/src/settings.rs
  rust/main/agents/validator/src/validator.rs
Due: none

fix: improve logging
  rust/main/agents/validator/src/validator.rs
  typescript/infra/scripts/rpc/mock-disagree-rpc.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): prevent CCIP-read empty-data panic that wedges a destination
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
Due: none

fix(relayer): guard CCIP-read offchain hex decode against empty data
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
Due: none

fix: quorum heights
  rust/main/agents/validator/src/validator.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/merkle_tree_hook.rs
  rust/main/hyperlane-core/src/traits/merkle_tree_hook.rs
Due: none

fix: pr review
  rust/main/agents/validator/src/settings.rs
  rust/main/agents/validator/src/validator.rs
  typescript/infra/scripts/rpc/mock-disagree-rpc.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): sync USDC/aleo getter owner to on-chain/registry value
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAleoUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): sync USDC/aleo getter owner to on-chain/registry value (#9127)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getAleoUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address monitoring review findings
  .changeset/metrics-reject-non-2xx.md
  typescript/infra/scripts/validators/monitor-checkpoints.ts
  typescript/infra/test/validator-checkpoint-monitor.test.ts
  typescript/metrics/src/pushgateway.test.ts
  typescript/metrics/src/pushgateway.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: harden monitoring and stale swap recovery (#9118)
  .changeset/metrics-reject-non-2xx.md
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
  typescript/infra/scripts/validators/monitor-checkpoints.ts
  typescript/infra/test/validator-checkpoint-monitor.test.ts
  typescript/metrics/src/pushgateway.test.ts
  typescript/metrics/src/pushgateway.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): drop redundant static warp config getters in favor of registry
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBaseEthereumSuperseedCBBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBscHyperevmEnzoBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBscHyperevmSTBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainWBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseEthereumWBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumLineaTurtleWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftLegacyWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftWarpConfig.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: improved consensus
  rust/main/agents/validator/src/settings.rs
  rust/main/agents/validator/src/validator.rs
  rust/main/helm/hyperlane-agent/templates/external-secret.yaml
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/src/agents/index.ts
  typescript/infra/src/config/agent/agent.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: logs
  rust/main/agents/validator/src/validator.rs
Due: none

fix: pr review
  rust/main/agents/validator/src/validator.rs
  typescript/infra/scripts/rpc/mock-disagree-rpc.ts
  typescript/infra/src/agents/index.ts
  typescript/infra/src/config/agent/validator.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): retain AW safe/ICA warp getters for reference
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseEthereumWBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftLegacyWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftWarpConfig.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): correct stale solanamainnet dailyRelayerBurn and balance thresholds
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): nightly warp getter vs registry drift check with auto-PR
  .github/workflows/warp-registry-drift.yml
  typescript/infra/scripts/warp-routes/check-warp-registry-drift.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): drop CI workflow; drift check runs as a Haggis cron
  .github/workflows/warp-registry-drift.yml
Due: none

fix(core): make contract initialization atomic (#9092)
  .changeset/atomic-avs-registry-initialization.md
  .changeset/atomic-direct-routing-isms.md
  .changeset/atomic-mailbox-initialization.md
  .changeset/stable-tron-test-runtime.md
  rust/main/utils/run-locally/src/tron/mod.rs
  solidity/contracts/avs/ECDSAStakeRegistry.sol
  solidity/contracts/isms/routing/AtomicInitDefaultFallbackRoutingIsm.sol
  solidity/contracts/isms/routing/AtomicInitDomainRoutingIsm.sol
  solidity/contracts/isms/routing/AtomicInitIncrementalDomainRoutingIsm.sol
  solidity/contracts/isms/routing/DomainRoutingIsm.sol
  solidity/script/avs/DeployAVS.s.sol
  solidity/test/Mailbox.t.sol
  solidity/test/avs/HyperlaneServiceManager.t.sol
  solidity/test/isms/DomainRoutingIsm.t.sol
  solidity/test/isms/IncrementalDomainRoutingIsm.t.sol
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/EvmCoreModule.hardhat-test.ts
  typescript/sdk/src/core/EvmCoreModule.ts
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/core/types.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/tron-sdk/compose.yaml
  typescript/tron-sdk/src/testing/node.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(solidity): add synthetic cross-collateral router
  .changeset/synthetic-cross-collateral-router.md
  solidity/contracts/token/CrossCollateralSynthetic.sol
  solidity/test/token/CrossCollateralSynthetic.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor(core): inline SafeTotalAssets into atomic rebalancing bridge
  .changeset/atomic-rebalancing-bridge-hardening.md
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/contracts/token/libs/SafeTotalAssets.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore(infra): drop redundant static warp config getters in favor of registry (#9128)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBaseEthereumSuperseedCBBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBscHyperevmEnzoBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getBscHyperevmSTBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getCarrchainWBTCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumLineaTurtleWarpConfig.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(core): add DefaultIsm (#9103)
  .changeset/default-ism.md
  solidity/contracts/isms/routing/DefaultIsm.sol
  solidity/test/isms/routing/DefaultIsm.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(infra): make check-warp-deploy green on unevaluable AltVM routes and missing gas configs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEniWarpConfigs.ts
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/infra/scripts/check/known-unevaluable-routes.ts
  typescript/infra/test/known-unevaluable-routes.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): wire crossCollateralSynthetic token type
  .changeset/cross-collateral-synthetic-sdk.md
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/evmHyp.ts
  typescript/sdk/src/token/adapters/evmLikeHyp.ts
  typescript/sdk/src/token/adapters/tronHyp.ts
  typescript/sdk/src/token/config.ts
  typescript/sdk/src/token/configUtils.ts
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/tokenMetadataUtils.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(core): store DelayedFlowRouterHookIsm debt in a public contiguous slot
  .changeset/delayed-flow-router.md
  solidity/contracts/isms/warp-route/DelayedFlowRouterHookIsm.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore(core): add changeset for public debt storage field
  .changeset/delayed-flow-debt-public.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): remove dangling trailing 'or' in high-urgency relayer alert footer
  typescript/infra/src/config/funding/alert-query-templates.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
