Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(solidity): refactor IGP fee collection and add postDispatch invariant tests
  solidity/contracts/hooks/igp/InterchainGasPaymaster.sol
  solidity/contracts/interfaces/IInterchainGasPaymaster.sol
  solidity/contracts/middleware/AbstractInterchainAccountRouter.sol
  solidity/contracts/test/TestInterchainGasPaymaster.sol
  solidity/contracts/token/libs/TokenRouter.sol
  solidity/test/GasRouter.t.sol
  solidity/test/InterchainAccountRouter.t.sol
  solidity/test/Router.t.sol
  solidity/test/igps/IGPOffchainQuoting.t.sol
  solidity/test/igps/IGPPostDispatch.invariant.t.sol
  solidity/test/isms/ArbL2ToL1Ism.t.sol
  solidity/test/test/TestSendReceiver.t.sol
  solidity/test/token/HypERC20.t.sol
  solidity/test/token/OPL2ToL1TokenBridgeNative.t.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: prettier --write

Add graph-wide cross-collateral validation
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/deploy/warp.test.ts
  typescript/cli/src/deploy/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/crossCollateralValidation.test.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Guard same-chain cross-collateral scale mismatches
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/test/token/CrossCollateralRouter.t.sol
Due: prettier --write

Validate same-chain cross-collateral enrollments
  solidity/contracts/token/CrossCollateralRouter.sol
  solidity/test/token/CrossCollateralRouter.t.sol
Due: prettier --write

Rename message amount scale helper
  solidity/contracts/token/CrossCollateralRouter.sol
Due: prettier --write

Rename message amount token scale helper
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Simplify cross-collateral graph validation
  typescript/sdk/src/token/crossCollateralValidation.test.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Move combine validation into the SDK
  typescript/cli/src/deploy/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): use a typed missing-agent-config error
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/src/funding/key-funder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Simplify cross-collateral graph traversal
  typescript/sdk/src/token/crossCollateralValidation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Split cross-collateral validation adapters
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/crossCollateralConfiguredValidation.ts
  typescript/sdk/src/token/crossCollateralOnchainValidation.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Inline cross collateral graph validation
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/crossCollateralConfiguredValidation.ts
  typescript/sdk/src/token/crossCollateralOnchainValidation.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Simplify cross collateral scale validation
  typescript/cli/src/commands/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/crossCollateralValidation.test.ts
  typescript/sdk/src/token/crossCollateralValidation.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Polish same-chain CCR scale check
  solidity/contracts/token/CrossCollateralRouter.sol
Due: prettier --write

feat: seperate identity for relayer
  rust/main/agents/relayer/src/msg/op_batch.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/test_utils/dummy_data.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox_indexer.rs
  rust/main/chains/hyperlane-sealevel/src/provider.rs
  rust/main/chains/hyperlane-sealevel/src/utils.rs
  rust/main/chains/hyperlane-sealevel/src/validator_announce.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/lander/src/adapter/chains/radix/conf.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_config.rs
Due: none

add overrides
  rust/main/config/mainnet_config.json
  typescript/infra/config/environments/mainnet3/chains.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

drop tempo
  rust/main/config/mainnet_config.json
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/hyperlane.json
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/gasPrices.json
  typescript/infra/config/environments/mainnet3/supportedChainNames.ts
  typescript/infra/config/environments/mainnet3/tokenPrices.json
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/infra/src/config/chain.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

format
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

move warp widget example to oxlint and oxfmt
  typescript/starknet-sdk/src/mailbox/mailbox-artifact-manager.ts
  typescript/starknet-sdk/src/validator-announce/validator-announce-artifact-manager.ts
  typescript/warp-widget/examples/react-app/.oxfmtrc.json
  typescript/warp-widget/examples/react-app/.prettierrc
  typescript/warp-widget/examples/react-app/oxlint.json
  typescript/warp-widget/examples/react-app/package.json
  typescript/warp-widget/examples/react-app/pnpm-lock.yaml
  typescript/warp-widget/examples/react-app/src/App.tsx
  typescript/warp-widget/examples/react-app/src/ComponentExample.tsx
  typescript/warp-widget/examples/react-app/src/ImperativeExample.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix format
  typescript/infra/src/utils/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

remove oxfmt schema paths
  .oxfmtrc.json
  typescript/warp-widget/examples/react-app/.oxfmtrc.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: fast path relayer whitelist for USDT/ctusd route
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

narrow multicollateral oxlint unignore
  oxlint.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: fast path relayer whitelist for USDT/ctusd route (#8501)
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): skip unknown domains in routing fee config derivation
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

changeset: patch for @hyperlane-xyz/sdk
  .changeset/skip-unknown-fee-domains.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): guard against named block tags for Tron chains
  typescript/rebalancer/src/utils/blockTag.test.ts
  typescript/rebalancer/src/utils/blockTag.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(rebalancer): fix changeset tense to past tense
  .changeset/tron-rebalancer-support.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron protocol cases in InventoryRebalancer
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use hex addresses in Tron example config
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/tron-config.yaml
Due: none

feat(rebalancer): use isEVMLike for block tag and gas estimation guards
  typescript/rebalancer/src/utils/blockTag.ts
  typescript/rebalancer/src/utils/gasEstimation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): use allowlist for LiFi unsupported protocols
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/bridges/LiFiBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(rebalancer): collapse duplicate Tron/Ethereum signer derivation
  typescript/rebalancer/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(rebalancer): add Tron example config and changeset
  .changeset/tron-rebalancer-support.md
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/tron-config.yaml
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): gracefully skip unsupported protocols in LiFi bridge
  typescript/rebalancer/src/bridges/LiFiBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): prevent vacuous pass in LiFi Tron test
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron signer derivation in service entry point
  typescript/rebalancer/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add Tron address validation in config schema
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): add Tron unit tests for all new protocol code paths
  typescript/rebalancer/src/bridges/LiFiBridge.test.ts
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.test.ts
  typescript/rebalancer/src/utils/blockTag.test.ts
  typescript/rebalancer/src/utils/gasEstimation.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
