Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(svm): derive composite ISM recipient from warp router (#9450)
  .changeset/composite-ism-ratelimited-recipient.md
  .github/workflows/test-cli-e2e.yml
  typescript/cli/src/tests/sealevel/warp/warp-composite-ism.e2e-test.ts
  typescript/deploy-sdk/src/core/core-writer.test.ts
  typescript/deploy-sdk/src/core/core-writer.ts
  typescript/deploy-sdk/src/utils/validation.ts
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/composite-ism.test.ts
  typescript/provider-sdk/src/core.ts
  typescript/provider-sdk/src/ism.ts
  typescript/sdk/src/consts/testChains.ts
  typescript/sdk/src/core/types.test.ts
  typescript/sdk/src/core/types.ts
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/ism/types.ts
  typescript/sdk/src/utils/ism.test.ts
  typescript/sdk/src/utils/ism.ts
  typescript/starknet-sdk/src/tests/read-warp-token.e2e-test.ts
  typescript/svm-sdk/src/ism/composite-ism.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf: checkpoint validator WebSocket cursor writes (#9352)
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/agents/validator/src/validator.rs
Due: none

feat: support validator indexing over scraper WebSocket (#9324)
  .changeset/calm-validators-stream.md
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/agents/validator/Cargo.toml
  rust/main/agents/validator/src/main.rs
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/agents/validator/src/settings.rs
  rust/main/agents/validator/src/validator.rs
  rust/main/helm/hyperlane-agent/templates/scraper-proxy-deployment.yaml
  rust/main/helm/hyperlane-agent/values.yaml
  rust/main/hyperlane-base/src/contract_sync/mod.rs
  rust/main/hyperlane-base/src/db/rocks/hyperlane_db.rs
  rust/main/hyperlane-base/src/db/rocks/mod.rs
  rust/main/hyperlane-base/src/db/rocks/typed_db.rs
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/src/agents/index.ts
  typescript/infra/src/config/agent/agent.ts
  typescript/infra/src/config/agent/scraper-proxy.ts
  typescript/infra/src/config/agent/validator.ts
  typescript/infra/test/agent-configs.test.ts
  typescript/infra/test/scraper-proxy-helm-manager.test.ts
  typescript/infra/test/validator-helm-manager.test.ts
  typescript/scraper-proxy/src/config.ts
  typescript/scraper-proxy/src/live/event-websocket.integration.test.ts
  typescript/scraper-proxy/src/live/event-websocket.test.ts
  typescript/scraper-proxy/src/live/event-websocket.ts
  typescript/scraper-proxy/src/live/protocol.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

perf(validator): wake checkpoint submitter on insertions (#9392)
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/agents/validator/src/submit.rs
  rust/main/agents/validator/src/submit/tests.rs
  rust/main/agents/validator/src/validator.rs
Due: none

refactor(agents): share scraper websocket protocol
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/hyperlane-base/src/lib.rs
  rust/main/hyperlane-base/src/scraper_websocket.rs
Due: none

test(validator): adapt checkpoint fixture to shared event sequence
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
Due: none

fix(relayer): validate fresh stream starts
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(validator): accept empty scraper cursor
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
Due: none

fix(relayer): persist scraper replay cursors
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(sdk): use Zod 4 relayer URL schema
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): stage fresh scraper cursors
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

feat(relayer): shadow scraper event streams
  .changeset/bright-relayers-shadow.md
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
  rust/main/agents/relayer/src/lib.rs
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
  rust/main/agents/relayer/src/settings/mod.rs
  typescript/infra/src/config/agent/relayer.ts
  typescript/sdk/src/metadata/agentConfig.test.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): replay divergent fresh scraper tips
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): correlate scraper shadow streams
  rust/main/agents/relayer/src/scraper_websocket.rs
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
  rust/main/hyperlane-base/src/scraper_websocket.rs
Due: none

fix(relayer): replay correlated scraper boundaries
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

feat(infra): configure shared scraper for relayers
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/test/agent-configs.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): normalize scraper metric labels
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(scraper): support fresh empty stream cursors
  typescript/scraper-proxy/src/live/event-websocket.integration.test.ts
  typescript/scraper-proxy/src/live/event-websocket.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): persist correlated replay progress
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): harden scraper shadow validation
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): replay correlated scraper boundary
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

test(solidity): stabilize ICA batch enrollment fuzzing
  solidity/test/InterchainAccountRouter.t.sol
Due: prettier --write

chore(infra): deploy websocket indexing to testnet validators
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(solidity): stabilize ICA batch enrollment fuzzing (#9571)
  solidity/test/InterchainAccountRouter.t.sol
Due: prettier --write

chore(infra): deploy websocket indexing to mainnet validators
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(validator): include streams in subscription fixtures
  rust/main/agents/validator/src/merkle_tree_hook_sync.rs
Due: none

fix(relayer): durably queue scraper parity
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): queue scraper parity checks
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

feat(relayer): observe scraper event parity
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): scope replay cursor helper to tests
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): isolate scraper parity reads
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): serialize scraper parity persistence
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): gate parity on replay-safe baselines
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): bound scraper parity work
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): account staged parity readiness
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): advance fresh parity frontier
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): satisfy parity staging lints
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): reconcile fresh parity baselines
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(relayer): gate correlated parity by connection
  rust/main/agents/relayer/src/scraper_websocket.rs
Due: none

fix(scraper): stream payments without transaction metadata
  rust/main/agents/scraper/migration/src/m20260830_000013_gas_payment_stream_cursor.rs
  rust/main/agents/scraper/src/db/payment.rs
  rust/main/agents/scraper/src/store/tests.rs
  typescript/scraper-proxy/src/live/event-websocket.integration.test.ts
  typescript/scraper-proxy/src/live/event-websocket.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
