Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

docs(sealevel): explain absence of consume-time issued_at check
  rust/sealevel/libraries/quote-verifier/src/lib.rs
Due: none

fix(sealevel): enforce low-S in EcdsaSignature::from_bytes
  rust/sealevel/libraries/ecdsa-signature/src/lib.rs
Due: none

docs(sealevel): document min_issued_at as the quote revocation control
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor/admin.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
Due: none

fix(sealevel): enforce fee_account domain matches token local domain
  rust/sealevel/libraries/hyperlane-sealevel-token/src/error.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/instruction.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor/init.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

refactor(core): return destination router from validator and group callbacks
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
Due: prettier --write

refactor(core): type rebalance destination as ICollateralBackedToken
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/contracts/token/interfaces/ICollateralBackedToken.sol
Due: prettier --write

fix(core): lower optimizer_runs to keep CrossCollateralRouter under EIP-170
  solidity/foundry.toml
  solidity/rootHardhatConfig.cts
Due: none

feat(core): DelayedFlowRouter — amount-sensitive rate-limit + timelock ISM (#8671)
  .changeset/delayed-flow-router.md
  .changeset/fresh-rates-delay.md
  docs/delayed-flow-router.md
  solidity/contracts/isms/routing/TimelockRouter.sol
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/contracts/libs/RateLimited.sol
  solidity/test/hooks/RateLimitedHook.t.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
  solidity/test/isms/routing/TimelockRouter.t.sol
  solidity/test/lib/RateLimited.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

style(rust): format dango-added code with current stable rustfmt
  rust/main/chains/hyperlane-dango/src/contracts/igp/core.rs
  rust/main/chains/hyperlane-dango/tests/localdango.rs
  rust/main/chains/hyperlane-dango/tests/manual_relay.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/chains_settings/mod.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/mod.rs
  rust/main/chains/hyperlane-dango/tests/utils/mod.rs
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/hyperlane-base/src/settings/signers.rs
Due: none

test(relayer): align forward cursor test with dango gap-scan behavior
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/forward.rs
Due: none

chore(rust): bump starknet and cainome to drop abandoned size-of dep
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/chains/hyperlane-starknet/src/provider/client.rs
  rust/main/chains/hyperlane-starknet/src/provider/fallback.rs
  rust/main/chains/hyperlane-starknet/src/provider/metric.rs
  rust/main/chains/hyperlane-starknet/src/utils.rs
  rust/main/rust-toolchain
Due: none

chore(dango): fix clippy 1.91 lints in dango-added code
  rust/main/chains/hyperlane-dango/src/types/provider.rs
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
Due: none

chore(rust): allow lints introduced by the 1.91.0 toolchain bump
  rust/main/agents/relayer/src/msg/op_queue.rs
  rust/main/chains/hyperlane-aleo/src/application.rs
  rust/main/chains/hyperlane-cosmos/src/cw/payloads/general.rs
  rust/main/chains/hyperlane-cosmos/src/cw/payloads/ism_routes.rs
  rust/main/chains/hyperlane-cosmos/src/cw/payloads/mailbox.rs
  rust/main/chains/hyperlane-cosmos/src/cw/payloads/validator_announce.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/provider.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-core/src/matching_list.rs
  rust/main/hyperlane-metric/src/utils.rs
  rust/main/lander/src/dispatcher/stages/finality_stage.rs
Due: none

chore(dango): fix "confg" typo flagged by spellcheck
  rust/main/hyperlane-base/src/settings/chains.rs
Due: none

chore(dango): bump left-curve deps to 11bdf76
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/chains/hyperlane-dango/Cargo.toml
  rust/main/chains/hyperlane-dango/src/contracts/ism/core.rs
  rust/main/chains/hyperlane-dango/src/contracts/ism/multisig.rs
  rust/main/chains/hyperlane-dango/src/contracts/mailbox/core.rs
  rust/main/chains/hyperlane-dango/src/contracts/mailbox/indexer.rs
  rust/main/chains/hyperlane-dango/src/contracts/merkle_tree/core.rs
  rust/main/chains/hyperlane-dango/src/contracts/merkle_tree/indexer.rs
  rust/main/chains/hyperlane-dango/src/contracts/va/core.rs
  rust/main/chains/hyperlane-dango/src/types/client_wrapper.rs
  rust/main/chains/hyperlane-dango/src/types/config.rs
  rust/main/chains/hyperlane-dango/src/types/convertor.rs
  rust/main/chains/hyperlane-dango/src/types/error.rs
  rust/main/chains/hyperlane-dango/src/types/log.rs
  rust/main/chains/hyperlane-dango/src/types/provider.rs
  rust/main/chains/hyperlane-dango/src/types/singer.rs
  rust/main/chains/hyperlane-dango/tests/integration.rs
  rust/main/chains/hyperlane-dango/tests/localdango.rs
  rust/main/chains/hyperlane-dango/tests/manual_relay.rs
  rust/main/chains/hyperlane-dango/tests/run_agents.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/agent.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/chains_settings/base.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/chains_settings/dango.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/relayer.rs
  rust/main/chains/hyperlane-dango/tests/utils/agents/validator.rs
  rust/main/chains/hyperlane-dango/tests/utils/crypto.rs
  rust/main/chains/hyperlane-dango/tests/utils/dango_builder.rs
  rust/main/chains/hyperlane-dango/tests/utils/dango_helper.rs
  rust/main/chains/hyperlane-dango/tests/utils/ext.rs
  rust/main/chains/hyperlane-dango/tests/utils/startup.rs
  rust/main/hyperlane-base/Cargo.toml
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  rust/main/hyperlane-base/src/settings/signers.rs
  rust/main/hyperlane-core/Cargo.toml
  rust/main/hyperlane-core/src/error.rs
Due: none

fix: core updates
  typescript/infra/config/registry.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/check/check-deploy.ts
  typescript/infra/scripts/check/check-utils.ts
  typescript/infra/src/config/chain.ts
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/src/govern/HyperlaneCoreGovernor.ts
  typescript/infra/src/govern/HyperlaneICAChecker.ts
  typescript/infra/src/govern/ProxiedRouterGovernor.ts
  typescript/sdk/src/deploy/HyperlaneAppChecker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: aleo dynamic networks
  pnpm-lock.yaml
  typescript/widgets/package.json
  typescript/widgets/src/walletIntegrations/aleo.ts
  typescript/widgets/src/walletIntegrations/aleo/AleoProviders.tsx
  typescript/widgets/src/walletIntegrations/aleo/utils.ts
  typescript/widgets/src/walletIntegrations/aleoWallet.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: add retries
  typescript/aleo-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(core): extract TvlRateLimited base; RateLimited full-on-first-use
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/contracts/libs/RateLimited.sol
  solidity/contracts/libs/TvlRateLimited.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
  solidity/test/lib/RateLimited.t.sol
Due: prettier --write

refactor(core): reuse TvlRateLimited in NetFlow ISM
  .changeset/neat-netflow-guard.md
  solidity/contracts/hooks/warp-route/NetFlowRateLimitedHookIsm.sol
  solidity/contracts/libs/NetFlowRateLimited.sol
  solidity/test/hooks/NetFlowRateLimitedHookIsm.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor(core): add MailboxClient._isProcessing helper; NetFlow uses it
  .changeset/neat-netflow-guard.md
  solidity/contracts/client/MailboxClient.sol
  solidity/contracts/hooks/warp-route/NetFlowRateLimitedHookIsm.sol
  solidity/contracts/libs/TvlRateLimited.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(core): keep rate-limit init flag out of the contiguous storage layout
  .changeset/neat-netflow-guard.md
  solidity/contracts/libs/RateLimited.sol
  solidity/contracts/libs/TvlRateLimited.sol
  solidity/test/lib/RateLimited.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor(core): make TvlRateLimited threshold bound overridable
  .changeset/neat-netflow-guard.md
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/contracts/libs/TvlRateLimited.sol
  solidity/test/hooks/NetFlowRateLimitedHookIsm.t.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

test(core): exclude HypERC4626Collateral from NetFlow; add sole-ISM + vault-route tests
  solidity/contracts/hooks/warp-route/NetFlowRateLimitedHookIsm.sol
  solidity/test/hooks/NetFlowRateLimitedHookIsm.t.sol
Due: prettier --write

fix(sdk,cli): xERC20 warp routes for proxied tokens & non-Etherscan explorers (Tron) (#8971)
  .changeset/tron-explorer-api-gate.md
  .changeset/xerc20-proxy-type-detection.md
  .changeset/xerc20-read-normalize-bridges.md
  typescript/cli/src/commands/xerc20.ts
  typescript/sdk/src/block-explorer/utils.ts
  typescript/sdk/src/metadata/ChainMetadataManager.test.ts
  typescript/sdk/src/metadata/ChainMetadataManager.ts
  typescript/sdk/src/token/xerc20.test.ts
  typescript/sdk/src/token/xerc20.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sealevel): HLSVM-2026Q2-001 (#8948)
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/src/error.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/tests/functional.rs
Due: none

fix(sealevel): HLSVM-2026Q2-008 (#8952)
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-igp-test/src/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/pda_seeds.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

fix(sealevel): HLSVM-2026Q2-009 (#8947)
  rust/sealevel/programs/hyperlane-sealevel-igp-test/src/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
Due: none

fix(sealevel): HLSVM-2026Q2-013 (#8953)
  rust/sealevel/programs/hyperlane-sealevel-igp-test/src/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
Due: none

fix(sealevel): HLSVM-2026Q2-010 (#8946)
  rust/sealevel/libraries/account-utils/src/discriminator.rs
  rust/sealevel/libraries/account-utils/src/lib.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/accounts.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-igp-test/src/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

fix(sealevel): address HLSVM-2026Q2-014 minor audit suggestions (#8973)
  rust/sealevel/libraries/account-utils/src/discriminator.rs
  rust/sealevel/libraries/ecdsa-signature/src/lib.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/error.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/instruction.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/libraries/multisig-ism/src/multisig.rs
  rust/sealevel/libraries/quote-verifier/src/lib.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor/admin.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor/init.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/instruction.rs
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cross-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/mailbox-test/src/functional.rs
  rust/sealevel/programs/mailbox/src/processor.rs
Due: none

chore(infra): set USDT/eni tron leg min 3k target 5k
  typescript/infra/config/environments/mainnet3/rebalancer/USDT/eni-config.yaml
Due: none

fix(sealevel): resolve composite-ism CI failures
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_nested.rs
Due: none

fix(sealevel): drop unsupported RateLimited-in-fallback tests
  rust/sealevel/programs/ism/composite-ism/README.md
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_fallback_routing.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_nested.rs
Due: oxfmt --no-error-on-unmatched-pattern --write
