Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(sdk): gate XERC20 ownership transfers to xerc20 apply only
  typescript/cli/src/commands/xerc20.ts
  typescript/sdk/src/token/EvmXERC20Module.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: TEMP add xerc20 to smoke e2e to verify ownership-gate fix (revert before merge)
  .github/workflows/test-cli-e2e.yml
Due: none

test(cli): restore shared XERC20 owner after ownership-transfer e2e
  typescript/cli/src/tests/ethereum/commands/xerc20.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: revert TEMP xerc20 smoke e2e entry (verified green)
  .github/workflows/test-cli-e2e.yml
Due: none

fix: pr review
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
  typescript/ccip-server/src/services/CallCommitmentsService.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: update docs for set_paused behaviour
  rust/sealevel/programs/ism/composite-ism/README.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: only allow rate limited on warp routes
  rust/sealevel/programs/ism/composite-ism/README.md
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_rate_limited.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: per-destination-token fee granularity for CROSS/moonpay warp route (#8934)
  .changeset/moonpay-per-destination-fees.md
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: warp check for router fees
  typescript/sdk/src/token/EvmWarpRouteReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(changeset): Fixed warp read and check for remote router cross collateral fees
  .changeset/chatty-humans-reply.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: moonpay quote reader
  typescript/infra/scripts/moonpay/print-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: show targets
  typescript/infra/scripts/moonpay/print-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: cross/moonpay
  typescript/infra/scripts/moonpay/print-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: moonpay quote setter
  typescript/infra/scripts/moonpay/set-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: moonpay quote setter
  typescript/infra/scripts/moonpay/propagate-quotes.ts
  typescript/infra/scripts/moonpay/set-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: custom signer keys
  typescript/infra/scripts/moonpay/propagate-quotes.ts
  typescript/infra/scripts/moonpay/set-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(sdk): pass includeOwnership flag in XERC20 ownership unit tests
  typescript/sdk/src/token/EvmXERC20Module.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(core): make the atomic bridge Ownable
  .changeset/atomic-local-rebalancing-bridge.md
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.fork.t.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat: sealevel metaswaps reveals (#8930)
  rust/main/agents/relayer/src/msg/message_processor.rs
  rust/main/agents/relayer/src/msg/message_processor/stage/submit.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/chains/hyperlane-sealevel/Cargo.toml
  rust/main/chains/hyperlane-sealevel/src/keypair.rs
  rust/main/chains/hyperlane-sealevel/src/lib.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/rpc/client.rs
  rust/main/chains/hyperlane-sealevel/src/rpc/fallback.rs
  rust/main/chains/hyperlane-sealevel/src/trait_builder.rs
  rust/main/chains/hyperlane-sealevel/src/universal_router_reveal.rs
  rust/main/config/mainnet_config.json
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/hyperlane-core/src/traits/mailbox.rs
  rust/main/hyperlane-core/src/traits/pending_operation.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_config.rs
  typescript/ccip-server/prisma/migrations/20260617154917_add_calldata/migration.sql
  typescript/ccip-server/prisma/migrations/20260617200000_add_calldata_user_salt/migration.sql
  typescript/ccip-server/prisma/migrations/20260617210000_rename_calldata_columns/migration.sql
  typescript/ccip-server/prisma/migrations/20260622000000_add_calldata_reveal_accounts/migration.sql
  typescript/ccip-server/prisma/schema.prisma
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/aw-validators/rc.json
  typescript/infra/helm/offchain-lookup-server/values-mainnet.yaml
  typescript/infra/src/agents/index.ts
  typescript/infra/src/config/agent/agent.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: add set quote skill
  .claude/skills/set-moonpay-standing-quotes/SKILL.md
  typescript/infra/scripts/moonpay/set-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): stop counting bridged amount as native fee in quoteTransferRemoteGas
  .changeset/native-warp-route-quote-fix.md
  typescript/sdk/src/token/adapters/EvmHypSyntheticAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: apply oxfmt formatting to EvmHypSyntheticAdapter test
  typescript/sdk/src/token/adapters/EvmHypSyntheticAdapter.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: print script
  typescript/infra/scripts/moonpay/print-quotes.ts
  typescript/infra/scripts/moonpay/propagate-quotes.ts
  typescript/infra/scripts/moonpay/set-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): drop redundant Address cast in quoteTransferRemoteGas
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): stop counting bridged amount as native fee in quoteTransferRemoteGas (#8966)
  .changeset/native-warp-route-quote-fix.md
  typescript/sdk/src/token/adapters/EvmHypSyntheticAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk,cli): address xerc20 ownership-transfer review comments
  .changeset/xerc20-ownership-transfer.md
  typescript/cli/src/commands/xerc20.ts
  typescript/sdk/src/token/EvmXERC20Module.test.ts
  typescript/sdk/src/token/EvmXERC20Module.ts
  typescript/sdk/src/token/EvmXERC20Reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): disable miraclechain agents
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): treat miraclechain as sunset like swell
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/funding.ts
  typescript/infra/src/config/chain.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

audit: TimelockRouter enforcing wrappers + internal extension hooks
  .changeset/delayed-flow-router.md
  docs/delayed-flow-router.md
  solidity/contracts/isms/routing/TimelockRouter.sol
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(sealevel): validate transient quote fee_token_mint at consume time
  rust/sealevel/programs/hyperlane-sealevel-igp/src/processor.rs
Due: none

feat: deployed fastpath isms
  typescript/infra/config/environments/mainnet3/fastpath/isms.json
  typescript/infra/scripts/validators/fastpath/check-fastpath-isms.ts
  typescript/infra/scripts/validators/fastpath/deploy-fastpath-isms.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add announcement scripts for fastpath
  typescript/infra/scripts/validators/fastpath/announce-fastpath-validators.ts
  typescript/infra/scripts/validators/fastpath/check-fastpath-validator-announce.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: fast ism e2e testing
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/fastpath/test-recipients.json
  typescript/infra/scripts/validators/fastpath/check-fastpath-messages.ts
  typescript/infra/scripts/validators/fastpath/deploy-fastpath-isms.ts
  typescript/infra/scripts/validators/fastpath/deploy-fastpath-test-recipients.ts
  typescript/infra/scripts/validators/fastpath/test-fastpath-ism.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: add retries
  typescript/infra/scripts/moonpay/set-quotes.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: new fast isms
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/fastpath/isms.json
  typescript/infra/config/environments/mainnet3/fastpath/test-recipients.json
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDCCitreaMoonpayWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTCitreaMoonpayWarpConfig.ts
  typescript/infra/scripts/validators/fastpath/check-fastpath-isms.ts
  typescript/infra/scripts/validators/fastpath/deploy-fastpath-isms.ts
  typescript/infra/scripts/validators/fastpath/test-fastpath-ism.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: no route errors
  rust/sealevel/programs/ism/composite-ism/src/metadata_spec.rs
Due: none

fix: aleo view methods
  typescript/aleo-sdk/src/clients/provider.ts
  typescript/aleo-sdk/src/utils/helper.ts
  typescript/aleo-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
