Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(svm-sdk): apply CodeRabbit review feedback
  .changeset/svm-extend-program-cluster-aware.md
  typescript/cli/src/tests/sealevel/warp/warp-legacy-upgrade-fee.e2e-test.ts
  typescript/svm-sdk/src/clients/signer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): bound CCIP read responses
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
Due: none

fix(relayer): bound and validate CCIP-read responses (#9047)
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
Due: none

fix(relayer): harden CCIP-read requests against SSRF
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
Due: none

fix(relayer): restrict CCIP-read network destinations (#9048)
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
Due: none

docs(skills): ask user for ambiguous quote recipient instead of defaulting to wildcard
  .claude/skills/warp-manage-offchain-quotes/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): add Squads signer-rotation script, rotate regular signers (#8993)
  typescript/infra/config/environments/mainnet3/governance/signers/regular.ts
  typescript/infra/config/environments/mainnet3/governance/utils.ts
  typescript/infra/scripts/squads/governance/update-signers.ts
  typescript/infra/src/utils/squads.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: use newest registry commit
  .registryrc
Due: none

fix: update agent configs
  rust/main/config/mainnet_config.json
  rust/main/config/testnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: add index
  rust/main/config/testnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: solanadevnet core deployment (#9055)
  .changeset/solanadevnet-multisig-ism.md
  .registryrc
  rust/main/config/mainnet_config.json
  rust/main/config/testnet_config.json
  rust/sealevel/environments/devnet/mock-registry/chains/metadata.yaml
  rust/sealevel/environments/devnet/multisig-ism-message-id/solanadevnet/hyperlane/multisig-config.json
  rust/sealevel/environments/devnet/solanadevnet/core/program-ids.json
  rust/sealevel/environments/testnet4/gas-oracle-configs.json
  typescript/infra/config/docker.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/config/environments/testnet4/aw-validators/hyperlane.json
  typescript/infra/config/environments/testnet4/funding.ts
  typescript/infra/config/environments/testnet4/gasPrices.json
  typescript/infra/config/environments/testnet4/owners.ts
  typescript/infra/config/environments/testnet4/supportedChainNames.ts
  typescript/infra/config/environments/testnet4/tokenPrices.json
  typescript/infra/config/environments/testnet4/validators.ts
  typescript/infra/scripts/sealevel-helpers/print-gas-oracles.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: prisma build
  typescript/ccip-server/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: prisma
  package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: warp send
  rust/sealevel/programs/hyperlane-sealevel-token-cctp/src/processor.rs
  typescript/sdk/src/token/adapters/SealevelCctpAdapter.ts
  typescript/sdk/src/token/adapters/SealevelTokenAdapter.ts
  typescript/sdk/src/token/adapters/sealevelHyp.ts
  typescript/sdk/src/token/adapters/serialization.ts
  typescript/svm-sdk/src/warp/collateral-cctp-token.ts
  typescript/svm-sdk/src/warp/warp-tx.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: remove redundant prisma generate from ccip-server build (#9071)
  package.json
  typescript/ccip-server/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(cli): address warp alt create review comments
  .changeset/cli-warp-alt-create-followup.md
  typescript/cli/src/deploy/warp-alt.ts
  typescript/cli/src/tests/sealevel/warp/warp-alt.e2e-test.ts
  typescript/cli/src/utils/warp.test.ts
  typescript/cli/src/utils/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: solana cctp attestation support
  pnpm-lock.yaml
  rust/sealevel/programs/hyperlane-sealevel-token-cctp/src/circle.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cctp/src/ism.rs
  typescript/ccip-server/package.json
  typescript/ccip-server/src/services/CCTPAttestationService.ts
  typescript/ccip-server/src/services/CCTPService.ts
  typescript/ccip-server/tests/services/CCTPAttestationService.test.ts
  typescript/sdk/src/token/adapters/SealevelCctpAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): address second round of warp alt create review comments
  typescript/cli/src/deploy/warp-alt.ts
  typescript/cli/src/utils/warp.test.ts
  typescript/cli/src/utils/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli): fix warp alt create invalid --chain assertion
  typescript/cli/src/tests/sealevel/warp/warp-alt.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): pin LUMIA proxyAdmin owner to on-chain value (#9054)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getArbitrumAvalancheBaseBscEthereumLumiaprismOptimismPolygonLUMIAWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): harden svm warp alt create after review (#9007)
  .changeset/cli-warp-alt-create-followup.md
  typescript/cli/src/check/warp-alt.ts
  typescript/cli/src/deploy/warp-alt.ts
  typescript/cli/src/tests/sealevel/warp/warp-alt.e2e-test.ts
  typescript/cli/src/utils/warp.test.ts
  typescript/cli/src/utils/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs: reword warp-check changeset in past tense
  .changeset/warp-check-zero-hook-normalization.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs: drop inaccurate altVM-mirror claim in warp check
  .changeset/warp-check-zero-hook-normalization.md
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): pin check-warp-deploy to latest monorepo image
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: normalize zero-address hook in warp check (#9065)
  .changeset/warp-check-zero-hook-normalization.md
  typescript/sdk/src/token/warpCheck.test.ts
  typescript/sdk/src/token/warpCheck.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: cctp authority
  rust/sealevel/programs/hyperlane-sealevel-token-cctp/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-token-cctp/src/processor.rs
  solidity/contracts/token/TokenBridgeCctpBase.sol
  solidity/contracts/token/TokenBridgeCctpV2.sol
  solidity/test/token/TokenBridgeCctp.t.sol
  typescript/deploy-sdk/src/warp/warp-reader.ts
  typescript/infra/helm/offchain-lookup-server/values-testnet.yaml
  typescript/provider-sdk/src/ism.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/adapters/SealevelCctpAdapter.ts
  typescript/svm-sdk/src/alt/cctp-token-alt-writer.ts
  typescript/svm-sdk/src/alt/warp-alt-manager.ts
  typescript/svm-sdk/src/clients/signer.ts
  typescript/svm-sdk/src/constants.ts
  typescript/svm-sdk/src/legacy-compat.ts
  typescript/svm-sdk/src/pda.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(infra): address review — drop unfounded tron reader change, harden clear scripts
  .changeset/isaddressactive-tron-nonce.md
  typescript/infra/scripts/check/clear-skipped-owner-status.ts
  typescript/infra/scripts/check/clear-utils.ts
  typescript/infra/scripts/check/clear-warp-violations-batch.ts
  typescript/infra/test/owner-status-skip.test.ts
  typescript/sdk/src/contracts/contracts.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): address review — testable clear helper, correct rollout doc
  typescript/infra/scripts/check/clear-skipped-owner-status.ts
  typescript/infra/scripts/check/clear-utils.ts
  typescript/infra/test/clear-utils.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(skills): protocol-agnostic balance check in /warp-deploy-fund-deployer Step 5
  .claude/skills/warp-deploy-fund-deployer/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs(skills): document token-type / fee-wrapper coupling in /warp-deploy-init-route Step 4
  .claude/skills/warp-deploy-init-route/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(skills): protocol-agnostic ownership transfer + target-owner sanity check
  .claude/skills/warp-deploy-update-owners/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(skills): self-owned EOA exception in /warp-deploy-validate-owners 3d
  .claude/skills/warp-deploy-validate-owners/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(skills): non-prod EOA exception via ticket label in /warp-deploy-validate-owners
  .claude/skills/warp-deploy-validate-owners/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(infra): address CodeRabbit — pushgateway timeout, trim TSV fields
  typescript/infra/scripts/check/clear-utils.ts
  typescript/infra/scripts/check/clear-warp-violations-batch.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): enforce PushGateway delete deadline explicitly
  typescript/infra/scripts/check/clear-utils.ts
  typescript/infra/test/clear-utils.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk): add ProtocolProvider.getMinGasForWarpDeploy
  typescript/provider-sdk/src/protocol.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sealevel-sdk): implement getMinGasForWarpDeploy with observed deltas
  typescript/svm-sdk/src/clients/protocol.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(altvm-sdks): implement getMinGasForWarpDeploy stubs for non-Sealevel SDKs
  typescript/aleo-sdk/src/clients/protocol.ts
  typescript/cosmos-sdk/src/clients/protocol.ts
  typescript/radix-sdk/src/clients/protocol.ts
  typescript/starknet-sdk/src/clients/protocol.ts
  typescript/tron-sdk/src/clients/protocol.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(deploy-sdk): satisfy new ProtocolProvider member in mock stubs
  typescript/deploy-sdk/src/core/core-artifact-reader.test.ts
  typescript/deploy-sdk/src/core/core-writer.test.ts
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
