Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

chore: add changeset for zk-hardhat solidity version bump
  .changeset/zk-solc-version-bump.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: remove dummy changeset
  .changeset/zk-solc-version-bump.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: batch config update
  rust/sealevel/Cargo.lock
  rust/sealevel/Cargo.toml
  rust/sealevel/libraries/account-utils/src/lib.rs
  rust/sealevel/programs/ism/composite-ism/Cargo.toml
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/error.rs
  rust/sealevel/programs/ism/composite-ism/src/instruction.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_chunked_config.rs
  rust/sealevel/programs/ism/composite-ism/tests/svm_limits.rs
Due: none

feat: added pda based routing ism and improve multisig ism
  rust/sealevel/Cargo.lock
  rust/sealevel/programs/ism/composite-ism/Cargo.toml
  rust/sealevel/programs/ism/composite-ism/README.md
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/error.rs
  rust/sealevel/programs/ism/composite-ism/src/instruction.rs
  rust/sealevel/programs/ism/composite-ism/src/metadata_spec.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_multisig.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_routing.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

test: add functional tests for nested routing isms
  rust/sealevel/programs/ism/composite-ism/README.md
  rust/sealevel/programs/ism/composite-ism/src/account_metas.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
  rust/sealevel/programs/ism/composite-ism/src/verify.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_nested.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: pin zk-hardhat solidity to 0.8.28 (#8543)
  solidity/zk-hardhat.config.cts
Due: none

test(svm-sdk): add e2e tests for CC router canonicalization and CC-only gas
  typescript/svm-sdk/src/tests/cross-collateral-token.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: add e2e test with mainnet config
  rust/main/Cargo.lock
  rust/main/chains/hyperlane-sealevel/src/composite_ism.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/utils/run-locally/src/sealevel/composite_ism.rs
  rust/sealevel/client/src/composite_ism.rs
  rust/sealevel/client/src/main.rs
  rust/sealevel/environments/local-e2e/warp-routes/testwarproute/program-ids.json
  rust/sealevel/programs/ism/composite-ism/src/instruction.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: add patch changeset for @hyperlane-xyz/core
  .changeset/patch-core-prepack.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(cli): accept all CC token standards in warp combine validation
  typescript/cli/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: read RoutingFee domains when parsing setFeeRecipient (#8542)
  typescript/infra/src/tx/govern-transaction-reader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli): add SVM cross-collateral warp deploy + combine e2e test
  typescript/cli/src/tests/sealevel/warp/warp-cross-collateral.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add patch changeset for @hyperlane-xyz/core (#8544)
  .changeset/patch-core-prepack.md
Due: oxfmt --no-error-on-unmatched-pattern --write

test(cli): add cross-chain EVM+SVM cross-collateral warp e2e test
  typescript/cli/src/tests/cross-chain/e2e-test.setup.ts
  typescript/cli/src/tests/cross-chain/warp/warp-cc-evm-svm.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add Igra warp routes (IKAS, WSTETH, CBBTC, USDC)
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  rust/main/config/mainnet_config.json
  typescript/infra/config/environments/mainnet3/governance/ica/warpFees.ts
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/igra-config.yaml
  typescript/infra/config/environments/mainnet3/warp/configGetters/getIgraUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: remove type cast
  typescript/infra/config/environments/mainnet3/warp/configGetters/getIgraUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address review findings for SVM cross-collateral CLI support
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/cross-chain/warp/warp-cc-evm-svm.e2e-test.ts
  typescript/cli/src/tests/sealevel/warp/warp-cross-collateral.e2e-test.ts
  typescript/cli/src/tests/utils.ts
  typescript/provider-sdk/src/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/svm-sdk/src/tests/cross-collateral-token.e2e-test.ts
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
  typescript/svm-sdk/src/warp/warp-tx.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for SVM cross-collateral CLI support
  .changeset/cc-cli-review-fixes.md
Due: oxfmt --no-error-on-unmatched-pattern --write

ci: enable SVM cross-collateral e2e tests in CI matrices
  .github/workflows/test-cli-e2e.yml
Due: none

fix(sdk): RoutingFee deployer reuses same LinearFee for all destinations
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for routing fee deployer cache fix
  .changeset/fix-routing-fee-deployer-cache.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: address PR review findings for SVM cross-collateral gas handling
  typescript/cli/src/tests/cross-chain/warp/warp-cc-evm-svm.e2e-test.ts
  typescript/provider-sdk/src/warp.ts
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): args-aware deployer cache prevents same-name contract collisions
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/middleware/account/InterchainAccountDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: add unit and integration tests for args-aware deployer cache
  typescript/sdk/src/deploy/HyperlaneDeployer.test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(cli): svm cross collateral token deployments in the cli (#8548)
  .changeset/cc-cli-review-fixes.md
  .github/workflows/test-cli-e2e.yml
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/cross-chain/e2e-test.setup.ts
  typescript/cli/src/tests/cross-chain/warp/warp-cc-evm-svm.e2e-test.ts
  typescript/cli/src/tests/sealevel/warp/warp-cross-collateral.e2e-test.ts
  typescript/cli/src/tests/utils.ts
  typescript/provider-sdk/src/warp.ts
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/svm-sdk/src/index.ts
  typescript/svm-sdk/src/tests/cross-collateral-token.e2e-test.ts
  typescript/svm-sdk/src/warp/cross-collateral-token.ts
  typescript/svm-sdk/src/warp/warp-tx.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: assert chainBps
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: drop bytecode from cache key, not needed for in-memory cache
  typescript/sdk/src/deploy/HyperlaneDeployer.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: simplify to single cache layer using cachedAddresses directly
  typescript/sdk/src/deploy/HyperlaneDeployer.test.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Handle cross-collateral decimals in checker
  .changeset/green-bananas-juggle.md
  typescript/sdk/src/token/checker.test.ts
  typescript/sdk/src/token/checker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add verify-warp-contracts Claude skill
  .claude/skills/verify-warp-contracts/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(skills): add verify-warp-contracts Claude skill (#8551)
  .claude/skills/verify-warp-contracts/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: token deploy tx overrides (#8526)
  .changeset/smooth-radios-agree.md
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: warp send tx prepare (#8516)
  .changeset/shiny-donuts-explode.md
  typescript/cli/src/send/transfer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: add big isms to test limits
  rust/sealevel/programs/ism/composite-ism/README.md
  rust/sealevel/programs/ism/composite-ism/tests/common/mod.rs
  rust/sealevel/programs/ism/composite-ism/tests/functional_big_isms.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: add cli support for composite ism
  rust/sealevel/client/composite-ism.json
  rust/sealevel/client/src/composite_ism.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: domain routing read
  rust/sealevel/client/src/composite_ism.rs
  rust/sealevel/programs/ism/composite-ism/src/accounts.rs
  rust/sealevel/programs/ism/composite-ism/src/processor.rs
Due: none

feat(infra): add bsc and katana proxy admin addresses to USDCSTAGE getter
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCSTAGEWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: e2e testing
  rust/main/config/local_config.json
  rust/main/config/local_validator_config.json
  rust/sealevel/client/composite-ism.json
Due: oxfmt --no-error-on-unmatched-pattern --write

style(sdk): format checker cross-collateral fix
  typescript/sdk/src/token/checker.test.ts
  typescript/sdk/src/token/checker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
