Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt --write, prettier --write

fix(cli): add ISM_READ to CommandType and chain resolver
  typescript/cli/src/commands/signCommands.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/tests/cosmosnative/ism.e2e-test.ts
Due: oxfmt --write

refactor(rebalancer-sim): Flatten directory structure and consolidate types
  typescript/rebalancer-sim/README.md
  typescript/rebalancer-sim/scripts/generate-scenarios.ts
  typescript/rebalancer-sim/src/BridgeMockController.ts
  typescript/rebalancer-sim/src/KPICollector.ts
  typescript/rebalancer-sim/src/MessageTracker.ts
  typescript/rebalancer-sim/src/RebalancerSimulationHarness.ts
  typescript/rebalancer-sim/src/ScenarioGenerator.ts
  typescript/rebalancer-sim/src/ScenarioLoader.ts
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
  typescript/rebalancer-sim/src/bridges/index.ts
  typescript/rebalancer-sim/src/bridges/types.ts
  typescript/rebalancer-sim/src/deployment/index.ts
  typescript/rebalancer-sim/src/deployment/types.ts
  typescript/rebalancer-sim/src/engine/index.ts
  typescript/rebalancer-sim/src/harness/index.ts
  typescript/rebalancer-sim/src/index.ts
  typescript/rebalancer-sim/src/kpi/index.ts
  typescript/rebalancer-sim/src/kpi/types.ts
  typescript/rebalancer-sim/src/mailbox/index.ts
  typescript/rebalancer-sim/src/rebalancer/index.ts
  typescript/rebalancer-sim/src/rebalancer/types.ts
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer-sim/src/runners/SimpleRunner.ts
  typescript/rebalancer-sim/src/runners/SimulationRegistry.ts
  typescript/rebalancer-sim/src/scenario/index.ts
  typescript/rebalancer-sim/src/scenario/predefined/balanced-2chain.json
  typescript/rebalancer-sim/src/scenario/predefined/imbalanced-3chain.json
  typescript/rebalancer-sim/src/scenario/types.ts
  typescript/rebalancer-sim/src/types.ts
  typescript/rebalancer-sim/src/visualizer/HtmlTimelineGenerator.ts
  typescript/rebalancer-sim/src/visualizer/index.ts
  typescript/rebalancer-sim/src/visualizer/types.ts
  typescript/rebalancer-sim/test/integration/full-simulation.test.ts
  typescript/rebalancer-sim/test/integration/harness-setup.test.ts
  typescript/rebalancer-sim/test/integration/inflight-guard.test.ts
  typescript/rebalancer-sim/test/scenarios/unidirectional.test.ts
Due: oxfmt --write

chore: update lockfile for eslint 9.39.2
  pnpm-lock.yaml
Due: none

fix(infra): fix check-warp-deploy failures (#7981)
  .changeset/gcp-logger-propagation.md
  typescript/infra/scripts/check/check-warp-deploy.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
  typescript/utils/src/logging.ts
Due: oxfmt --write

test(cli): add ism read verification to Aleo and Radix e2e tests
  typescript/cli/src/tests/aleo/ism.e2e-test.ts
  typescript/cli/src/tests/radix/ism.e2e-test.ts
Due: oxfmt --write

perf: memoize dynamic import in IcaTxSubmitter to avoid repeated runtime cost
  typescript/sdk/src/providers/transactions/submitter/IcaTxSubmitter.ts
Due: oxfmt --write

fix(igp): add domain tracking to setTokenGasOracles
  solidity/contracts/hooks/igp/InterchainGasPaymaster.sol
Due: prettier --write

fix(sdk): pass from address correctly in HypNative checker
  .changeset/fix-hypnative-checker-ci.md
  typescript/sdk/src/token/checker.ts
Due: oxfmt --write

fix(sdk): convert bps/ppm in configureCctpV2MaxFee and add schema validation
  solidity/contracts/token/TokenBridgeCctpV2.sol
  typescript/sdk/src/token/EvmERC20WarpRouteReader.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.ts
Due: oxfmt --write, prettier --write

fix(sdk): pass from address correctly in HypNative checker (#7982)
  .changeset/fix-hypnative-checker-ci.md
  typescript/sdk/src/token/checker.ts
Due: oxfmt --write

fix(cctp): disallow 100% fee in _setMaxFeeBps
  solidity/contracts/token/TokenBridgeCctpV2.sol
Due: prettier --write

revert: remove dynamic imports from submitters
  typescript/sdk/src/providers/transactions/submitter/IcaTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TimelockSubmitter.ts
Due: oxfmt --write

fix: resolve import cycle warnings in relayer, cli, and infra packages
  typescript/cli/src/config/warp.ts
  typescript/cli/src/context/apiKeys.ts
  typescript/cli/src/context/context.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/utils/warp.ts
  typescript/cli/src/utils/warpRouteIds.ts
  typescript/infra/config/environments/mainnet3/governance/utils.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/agents/retry-messages.ts
  typescript/infra/src/agents/key-utils.ts
  typescript/infra/src/governance.ts
  typescript/infra/src/governanceTypes.ts
  typescript/infra/src/paths.ts
  typescript/relayer/src/metadata/aggregation.test.ts
  typescript/relayer/src/metadata/aggregation.ts
  typescript/relayer/src/metadata/decode.ts
Due: oxfmt --write

refactor: fix import cycles and remove re-exports
  .changeset/fix-import-cycles.md
  typescript/cli/src/context/context.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/utils/warp.ts
  typescript/cli/src/verify/warp.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getMatchainUSDCWarpConfig.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/keys/get-timelocks.ts
  typescript/infra/scripts/safes/governance/check-safe-signers.ts
  typescript/infra/scripts/safes/governance/update-signers.ts
  typescript/infra/src/config/chain.ts
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/src/govern/types.ts
  typescript/infra/src/governance.ts
  typescript/infra/src/tx/govern-transaction-reader.ts
  typescript/infra/src/utils/safe.ts
  typescript/infra/src/utils/safeApiKey.ts
Due: oxfmt --write

chore: add relayer to changeset
  .changeset/fix-import-cycles.md
Due: oxfmt --write

refactor: use dependency injection for submitter factories
  .changeset/fix-import-cycles.md
  typescript/sdk/src/providers/transactions/submitter/IcaTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TimelockSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/submitterBuilderGetter.ts
  typescript/sdk/src/providers/transactions/submitter/types.ts
Due: oxfmt --write

fix(lander): add tolerance buffer to timing assertion in test_inclusion_gas_spike
  rust/main/lander/src/tests/evm/test_utils.rs
Due: none

fix: preserve DeployEnvironment type in extracted paths module
  typescript/infra/src/paths.ts
Due: oxfmt --write

fix(radix-sdk): fixed update logic in artifact writers because it was using the current signer instead of the current artifact owner
  typescript/radix-sdk/src/hook/igp-hook.ts
  typescript/radix-sdk/src/ism/routing-ism.ts
  typescript/radix-sdk/src/warp/collateral-token.ts
  typescript/radix-sdk/src/warp/synthetic-token.ts
Due: oxfmt --write

fix(starknet): add retry logic to fetch-contracts-release.sh
  starknet/scripts/fetch-contracts-release.sh
Due: none

Handle runtime watcher errors with onError callback
  typescript/http-registry-server/src/services/registryService.ts
  typescript/http-registry-server/src/services/watcherService.ts
  typescript/http-registry-server/test/services/registryService.test.ts
Due: oxfmt --write

Implement incremental routing ism
  solidity/contracts/isms/routing/DomainRoutingIsm.sol
  solidity/contracts/isms/routing/IncrementalDomainRoutingIsm.sol
Due: prettier --write

Implement tests and factory
  solidity/contracts/isms/routing/DomainRoutingIsm.sol
  solidity/contracts/isms/routing/IncrementalDomainRoutingIsm.sol
  solidity/contracts/isms/routing/IncrementalDomainRoutingIsmFactory.sol
  solidity/test/isms/DomainRoutingIsm.t.sol
  solidity/test/isms/IncrementalDomainRoutingIsm.t.sol
Due: prettier --write

Implement ISM update in SDK
  typescript/sdk/src/ism/EvmIsmModule.ts
  typescript/sdk/src/ism/types.ts
  typescript/sdk/src/ism/utils.ts
Due: oxfmt --write

Update deployer and reader
  typescript/sdk/src/deploy/contracts.ts
  typescript/sdk/src/deploy/types.ts
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/ism/EvmIsmReader.test.ts
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/utils/ism.ts
Due: oxfmt --write

Address PR comments
  solidity/contracts/isms/routing/IncrementalDomainRoutingIsm.sol
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/utils/contract.ts
Due: oxfmt --write, prettier --write

Address more PR comments
  typescript/sdk/src/ism/EvmIsmReader.test.ts
  typescript/sdk/src/ism/types.ts
  typescript/sdk/src/ism/utils.ts
Due: oxfmt --write

Revert .only changes
  typescript/sdk/src/ism/EvmIsmReader.test.ts
Due: oxfmt --write

fix(sdk): handle INCREMENTAL_ROUTING in routingModuleDelta
  typescript/sdk/src/ism/utils.ts
Due: oxfmt --write

chore: add --retry-connrefused for connection-level retries
  starknet/scripts/fetch-contracts-release.sh
Due: none

chore: add changeset for incremental routing ISM
  .changeset/incremental-routing-ism.md
Due: oxfmt --write

fix: remove redundant rpcUrl from Radix test metadata
  typescript/cli/test-configs/test-registry/chains/radix1/metadata.yaml
  typescript/cli/test-configs/test-registry/chains/radix2/metadata.yaml
Due: none

Fall back to polling on watcher error
  typescript/http-registry-server/src/services/registryService.ts
  typescript/http-registry-server/test/services/registryService.test.ts
Due: oxfmt --write

fix(starknet): add retry logic to fetch-contracts-release.sh (#7984)
  starknet/scripts/fetch-contracts-release.sh
Due: none

Set isWatcherActive before watch() for defensive ordering
  typescript/http-registry-server/src/services/registryService.ts
Due: oxfmt --write

ci(rebalancer-sim): Move to separate workflow with path filters
  .github/workflows/rebalancer-sim-test.yml
  .github/workflows/test.yml
Due: none

Add tests for polling fallback after watcher errors
  typescript/http-registry-server/test/services/registryService.test.ts
Due: oxfmt --write

Support .yml files in watcher regex
  typescript/http-registry-server/src/services/watcherService.ts
Due: oxfmt --write

feat(http-registry-server): add file watching for local filesystem registries (#7952)
  .changeset/http-registry-file-watching.md
  typescript/http-registry-server/HttpServer.ts
  typescript/http-registry-server/src/services/registryService.ts
  typescript/http-registry-server/src/services/watcherService.ts
  typescript/http-registry-server/test/services/registryService.test.ts
  typescript/infra/config/registry.ts
  typescript/infra/scripts/http-registry.ts
Due: oxfmt --write

test(ica): add coverage tests for feeToken(bytes memory) function
  solidity/test/InterchainAccountRouter.t.sol
Due: prettier --write

Path conditions:
  oxfmt --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.md)
  prettier --write: any of: *.sol
