Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

hardhat: add viem plugin across solidity and TypeScript configs
  solidity/hardhat.config.cts
  solidity/package.json
  solidity/tron-hardhat.config.cts
  solidity/zk-hardhat.config.cts
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
  typescript/infra/hardhat.config.cts
  typescript/relayer/hardhat.config.cts
  typescript/sdk/hardhat.config.cts
Due: oxfmt --no-error-on-unmatched-pattern --write

tests: drop remaining ethers imports in ccip-server and rebalancer-sim
  typescript/ccip-server/tests/services/LightClientService.test.ts
  typescript/ccip-server/tests/services/ProofsService.test.ts
  typescript/rebalancer-sim/test/integration/harness-setup.test.ts
  typescript/rebalancer-sim/test/utils/simulation-helpers.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove legacy ethersV5 submitter module copies
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5GnosisSafeTxBuilder.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5GnosisSafeTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5ImpersonatedAccountTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5JsonRpcTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TimelockSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TxSubmitterInterface.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.ts
  typescript/sdk/src/providers/transactions/submitter/evm/types.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

hardhat: remove hardhat-ethers plugin deps and config imports
  solidity/hardhat.config.cts
  solidity/package.json
  solidity/tron-hardhat.config.cts
  solidity/zk-hardhat.config.cts
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
  typescript/infra/hardhat.config.cts
  typescript/relayer/hardhat.config.cts
  typescript/sdk/hardhat.config.cts
Due: oxfmt --no-error-on-unmatched-pattern --write

sdk: reduce zksync-ethers usage in provider and token utilities
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/adapters/M0PortalLiteTokenAdapter.ts
  typescript/sdk/src/utils/fork.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

solidity-tests: stop relying on generated typechain factories
  solidity/test/lib/mailboxes.ts
  solidity/test/merkle.test.ts
  solidity/test/message.test.ts
  solidity/test/mockMailbox.test.ts
  solidity/test/signer.ts
  solidity/test/testrecipient.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

hardhat-tests: replace hre.ethers signers with viem-backed signers
  typescript/helloworld/src/test/deploy.test.ts
  typescript/helloworld/src/test/helloworld.test.ts
  typescript/infra/test/govern.hardhat-test.ts
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

rebalancer-e2e: migrate harness and suites off zksync-ethers
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
  typescript/rebalancer/src/e2e/composite.e2e-test.ts
  typescript/rebalancer/src/e2e/harness/BridgeSetup.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/harness/TransferHelper.ts
  typescript/rebalancer/src/e2e/minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/weighted.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

solidity-tests: migrate ethers utility usage to viem
  pnpm-lock.yaml
  solidity/package.json
  solidity/test/lib/mailboxes.ts
  solidity/test/merkle.test.ts
  solidity/test/message.test.ts
  solidity/test/mockMailbox.test.ts
  solidity/test/signer.ts
  solidity/test/testrecipient.test.ts
  typescript/sdk/src/providers/SmartProvider/HyperlaneEtherscanProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

rebalancer-sim: migrate runtime providers and signers off zksync-ethers
  typescript/infra/scripts/send-test-messages.ts
  typescript/rebalancer-sim/src/KPICollector.ts
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer-sim/src/runners/SimpleRunner.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove ethers import from hyperlane json rpc provider
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

deps: remove ethers and ethersproject from TypeScript package manifests
  typescript/helloworld/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

tooling: remove typechain ethers-v6 integrations
  solidity/hardhat.config.cts
  solidity/package.json
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

sdk-tests: remove ethers imports from smart provider tests
  typescript/sdk/src/providers/SmartProvider/SmartProvider.foundry-test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

cli-tests: migrate ICA and warp-apply suites off zksync providers
  typescript/cli/src/tests/ethereum/ica/ica-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-rebalancing-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-submitters.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-bridge-utils.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-ica.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk-tests: replace ethers helpers in timelock reader hardhat tests
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove final ethers imports from provider stack
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove ethers imports from hyperlane deployer
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk-tests: remove direct hardhat-ethers plugin import
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

infra-agents: migrate cloud key signer construction to local viem signer
  typescript/infra/src/agents/gcp.ts
  typescript/infra/src/agents/keys.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove ethers type imports from provider type map
  typescript/sdk/src/providers/ProviderType.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

solidity: drop hardhat-waffle usage and dependency
  solidity/hardhat.config.cts
  solidity/package.json
  solidity/test/testrecipient.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

cli-tests: switch command deploy helpers to local viem signer
  typescript/cli/src/tests/ethereum/commands/helpers.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

solidity: remove direct ethers dependencies from package manifest
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

hardhat: remove waffle dependencies across TypeScript packages
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
  typescript/infra/hardhat.config.cts
  typescript/relayer/hardhat.config.cts
  typescript/sdk/hardhat.config.cts
Due: oxfmt --no-error-on-unmatched-pattern --write

sdk: drop zksync-ethers dependency after provider migration
  typescript/sdk/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

cli-tests: replace wallet-address derivations with viem accounts
  typescript/cli/src/tests/cross-chain/warp/warp-apply.e2e-test.ts
  typescript/cli/src/tests/cross-chain/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/commands/xerc20.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-init.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-3.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-4.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-basic.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-recovery.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-resumable.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-init.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-read.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

helloworld: switch deploy script signer to viem local account
  typescript/helloworld/src/scripts/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

cli-tests: migrate warp check and deploy suites off zksync signer types
  typescript/cli/src/tests/ethereum/warp/warp-check-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-5.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

cli: switch key utility signer creation to local viem signer
  typescript/cli/src/utils/keys.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

deps: drop ethers catalog entry from workspace
  pnpm-workspace.yaml
Due: none

sdk-hardhat-tests: migrate signer plumbing from hre.ethers to hre.viem
  typescript/sdk/src/contracts/contracts.hardhat-test.ts
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/EvmCoreModule.hardhat-test.ts
  typescript/sdk/src/core/EvmIcaModule.hardhat-test.ts
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.hardhat-test.ts
  typescript/sdk/src/gas/oracle/configure-gas-oracles.hardhat-test.ts
  typescript/sdk/src/hook/EvmHookModule.hardhat-test.ts
  typescript/sdk/src/ica/EvmIcaReader.hardhat-test.ts
  typescript/sdk/src/ism/EvmIsmModule.hardhat-test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/middleware/account/accounts.hardhat-test.ts
  typescript/sdk/src/middleware/query/queries.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/test/hardhatViem.ts
  typescript/sdk/src/timelock/evm/EvmTimelockDeployer.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk-core: remove typechain mailbox event dependency
  solidity/package.json
  typescript/sdk/src/core/events.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

solidity-tests: migrate hardhat helpers and tests to hre.viem
  solidity/test/merkle.test.ts
  solidity/test/message.test.ts
  solidity/test/mockMailbox.test.ts
  solidity/test/signer.ts
  solidity/test/testrecipient.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk-tests: replace hardhat signer helper zksync dependency
  typescript/sdk/src/test/hardhatViem.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

cli-avs: replace zksync wallet keyfile flow with local keystore decrypt
  typescript/cli/src/avs/stakeRegistry.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

sdk-provider: rewrite json rpc provider without zksync-ethers
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

cli-tests: migrate core suite signer setup off zksync-ethers
  typescript/cli/src/tests/context/ensure-evm-signers.test.ts
  typescript/cli/src/tests/ethereum/core/core-apply.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/deployTestErc20.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

tests: remove remaining hardhat-waffle imports from TS suites
  pnpm-lock.yaml
  typescript/helloworld/src/test/deploy.test.ts
  typescript/relayer/package.json
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
