Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt --write, prettier --write

chore: merge main and update lockfile
  pnpm-lock.yaml
Due: none

fix: address PR review nits
  solidity/contracts/mock/MockValueTransferBridge.sol
  typescript/rebalancer-sim/src/MockInfrastructureController.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
Due: oxfmt --write, prettier --write

fix(sealevel): allocate RPC and faucet ports independently to avoid collisions
  rust/main/utils/run-locally/src/sealevel/mod.rs
  rust/main/utils/run-locally/src/sealevel/solana.rs
  rust/main/utils/run-locally/src/utils.rs
Due: none

feat(rebalancer-sim): Add MockActionTracker for ProductionRebalancer inflight tracking (#8033)
  solidity/contracts/mock/MockValueTransferBridge.sol
  typescript/cli/src/tests/ethereum/warp/warp-rebalancer.e2e-test.ts
  typescript/rebalancer-sim/scenarios/inflight-guard.json
  typescript/rebalancer-sim/src/BridgeMockController.ts
  typescript/rebalancer-sim/src/MessageTracker.ts
  typescript/rebalancer-sim/src/MockInfrastructureController.ts
  typescript/rebalancer-sim/src/RebalancerSimulationHarness.ts
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
  typescript/rebalancer-sim/src/index.ts
  typescript/rebalancer-sim/src/runners/MockActionTracker.ts
  typescript/rebalancer-sim/src/runners/ProductionRebalancerRunner.ts
  typescript/rebalancer-sim/src/types.ts
  typescript/rebalancer-sim/test/integration/full-simulation.test.ts
  typescript/rebalancer-sim/test/integration/harness-setup.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
  typescript/rebalancer/src/core/RebalancerService.ts
  typescript/rebalancer/src/index.ts
Due: oxfmt --write, prettier --write

fix: format all changed files with oxfmt to pass CI
  package.json
  starknet/package.json
  typescript/ccip-server/package.json
  typescript/eslint-config/package.json
  typescript/github-proxy/package.json
  typescript/helloworld/package.json
  typescript/infra/package.json
  typescript/rebalancer-sim/package.json
  typescript/sdk/package.json
  typescript/tron-sdk/package.json
  typescript/tsconfig/package.json
  typescript/utils/package.json
  typescript/widgets/package.json
Due: none

fix(sealevel): add sealeveltest3 to mock registry metadata
  rust/main/utils/run-locally/src/sealevel/solana.rs
Due: none

feat(sealevel): add reproducible Docker builds for Solana programs
  .github/workflows/sealevel-build.yml
  rust/sealevel/docker/Dockerfile
  rust/sealevel/docker/Dockerfile.dockerignore
  rust/sealevel/docker/build.sh
  rust/sealevel/programs/build-programs.sh
Due: none

fix: migrate remaining packages from prettier to oxfmt format scripts
  pnpm-lock.yaml
  solidity/package.json
  starknet/package.json
  typescript/ccip-server/package.json
  typescript/github-proxy/package.json
  typescript/helloworld/package.json
  typescript/infra/package.json
  typescript/rebalancer-sim/package.json
  typescript/sdk/package.json
  typescript/tron-sdk/package.json
  typescript/utils/package.json
  typescript/widgets/package.json
Due: none

chore(ci): switch sealevel build workflow from BuildJet to Depot
  .github/workflows/sealevel-build.yml
Due: none

fix(aleo-sdk): Use correct 'supply' field in getTotalSupply
  typescript/aleo-sdk/src/clients/provider.ts
Due: oxfmt --write

chore(aleo-sdk): ported OnChainArtifactManagers from warp impleemntation branch (omit on rebase)
  typescript/aleo-sdk/src/utils/types.ts
Due: oxfmt --write

fix(aleo-sdk): fix mailbox deployment logic
  typescript/aleo-sdk/src/clients/protocol.ts
  typescript/aleo-sdk/src/mailbox/mailbox-artifact-manager.ts
  typescript/aleo-sdk/src/mailbox/mailbox-query.ts
  typescript/aleo-sdk/src/mailbox/mailbox.ts
Due: oxfmt --write

test(aleo-sdk): added mailbox deployment/update lgoic tests for the artifact api impl
  typescript/aleo-sdk/src/tests/7_mailbox_artifacts.e2e-test.ts
Due: oxfmt --write

feat(infra): enable viction scraping
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxfmt --write

feat(infra): enable viction scraping (#8067)
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxfmt --write

fix(scraper): add retry logic to init-db database connection
  rust/main/agents/scraper/migration/bin/common.rs
Due: none

fix: preserve DeployEnvironment type in extracted paths module
  typescript/infra/src/paths.ts
Due: oxfmt --write

refactor: use dependency injection for submitter factories
  .changeset/fix-import-cycles.md
  typescript/sdk/src/providers/transactions/submitter/IcaTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TimelockSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/submitterBuilderGetter.ts
  typescript/sdk/src/providers/transactions/submitter/types.ts
Due: oxfmt --write

fix: resolve import cycle warnings in relayer, cli, and infra packages
  typescript/cli/src/config/warp.ts
  typescript/cli/src/context/apiKeys.ts
  typescript/cli/src/context/context.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/utils/warp.ts
  typescript/cli/src/utils/warpRouteIds.ts
  typescript/infra/config/environments/mainnet3/governance/utils.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/src/agents/key-utils.ts
  typescript/infra/src/governance.ts
  typescript/infra/src/governanceTypes.ts
  typescript/infra/src/paths.ts
  typescript/relayer/src/metadata/aggregation.test.ts
  typescript/relayer/src/metadata/aggregation.ts
  typescript/relayer/src/metadata/decode.ts
Due: oxfmt --write

fix(cli): correct import path for requestAndSaveApiKeys after rebase
  typescript/cli/src/ism/deploy.ts
Due: oxfmt --write

refactor: fix import cycles and remove re-exports
  .changeset/fix-import-cycles.md
  typescript/cli/src/context/context.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/utils/warp.ts
  typescript/cli/src/verify/warp.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/keys/get-timelocks.ts
  typescript/infra/scripts/safes/governance/check-safe-signers.ts
  typescript/infra/scripts/safes/governance/update-signers.ts
  typescript/infra/src/config/chain.ts
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/src/govern/types.ts
  typescript/infra/src/governance.ts
  typescript/infra/src/tx/govern-transaction-reader.ts
  typescript/infra/src/utils/safe.ts
  typescript/infra/src/utils/safeApiKey.ts
Due: oxfmt --write

chore: add relayer to changeset
  .changeset/fix-import-cycles.md
Due: oxfmt --write

fix: address review nits — skip sleep on last attempt, use expect over unwrap
  rust/main/agents/scraper/migration/bin/common.rs
Due: none

fix: address review comments on import types, assert usage, and Set constructor
  oxlint.json
  typescript/infra/config/environments/mainnet3/governance/utils.ts
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/src/govern/types.ts
  typescript/infra/src/paths.ts
  typescript/infra/src/utils/safeApiKey.ts
  typescript/sdk/src/providers/transactions/submitter/submitterBuilderGetter.ts
  typescript/sdk/src/providers/transactions/submitter/types.ts
Due: oxfmt --write

fix: redact database password from init-db connection log
  rust/main/agents/scraper/migration/bin/common.rs
Due: none

refactor(rebalancer): auto-sync MockExplorerClient via ForkIndexer
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
  typescript/rebalancer/src/e2e/composite.e2e-test.ts
  typescript/rebalancer/src/e2e/harness/ForkIndexer.test.ts
  typescript/rebalancer/src/e2e/harness/ForkIndexer.ts
  typescript/rebalancer/src/e2e/harness/MockExplorerClient.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/weighted.e2e-test.ts
Due: oxfmt --write

feat(infra): add InventoryRebalancer role to key management tooling
  typescript/infra/src/agents/key-utils.ts
  typescript/infra/src/roles.ts
Due: oxfmt --write

feat(infra): wire HYP_INVENTORY_KEY through rebalancer helm chart and fix HYP_KEY env var mismatch
  typescript/infra/helm/rebalancer/templates/_helpers.tpl
  typescript/infra/helm/rebalancer/templates/env-var-external-secret.yaml
Due: none

refactor(rebalancer): use scale=1 for local token deployment, remove message body normalization
  typescript/rebalancer/src/e2e/harness/ForkIndexer.ts
  typescript/rebalancer/src/e2e/harness/LocalDeploymentManager.ts
Due: oxfmt --write

refactor(rebalancer): replace spawnAnvil with testcontainers and enable parallel CI
  .github/workflows/rebalancer-e2e-test.yml
  pnpm-lock.yaml
  typescript/rebalancer/package.json
  typescript/rebalancer/src/e2e/harness/LocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/PortAllocator.ts
  typescript/utils/src/anvil/index.ts
Due: oxfmt --write

feat(rebalancer): add TestRebalancer builder for e2e tests
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
Due: oxfmt --write

feat(rebalancer): add balance presets for e2e tests
  typescript/rebalancer/src/e2e/fixtures/routes.ts
Due: oxfmt --write

refactor(rebalancer): migrate first e2e test to use TestRebalancer builder
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
Due: oxfmt --write

refactor(rebalancer): migrate second e2e test to use TestRebalancer builder
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
Due: oxfmt --write

refactor(rebalancer): use orchestrator in service for daemon mode
  typescript/rebalancer/src/core/RebalancerService.ts
Due: oxfmt --write

Path conditions:
  oxfmt --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.md)
  prettier --write: any of: *.sol
