Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(scraper): address near-head review feedback
  docs/scraper/near-head.md
  rust/main/Cargo.lock
  rust/main/agents/scraper/Cargo.toml
  rust/main/agents/scraper/README.md
  rust/main/agents/scraper/migration/src/lib.rs
  rust/main/agents/scraper/migration/src/m20260925_000017_verified_frontier.rs
  rust/main/agents/scraper/migration/src/verified_frontier.sql
  rust/main/agents/scraper/migration/src/verified_frontier_down.sql
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/runtime.rs
  rust/main/agents/scraper/src/near_head/runtime/tests.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/agents/scraper/src/near_head/store.rs
  rust/main/agents/scraper/src/near_head/store/tests.rs
  rust/main/agents/scraper/src/near_head/tests.rs
  rust/main/chains/hyperlane-sealevel/src/interchain_gas.rs
  rust/main/chains/hyperlane-sealevel/src/lib.rs
  rust/main/chains/hyperlane-sealevel/src/mailbox_indexer.rs
  rust/main/chains/hyperlane-sealevel/src/provider.rs
  rust/main/chains/hyperlane-sealevel/src/rpc/client.rs
  rust/main/chains/hyperlane-sealevel/src/rpc/fallback.rs
  rust/main/chains/hyperlane-starknet/src/indexer.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-core/src/traits/provider.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

test(svm-sdk): trim redundant routing multisig ISM e2e tests and tighten limits assertions
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
  typescript/svm-sdk/src/tests/ism.e2e-test.ts
  typescript/svm-sdk/src/tests/routing-message-id-multisig-ism-limits.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(tron): handle RateLimitedIsm in ISM dry_run_verify
  rust/main/chains/hyperlane-tron/abis/IRateLimitedIsm.abi.json
  rust/main/chains/hyperlane-tron/src/ism/interchain_security_module.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(tron): mirror EVM Null/aggregation/routing ISM dry-run handling
  rust/main/chains/hyperlane-tron/abis/IRateLimitedIsm.abi.json
  rust/main/chains/hyperlane-tron/src/ism/interchain_security_module.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(tron): mirror EVM Null/aggregation/routing ISM dry-run handling (#9756)
  rust/main/chains/hyperlane-tron/abis/IRateLimitedIsm.abi.json
  rust/main/chains/hyperlane-tron/src/ism/interchain_security_module.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet3 and testnet4 relayer image to 308bb8e
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet3 and testnet4 relayer image to 308bb8e (#9758)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk): define protocol address contexts
  typescript/provider-sdk/src/index.ts
  typescript/provider-sdk/src/protocol.test.ts
  typescript/provider-sdk/src/protocol.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: pass chain addresses to protocol factories
  typescript/aleo-sdk/src/clients/protocol.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/hook/apply.ts
  typescript/cli/src/hook/deploy.ts
  typescript/cli/src/hook/read.ts
  typescript/cosmos-sdk/src/clients/protocol.ts
  typescript/deploy-sdk/src/core/core-artifact-reader.ts
  typescript/deploy-sdk/src/core/core-writer.ts
  typescript/deploy-sdk/src/hook/hook-reader.ts
  typescript/deploy-sdk/src/hook/hook-writer.ts
  typescript/deploy-sdk/src/warp/warp-reader.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/infra/scripts/alt-vm/igp.ts
  typescript/radix-sdk/src/clients/protocol.ts
  typescript/radix-sdk/src/hook/hook-artifact-manager.ts
  typescript/sdk/src/deploy/warp.ts
  typescript/starknet-sdk/src/clients/protocol.ts
  typescript/svm-sdk/src/clients/protocol.ts
  typescript/svm-sdk/src/tests/protocol.unit-test.ts
  typescript/tron-sdk/src/clients/protocol.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add protocol context changeset
  .changeset/full-provider-context.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs: track EVM artifact migration branches
  docs/2026-09-28-evm-artifact-api-migration-research.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): lower routing multisig validator cap to 24 and read program id from deployed.address
  .changeset/routing-message-id-multisig-reader-writer.md
  typescript/svm-sdk/src/instructions/multisig-ism-message-id.ts
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
  typescript/svm-sdk/src/tests/routing-message-id-multisig-ism-limits.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): fit multisig ISM update batches in Squads proposals and no-op renounced updates
  typescript/infra/test/sealevel-multisig-ism-squads-proposal.test.ts
  typescript/svm-sdk/src/instructions/multisig-ism-message-id.ts
  typescript/svm-sdk/src/ism/composite-ism-chunking.unit-test.ts
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
  typescript/svm-sdk/src/tests/ism.e2e-test.ts
  typescript/svm-sdk/src/tx.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(keyfunder): isolate per-chain funding failures
  .changeset/keyfunder-isolate-chain-failures.md
  typescript/keyfunder/src/core/KeyFunder.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/metrics/Metrics.test.ts
  typescript/keyfunder/src/metrics/Metrics.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(keyfunder): isolate per-chain funding failures (#9759)
  .changeset/keyfunder-isolate-chain-failures.md
  typescript/keyfunder/src/core/KeyFunder.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/metrics/Metrics.test.ts
  typescript/keyfunder/src/metrics/Metrics.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(scraper): index all supported VMs near head
  docs/scraper/near-head.md
  rust/main/agents/scraper/README.md
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/runtime/tests.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/chains/hyperlane-starknet/src/indexer.rs
  rust/main/hyperlane-base/src/settings/chains.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump keyfunder image to 112541b
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump keyfunder image to 112541b (#9760)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): respect protocol minimum heights
  docs/scraper/near-head.md
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): anchor empty Radix domains at contract tip
  docs/scraper/near-head.md
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/tests.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): apply routing multisig ISM size caps only to created or changed domains
  .changeset/routing-message-id-multisig-reader-writer.md
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(radix): initialize scraper before backfill batch
  rust/main/utils/run-locally/src/radix/mod.rs
Due: none

fix(svm-sdk): probe expected config domains when updating a routing multisig ISM
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(scraper): address near-head review feedback
  rust/main/Cargo.lock
  rust/main/agents/scraper/Cargo.toml
  rust/main/agents/scraper/src/near_head/mod.rs
  rust/main/agents/scraper/src/near_head/runtime.rs
  rust/main/agents/scraper/src/near_head/source.rs
  rust/main/chains/hyperlane-sealevel/src/provider.rs
  rust/main/hyperlane-core/src/traits/provider.rs
Due: none

refactor(layerzero): simplify hook ISM integration
  solidity/contracts/hooks/layerzero/LayerZeroV2HookIsm.sol
  solidity/contracts/hooks/layerzero/README.md
  solidity/contracts/hooks/layerzero/libs/LayerZeroConfigType.sol
  solidity/contracts/libs/LayerZeroMetadata.sol
  solidity/contracts/mock/MockLayerZeroEndpointV2.sol
  solidity/foundry.toml
  solidity/hardhat.config.cts
  solidity/test/hooks/LayerZeroV2HookIsm.fork.t.sol
  solidity/test/hooks/LayerZeroV2HookIsm.t.sol
  solidity/tron-hardhat.config.cts
Due: oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore(infra): skip retired NES/legacy and unreadable FASTUSD/ethereum-sei in check-warp-deploy
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(infra): state the real reasons FASTUSD/ethereum-sei is skipped in check-warp-deploy
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): address review nits on the routing multisig ISM writer
  .changeset/routing-message-id-multisig-reader-writer.md
  typescript/svm-sdk/src/instructions/multisig-ism-message-id.ts
  typescript/svm-sdk/src/ism/composite-ism-chunking.unit-test.ts
  typescript/svm-sdk/src/ism/composite-ism.ts
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
  typescript/svm-sdk/src/tx.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(cli): support routingMessageIdMultisigIsm in core and warp with e2e and CI
  .github/workflows/test-cli-e2e.yml
  typescript/cli/examples/sealevel/warp-config-routing-message-id-multisig-ism.yaml
  typescript/cli/src/config/ism.ts
  typescript/cli/src/deploy/warp.test.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/hook/read.ts
  typescript/cli/src/tests/sealevel/core/core-routing-message-id-multisig-ism.e2e-test.ts
  typescript/cli/src/tests/sealevel/warp/warp-routing-message-id-multisig-ism.e2e-test.ts
  typescript/infra/scripts/alt-vm/igp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(svm-sdk): match the shared threshold validation message
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(svm-sdk): cover address-only artifacts in the routing multisig ISM writer update
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk): validate and thread knownDomainIds for routing message-id multisig ISM
  typescript/deploy-sdk/src/core/core-artifact-reader.test.ts
  typescript/deploy-sdk/src/core/core-writer.test.ts
  typescript/deploy-sdk/src/hook/hook-writer.test.ts
  typescript/deploy-sdk/src/ism/generic-ism-context.test.ts
  typescript/deploy-sdk/src/ism/generic-ism-writer.ts
  typescript/deploy-sdk/src/ism/generic-ism.test.ts
  typescript/deploy-sdk/src/ism/generic-ism.ts
  typescript/deploy-sdk/src/utils/validation.test.ts
  typescript/deploy-sdk/src/utils/validation.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk): add routingMessageIdMultisigIsm ISM type wiring and shared domain validation
  typescript/provider-sdk/src/altvm.ts
  typescript/provider-sdk/src/chain.ts
  typescript/provider-sdk/src/composite-ism.test.ts
  typescript/provider-sdk/src/domain-routing-multisig-validation.test.ts
  typescript/provider-sdk/src/fee.test.ts
  typescript/provider-sdk/src/hook.test.ts
  typescript/provider-sdk/src/ism.ts
  typescript/provider-sdk/src/protocol.ts
  typescript/provider-sdk/src/routing-message-id-multisig-ism.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): accept the reader's renounced owner in the routing multisig ISM schema
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/ism/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(svm-sdk): register routing message-id multisig ISM in the artifact manager
  typescript/svm-sdk/src/clients/protocol.ts
  typescript/svm-sdk/src/ism/ism-artifact-manager.ts
  typescript/svm-sdk/src/ism/ism-artifact-manager.unit-test.ts
  typescript/svm-sdk/src/ism/ism-query.ts
  typescript/svm-sdk/src/ism/multisig-ism.ts
  typescript/svm-sdk/src/ism/routing-message-id-multisig-ism.unit-test.ts
  typescript/svm-sdk/src/tests/ism.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(provider-sdk): keep an explicitly deployed routing multisig ISM when merging artifacts
  typescript/provider-sdk/src/ism.ts
  typescript/provider-sdk/src/routing-message-id-multisig-ism.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): reject Sealevel-only ISMs before deploying anything in EVM ISM updates
  typescript/sdk/src/ism/EvmIsmModule.test.ts
  typescript/sdk/src/ism/EvmIsmModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for routing message-id multisig ISM wiring
  .changeset/routing-message-id-multisig-ism.md
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): inherit the generic owner schema for the routing multisig ISM
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/ism/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add routingMessageIdMultisigIsm config schema and getKnownDomainIds lookup
  typescript/sdk/src/index.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/ism/types.ts
  typescript/sdk/src/ism/utils.test.ts
  typescript/sdk/src/ism/utils.ts
  typescript/sdk/src/metadata/ChainMetadataManager.test.ts
  typescript/sdk/src/metadata/ChainMetadataManager.ts
  typescript/sdk/src/metadata/ChainMetadataResolver.test.ts
  typescript/sdk/src/metadata/ChainMetadataResolver.ts
  typescript/sdk/src/utils/ism.test.ts
  typescript/sdk/src/utils/ism.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
