Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --write"],
  "*.ts": ["oxlint", "oxfmt --write"],
  "*.md": "oxfmt --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --write"
}

cover scheme-relative safe url normalization inputs
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

dedupe safe url scheme detection helper
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

fix(rebalancer-sim): handle anvil shutdown race on process exit
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

cover scheme-relative safe urls with query fragments
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

fail fast on empty safe service url metadata
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

document empty safe service url fail-fast behavior
  .changeset/angry-boats-clean.md
Due: oxfmt --write

cover host-only userinfo spoof safe key detection
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

reject non-http safe service urls explicitly
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

clarify fail-fast non-http url behavior in changeset
  .changeset/angry-boats-clean.md
Due: oxfmt --write

reuse shared http url parser in safe helpers
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): cover and harden local anvil stop failures
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

cover non-default safe service port normalization
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

treat mailto-like schemes as explicit safe URL schemes
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

note non-authority scheme rejection in changeset
  .changeset/angry-boats-clean.md
Due: oxfmt --write

differentiate malformed vs non-http safe service urls
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

sync changeset with malformed-http fail-fast behavior
  .changeset/angry-boats-clean.md
Due: oxfmt --write

fix(rebalancer-sim): handle unsent stop signals for local anvil
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): match additional docker socket connection errors
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

chore: document latest anvil fallback hardening in changeset
  .changeset/ts6-beta-upgrade.md
Due: oxfmt --write

fail fast on invalid colon-delimited safe urls
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

document invalid colon-url fail-fast in changeset
  .changeset/angry-boats-clean.md
Due: oxfmt --write

chore(infra): update relayer balance thresholds
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Due: oxfmt --write

cover data-url non-http scheme rejection
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): cover SIGTERM-exit stop path and refresh runtime docs
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

classify generic colon schemes as explicit safe urls
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

note generic colon-scheme handling in changeset
  .changeset/angry-boats-clean.md
Due: oxfmt --write

cover safe api key detection with explicit non-default port
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

cover malformed https url with query fail-fast path
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): detect docker socket permission-denied runtime failures
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

cover urn and blob non-http safe url rejection
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

reject slash-prefixed relative safe service urls
  typescript/sdk/src/utils/gnosisSafe.test.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --write

document slash-prefixed safe url fail-fast behavior
  .changeset/angry-boats-clean.md
Due: oxfmt --write

test(rebalancer-sim): match Windows docker named-pipe runtime errors
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): detect nested docker runtime unavailability errors
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): cover cyclic runtime error cause chains
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
Due: oxlint, oxfmt --write

cover scheme-relative safe urls with non-default port
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

fix: use correct decimals for Aleo wallet balance metric
  rust/main/hyperlane-core/src/metrics/agent.rs
Due: none

cover scheme-relative root safe URL normalization
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write

test(rebalancer-sim): traverse object cause and errors in runtime matcher
  typescript/rebalancer-sim/test/utils/anvil-utils.test.ts
  typescript/rebalancer-sim/test/utils/anvil.ts
Due: oxlint, oxfmt --write

cover scheme-relative safe host api-key detection
  typescript/sdk/src/utils/gnosisSafe.test.ts
Due: oxlint, oxfmt --write
