Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

Update mainnet relayerRC Docker tag to 1d56bfd-20260312-161015
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): clarify getRequiredAddress error message for missing Safe deployments
  typescript/infra/scripts/safes/create-safe.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: review part 3
  typescript/provider-sdk/src/mailbox.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): add igra Safe deployments and saltNonce support (#8332)
  .changeset/igra-safe-overrides.md
  typescript/infra/config/environments/mainnet3/governance/safe/aw.ts
  typescript/infra/config/environments/mainnet3/governance/safe/regular.ts
  typescript/infra/config/environments/mainnet3/governance/safe/warpFees.ts
  typescript/infra/scripts/safes/create-safe.ts
  typescript/sdk/src/utils/gnosisSafe.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(svm-sdk): add shared e2e test infrastructure
  typescript/svm-sdk/.mocharc-e2e.json
  typescript/svm-sdk/package.json
  typescript/svm-sdk/scripts/run-e2e-test.sh
  typescript/svm-sdk/src/testing/constants.ts
  typescript/svm-sdk/src/testing/index.ts
  typescript/svm-sdk/src/testing/setup.ts
  typescript/svm-sdk/src/testing/solana-container.ts
  typescript/svm-sdk/src/tests/e2e-test.setup.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(svm-sdk): use shared validator in e2e tests
  typescript/svm-sdk/src/tests/collateral-token.e2e-test.ts
  typescript/svm-sdk/src/tests/hook.e2e-test.ts
  typescript/svm-sdk/src/tests/ism.e2e-test.ts
  typescript/svm-sdk/src/tests/native-token.e2e-test.ts
  typescript/svm-sdk/src/tests/provider.e2e-test.ts
  typescript/svm-sdk/src/tests/synthetic-token.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(svm-sdk): remove deploy e2e test
  typescript/svm-sdk/src/tests/deploy.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: enable svm-sdk e2e tests in CI
  .github/workflows/test-sdk-e2e.yml
  .github/workflows/test.yml
Due: none

feat(svm-sdk): add read-token e2e test to CI matrix
  .github/workflows/test-sdk-e2e.yml
  typescript/svm-sdk/scripts/run-e2e-test.sh
  typescript/svm-sdk/src/tests/e2e-test.setup.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(radix-sdk, deploy-sdk, provider-sdk): mailbox validator artifact interfaces (#8301)
  .changeset/mailbox-validator-announce-artifacts.md
  .changeset/orange-socks-return.md
  .changeset/radix-mailbox-artifacts.md
  .changeset/radix-validator-announce-artifacts.md
  .changeset/utils-is-empty-address.md
  typescript/deploy-sdk/src/core/core-artifact-reader.ts
  typescript/deploy-sdk/src/index.ts
  typescript/deploy-sdk/src/ism/generic-ism.ts
  typescript/provider-sdk/package.json
  typescript/provider-sdk/src/mailbox.ts
  typescript/provider-sdk/src/validator-announce.ts
  typescript/radix-sdk/src/clients/provider.ts
  typescript/radix-sdk/src/index.ts
  typescript/radix-sdk/src/mailbox/mailbox-artifact-manager.ts
  typescript/radix-sdk/src/mailbox/mailbox-query.ts
  typescript/radix-sdk/src/mailbox/mailbox.ts
  typescript/radix-sdk/src/tests/mailbox.e2e-test.ts
  typescript/radix-sdk/src/tests/validator-announce.e2e-test.ts
  typescript/radix-sdk/src/utils/base-query.ts
  typescript/radix-sdk/src/validator-announce/validator-announce-artifact-manager.ts
  typescript/radix-sdk/src/validator-announce/validator-announce-query.ts
  typescript/radix-sdk/src/validator-announce/validator-announce.ts
  typescript/utils/src/addresses.ts
  typescript/utils/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): enable inline PR review comments for claude review workflows
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): narrow allowed tools to gh api only
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): quote Bash tool pattern to preserve space in argument parsing
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): use multiline YAML for claude_args to avoid quoting issues
  .github/workflows/claude-code-review.yml
Due: none

feat(sdk): add warpRouteId field for token disambiguation in WarpCore
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for warpRouteId feature
  .changeset/warp-route-id-disambiguation.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add warpRouteId for token disambiguation in WarpCore (#8335)
  .changeset/warp-route-id-disambiguation.md
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(ci): enable show_full_output on code-review job for debugging
  .github/workflows/claude-code-review.yml
Due: none

chore(ci): remove show_full_output debug flag
  .github/workflows/claude-code-review.yml
Due: none

fix(rebalancer): wait for tx mining in MockExternalBridge to fix e2e flake
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): wait for tx mining in MockExternalBridge to fix e2e flake (#8336)
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(svm-sdk): remove individual e2e test scripts
  typescript/svm-sdk/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

refactor: remove TokenRouter inheritance from TokenBridgeOft
  solidity/multicollateral/contracts/TokenBridgeOft.sol
  solidity/multicollateral/test/TokenBridgeOft.fork.t.sol
  solidity/multicollateral/test/TokenBridgeOft.t.sol
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

chore(sdk): address remaining open review threads
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: rename MultiCollateral to CrossCollateral (#8327)
  .changeset/cross-collateral-rename.md
  solidity/multicollateral/CHANGELOG.md
  solidity/multicollateral/contracts/CrossCollateralRouter.sol
  solidity/multicollateral/contracts/CrossCollateralRoutingFee.sol
  solidity/multicollateral/contracts/interfaces/ICrossCollateralFee.sol
  solidity/multicollateral/package.json
  solidity/multicollateral/test/CrossCollateralRouter.t.sol
  typescript/cli/CHANGELOG.md
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/config/warp.ts
  typescript/cli/src/deploy/warp.test.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/warp/warp-cross-collateral.e2e-test.ts
  typescript/sdk/CHANGELOG.md
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/EvmCrossCollateralAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmCrossCollateralAdapter.ts
  typescript/sdk/src/token/config.ts
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/tokenMetadataUtils.ts
  typescript/sdk/src/token/types.ts
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
  typescript/warp-monitor/CHANGELOG.md
  typescript/warp-monitor/src/monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor: deploy TokenBridgeOft unproxied
  solidity/multicollateral/contracts/TokenBridgeOft.sol
  solidity/multicollateral/test/TokenBridgeOft.fork.t.sol
  solidity/multicollateral/test/TokenBridgeOft.t.sol
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

refactor: remove feeRecipient support from TokenBridgeOft
  solidity/multicollateral/contracts/TokenBridgeOft.sol
  solidity/multicollateral/test/TokenBridgeOft.t.sol
Due: prettier --write

revert: remove unnecessary virtual from feeHook()
  solidity/contracts/token/libs/TokenRouter.sol
Due: prettier --write

fix: merge duplicate token quotes in quoteTransferRemote
  solidity/multicollateral/contracts/TokenBridgeOft.sol
  solidity/multicollateral/test/TokenBridgeOft.fork.t.sol
  solidity/multicollateral/test/TokenBridgeOft.t.sol
Due: prettier --write

feat(svm-sdk): add Solana validator Docker image and publish workflow
  .github/workflows/solana-validator-docker.yml
  typescript/svm-sdk/Dockerfile
Due: none

fix(svm-sdk): configure Docker validator for Agave v3.0+
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typescript/svm-sdk/package.json
  typescript/svm-sdk/src/testing/solana-container.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address review — PackageVersioned, simplify deploy, drop 100% fee check
  solidity/multicollateral/contracts/TokenBridgeOft.sol
  solidity/multicollateral/test/TokenBridgeOft.t.sol
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(relayer): support runtime remote message-id denylist
  rust/main/agents/relayer/src/msg/db_loader.rs
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/settings/mod.rs
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/customBlacklist.ts
  typescript/infra/src/config/agent/relayer.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): remove seccomp=unconfined and harden Docker setup
  .github/workflows/test-sdk-e2e.yml
  typescript/svm-sdk/Dockerfile
  typescript/svm-sdk/src/testing/solana-container.ts
  typescript/svm-sdk/src/tests/e2e-test.setup.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: replace as any with typed cast in OFT deploy
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test: use quotes[1].amount for token charges in fork tests
  solidity/multicollateral/test/TokenBridgeOft.fork.t.sol
Due: prettier --write

chore: add changeset for TokenBridgeOft refactor
  .changeset/token-bridge-oft-refactor.md
Due: oxfmt --no-error-on-unmatched-pattern --write

test(relayer): cover remote blacklist fetch and merge
  .changeset/short-lamps-own.md
  rust/main/agents/relayer/src/relayer/tests.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for cosmos mailbox artifact API
  .changeset/cosmos-mailbox-artifact-api.md
Due: oxfmt --no-error-on-unmatched-pattern --write

test(cosmos-sdk): add mailbox artifact API e2e tests
  typescript/cosmos-sdk/src/tests/mailbox.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
