Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --write"],
  "*.ts": ["oxlint", "oxfmt --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

Rename getter file. Update to use explicit owner and mailbox
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseEthereumSolanaUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --write

Add plasma safe
  typescript/infra/config/environments/mainnet3/governance/safe/aw.ts
Due: oxlint, oxfmt --write

Simplify warpRouteId
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --write

docs: add token-based IGP fees rollout plan
  docs/plans/token-based-igp-fees-rollout.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: andrey pr review
  .changeset/brave-shoes-dream.md
  typescript/deploy-sdk/src/warp/warp-writer.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for warp artifact API implementation
  .changeset/brave-shoes-dream.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk, deploy-sdk): add hook merge logic and update warp writer
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/hook.ts
Due: oxlint, oxfmt --write

feat(deploy-sdk): export WarpTokenReader and WarpTokenWriter
  typescript/deploy-sdk/src/index.ts
Due: oxlint, oxfmt --write

feat(deploy-sdk): add WarpTokenReader with artifact API
  typescript/deploy-sdk/src/warp/warp-reader.ts
Due: oxlint, oxfmt --write

test(sealevel): add backward compat tests with live mainnet token account data
  rust/sealevel/Cargo.lock
  rust/sealevel/libraries/hyperlane-sealevel-token/Cargo.toml
  rust/sealevel/libraries/hyperlane-sealevel-token/src/accounts.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/test-data/collateral_token_account.bin
  rust/sealevel/libraries/hyperlane-sealevel-token/test-data/native_token_account.bin
  rust/sealevel/libraries/hyperlane-sealevel-token/test-data/synthetic_token_account.bin
Due: none

Harden sealevel client token reads against plugin bytes
  rust/sealevel/client/src/main.rs
  rust/sealevel/client/src/token_account.rs
  rust/sealevel/client/src/warp_route.rs
Due: none

some notes on known issues
  .claude/skills/alert-validator-checkpoints-inconsistent/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: predicate nexus support
  typescript/sdk/src/predicate/PredicateApiClient.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --write

feat: predicate warp apply
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/types.ts
Due: oxlint, oxfmt --write

test(lander): add explicit one-based transaction index test
  rust/main/lander/src/dispatcher/db/transaction/transaction_db.rs
Due: none

fix(lander): yield during finalized tx recount loop
  rust/main/lander/src/dispatcher/db/transaction/transaction_db.rs
Due: none

style(lander): run rustfmt on transaction db tests
  rust/main/lander/src/dispatcher/db/transaction/transaction_db.rs
Due: none

feat(indexer): implement keccak256 in PL/pgSQL to eliminate dispatch race condition
  typescript/indexer/migrations/0002_shovel_pipeline.sql
Due: none

feat(lander): add preparation gas estimation for tron/radix/aleo
  rust/main/chains/hyperlane-aleo/src/provider/lander.rs
  rust/main/chains/hyperlane-tron/src/provider/lander.rs
  rust/main/lander/src/adapter/chains/aleo/adapter/core.rs
  rust/main/lander/src/adapter/chains/aleo/adapter/core/tests.rs
  rust/main/lander/src/adapter/chains/radix/adapter.rs
  rust/main/lander/src/adapter/chains/radix/adapter/tests.rs
  rust/main/lander/src/adapter/chains/radix/adapter/tests/tests_estimate.rs
  rust/main/lander/src/adapter/chains/tron/adapter.rs
  rust/main/lander/src/adapter/chains/tron/adapter/tests.rs
  rust/main/lander/src/tests/aleo/test_utils.rs
Due: none

chore: add Cursor agent Docker environment config (#8191)
  .codex/maintenance.sh
  .codex/setup.sh
  .cursor/Dockerfile
  .cursor/environment.json
Due: oxfmt --no-error-on-unmatched-pattern --write

test(e2e): enable and verify lander gas estimator in run-locally
  rust/main/lander/src/adapter/chains/aleo/adapter/core/tests.rs
  rust/main/lander/src/adapter/chains/radix/adapter/tests/tests_estimate.rs
  rust/main/lander/src/adapter/chains/tron/adapter/tests.rs
  rust/main/lander/tests/integration_sealevel.rs
  rust/main/utils/run-locally/src/invariants/termination_invariants.rs
  rust/main/utils/run-locally/src/main.rs
  rust/main/utils/run-locally/src/radix/mod.rs
  rust/main/utils/run-locally/src/sealevel/mod.rs
Due: none

feat(lander): add manual oversized reorg reprocessing flow
  docs/ai-agents/operational-debugging.md
  rust/main/agents/relayer/src/server/evm/nonce.rs
  rust/main/agents/relayer/src/server/evm/nonce/inspect_reorged_transactions.rs
  rust/main/agents/relayer/src/server/evm/nonce/reprocess_reorged_transactions.rs
  rust/main/lander/src/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter/tests/tests_reprocess.rs
  rust/main/lander/src/adapter/chains/ethereum/metrics.rs
  rust/main/lander/src/adapter/core.rs
  rust/main/lander/src/dispatcher/command_entrypoint.rs
  rust/main/lander/src/dispatcher/metrics.rs
  rust/main/lander/src/lib.rs
  rust/main/lander/src/tests/evm/test_utils.rs
  rust/main/lander/src/tests/test_utils.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(core): also fix EVM typechain ethers utils import
  solidity/build-tron.sh
  solidity/fix-tron-typechain-ethers.mjs
  solidity/fix-typechain-ethers.mjs
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(starknet-e2e): replace hardcoded sleep with RPC readiness check (#8190)
  rust/main/utils/run-locally/src/starknet/mod.rs
Due: none

fix(core): add verification step and changeset
  .changeset/fix-typechain-ethers-compat.md
  solidity/fix-typechain-ethers.mjs
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(lander): address reorg review feedback
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/metrics.rs
  rust/main/lander/src/dispatcher/metrics.rs
Due: none

fix(core): reapply typechain ethers fix in build:zk
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add ERC20 inventory e2e test fixtures and interfaces
  typescript/rebalancer/src/e2e/fixtures/routes.ts
Due: oxlint, oxfmt --write

fix(rebalancer): restore missing setupInventorySignerBalances call and fix oxfmt formatting
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
Due: oxlint, oxfmt --write

fix(rebalancer): use collateral token addresses instead of warp router addresses for LiFi bridge calls
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --write

fix(rebalancer): add ERC20 approve in MockExternalBridge and fix lint
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
Due: oxlint, oxfmt --write

fix(rebalancer): fail closed on missing collateral metadata in getExternalBridgeTokenAddress
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --write

feat(infra): add USDTSTAGE/mode weighted inventory rebalancer config
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
Due: none

fix(rebalancer): add missing ERC20 adapter stubs to unit test
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
Due: oxlint, oxfmt --write

feat(rebalancer): add Erc20InventoryLocalDeploymentManager
  typescript/rebalancer/src/e2e/harness/Erc20InventoryLocalDeploymentManager.ts
Due: oxlint, oxfmt --write

refactor(rebalancer): align ERC20 inventory e2e tests to mirror native counterparts
  typescript/rebalancer/src/e2e/fixtures/routes.ts
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
Due: oxlint, oxfmt --write

fix(rebalancer): pass block tags in ERC20 weighted e2e relayInProgressDeposits
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
Due: oxlint, oxfmt --write

fix(rebalancer): update stale JSDoc for required inventoryMultiProvider field
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --write

fix(rebalancer): handle ERC20 token type in MockExternalBridge estimateGasCosts
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
Due: oxlint, oxfmt --write

refactor(rebalancer): make inventoryMultiProvider required on config
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
Due: oxlint, oxfmt --write
