Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

sdk: migrate core account adapter and proxy utilities off ethers
  typescript/sdk/src/core/HyperlaneCore.ts
  typescript/sdk/src/deploy/proxy.ts
  typescript/sdk/src/middleware/account/InterchainAccount.test.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/M0PortalLiteTokenAdapter.ts
  typescript/sdk/src/utils/gas.ts
  typescript/sdk/src/zksync/ZKSyncDeployer.ts
Due: oxlint, oxfmt --write

infra: remove ethers usage from GCP key manager
  typescript/infra/src/agents/gcp.ts
Due: oxlint, oxfmt --write

cli-tests: drop ethers imports from core and warp suites
  typescript/cli/src/tests/ethereum/core/core-apply.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/deployTestErc20.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-ism-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-rebalancing-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-simple-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-bridge-utils.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
Due: oxlint, oxfmt --write

ccip-server: remove unused ethers dependency
  typescript/ccip-server/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

relayer: migrate arbitrum metadata encoder off ethers
  typescript/relayer/src/metadata/arbL2ToL1.ts
Due: oxlint, oxfmt --write

relayer: remove ethers imports from metadata tests
  typescript/relayer/src/metadata/aggregation.test.ts
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
Due: oxlint, oxfmt --write

cli: replace ethers imports in fork and wallet-only e2e tests
  typescript/cli/src/fork/fork.ts
  typescript/cli/src/tests/cross-chain/warp/warp-apply.e2e-test.ts
  typescript/cli/src/tests/cross-chain/warp/warp-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/commands/xerc20.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-init.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-3.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-4.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-basic.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-recovery.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-extend-resumable.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-init.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-read.e2e-test.ts
Due: oxlint, oxfmt --write

services: switch wallet bootstrap imports to zksync-ethers
  typescript/helloworld/package.json
  typescript/helloworld/src/scripts/deploy.ts
  typescript/keyfunder/package.json
  typescript/keyfunder/src/service.ts
  typescript/rebalancer/package.json
  typescript/rebalancer/src/service.ts
  typescript/relayer/package.json
  typescript/relayer/src/fs/service.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

solidity-tests: migrate ethers utility usage to viem
  pnpm-lock.yaml
  solidity/package.json
  solidity/test/lib/mailboxes.ts
  solidity/test/merkle.test.ts
  solidity/test/message.test.ts
  solidity/test/mockMailbox.test.ts
  solidity/test/signer.ts
  solidity/test/testrecipient.test.ts
  typescript/sdk/src/providers/SmartProvider/HyperlaneEtherscanProvider.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove ethers type imports from provider type map
  typescript/sdk/src/providers/ProviderType.ts
Due: oxlint, oxfmt --write

infra: remove ethers imports from safe utility
  typescript/infra/src/utils/safe.ts
Due: oxlint, oxfmt --write

infra: migrate timelock utility off ethers constants
  typescript/infra/src/utils/timelock.ts
Due: oxlint, oxfmt --write

sdk: replace ethers BigNumber usage in gas utils
  typescript/sdk/src/gas/utils.ts
Due: oxlint, oxfmt --write

sdk: migrate checker and xerc20 utility helpers off ethers
  typescript/sdk/src/core/HyperlaneCoreChecker.ts
  typescript/sdk/src/router/HyperlaneRouterChecker.ts
  typescript/sdk/src/token/xerc20.ts
  typescript/sdk/src/utils/logUtils.ts
Due: oxlint, oxfmt --write

rebalancer-tests: drop ethers helpers from test scaffolding
  typescript/rebalancer/src/test/helpers.ts
Due: oxlint, oxfmt --write

sdk: replace remaining ethers helpers in gas consts and signer adapter
  typescript/sdk/src/consts/igp.ts
  typescript/sdk/src/deploy/proxy.test.ts
  typescript/sdk/src/gas/oracle/types.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
Due: oxlint, oxfmt --write

relayer: remove direct ethers imports from core metadata paths
  typescript/relayer/src/core/HyperlaneRelayer.ts
  typescript/relayer/src/core/events.ts
  typescript/relayer/src/metadata/ccipread.ts
  typescript/relayer/src/metadata/types.ts
Due: oxlint, oxfmt --write

sdk: remove ethers type imports in contracts and router utils
  typescript/sdk/src/contracts/contracts.ts
  typescript/sdk/src/core/EvmCoreReader.ts
  typescript/sdk/src/deploy/types.ts
  typescript/sdk/src/router/RouterApps.ts
  typescript/sdk/src/utils/fork.ts
Due: oxlint, oxfmt --write

deps: drop ethers catalog entry from workspace
  pnpm-workspace.yaml
Due: none

ccip-server: drop ethers provider usage in OPStack service
  typescript/ccip-server/src/services/OPStackService.ts
Due: oxlint, oxfmt --write

sdk: replace ethers zero address usage in simple modules
  typescript/sdk/src/core/MultiProtocolCore.test.ts
  typescript/sdk/src/middleware/account/InterchainAccountDeployer.ts
  typescript/sdk/src/middleware/query/InterchainQueryDeployer.ts
  typescript/sdk/src/router/MultiProtocolRouterApps.test.ts
  typescript/sdk/src/token/TokenAmount.test.ts
Due: oxlint, oxfmt --write

tests: remove remaining hardhat-waffle imports from TS suites
  pnpm-lock.yaml
  typescript/helloworld/src/test/deploy.test.ts
  typescript/relayer/package.json
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

sdk: remove final ethers imports from provider stack
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
Due: oxlint, oxfmt --write

sdk-signers: migrate turnkey evm signer off ethers import
  typescript/sdk/src/signers/evm/turnkey.ts
Due: oxlint, oxfmt --write

hardhat: remove waffle dependencies across TypeScript packages
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
  typescript/infra/hardhat.config.cts
  typescript/relayer/hardhat.config.cts
  typescript/sdk/hardhat.config.cts
Due: oxfmt --no-error-on-unmatched-pattern --write

infra,cli: replace ethers-only utility and type paths
  typescript/cli/src/context/strategies/signer/BaseMultiProtocolSigner.ts
  typescript/cli/src/context/strategies/signer/MultiProtocolSignerManager.ts
  typescript/infra/src/agents/aws/key.ts
  typescript/infra/src/agents/gcp.ts
  typescript/infra/src/agents/keys.ts
  typescript/infra/src/config/gas-oracle.ts
  typescript/infra/src/funding/deterministic-keys.ts
  typescript/infra/src/funding/key-funder.ts
  typescript/infra/src/utils/fork.ts
Due: oxlint, oxfmt --write

cli-tests: remove final ethers import from warp rebalancer e2e
  typescript/cli/src/tests/ethereum/warp/warp-rebalancer.e2e-test.ts
Due: oxlint, oxfmt --write

sdk: replace ethers imports in deploy fee and gas modules
  typescript/sdk/src/deploy/HyperlaneAppChecker.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
  typescript/sdk/src/gas/HyperlaneIgp.ts
  typescript/sdk/src/gas/HyperlaneIgpChecker.ts
  typescript/sdk/src/gas/types.ts
Due: oxlint, oxfmt --write

sdk: drop ethers imports from submitter and helper tests
  typescript/sdk/src/contracts/contracts.hardhat-test.ts
  typescript/sdk/src/core/TestCoreApp.ts
  typescript/sdk/src/deploy/proxyFactoryUtils.ts
  typescript/sdk/src/hook/EvmHookReader.test.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5ImpersonatedAccountTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5JsonRpcTxSubmitter.ts
Due: oxlint, oxfmt --write

sdk-tests: remove ethers imports from smart provider tests
  typescript/sdk/src/providers/SmartProvider/SmartProvider.foundry-test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.test.ts
Due: oxlint, oxfmt --write

cli-tests: migrate remaining e2e helpers off ethers imports
  typescript/cli/src/tests/ethereum/commands/helpers.ts
  typescript/cli/src/tests/ethereum/ica/ica-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/submit/submit.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-submitters.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-5.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-ica.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-send.e2e-test.ts
Due: oxlint, oxfmt --write

infra: migrate governor call values to bigint
  typescript/infra/src/govern/HyperlaneAppGovernor.ts
  typescript/infra/src/govern/HyperlaneCoreGovernor.ts
  typescript/infra/src/govern/HyperlaneHaasGovernor.test.ts
  typescript/infra/src/govern/HyperlaneHaasGovernor.ts
  typescript/infra/src/govern/HyperlaneIgpGovernor.ts
Due: oxlint, oxfmt --write

sdk: drop ethers imports from starknet adapter and provider builder types
  typescript/sdk/src/providers/SmartProvider/types.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/token/adapters/StarknetTokenAdapter.ts
Due: oxlint, oxfmt --write

solidity: remove direct ethers dependencies from package manifest
  solidity/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

deps: remove ethers and ethersproject from TypeScript package manifests
  typescript/helloworld/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

tooling: remove typechain ethers-v6 integrations
  solidity/hardhat.config.cts
  solidity/package.json
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

sdk-tests: replace ethers wallet random with viem accounts
  typescript/sdk/src/fee/types.test.ts
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/token/types.test.ts
Due: oxlint, oxfmt --write

sdk: remove legacy ethersV5 submitter module copies
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5GnosisSafeTxBuilder.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5GnosisSafeTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5ImpersonatedAccountTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5JsonRpcTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TimelockSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TxSubmitterInterface.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.ts
  typescript/sdk/src/providers/transactions/submitter/evm/types.test.ts
Due: oxlint, oxfmt --write

sdk: remove ethers imports from token and starknet helpers
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/utils/HyperlaneReader.ts
  typescript/sdk/src/utils/starknet.ts
Due: oxlint, oxfmt --write

rebalancer: remove ethers imports from config and fixture helpers
  pnpm-lock.yaml
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/e2e/fixtures/routes.ts
  typescript/rebalancer/src/e2e/harness/ForkIndexer.ts
Due: oxlint, oxfmt --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --write: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (any of: *.md) or (any of: *.json)
  prettier --write: any of: *.sol
