Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

chore(infra): skip staging/test warp routes in check-warp-deploy
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet key-funder image to Tron funding fix
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): bump mainnet key-funder image to Tron funding fix (#9024)
  typescript/infra/config/docker.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): skip staging/test warp routes in check-warp-deploy (#9023)
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): enable Solana inventory rebalancing on USDC/radix and USDC/subtensor
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/radix-config.yaml
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/subtensor-config.yaml
Due: none

feat(infra): enable Solana inventory rebalancing on USDC/aleo
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/aleo-config.yaml
Due: none

chore(infra): skip mocachain in key-funder funding
  typescript/infra/config/environments/mainnet3/funding.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): skip mocachain in key-funder funding (#9027)
  typescript/infra/config/environments/mainnet3/funding.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): tighten v2 quote success-body guard with hex/byte-length checks
  .changeset/fee-quoting-v2-client.md
  typescript/sdk/src/quoted-calls/client.ts
  typescript/sdk/src/quoted-calls/client.v2.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(fee-quoting): serve v2 quotes for EVM-family origins and record metrics
  typescript/fee-quoting/src/services/quoteService.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): share cast-free hex helpers and make quoted-transfer salt isomorphic
  typescript/sdk/src/quoted-calls/EvmQuotedTransferProvider.ts
  typescript/sdk/src/quoted-calls/SealevelQuotedTransferProvider.ts
  typescript/sdk/src/quoted-calls/assertHex.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: timeline skill
  .claude/skills/message-latency-timeline/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: check sig size on download
  rust/main/Cargo.lock
  rust/main/hyperlane-base/Cargo.toml
  rust/main/hyperlane-base/src/types/s3_storage.rs
Due: none

feat: cache AWS KMS signer construction
  rust/main/hyperlane-base/src/settings/signers.rs
Due: none

fix: cell guard
  rust/main/hyperlane-base/src/settings/signers.rs
Due: none

fix: pr review
  rust/main/hyperlane-base/src/types/s3_storage.rs
Due: none

perf(ethereum): avoid chain ID fetch for ISM reads
  rust/main/chains/hyperlane-ethereum/src/ism/interchain_security_module.rs
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/trait_builder.rs
  rust/main/hyperlane-base/src/settings/chains.rs
Due: none

perf(relayer): wake database loader after indexing
  rust/main/agents/relayer/src/msg/db_loader.rs
  rust/main/agents/relayer/src/msg/db_loader/tests.rs
  rust/main/agents/relayer/src/relayer.rs
Due: none

perf(relayer): overlap multisig checkpoint reads
  rust/main/agents/relayer/src/msg/metadata/multisig/message_id_multisig.rs
Due: none

perf(validator): remove final checkpoint pacing delay
  rust/main/Cargo.lock
  rust/main/agents/validator/Cargo.toml
  rust/main/agents/validator/src/submit.rs
  rust/main/agents/validator/src/submit/tests.rs
Due: none

fix: pr review
  rust/main/hyperlane-base/src/settings/signers.rs
Due: none

fix(validator): skip pacing for existing checkpoints
  rust/main/agents/validator/src/submit.rs
  rust/main/agents/validator/src/submit/tests.rs
Due: none

fix(relayer): return when index notifications disconnect
  rust/main/agents/relayer/src/msg/db_loader.rs
  rust/main/agents/relayer/src/msg/db_loader/tests.rs
Due: none

test(validator): cover inter-chunk checkpoint pacing
  rust/main/agents/validator/src/submit/tests.rs
Due: none

fix(relayer): continue broadcasts past closed receivers
  rust/main/agents/relayer/src/msg/db_loader/tests.rs
  rust/main/hyperlane-base/src/contract_sync/broadcast.rs
Due: none

fix: pr review
  rust/main/agents/validator/src/settings.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/rate_limited.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  typescript/infra/src/agents/index.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: rotate DSRV into solanamainnet default ISM (replace Zee Prime)
  .changeset/rotate-dsrv-solanamainnet-ism.md
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(e2e): count restored unavailable metadata states
  rust/main/utils/run-locally/src/main.rs
Due: none

feat: rotate DSRV into solanamainnet default ISM (replace Zee Prime) (#9035)
  .changeset/rotate-dsrv-solanamainnet-ism.md
  typescript/sdk/src/consts/multisigIsm.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): validate v2 quote context width per endpoint
  typescript/sdk/src/quoted-calls/client.ts
  typescript/sdk/src/quoted-calls/client.v2.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/validator/src/settings.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/rate_limited.rs
  rust/main/hyperlane-base/src/contract_sync/mod.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  .changeset/quiet-relayers-sleep.md
  rust/main/agents/validator/src/settings.rs
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(monitoring): add mainnet3 prepare-queue delivery-stall alert export
  tools/grafana/alerts/README.md
  tools/grafana/alerts/mainnet3-prepare-queue-anomalous-growth.json
Due: oxfmt --no-error-on-unmatched-pattern --write

test(cli): cover SVM beneficiary ATA in synthetic warp fee deploy + apply
  typescript/cli/src/tests/sealevel/warp/warp-fee-apply.e2e-test.ts
  typescript/cli/src/tests/sealevel/warp/warp-fee.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(svm-sdk): sort imports in fee writers + instructions/fee.ts
  typescript/svm-sdk/src/fee/cross-collateral-routing-fee.ts
  typescript/svm-sdk/src/fee/offchain-quoted-linear-fee.ts
  typescript/svm-sdk/src/fee/routing-fee.ts
  typescript/svm-sdk/src/instructions/fee.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk,sdk): thread synthetic warp token through forward mappers
  typescript/provider-sdk/src/warp.ts
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk,svm-sdk): post-warp-create feeWriter.update + ATA existence check
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/svm-sdk/src/fee/cross-collateral-routing-fee.ts
  typescript/svm-sdk/src/fee/leaf-fee.ts
  typescript/svm-sdk/src/fee/offchain-quoted-linear-fee.ts
  typescript/svm-sdk/src/fee/routing-fee.ts
  typescript/svm-sdk/src/instructions/fee.ts
  typescript/svm-sdk/src/tests/fee-leaf-suite.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(changeset): refresh for new warp-first fee deploy flow
  .changeset/svm-fee-beneficiary-ata.md
Due: oxfmt --no-error-on-unmatched-pattern --write
