Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --write"],
  "*.ts": ["oxlint", "oxfmt --write"],
  "*.md": "oxfmt --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --write"
}

fix: Add COPYs to codespell ignore list
  .codespell/ignore.txt
Due: none

chore(provider-sdk): port provider sdk code from warp artifact api branch [ignore commit on rebase]
  typescript/provider-sdk/src/artifact.ts
  typescript/provider-sdk/src/artifact.types.test.ts
  typescript/provider-sdk/src/ism.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --write

chore(utils): ported eqOptionalAddress from warp artifact branc [ignore on rebase]
  typescript/utils/src/addresses.ts
Due: oxlint, oxfmt --write

feat(utils): export eqOptionalAddress from utils [ignore on rebase]
  typescript/utils/src/index.ts
Due: oxlint, oxfmt --write

fix(ci): Checkout actual PR commit instead of merge commit in codespell workflow
  .github/workflows/codespell.yml
Due: none

fix: Use lowercase in codespell ignore list to match dictionary entry
  .codespell/ignore.txt
Due: none

fix(ci): fix codespell error in Dockerfile comment
  typescript/Dockerfile.node-service
Due: none

fix(ci): fix codespell workflow checkout and ignore list (#8194)
  .codespell/ignore.txt
  .github/workflows/codespell.yml
Due: none

Address scraper PR feedback and clippy issues
  rust/main/agents/scraper/migration/src/m20260224_000007_add_cursor_type.rs
  rust/main/agents/scraper/src/agent.rs
  rust/main/agents/scraper/src/store/tip_dispatches.rs
Due: none

feat(svm-provider): add warp token PDA derivations and plugin decoders
  typescript/svm-provider/src/accounts/token.ts
  typescript/svm-provider/src/pda.ts
  typescript/svm-provider/src/warp/types.ts
  typescript/svm-provider/src/warp/warp-query.ts
Due: oxlint, oxfmt --write

feat(svm-provider): add warp token transaction utilities
  typescript/svm-provider/src/warp/warp-tx.ts
Due: oxlint, oxfmt --write

feat(svm-provider): add SvmNativeTokenReader and SvmNativeTokenWriter
  typescript/svm-provider/src/warp/native-token.ts
Due: oxlint, oxfmt --write

Adjust tip cursor seed to include tip block on first sync
  rust/main/agents/scraper/src/agent.rs
Due: none

Harden cursor migration and pre-migration startup fallback
  rust/main/agents/scraper/migration/src/m20260224_000007_add_cursor_type.rs
  rust/main/agents/scraper/src/db/block_cursor.rs
Due: none

test(svm-provider): add shared warp token test suite
  typescript/svm-provider/src/tests/warp-token-suite.ts
Due: oxlint, oxfmt --write

chore(solidity): version @hyperlane-xyz/core to 11.0.0
  .changeset/brown-melons-shave.md
  .changeset/cctp-maxfee-ppm-rename.md
  .changeset/cctp-mutable-fees.md
  .changeset/erc20-igp-support.md
  .changeset/ica-erc20-fee-support.md
  .changeset/ica-fee-token-hook-approval.md
  .changeset/igp-storage-refactor.md
  .changeset/incremental-routing-ism.md
  .changeset/odd-crabs-kneel.md
  .changeset/spotty-adults-dress.md
  .changeset/tall-crabs-refuse.md
  .changeset/timelock-router.md
  solidity/CHANGELOG.md
Due: oxfmt --write

scraper: fix legacy cursor write fallback
  rust/main/agents/scraper/src/db/block_cursor.rs
Due: none

fix: update for fractional scaling constructor and incremental routing ISM type
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer/src/e2e/harness/LocalDeploymentManager.ts
  typescript/relayer/src/metadata/types.ts
Due: oxlint, oxfmt --write

Fix format
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer/src/e2e/harness/LocalDeploymentManager.ts
  typescript/relayer/src/metadata/types.ts
Due: oxlint, oxfmt --write

Fix self-relay tests
  typescript/cli/examples/tron-core-config.yaml
  typescript/cli/src/tests/ethereum/send-message.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
Due: oxlint, oxfmt --write

Configure instamine on tron test node
  typescript/tron-sdk/src/testing/index.ts
  typescript/tron-sdk/src/testing/node.ts
Due: oxlint, oxfmt --write

chore: upgrade lint-staged from 12.x to 15.x
  package.json
  pnpm-lock.yaml
Due: oxfmt --write

Address PR review feedback: inline testing exports, add package turbo.json
  turbo.json
  typescript/tron-sdk/src/index.ts
  typescript/tron-sdk/src/testing/index.ts
  typescript/tron-sdk/turbo.json
Due: oxlint, oxfmt --write

Restore testing/index.ts for separate package entrypoint
  typescript/tron-sdk/src/index.ts
  typescript/tron-sdk/src/testing/index.ts
Due: oxlint, oxfmt --write

chore: upgrade lint-staged from 12.x to 15.x (#8198)
  package.json
  pnpm-lock.yaml
Due: oxfmt --write

Fix TronWallet: use instance txCounter, cache tronAddressHex
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --write

Revert txCounter to static with explanation
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --write

Use random extension instead of static counter for unique txIDs
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --write

Revert to static txCounter for unique txIDs
  typescript/tron-sdk/src/ethers/TronWallet.ts
Due: oxlint, oxfmt --write

Remove stale matrix.stack references in cli-evm-e2e-matrix
  .github/workflows/test.yml
Due: none

fix(ci): remove HEAD-only contracts before base bytecode generation
  .github/workflows/bytecode-analysis.yml
Due: none

fix(ci): remove HEAD-only contracts before base analysis in all solidity workflows
  .github/workflows/interface-analysis.yml
  .github/workflows/storage-analysis.yml
Due: none

feat(svm-provider): native token warp artifact API with passing e2e tests
  typescript/svm-provider/package.json
  typescript/svm-provider/src/signer.ts
  typescript/svm-provider/src/tests/native-token.e2e-test.ts
  typescript/svm-provider/src/tests/warp-token-suite.ts
  typescript/svm-provider/src/types.ts
  typescript/svm-provider/src/warp/native-token.ts
Due: oxlint, oxfmt --write

run-locally: use exact metric labels for scraper invariants
  rust/main/utils/run-locally/src/cosmos/termination_invariants.rs
  rust/main/utils/run-locally/src/cosmosnative/mod.rs
  rust/main/utils/run-locally/src/invariants/termination_invariants.rs
  rust/main/utils/run-locally/src/main.rs
  rust/main/utils/run-locally/src/metrics.rs
  rust/main/utils/run-locally/src/starknet/mod.rs
Due: none

feat: structured rebalancing tools, SDK parsing, cycle guardrails
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/config.ts
  typescript/llm-rebalancer/src/prompt-builder.ts
  typescript/rebalancer-sim/scenarios/mc-local-cross-asset-imbalance.json
  typescript/rebalancer-sim/scenarios/mc-mixed-traffic.json
  typescript/rebalancer-sim/scenarios/mc-remote-cross-asset-imbalance.json
  typescript/rebalancer-sim/src/MockInfrastructureController.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
  typescript/rebalancer-sim/src/runners/LLMRebalancerRunner.ts
  typescript/rebalancer-sim/src/runners/rebalancing-tools.ts
  typescript/rebalancer-sim/src/types.ts
  typescript/rebalancer-sim/test/utils/simulation-helpers.ts
Due: oxlint, oxfmt --write

fix(ci): accept manual version bumps in solidity analysis checks
  .github/scripts/check-solidity-changeset.sh
  .github/workflows/bytecode-analysis.yml
  .github/workflows/interface-analysis.yml
  .github/workflows/storage-analysis.yml
Due: none

run-locally: fix raw/tip and gas-payments invariant labels
  rust/main/utils/run-locally/src/cosmos/termination_invariants.rs
  rust/main/utils/run-locally/src/cosmosnative/mod.rs
  rust/main/utils/run-locally/src/invariants/termination_invariants.rs
Due: none

feat(svm-provider): add SvmSyntheticTokenReader/Writer and e2e test
  pnpm-lock.yaml
  typescript/svm-provider/package.json
  typescript/svm-provider/src/tests/synthetic-token.e2e-test.ts
  typescript/svm-provider/src/warp/synthetic-token.ts
Due: oxlint, oxfmt --write
