Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

feat(rebalancer): add ERC20 approval handling in inventory executeTransferRemote
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --write

fix(rebalancer): fix ERC20 minAmount e2e test mechanics for bridge movement and deposit sync
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
Due: oxlint, oxfmt --write

feat(rebalancer): add ERC20 inventory e2e tests for minAmount and weighted strategies
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
Due: oxlint, oxfmt --write

fix(rebalancer): harden TestRebalancer e2e harness with fail-fast asserts and config-derived signer
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
Due: oxlint, oxfmt --write

refactor(rebalancer): replace manual approve/transfer with WarpCore.getTransferRemoteTxs
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --write

feat(rebalancer): extend MockExternalBridge and TestRebalancerBuilder for ERC20 inventory
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
Due: oxlint, oxfmt --write

fix(rebalancer): align ERC20 inventory e2e with squash review changes
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
Due: oxlint, oxfmt --write

refactor(rebalancer): rename getLiFiTokenAddress to getExternalBridgeTokenAddress
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --write

docs: add shovel prototype results spec
  docs/specs/indexing-v2-shovel-prototype-results.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): add TODO for gasQuote pass-through in executeTransferRemote
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --write

fix(rebalancer): fix HypERC20Collateral deploy arity in ERC20 test harness
  typescript/rebalancer/src/e2e/harness/Erc20InventoryLocalDeploymentManager.ts
Due: oxlint, oxfmt --write

fix(rebalancer): add missing rebalancerAddresses.push in ERC20 inventory mode
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
Due: oxlint, oxfmt --write

chore(rebalancer): add changeset for ERC20 inventory support
  .changeset/erc20-inventory-rebalancer.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(rebalancer): simplify dead code in getExternalBridgeTokenAddress
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --write

fix(rebalancer): add assert guard before ERC20 deployed addresses cast
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
Due: oxlint, oxfmt --write

fix(rebalancer): type receipt as ContractReceipt instead of any
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --write

fix(sdk): handle EvmNative tokens with warp connections in getHypAdapter
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/Token.ts
Due: oxlint, oxfmt --write

chore: fix formatting
  typescript/deploy-sdk/src/warp/warp-reader.ts
Due: oxlint, oxfmt --write

fix(radix-e2e): retry contract artifact downloads to fix flaky test
  typescript/radix-sdk/src/testing/setup.ts
Due: oxlint, oxfmt --write

fix(rebalancer): pass pre-calculated gasQuote to getTransferRemoteTxs
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --write

fix(sdk): use decimal-aware amount for gas estimation in WarpCore
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --write

chore: add changeset for EvmNative adapter and gas estimation fixes
  .changeset/fix-evm-native-hyp-adapter.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): add ERC20 inventory rebalancing support + e2e tests (#8161)
  .changeset/erc20-inventory-rebalancer.md
  typescript/infra/config/environments/mainnet3/rebalancer/USDTSTAGE/mode-config.yaml
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
  typescript/rebalancer/src/e2e/fixtures/routes.ts
  typescript/rebalancer/src/e2e/harness/Erc20InventoryLocalDeploymentManager.ts
  typescript/rebalancer/src/e2e/harness/MockExternalBridge.ts
  typescript/rebalancer/src/e2e/harness/TestHelpers.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/inventory-erc20-minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/inventory-erc20-weighted.e2e-test.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/utils/tokenUtils.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

test(ts): switch @ethersproject test imports to ethers v6
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-rebalancing-config.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-bridge-utils.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-1.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-send.e2e-test.ts
  typescript/rebalancer/src/strategy/MinAmountStrategy.test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
Due: oxlint, oxfmt --write

test(ts): migrate remaining ethers v5 helper APIs to v6
  typescript/ccip-server/tests/services/LightClientService.test.ts
  typescript/ccip-server/tests/services/ProofsService.test.ts
  typescript/cli/src/tests/ethereum/core/core-apply.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/core/core-read.e2e-test.ts
  typescript/cli/src/tests/ethereum/deployTestErc20.ts
  typescript/cli/src/tests/ethereum/ica/ica-deploy.e2e-test.ts
  typescript/cli/src/tests/ethereum/submit/submit.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-ism-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-simple-updates.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/apply/warp-apply-submitters.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-5.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-ica.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-rebalancer.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-send.e2e-test.ts
  typescript/rebalancer-sim/test/integration/harness-setup.test.ts
  typescript/relayer/src/metadata/aggregation.test.ts
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
  typescript/sdk/src/contracts/contracts.hardhat-test.ts
  typescript/sdk/src/core/EvmIcaModule.hardhat-test.ts
  typescript/sdk/src/hook/EvmHookModule.hardhat-test.ts
  typescript/sdk/src/ism/EvmIsmModule.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockDeployer.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
Due: oxlint, oxfmt --write

test(rebalancer): migrate ethers v5 patterns to ethers v6 bigint APIs
  typescript/rebalancer/src/config/RebalancerConfig.test.ts
  typescript/rebalancer/src/core/Rebalancer.test.ts
  typescript/rebalancer/src/e2e/collateral-deficit.e2e-test.ts
  typescript/rebalancer/src/e2e/composite.e2e-test.ts
  typescript/rebalancer/src/e2e/fixtures/routes.ts
  typescript/rebalancer/src/e2e/harness/BridgeSetup.ts
  typescript/rebalancer/src/e2e/harness/ForkIndexer.ts
  typescript/rebalancer/src/e2e/harness/TestRebalancer.ts
  typescript/rebalancer/src/e2e/harness/TransferHelper.ts
  typescript/rebalancer/src/e2e/minAmount.e2e-test.ts
  typescript/rebalancer/src/e2e/weighted.e2e-test.ts
  typescript/rebalancer/src/strategy/StrategyFactory.test.ts
  typescript/rebalancer/src/strategy/WeightedStrategy.test.ts
  typescript/rebalancer/src/test/helpers.ts
Due: oxlint, oxfmt --write

refactor(sdk): migrate hook module contract addressing for ethers v6
  typescript/sdk/src/hook/EvmHookModule.ts
  typescript/sdk/src/hook/contracts.ts
Due: oxlint, oxfmt --write

refactor(sdk): migrate token fee module logic to ethers v6
  typescript/sdk/src/fee/EvmTokenFeeDeployer.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
Due: oxlint, oxfmt --write

Migrate tron-sdk ethers adapters to ethers v6
  pnpm-workspace.yaml
  solidity/tron-hardhat.config.cts
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
  typescript/tron-sdk/src/ethers/TronContractFactory.ts
  typescript/tron-sdk/src/ethers/TronJsonRpcProvider.ts
  typescript/tron-sdk/src/ethers/TronWallet.integration.test.ts
  typescript/tron-sdk/src/ethers/TronWallet.ts
  typescript/tron-sdk/src/ethers/index.ts
Due: oxlint, oxfmt --write

refactor(sdk): advance core deployer and checker ethers v6 migration
  typescript/sdk/src/core/HyperlaneCoreChecker.ts
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/core/TestCoreApp.ts
  typescript/sdk/src/core/TestRecipientDeployer.ts
  typescript/sdk/src/core/adapters/RadixCoreAdapter.ts
  typescript/sdk/src/core/events.ts
  typescript/sdk/src/deploy/HyperlaneAppChecker.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/types.ts
Due: oxlint, oxfmt --write

refactor(utils): migrate shared ethers helpers to v6 APIs
  pnpm-workspace.yaml
  typescript/infra/package.json
  typescript/utils/package.json
  typescript/utils/src/addresses.ts
  typescript/utils/src/amount.ts
  typescript/utils/src/base58.test.ts
  typescript/utils/src/base58.ts
  typescript/utils/src/big-numbers.test.ts
  typescript/utils/src/big-numbers.ts
  typescript/utils/src/checkpoints.ts
  typescript/utils/src/domains.ts
  typescript/utils/src/ids.test.ts
  typescript/utils/src/ids.ts
  typescript/utils/src/logging.test.ts
  typescript/utils/src/logging.ts
  typescript/utils/src/messages.ts
  typescript/utils/src/multisig.ts
  typescript/utils/src/types.ts
  typescript/utils/src/validator.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

test(ts): migrate deployed and callStatic usages to ethers v6
  typescript/cli/src/tests/ethereum/core/core-apply.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-check-5.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-deploy-2.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-send.e2e-test.ts
  typescript/sdk/src/contracts/contracts.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
Due: oxlint, oxfmt --write

refactor(sdk): port core and utility modules toward ethers v6
  solidity/hardhat.config.cts
  solidity/package.json
  solidity/tron-hardhat.config.cts
  solidity/zk-hardhat.config.cts
  typescript/helloworld/hardhat.config.cts
  typescript/sdk/src/ccip/HyperlaneCCIPDeployer.ts
  typescript/sdk/src/ccip/utils.ts
  typescript/sdk/src/consts/igp.ts
  typescript/sdk/src/contracts/contracts.ts
  typescript/sdk/src/core/EvmCoreModule.ts
  typescript/sdk/src/core/EvmCoreReader.ts
  typescript/sdk/src/core/EvmIcaModule.ts
  typescript/sdk/src/core/HyperlaneCore.ts
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/types.ts
  typescript/sdk/src/utils/HyperlaneReader.ts
  typescript/sdk/src/utils/fork.ts
  typescript/sdk/src/utils/gas.ts
  typescript/sdk/src/utils/logUtils.ts
  typescript/sdk/src/utils/starknet.ts
  typescript/sdk/src/utils/transactions.ts
  typescript/sdk/tsconfig.json
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

chore(ts): advance ethers v6 migration and restore monorepo lint/build
  typescript/cli/package.json
  typescript/cli/src/avs/check.ts
  typescript/cli/src/avs/stakeRegistry.ts
  typescript/cli/src/commands/send.ts
  typescript/cli/src/config/agent.ts
  typescript/cli/src/config/chain.ts
  typescript/cli/src/config/hooks.ts
  typescript/cli/src/context/context.ts
  typescript/cli/src/context/strategies/signer/MultiProtocolSignerFactory.ts
  typescript/cli/src/context/strategies/signer/MultiProtocolSignerManager.ts
  typescript/cli/src/context/types.ts
  typescript/cli/src/deploy/core.ts
  typescript/cli/src/deploy/utils.ts
  typescript/cli/src/fork/fork.ts
  typescript/cli/src/read/warp.ts
  typescript/cli/src/status/message.ts
  typescript/cli/src/tests/ethereum/warp/warp-rebalancer.e2e-test.ts
  typescript/cli/src/utils/balances.ts
  typescript/cli/src/utils/input.ts
  typescript/cli/src/utils/keys.ts
  typescript/cli/src/utils/relay.ts
  typescript/cli/src/validator/address.ts
  typescript/cli/src/validator/preFlightCheck.ts
  typescript/cli/src/validator/utils.ts
  typescript/cli/tsconfig.build.json
  typescript/rebalancer-sim/src/MockInfrastructureController.ts
  typescript/rebalancer-sim/src/SimulationDeployment.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
  typescript/rebalancer-sim/src/runners/SimpleRunner.ts
  typescript/rebalancer-sim/test/utils/simulation-helpers.ts
  typescript/rebalancer/package.json
  typescript/rebalancer/tsconfig.json
  typescript/relayer/package.json
  typescript/relayer/src/metadata/multisig.ts
  typescript/relayer/tsconfig.build.json
  typescript/relayer/tsconfig.json
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
Due: oxlint, oxfmt --write, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): migrate deploy proxy and verifier helpers to ethers v6
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/proxy.ts
  typescript/sdk/src/deploy/proxyFactoryUtils.ts
  typescript/sdk/src/deploy/verify/utils.ts
Due: oxlint, oxfmt --write

chore(tron-sdk): remove unused @ethersproject deps
  typescript/rebalancer-sim/README.md
  typescript/tron-sdk/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --write: (any of: *.js) or (any of: *.ts)
  oxfmt --no-error-on-unmatched-pattern --write: (any of: *.md) or (any of: *.json)
  prettier --write: any of: *.sol
