Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

feat(deploy-sdk): add FeeReader and FeeWriter with required FeeReadContext
  typescript/deploy-sdk/src/fee/fee-reader.ts
  typescript/deploy-sdk/src/fee/fee-writer.ts
  typescript/deploy-sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk): wire fee expansion into warp reader
  typescript/deploy-sdk/src/warp/warp-reader.ts
  typescript/provider-sdk/src/fee.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk): wire fee into warp writer update
  typescript/deploy-sdk/src/warp/warp-writer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(provider-sdk): add fee type unit tests
  typescript/provider-sdk/src/fee.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for fee type support
  .changeset/fee-type-support.md
Due: oxfmt --no-error-on-unmatched-pattern --write

docs(provider-sdk): add comment explaining single-contract fee model
  typescript/provider-sdk/src/fee.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): USDT OFT Legacy Mesh warp route (Tron, Ethereum, Arbitrum) (#8512)
  .registryrc
  rust/main/app-contexts/mainnet_config.json
  typescript/infra/config/environments/mainnet3/warp/configGetters/getUSDTOftLegacyWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(deploy-sdk): add warp writer fee path tests
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: rename buildFeeReadContext to buildFeeReadContextFromDeployedWarpConfig
  typescript/deploy-sdk/src/warp/warp-reader.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(sdk): cover sealevel cross-collateral warp routing
  typescript/sdk/src/warp/WarpCore.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: address PR review feedback
  .changeset/fee-type-support.md
  typescript/deploy-sdk/src/fee/fee-writer.ts
  typescript/deploy-sdk/src/warp/warp-reader.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/fee.test.ts
  typescript/provider-sdk/src/fee.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(sdk): cover sealevel cross-collateral warpcore route
  typescript/sdk/src/warp/WarpCore.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk): deploy fee during warp token create
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: rename buildFeeReadContextFromDeployedWarpConfig to buildFeeReadContextFromWarpArtifactConfig
  typescript/deploy-sdk/src/warp/warp-reader.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: warp deployment skills
  .claude/skills/warp-deploy-fund-deployer/SKILL.md
  .claude/skills/warp-deploy-init-route/SKILL.md
  .claude/skills/warp-deploy-nexus/SKILL.md
  .claude/skills/warp-deploy-register-route/SKILL.md
  .claude/skills/warp-deploy-update-owners/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

feat: added cli helper for message decoding and encoding
  .changeset/slow-jars-battle.md
  .claude/skills/hyperlane-message-utils/skill.md
  typescript/cli/cli.ts
  typescript/cli/src/commands/message.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(relayer): refresh ForwardBackwardIterator frontier when DB highest_seen advances
  rust/main/agents/relayer/src/msg/db_loader.rs
  rust/main/agents/relayer/src/msg/db_loader/tests.rs
Due: none

Inspect sdk dist in release workflow
  .changeset/ci-sdk-dist-inspect.md
  .github/workflows/release.yml
Due: oxfmt --no-error-on-unmatched-pattern --write

Use grep in sdk dist inspection
  .github/workflows/release.yml
Due: none

Rebuild releases from a clean state
  .changeset/release-build-from-scratch.md
  .github/workflows/release.yml
  package.json
  typescript/sdk/package.json
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): classify sealevel cross-collateral tokens
  .changeset/fix-sealevel-cross-collateral-predicate.md
  typescript/sdk/src/token/TokenMetadata.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): reuse cross-collateral standard set
  typescript/sdk/src/token/TokenMetadata.ts
  typescript/sdk/src/warp/WarpCore.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(lander): reset nonce boundaries when on-chain account is at genesis
  rust/main/hyperlane-base/src/db/rocks/hyperlane_db.rs
  rust/main/hyperlane-base/src/db/rocks/mod.rs
  rust/main/hyperlane-base/src/db/rocks/typed_db.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/db.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/boundary/tests.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/db.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/updater.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/updater/tests.rs
Due: none

fix: pr review
  typescript/cli/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr feedback (high)
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/server/mod.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/interchain_gas.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/mailbox.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/merkle_tree_hook.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/utils.rs
Due: none

feat: make cors domains configurable
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/settings/mod.rs
Due: none

fix: pr feedback (medium, low)
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
  rust/main/agents/relayer/src/relay_api/extractor.rs
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/agents/relayer/src/relayer.rs
Due: none

fix(rebalancer): align bridge execution with planned quote mode
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/core/InventoryRebalancer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): add explicit prowxy admin addresses to usdc config
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  rust/main/agents/relayer/src/msg/metadata/ccip_read/mod.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/hyperlane-base/src/db/rocks/hyperlane_db.rs
  rust/main/hyperlane-core/src/traits/indexer.rs
Due: none

fix: clippy errors
  rust/main/agents/relayer/src/relay_api/handlers.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/interchain_gas.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/mailbox.rs
  rust/main/chains/hyperlane-ethereum/src/contracts/merkle_tree_hook.rs
Due: none

fix: pr review
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/relayer/src/relay_api/handlers.rs
Due: none

perf: make chain search menu metadata-first friendly
  .changeset/fast-pumpkins-trade.md
  typescript/widgets/src/chains/ChainAddMenu.tsx
  typescript/widgets/src/chains/ChainSearchMenu.tsx
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: pr review
  rust/main/agents/relayer/src/relay_api/handlers.rs
Due: none

feat(validator): quorum checkpoint reads in validator
  rust/main/agents/validator/src/validator.rs
Due: none

chore: add fluent to solana igp
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
  typescript/infra/scripts/sealevel-helpers/print-gas-oracles.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: share chain id normalization helpers
  typescript/sdk/src/metadata/ChainMetadataResolver.ts
  typescript/sdk/src/metadata/chainIdUtils.ts
  typescript/widgets/src/chains/ChainAddMenu.tsx
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add sdk changeset
  .changeset/neat-birds-care.md
Due: oxfmt --no-error-on-unmatched-pattern --write
