Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

config: set index chunk to 999 for astar in mainnet agent config
  rust/main/config/mainnet_config.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(sealevel): delete obsolete install-solana-1.14.20.sh, limit astar index chunk size (#8180)
  rust/main/config/mainnet_config.json
  rust/sealevel/programs/install-solana-1.14.20.sh
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(sealevel): per-message ALT overrides for relayer
  rust/main/Cargo.lock
  rust/main/agents/relayer/Cargo.toml
  rust/main/agents/relayer/src/msg/op_queue.rs
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/relayer/tests.rs
  rust/main/agents/relayer/src/settings/matching_list.rs
  rust/main/agents/relayer/src/settings/mod.rs
  rust/main/chains/hyperlane-sealevel/Cargo.toml
  rust/main/chains/hyperlane-sealevel/src/mailbox.rs
  rust/main/chains/hyperlane-sealevel/src/trait_builder.rs
  rust/main/hyperlane-base/src/settings/parser/connection_parser.rs
  rust/main/hyperlane-core/Cargo.toml
  rust/main/hyperlane-core/src/lib.rs
  rust/main/hyperlane-core/src/matching_list.rs
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/testnet4/agent.ts
  typescript/infra/src/agents/index.ts
  typescript/infra/src/config/agent/relayer.ts
  typescript/sdk/src/metadata/agentConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(rebalancer): implement EMA flow-reactive strategy and wire through factory
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/core/RebalancerService.ts
  typescript/rebalancer/src/factories/RebalancerContextFactory.ts
  typescript/rebalancer/src/strategy/StrategyFactory.ts
  typescript/rebalancer/src/strategy/flow-reactive/EMAFlowStrategy.ts
  typescript/rebalancer/src/strategy/flow-reactive/index.ts
  typescript/rebalancer/src/strategy/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: address feedback
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/transactionFeeEstimators.ts
  typescript/utils/src/addresses.ts
  typescript/utils/src/index.ts
  typescript/widgets/src/walletIntegrations/tron.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: lint
  typescript/widgets/src/walletIntegrations/tron.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): reduce AR egress costs, dual-push to GHCR (#8269)
  .github/workflows/monorepo-docker.yml
  .github/workflows/node-services-docker.yml
  .github/workflows/rust-docker.yml
  .github/workflows/simapp-docker.yml
  rust/main/helm/hyperlane-agent/values.yaml
  typescript/docker-bake.hcl
  typescript/infra/scripts/apply-gcr-cleanup.sh
  typescript/infra/scripts/gcr-cleanup-policy.json
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(ci): reduce CLI e2e runs and improve change detection
  .github/workflows/rust.yml
  .github/workflows/test-cli-e2e.yml
  .github/workflows/test-env.yml
  .github/workflows/test-rust-e2e.yml
  .github/workflows/test.yml
Due: none

fix(ci): preserve infra-test and agent-configs for typescript/infra/ changes
  .github/workflows/test-env.yml
  .github/workflows/test.yml
Due: none

chore: add GHCR image cleanup workflow
  .github/workflows/ghcr-cleanup.yml
Due: none

fix: remove simapp from cleanup (built by external repo)
  .github/workflows/ghcr-cleanup.yml
Due: none

fix: tighten PR image cleanup to 1 week
  .github/workflows/ghcr-cleanup.yml
Due: none

chore: use @v3 major tag
  .github/workflows/ghcr-cleanup.yml
Due: none

fix(ci): add starknet/ to CLI deps, remove dead typescript/core entry
  .github/workflows/test.yml
Due: none

feat(rebalancer): add FlowReactiveBaseStrategy abstract base class
  typescript/rebalancer/src/strategy/flow-reactive/FlowReactiveBaseStrategy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(rebalancer): add EMA strategy and getRecentTransfers unit tests
  typescript/rebalancer/src/core/InventoryRebalancer.test.ts
  typescript/rebalancer/src/strategy/StrategyFactory.test.ts
  typescript/rebalancer/src/strategy/flow-reactive/EMAFlowStrategy.test.ts
  typescript/rebalancer/src/tracking/ActionTracker.test.ts
  typescript/rebalancer/src/tracking/InflightContextAdapter.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sealevel): retry cargo-build-sbf on transient network failures
  rust/main/utils/run-locally/src/program.rs
  rust/main/utils/run-locally/src/sealevel/solana.rs
Due: none

fix(rebalancer): export EMAFlowChainConfig type and add window-filtering test
  typescript/rebalancer/src/config/types.ts
  typescript/rebalancer/src/strategy/flow-reactive/EMAFlowStrategy.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changesets for multicollateral SDK/CLI/monitor and rebalancer-sim
  .changeset/multicollateral-sdk-cli-monitor.md
  .changeset/rebalancer-sim-exporter.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore(ci): increase lint-prettier timeout to 10 min
  .github/workflows/test.yml
Due: none

fix(ci): add metrics to CLI deps (transitive via relayer/rebalancer)
  .github/workflows/test.yml
Due: none

refactor(ci): per-package CLI e2e flags for relayer/rebalancer
  .github/workflows/test-cli-e2e.yml
  .github/workflows/test.yml
Due: none

feat(sdk): pass waitConfirmations through EVM signer adapter
  typescript/sdk/src/signers/cosmos/cosmjs.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
  typescript/sdk/src/signers/radix/radix-toolkit.ts
  typescript/sdk/src/signers/starknet/starknetjs.ts
  typescript/sdk/src/signers/svm/solana-web3js.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add SignerSendTransactionOptions to sendAndConfirmTransaction
  typescript/sdk/src/signers/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): export SignerSendTransactionOptions and add changeset
  .changeset/sdk-signer-options.md
  typescript/sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): add http-registry-server back to core CLI_DEPS
  .github/workflows/test.yml
Due: none

fix(infra): retry GitHub registry fetches in warp IDs test
  typescript/infra/test/warpIds.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor(sdk): reuse SendTransactionOptions instead of SignerSendTransactionOptions
  .changeset/sdk-signer-options.md
  typescript/sdk/src/index.ts
  typescript/sdk/src/signers/cosmos/cosmjs.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
  typescript/sdk/src/signers/radix/radix-toolkit.ts
  typescript/sdk/src/signers/starknet/starknetjs.ts
  typescript/sdk/src/signers/svm/solana-web3js.ts
  typescript/sdk/src/signers/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): remove http-registry-server from core CLI_DEPS
  .github/workflows/test.yml
Due: none

ci: retry sccache setup with graceful fallback to reduce CI flakes
  .github/actions/setup-sccache/action.yml
  .github/workflows/rust.yml
  .github/workflows/test-rust-e2e.yml
Due: none

fix(infra): retry GitHub registry fetches in warp IDs test (#8278)
  typescript/infra/test/warpIds.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): add SignerSendTransactionOptions to IMultiProtocolSigner (#8277)
  .changeset/sdk-signer-options.md
  typescript/sdk/src/index.ts
  typescript/sdk/src/signers/cosmos/cosmjs.ts
  typescript/sdk/src/signers/evm/ethersv5.ts
  typescript/sdk/src/signers/radix/radix-toolkit.ts
  typescript/sdk/src/signers/starknet/starknetjs.ts
  typescript/sdk/src/signers/svm/solana-web3js.ts
  typescript/sdk/src/signers/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(ci): reduce CLI e2e runs and improve change detection (#8272)
  .github/workflows/rust.yml
  .github/workflows/test-cli-e2e.yml
  .github/workflows/test-env.yml
  .github/workflows/test-rust-e2e.yml
  .github/workflows/test.yml
Due: none

feat: warn when deploying with ephemeral PR image tags
  typescript/infra/scripts/agents/deploy-agents.ts
  typescript/infra/scripts/funding/deploy-key-funder.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: flatten nesting with early continue
  typescript/infra/scripts/agents/deploy-agents.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

refactor: extract warnIfPrTag helper to gcloud.ts
  typescript/infra/scripts/agents/deploy-agents.ts
  typescript/infra/scripts/funding/deploy-key-funder.ts
  typescript/infra/src/utils/gcloud.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: retry sccache setup with graceful fallback (#8279)
  .github/actions/setup-sccache/action.yml
  .github/workflows/rust.yml
  .github/workflows/test-rust-e2e.yml
Due: none

chore(ci): tweak claude reviews (#8266)
  .claude/skills/claude-review/SKILL.md
  .claude/skills/claude-security-review/SKILL.md
  .claude/skills/claude-tob-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/prompts/code-review.md
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: use file-scoped logger for warnIfPrTag
  typescript/infra/src/utils/gcloud.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
