Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

chore: port tests from deleted AltVmModule
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for lockbox adapter fix
  .changeset/fix-lockbox-wrapped-token.md
Due: oxfmt --no-error-on-unmatched-pattern --write

Align multicollateral router set + routing fee API with prior design
  solidity/multicollateral/contracts/MultiCollateral.sol
  solidity/multicollateral/contracts/MultiCollateralRoutingFee.sol
  solidity/multicollateral/test/MultiCollateral.t.sol
Due: prettier --write

fix(multicollateral): emit SentTransferRemote only on cross-chain dispatch
  solidity/multicollateral/contracts/MultiCollateral.sol
Due: prettier --write

refactor(multicollateral): keep only batch router-fee setter
  solidity/multicollateral/contracts/MultiCollateralRoutingFee.sol
  solidity/multicollateral/test/MultiCollateral.t.sol
Due: prettier --write

fix(multicollateral): reject msg.value on same-chain transferRemoteTo
  solidity/multicollateral/contracts/MultiCollateral.sol
  solidity/multicollateral/test/MultiCollateral.t.sol
Due: prettier --write

fix(provider-sdk): use 0 address instead of empty string for default hook and isms when converting from artifact to config and viceversa
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(multicollateral): add routing fee claim and IMultiCollateralFee transfer path
  solidity/multicollateral/contracts/MultiCollateral.sol
  solidity/multicollateral/contracts/MultiCollateralRoutingFee.sol
  solidity/multicollateral/test/MultiCollateral.t.sol
Due: prettier --write

docs(multicollateral): clarify transferRemote override rationale
  solidity/multicollateral/contracts/MultiCollateral.sol
Due: prettier --write

style(multicollateral): format MultiCollateral for prettier
  solidity/multicollateral/contracts/MultiCollateral.sol
Due: prettier --write

fix(cli): fix failing cross chain e2e tests
  typescript/cli/src/tests/cross-chain/warp/warp-apply.e2e-test.ts
  typescript/cli/src/tests/cross-chain/warp/warp-deploy.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove merkly_nft from metric app contexts
  typescript/infra/config/environments/mainnet3/agent.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): resolve xERC20 lockbox wrapped token via lockbox adapter (#8255)
  .changeset/fix-lockbox-wrapped-token.md
  typescript/sdk/src/token/adapters/EvmTokenAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore(infra): remove merkly_nft addresses file and regenerate app contexts
  rust/main/app-contexts/mainnet_config.json
  typescript/infra/config/environments/mainnet3/agent.ts
  typescript/infra/config/environments/mainnet3/misc-artifacts/merkly-nft-addresses.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cosmos-sdk): do not return empty strings for missing synthetic and collateral token metadata
  typescript/cosmos-sdk/src/warp/warp-query.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli): status command resolves only necessary chains
  typescript/cli/src/context/strategies/chain/chainResolver.test.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/status/message.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add CLI changeset for status chain resolution fix
  .changeset/thin-maps-guess.md
Due: oxfmt --no-error-on-unmatched-pattern --write

chore: cc + rabbit pr review
  .changeset/rare-bugs-cheat.md
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/ism.ts
  typescript/provider-sdk/src/warp.ts
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ccip-server): prevent crash from malicious input to offchain-lookup-server
  typescript/ccip-server/src/services/CallCommitmentsService.ts
  typescript/ccip-server/tests/services/CallCommitmentsService.test.ts
  typescript/sdk/src/middleware/account/InterchainAccount.test.ts
  typescript/sdk/src/middleware/account/InterchainAccount.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: cc review part 2
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: add changeset for offchain-lookup-server crash fix
  .changeset/fix-offchain-lookup-crash.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: improve ccip-server tests to verify 400 response and schema rejection
  typescript/ccip-server/tests/services/CallCommitmentsService.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: minor rabbit suggestion
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: merge duplicate import to fix lint warning
  typescript/sdk/src/middleware/account/InterchainAccount.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: add error message to toThrow assertion to satisfy lint
  typescript/ccip-server/tests/services/CallCommitmentsService.test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: MultiCollateral solidity package (#8246)
  .changeset/multicollateral-typechain-package.md
  Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  solidity/eslint.config.mjs
  solidity/multicollateral/contracts/MultiCollateral.sol
  solidity/multicollateral/contracts/MultiCollateralRoutingFee.sol
  solidity/multicollateral/contracts/interfaces/IMultiCollateralFee.sol
  solidity/multicollateral/eslint.config.mjs
  solidity/multicollateral/foundry.toml
  solidity/multicollateral/hardhat.config.cts
  solidity/multicollateral/index.ts
  solidity/multicollateral/package.json
  solidity/multicollateral/remappings.txt
  solidity/multicollateral/test/MultiCollateral.t.sol
  solidity/multicollateral/tsconfig.json
  solidity/tsconfig.json
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

fix(ci): sanitize branch names in Docker tags by replacing slashes with dashes
  .github/workflows/node-services-docker.yml
Due: none

refactor(cli): dedupe multicollateral prompt switch case
  typescript/cli/src/config/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): ignore multicollateral in core eslint
  solidity/eslint.config.mjs
Due: none

feat: add multicollateral sdk and cli support
  docs/multi-collateral-design.md
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/config/warp.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/warp/warp-multi-collateral.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-multi-peer.e2e-test.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.ts
  typescript/sdk/src/token/config.ts
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/tokenMetadataUtils.ts
  typescript/sdk/src/token/types.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: align sdk multicollateral imports and defer routing-fee mutations
  pnpm-lock.yaml
  typescript/sdk/package.json
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
  typescript/sdk/src/fee/types.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.ts
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/token/deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Fix multicollateral routing + fee quoting edge cases
  docs/multi-collateral-design.md
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.ts
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
  typescript/warp-monitor/src/monitor.test.ts
  typescript/warp-monitor/src/monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Address CodeRabbit transfer and quote robustness feedback
  typescript/cli/src/send/transfer.ts
  typescript/cli/src/tests/ethereum/warp/warp-multi-collateral.e2e-test.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

style: format warp monitor explorer
  typescript/warp-monitor/src/explorer.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: port multicollateral fee and transfer flows to sdk and cli
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/config/warp.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/send/transfer.ts
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/warp/warp-multi-collateral.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-multi-peer.e2e-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.ts
  typescript/sdk/src/fee/types.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.test.ts
  typescript/sdk/src/token/adapters/EvmMultiCollateralAdapter.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(cli): validate warp combine inputs and warn on unenroll
  pnpm-lock.yaml
  solidity/multicollateral/package.json
  typescript/cli/src/deploy/warp.test.ts
  typescript/cli/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

Apply CodeRabbit fixes for multicollateral + monitor
  solidity/multicollateral/package.json
  solidity/multicollateral/tsconfig.json
  typescript/cli/src/commands/warp.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.ts
  typescript/warp-monitor/src/explorer.test.ts
  typescript/warp-monitor/src/explorer.ts
  typescript/warp-monitor/src/monitor.test.ts
  typescript/warp-monitor/src/monitor.ts
  typescript/warp-monitor/src/service.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(warp-monitor): scope projected deficit to collateralized routes
  typescript/warp-monitor/src/metrics.test.ts
  typescript/warp-monitor/src/metrics.ts
  typescript/warp-monitor/src/monitor.test.ts
  typescript/warp-monitor/src/monitor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(ci): include multicollateral deps in node-service image
  typescript/Dockerfile.node-service
  typescript/cli/src/deploy/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: add pending-transfer and inventory metrics to warp monitor
  typescript/warp-monitor/src/explorer.test.ts
  typescript/warp-monitor/src/explorer.ts
  typescript/warp-monitor/src/metrics.test.ts
  typescript/warp-monitor/src/metrics.ts
  typescript/warp-monitor/src/monitor.ts
  typescript/warp-monitor/src/service.ts
  typescript/warp-monitor/src/types.test.ts
  typescript/warp-monitor/src/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write
