Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --no-error-on-unmatched-pattern --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.ts": ["oxlint", "oxfmt --no-error-on-unmatched-pattern --write"],
  "*.md": "oxfmt --no-error-on-unmatched-pattern --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --no-error-on-unmatched-pattern --write"
}

fix(skills): correct the confirmation-budget formula and the recipient rule
  .claude/skills/warp-chain-metadata-cushions/SKILL.md
  .claude/skills/warp-deploy-send-test/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): compare OffchainQuotedLinearFee sub-fee owner in warp check
  .changeset/warp-check-ignore-sub-fee-owner.md
  typescript/sdk/src/token/configUtils.test.ts
  typescript/sdk/src/token/configUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): schema-parse registry warp configs in check-warp-deploy
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): point eclipse USDC/USDT warp fee owner to Turnkey after rotation (#9163)
  .changeset/warp-check-ignore-sub-fee-owner.md
  typescript/infra/config/environments/mainnet3/governance/utils.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDTWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/utils.ts
  typescript/sdk/src/token/configUtils.test.ts
  typescript/sdk/src/token/configUtils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(solidity): vendor pre-audit BlacklistIsm as a test fixture
  solidity/contracts/test/TestLegacyBlacklistIsm.sol
Due: prettier --write

changeset(sdk): note legacy BlacklistIsm support
  .changeset/legacy-blacklist-ism-support.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): support BlacklistIsm deployments that predate values()
  typescript/sdk/src/ism/EvmIsmModule.hardhat-test.ts
  typescript/sdk/src/ism/EvmIsmModule.test.ts
  typescript/sdk/src/ism/EvmIsmModule.ts
  typescript/sdk/src/ism/EvmIsmReader.test.ts
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/ism/types.test.ts
  typescript/sdk/src/ism/types.ts
  typescript/sdk/src/ism/utils.test.ts
  typescript/sdk/src/ism/utils.ts
  typescript/sdk/src/test/contractDouble.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(forking-sdk): bound waitUntilReady to linear fixed-interval polling
  typescript/forking-sdk/src/helpers.test.ts
  typescript/forking-sdk/src/helpers.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): kill surfpool fork node on readiness failure and process exit
  typescript/svm-sdk/src/fork/surfpool-node.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(forking-sdk): tear down started fork managers when orchestration fails
  typescript/forking-sdk/src/orchestration.test.ts
  typescript/forking-sdk/src/orchestration.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs: correct surfpool docker-fallback claims for warp fork
  .changeset/vm-agnostic-warp-fork-solana.md
  .claude/skills/warp-fork/SKILL.md
  .claude/skills/warp-simulate-svm-txs/SKILL.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix(svm-sdk): disable surfpool file logging in the local runner
  typescript/svm-sdk/src/fork/surfpool-node.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(infra): schema-parse registry warp configs in check-warp-deploy (#9201)
  typescript/infra/scripts/check/check-warp-deploy.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(forking-sdk): allocate a distinct WS port per forked chain
  typescript/cli/src/fork/loadForkManager.ts
  typescript/forking-sdk/src/orchestration.test.ts
  typescript/forking-sdk/src/orchestration.ts
  typescript/forking-sdk/src/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(cli,sealevel-sdk): harden fork-node readiness and keep datasource creds out of argv
  typescript/cli/src/fork/EvmForkManager.ts
  typescript/svm-sdk/src/fork/surfpool-node.ts
  typescript/svm-sdk/src/fork/surfpool-node.unit-test.ts
  typescript/svm-sdk/src/testing/surfpool-container.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

docs(cli): correct fork command help for per-protocol forking
  typescript/cli/src/commands/fork.ts
  typescript/cli/src/commands/options.ts
  typescript/cli/src/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

ci: pin surfpool install and run fork e2e on forking-sdk changes
  .github/workflows/test-cli-e2e.yml
  .github/workflows/test.yml
Due: none

refactor(svm-sdk): extract the Sealevel tx submission pipeline into a shared module
  typescript/svm-sdk/src/clients/signer.ts
  typescript/svm-sdk/src/clients/tx-submission.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(svm-sdk): add SvmImpersonatingSigner for partial-sign fork submission
  typescript/svm-sdk/src/clients/impersonating-signer.ts
  typescript/svm-sdk/src/index.ts
  typescript/svm-sdk/src/tests/impersonating-signer.unit-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(provider-sdk,svm-sdk): add optional createImpersonatingSigner to ProtocolProvider
  typescript/provider-sdk/src/protocol.ts
  typescript/svm-sdk/src/clients/protocol.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): allow optional userAddress on the impersonatedAccount submitter
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5ImpersonatedAccountTxSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.test.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(deploy-sdk): add AltVMImpersonatedSubmitter
  typescript/deploy-sdk/src/AltVMImpersonatedSubmitter.ts
  typescript/deploy-sdk/src/AltVMJsonRpcSubmitter.ts
  typescript/deploy-sdk/src/index.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(cli): wire the impersonatedAccount submitter for AltVM chains
  typescript/cli/src/context/altvm.ts
  typescript/cli/src/context/context.ts
  typescript/cli/src/context/types.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/context/create-altvm-signers.test.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

test(cli): impersonated warp apply against a Sealevel fork
  typescript/cli/src/tests/commands/warp.ts
  typescript/cli/src/tests/sealevel/warp/warp-fork.e2e-test.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

chore: changeset for the AltVM impersonated submitter
  .changeset/altvm-impersonated-submitter.md
Due: oxfmt --no-error-on-unmatched-pattern --write

fix: cosmos self announce
  rust/main/chains/hyperlane-cosmos/src/providers/rpc.rs
Due: none

fix: unify the request and stalled-provider timeouts into one budget
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/fallback.rs
  rust/main/hyperlane-core/src/rpc_clients/fallback.rs
Due: none

fix: add Cosmos gas floor for validator announcements (#9202)
  rust/main/chains/hyperlane-cosmos/src/providers/rpc.rs
Due: none

fix: add timeout to FallbackProvider::call to unblock stalled providers (#9195)
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/fallback.rs
  rust/main/hyperlane-core/src/rpc_clients/fallback.rs
Due: none

fix: example script
  typescript/metaswaps-sdk/src/client/RoutingClient.ts
  typescript/metaswaps-sdk/src/client/schemas.ts
  typescript/metaswaps-sdk/src/examples/quote.ts
  typescript/metaswaps-sdk/src/index.ts
  typescript/metaswaps-sdk/src/swap/executor.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: update readme
  typescript/metaswaps-sdk/README.md
  typescript/metaswaps-sdk/src/index.ts
  typescript/metaswaps-sdk/src/types.ts
  typescript/metaswaps-sdk/src/utils/constants.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix: mcp
  .mcp.json
  typescript/metaswaps-sdk/README.md
  typescript/metaswaps-sdk/src/mcp/server.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat: allow custom tooltip icons
  .changeset/widgets-tooltip-icon-prop.md
  typescript/widgets/src/components/Tooltip.tsx
Due: oxfmt --no-error-on-unmatched-pattern --write

feat(infra): add deployed Tron AW timelock for oUSDT expansion
  typescript/infra/config/environments/mainnet3/governance/timelock/aw.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): add deployed Tea AW timelock for oUSDT expansion
  typescript/infra/config/environments/mainnet3/governance/timelock/aw.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(infra): expand oUSDT warp route, add 5bps OQLF fees, remove 10 legs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getoUSDTTokenWarpConfig.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

feat(sdk): report which source served an event log query
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): validate caller-supplied blacklist targets before derivation
  typescript/sdk/src/ism/EvmIsmModule.test.ts
  typescript/sdk/src/ism/EvmIsmModule.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

fix(sdk): harden blacklist and test ISM config checks
  typescript/sdk/src/ism/EvmIsmReader.test.ts
  typescript/sdk/src/ism/EvmIsmReader.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/ism/blacklist.ts
  typescript/sdk/src/ism/utils.ts
Due: oxlint, oxfmt --no-error-on-unmatched-pattern --write

changeset(sdk): cover the check-path hardening and log source split
  .changeset/legacy-blacklist-ism-support.md
Due: oxfmt --no-error-on-unmatched-pattern --write
