Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, prettier --write

tests: remove remaining hardhat-waffle imports from TS suites
  pnpm-lock.yaml
  typescript/helloworld/src/test/deploy.test.ts
  typescript/relayer/package.json
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
Due: oxlint, oxfmt --write

fix: add source-token/destination-token flags to warp send
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/send/transfer.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
Due: oxlint, oxfmt --write

sdk-tests: remove direct hardhat-ethers plugin import
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
Due: oxlint, oxfmt --write

fix(svm-provider): fixed synthetic token metadata initialization
  typescript/svm-provider/src/tests/warp-synthetic.e2e-test.ts
  typescript/svm-provider/src/warp/synthetic-token.ts
Due: oxlint, oxfmt --write

chore(sealevel): bump rust-toolchain to 1.86.0 to match Agave v3.0.x
  rust/sealevel/rust-toolchain
Due: none

solidity: remove typechain package dependency and patch
  package.json
  patches/typechain@8.3.2.patch
  pnpm-workspace.yaml
  solidity/generate-artifact-exports.mjs
  solidity/package.json
Due: oxfmt --write

fix: exclude MultiCollateral from hardhat rebalancer tests
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
Due: oxlint, oxfmt --write

hardhat: remove hardhat-ethers plugin deps and config imports
  pnpm-lock.yaml
  pnpm-workspace.yaml
  solidity/hardhat.config.cts
  solidity/package.json
  solidity/tron-hardhat.config.cts
  solidity/zk-hardhat.config.cts
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
  typescript/infra/hardhat.config.cts
  typescript/infra/package.json
  typescript/relayer/hardhat.config.cts
  typescript/relayer/package.json
  typescript/sdk/hardhat.config.cts
  typescript/sdk/package.json
Due: oxfmt --write

fix: adjust warp-init test for multiCollateral token type offset
  typescript/cli/src/config/warp.ts
  typescript/cli/src/tests/commands/helpers.ts
Due: oxlint, oxfmt --write

fix(sealevel): fix doc comment overindentation in token processor
  rust/sealevel/programs/hyperlane-sealevel-token/src/processor.rs
Due: none

tests: remove hardhat-ethers signer type imports
  solidity/test/signer.ts
  typescript/helloworld/src/test/helloworld.test.ts
  typescript/infra/test/govern.hardhat-test.ts
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/EvmCoreModule.hardhat-test.ts
  typescript/sdk/src/core/EvmIcaModule.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.hardhat-test.ts
  typescript/sdk/src/hook/EvmHookModule.hardhat-test.ts
  typescript/sdk/src/ism/EvmIsmModule.hardhat-test.ts
  typescript/sdk/src/middleware/account/accounts.hardhat-test.ts
  typescript/sdk/src/middleware/query/queries.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockDeployer.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
Due: oxlint, oxfmt --write

hardhat: add viem plugin across solidity and TypeScript configs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  solidity/hardhat.config.cts
  solidity/package.json
  solidity/tron-hardhat.config.cts
  solidity/zk-hardhat.config.cts
  typescript/helloworld/hardhat.config.cts
  typescript/helloworld/package.json
  typescript/infra/hardhat.config.cts
  typescript/infra/package.json
  typescript/relayer/hardhat.config.cts
  typescript/relayer/package.json
  typescript/sdk/hardhat.config.cts
  typescript/sdk/package.json
Due: oxfmt --write

solidity-tests: migrate hardhat helpers and tests to hre.viem
  solidity/test/merkle.test.ts
  solidity/test/message.test.ts
  solidity/test/mockMailbox.test.ts
  solidity/test/signer.ts
  solidity/test/testrecipient.test.ts
Due: oxlint, oxfmt --write

feat(svm-provider): Complete Solana warp token implementation
  pnpm-lock.yaml
  typescript/svm-provider/package.json
  typescript/svm-provider/src/tests/warp-collateral.e2e-test.ts
  typescript/svm-provider/src/warp/collateral-token.ts
  typescript/svm-provider/src/warp/program-bytes.ts
  typescript/svm-provider/src/warp/synthetic-token.ts
  typescript/svm-provider/src/warp/warp-artifact-manager.ts
Due: oxlint, oxfmt --write

hardhat-tests: replace hre.ethers signers with viem-backed signers
  typescript/helloworld/src/test/deploy.test.ts
  typescript/helloworld/src/test/helloworld.test.ts
  typescript/infra/test/govern.hardhat-test.ts
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
Due: oxlint, oxfmt --write

sdk-hardhat-tests: migrate signer plumbing from hre.ethers to hre.viem
  typescript/sdk/src/contracts/contracts.hardhat-test.ts
  typescript/sdk/src/core/CoreDeployer.hardhat-test.ts
  typescript/sdk/src/core/EvmCoreModule.hardhat-test.ts
  typescript/sdk/src/core/EvmIcaModule.hardhat-test.ts
  typescript/sdk/src/core/testHyperlaneDeploy.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeDeployer.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeModule.hardhat-test.ts
  typescript/sdk/src/fee/EvmTokenFeeReader.hardhat-test.ts
  typescript/sdk/src/gas/oracle/configure-gas-oracles.hardhat-test.ts
  typescript/sdk/src/hook/EvmHookModule.hardhat-test.ts
  typescript/sdk/src/ica/EvmIcaReader.hardhat-test.ts
  typescript/sdk/src/ism/EvmIsmModule.hardhat-test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/middleware/account/accounts.hardhat-test.ts
  typescript/sdk/src/middleware/query/queries.hardhat-test.ts
  typescript/sdk/src/rpc/evm/EvmEventLogsReader.hardhat-test.ts
  typescript/sdk/src/rpc/evm/utils.hardhat-test.ts
  typescript/sdk/src/test/hardhatViem.ts
  typescript/sdk/src/timelock/evm/EvmTimelockDeployer.hardhat-test.ts
  typescript/sdk/src/timelock/evm/EvmTimelockReader.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
Due: oxlint, oxfmt --write

sdk-core: remove typechain mailbox event dependency
  solidity/package.json
  typescript/sdk/src/core/events.ts
Due: oxlint, oxfmt --write

chore: restore solidity package manifest formatting
  solidity/package.json
Due: oxfmt --write

solidity: remove remaining typechain source export references
  solidity/core-utils/index.ts
  solidity/eslint.config.mjs
Due: oxlint, oxfmt --write

refactor(sealevel): inline FeeData into RouteDomain, eliminating delegated fee account
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/instruction.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
Due: none

refactor(sealevel): move fee beneficiary from warp route to fee program
  rust/sealevel/libraries/hyperlane-sealevel-token/src/accounts.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/instruction.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

refactor(sealevel): replace additional_fee_account_count with fee-recipient sentinel
  rust/sealevel/libraries/hyperlane-sealevel-token/src/accounts.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

test(sealevel): port routing fee, fee program mismatch, and fee account mismatch tests to native and collateral
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
Due: none

refactor(sealevel): polish fee program — safe math, AccessControl, doc comments, CPI cleanup
  rust/sealevel/libraries/hyperlane-sealevel-token/src/error.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/error.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/fee.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/instruction.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/pda_seeds.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/src/plugin.rs
Due: none

docs(sealevel): add SVM fee architecture document
  rust/sealevel/programs/hyperlane-sealevel-fee/architecture.md
Due: oxfmt --write

fix(sealevel): align IGP inline comments with doc notation, remove resize cfg guard
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor.rs
Due: none

test(sealevel): add comprehensive fee program test coverage
  rust/sealevel/programs/hyperlane-sealevel-fee/src/fee.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
Due: none

refactor(sealevel): rename fee_recipient to fee_beneficiary across warp route
  rust/sealevel/libraries/hyperlane-sealevel-token/src/error.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

feat(sealevel): add fee program and warp route fee integration
  docs/sealevel-v3-hooks-design.md
  rust/sealevel/Cargo.lock
  rust/sealevel/Cargo.toml
  rust/sealevel/libraries/account-utils/src/lib.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/Cargo.toml
  rust/sealevel/libraries/hyperlane-sealevel-token/src/accounts.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/error.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/instruction.rs
  rust/sealevel/libraries/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/Cargo.toml
  rust/sealevel/programs/hyperlane-sealevel-fee/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/error.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/fee.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/instruction.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/lib.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/pda_seeds.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/Cargo.toml
  rust/sealevel/programs/hyperlane-sealevel-token-native/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/Cargo.toml
  rust/sealevel/programs/hyperlane-sealevel-token/src/plugin.rs
  rust/sealevel/programs/hyperlane-sealevel-token/src/processor.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: oxfmt --write

test(sealevel): add comprehensive fee integration tests across all warp route variants
  rust/sealevel/Cargo.lock
  rust/sealevel/libraries/hyperlane-sealevel-token/src/accounts.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/src/fee.rs
  rust/sealevel/programs/hyperlane-sealevel-fee/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/Cargo.toml
  rust/sealevel/programs/hyperlane-sealevel-token-collateral/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token-native/tests/functional.rs
  rust/sealevel/programs/hyperlane-sealevel-token/tests/functional.rs
Due: none

sdk: reduce zksync-ethers usage in provider and token utilities
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/token/EvmWarpRouteReader.ts
  typescript/sdk/src/token/adapters/M0PortalLiteTokenAdapter.ts
  typescript/sdk/src/utils/fork.ts
Due: oxlint, oxfmt --write

sdk-signers: migrate evm adapter off zksync-ethers wallet
  typescript/sdk/src/signers/evm/evm.ts
Due: oxlint, oxfmt --write

sdk: inline zksync factoryDeps deploy flow in multiprovider
  typescript/sdk/src/providers/MultiProvider.ts
  typescript/sdk/src/zksync/ZKSyncDeployer.ts
Due: oxlint, oxfmt --write

sdk-tests: replace hardhat signer helper zksync dependency
  typescript/sdk/src/test/hardhatViem.ts
Due: oxlint, oxfmt --write

tests: share sdk hardhat signer helper across TS packages
  typescript/helloworld/src/test/deploy.test.ts
  typescript/helloworld/src/test/helloworld.test.ts
  typescript/infra/test/govern.hardhat-test.ts
  typescript/relayer/src/metadata/arbL2ToL1.hardhat-test.ts
  typescript/relayer/src/metadata/builder.hardhat-test.ts
  typescript/relayer/src/metadata/ccipread.hardhat-test.ts
  typescript/sdk/src/index.ts
Due: oxlint, oxfmt --write

sdk-provider: rewrite json rpc provider without zksync-ethers
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
Due: oxlint, oxfmt --write

sdk-smartprovider: remove remaining runtime zksync-ethers dependency
  typescript/sdk/src/providers/SmartProvider/HyperlaneJsonRpcProvider.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.foundry-test.ts
  typescript/sdk/src/providers/SmartProvider/SmartProvider.ts
Due: oxlint, oxfmt --write

sdk: drop zksync-ethers dependency after provider migration
  pnpm-lock.yaml
  typescript/sdk/package.json
Due: oxfmt --write

sdk-signers: add viem local account signer for multiprovider services
  typescript/keyfunder/src/service.ts
  typescript/rebalancer/src/service.ts
  typescript/relayer/src/fs/service.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/signers/evm/local.ts
Due: oxlint, oxfmt --write

Path conditions:
  oxlint: (any of: *.js) or (any of: *.ts)
  oxfmt --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)
  prettier --write: any of: *.sol
