Repository hyperlane-xyz/hyperlane-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write, prettier --write

.lintstagedrc:

{
  "*.js": ["oxlint", "oxfmt --write"],
  "*.ts": ["oxlint", "oxfmt --write"],
  "*.md": "oxfmt --write",
  "*.sol": "prettier --write",
  "*.json": "oxfmt --write"
}

feat: replace SQLite with typed tools and context persistence in LLM rebalancer
  pnpm-lock.yaml
  typescript/llm-rebalancer/package.json
  typescript/llm-rebalancer/schema/action-log.sql
  typescript/llm-rebalancer/scripts/run.ts
  typescript/llm-rebalancer/skills/bridge-tokens/SKILL.md
  typescript/llm-rebalancer/skills/check-balances/SKILL.md
  typescript/llm-rebalancer/skills/check-inflight/SKILL.md
  typescript/llm-rebalancer/skills/execute-rebalance/SKILL.md
  typescript/llm-rebalancer/skills/inventory-deposit/SKILL.md
  typescript/llm-rebalancer/skills/manage-action-log/SKILL.md
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/config.ts
  typescript/llm-rebalancer/src/context-store.ts
  typescript/llm-rebalancer/src/events.ts
  typescript/llm-rebalancer/src/index.ts
  typescript/llm-rebalancer/src/prompt-builder.ts
  typescript/llm-rebalancer/src/sim/LLMRebalancerRunner.ts
  typescript/llm-rebalancer/src/tools/check-hyperlane-delivery.ts
  typescript/llm-rebalancer/src/tools/get-balances.ts
  typescript/llm-rebalancer/src/tools/get-chain-metadata.ts
  typescript/llm-rebalancer/src/tools/index.ts
  typescript/llm-rebalancer/src/tools/save-context.ts
Due: oxlint, oxfmt --write

test(aleo-sdk): make collateral warp artifact e2e token metadata run-unique
  typescript/aleo-sdk/src/tests/7_warp_artifacts.e2e-test.ts
Due: oxlint, oxfmt --write

feat(deploy-sdk): export WarpTokenReader and WarpTokenWriter
  typescript/deploy-sdk/src/index.ts
Due: oxlint, oxfmt --write

chore: add changeset for warp artifact API implementation
  .changeset/brave-shoes-dream.md
Due: oxfmt --write

feat(provider-sdk, deploy-sdk): add hook merge logic and update warp writer
  typescript/deploy-sdk/src/warp/warp-writer.ts
  typescript/provider-sdk/src/hook.ts
Due: oxlint, oxfmt --write

feat(deploy-sdk): add WarpTokenReader with artifact API
  typescript/deploy-sdk/src/warp/warp-reader.ts
Due: oxlint, oxfmt --write

chore: andrey pr review
  .changeset/brave-shoes-dream.md
  typescript/deploy-sdk/src/warp/warp-writer.ts
Due: oxlint, oxfmt --write

refactor(deploy-sdk): remove deprecated warp module files
  typescript/deploy-sdk/src/AltVMWarpDeployer.ts
  typescript/deploy-sdk/src/AltVMWarpModule.test.ts
  typescript/deploy-sdk/src/AltVMWarpModule.ts
  typescript/deploy-sdk/src/AltVMWarpRouteReader.ts
  typescript/deploy-sdk/src/index.ts
  typescript/deploy-sdk/src/warp-module.ts
Due: oxlint, oxfmt --write

fix(provider-sdk): fix warpConfigToArtifact not handling hooks and isms in the input config
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --write

refactor(deploy-sdk, provider-sdk): moved ismConfigToArtifact to the provider sdk
  typescript/deploy-sdk/src/ism/ism-config-utils.ts
  typescript/provider-sdk/src/ism.ts
Due: oxlint, oxfmt --write

chore: port tests from deleted AltVmModule
  typescript/deploy-sdk/src/warp/warp-writer.test.ts
Due: oxlint, oxfmt --write

refactor(cli,sdk): replace AltVMWarpModule with WarpTokenWriter
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/read/warp.ts
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --write

chore: add changeset for warp artifact API client integration
  .changeset/rare-bugs-cheat.md
Due: oxfmt --write

refactor(reploy-sdk): removed old imports from the deploy sdk for the ismConfigToArtifact function
  typescript/cli/src/ism/deploy.ts
  typescript/deploy-sdk/src/AltVMCoreModule.ts
  typescript/deploy-sdk/src/index.ts
  typescript/deploy-sdk/src/ism/ism-config-utils.ts
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --write

feat(sdk): make deployment sequential for alt vms
  typescript/sdk/src/deploy/warp.ts
Due: oxlint, oxfmt --write

fix: address review issues in LLM rebalancer tools + update README
  typescript/llm-rebalancer/README.md
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/prompt-builder.ts
  typescript/llm-rebalancer/src/tools/check-hyperlane-delivery.ts
  typescript/llm-rebalancer/src/tools/get-balances.ts
Due: oxlint, oxfmt --write

refactor(svm-provider): add SvmProgramTarget, SvmDeployed* types and resolveProgram helper
  typescript/svm-provider/src/deploy/index.ts
  typescript/svm-provider/src/deploy/resolve-program.ts
  typescript/svm-provider/src/types.ts
Due: oxlint, oxfmt --write

refactor(svm-provider): remove singleton assumption from readers/writers/managers
  typescript/svm-provider/src/hook/hook-artifact-manager.ts
  typescript/svm-provider/src/hook/igp-hook.ts
  typescript/svm-provider/src/hook/merkle-tree-hook.ts
  typescript/svm-provider/src/ism/ism-artifact-manager.ts
  typescript/svm-provider/src/ism/multisig-ism.ts
  typescript/svm-provider/src/ism/test-ism.ts
  typescript/svm-provider/src/testing/setup.ts
  typescript/svm-provider/src/tests/hook.e2e-test.ts
  typescript/svm-provider/src/tests/ism.e2e-test.ts
Due: oxlint, oxfmt --write

chore(ci): run rebalancer sim tests in series (#8174)
  .github/workflows/rebalancer-sim-test.yml
Due: none

feat: production-ready LLM rebalancer runner
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typescript/llm-rebalancer/package.json
  typescript/llm-rebalancer/scripts/run.ts
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/context-store.ts
  typescript/llm-rebalancer/src/index.ts
  typescript/rebalancer-sim/src/index.ts
  typescript/rebalancer-sim/src/runners/LLMRebalancerRunner.ts
  typescript/rebalancer-sim/test/utils/simulation-helpers.ts
Due: oxlint, oxfmt --write

feat: foundry keystore signing, haiku default, wallet-setup skill
  typescript/llm-rebalancer/README.md
  typescript/llm-rebalancer/scripts/run.ts
  typescript/llm-rebalancer/skills/bridge-tokens/SKILL.md
  typescript/llm-rebalancer/skills/execute-rebalance/SKILL.md
  typescript/llm-rebalancer/skills/inventory-deposit/SKILL.md
  typescript/llm-rebalancer/skills/wallet-setup/SKILL.md
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/prompt-builder.ts
  typescript/rebalancer-sim/src/runners/LLMRebalancerRunner.ts
  typescript/rebalancer-sim/test/utils/simulation-helpers.ts
Due: oxlint, oxfmt --write

chore(sealevel): delete obsolete install-solana-1.14.20.sh
  rust/sealevel/programs/install-solana-1.14.20.sh
Due: none

chore(provider-sdk): port provider sdk code from warp artifact api branch [ignore commit on rebase]
  typescript/provider-sdk/src/artifact.ts
  typescript/provider-sdk/src/artifact.types.test.ts
  typescript/provider-sdk/src/ism.ts
  typescript/provider-sdk/src/warp.ts
Due: oxlint, oxfmt --write

fix(keyfunder): restore hyperlane_wallet_balance metric for Grafana alerts
  .changeset/fix-keyfunder-wallet-balance-metric.md
  typescript/keyfunder/src/core/KeyFunder.ts
  typescript/keyfunder/src/metrics/Metrics.test.ts
  typescript/keyfunder/src/metrics/Metrics.ts
Due: oxlint, oxfmt --write

fix(keyfunder): include base labels on unified wallet metric
  typescript/keyfunder/src/metrics/Metrics.test.ts
  typescript/keyfunder/src/metrics/Metrics.ts
Due: oxlint, oxfmt --write

fix(keyfunder): do not block funding on funder balance metric error
  typescript/keyfunder/src/core/KeyFunder.test.ts
  typescript/keyfunder/src/core/KeyFunder.ts
Due: oxlint, oxfmt --write

fix(infra): default IGP threshold to 20% of relayer balance
  typescript/infra/src/funding/key-funder.ts
  typescript/keyfunder/src/core/KeyFunder.test.ts
Due: oxlint, oxfmt --write

fix(keyfunder): emit standard token labels on wallet metric
  typescript/keyfunder/src/metrics/Metrics.test.ts
  typescript/keyfunder/src/metrics/Metrics.ts
Due: oxlint, oxfmt --write

feat: split rebalance skills per-bridge, trim agent prompt, scale sim timing for LLM
  typescript/llm-rebalancer/scripts/run.ts
  typescript/llm-rebalancer/skills/bridge-tokens/SKILL.md
  typescript/llm-rebalancer/skills/execute-rebalance/SKILL.md
  typescript/llm-rebalancer/skills/inventory-deposit/SKILL.md
  typescript/llm-rebalancer/skills/rebalance-cctp/SKILL.md
  typescript/llm-rebalancer/skills/rebalance-lifi/SKILL.md
  typescript/llm-rebalancer/skills/rebalance-mock-bridge/SKILL.md
  typescript/llm-rebalancer/skills/submit-transaction/SKILL.md
  typescript/llm-rebalancer/skills/wallet-setup/SKILL.md
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/context-store.ts
  typescript/llm-rebalancer/src/prompt-builder.ts
  typescript/rebalancer-sim/src/SimulationEngine.ts
  typescript/rebalancer-sim/src/runners/LLMRebalancerRunner.ts
  typescript/rebalancer-sim/src/types.ts
  typescript/rebalancer-sim/test/integration/full-simulation.test.ts
  typescript/rebalancer-sim/test/utils/simulation-helpers.ts
Due: oxlint, oxfmt --write

chore: placeholder for llm-rebalancer (moved to private repo)
  typescript/llm-rebalancer/.gitkeep
Due: none

feat: add skill directory hint and template caching to LLM rebalancer prompt
  typescript/llm-rebalancer/src/prompt-builder.ts
Due: oxlint, oxfmt --write

feat: session reuse and parallel tool calls for LLM rebalancer
  typescript/llm-rebalancer/scripts/run.ts
  typescript/llm-rebalancer/src/agent.ts
  typescript/llm-rebalancer/src/index.ts
  typescript/rebalancer-sim/src/runners/LLMRebalancerRunner.ts
Due: oxlint, oxfmt --write

docs: update README and add CHANGELOG for LLM rebalancer
  typescript/llm-rebalancer/CHANGELOG.md
  typescript/llm-rebalancer/README.md
Due: oxfmt --write

feat: add get_pending_transfers tool to LLM rebalancer
  pnpm-lock.yaml
  typescript/llm-rebalancer/package.json
  typescript/llm-rebalancer/src/config.ts
  typescript/llm-rebalancer/src/explorer-pending-transfers.ts
  typescript/llm-rebalancer/src/index.ts
  typescript/llm-rebalancer/src/pending-transfers.ts
  typescript/llm-rebalancer/src/prompt-builder.ts
  typescript/llm-rebalancer/src/tools/get-pending-transfers.ts
  typescript/llm-rebalancer/src/tools/index.ts
  typescript/rebalancer-sim/src/runners/LLMRebalancerRunner.ts
Due: oxlint, oxfmt --write

feat(svm-provider): implemented script to generate typescript mapping with solana program bytes
  typescript/svm-provider/package.json
  typescript/svm-provider/scripts/generate-program-bytes.mjs
Due: oxfmt --write

feat(infra): add non-interactive RPC URL management and remove URL redaction
  .claude/skills/debug-rpc-provider/SKILL.md
  .claude/skills/fix-rpc-urls/SKILL.md
  typescript/infra/scripts/secret-rpc-urls/debug-rpc-url-health.ts
  typescript/infra/scripts/secret-rpc-urls/set-rpc-urls.ts
  typescript/infra/src/utils/k8s.ts
  typescript/infra/src/utils/rpcUrls.ts
Due: oxlint, oxfmt --write

feat: add token router and predicate sdk changes
  .changeset/predicate-wrapper-sdk.md
  solidity/contracts/interfaces/hooks/IPostDispatchHook.sol
  solidity/contracts/mock/MockPredicateRegistry.sol
  solidity/contracts/token/extensions/PredicateRouterWrapper.sol
  solidity/foundry.toml
  solidity/remappings.txt
  solidity/soldeer.lock
  solidity/test/token/PredicateRouterWrapper.t.sol
  solidity/test/token/PredicateRouterWrapperFork.t.sol
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/deploy/warp.ts
  typescript/sdk/src/hook/EvmHookReader.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/hook/types.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/predicate/PredicateApiClient.test.ts
  typescript/sdk/src/predicate/PredicateApiClient.ts
  typescript/sdk/src/predicate/PredicateDeployer.hardhat-test.ts
  typescript/sdk/src/predicate/PredicateDeployer.ts
  typescript/sdk/src/predicate/index.ts
  typescript/sdk/src/test/testUtils.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.ts
Due: oxlint, oxfmt --write, prettier --write

feat: add predicate warp send
  .changeset/predicate-cli-integration.md
  typescript/cli/examples/warp-base.yaml
  typescript/cli/examples/warp-config-predicate-mainnet.yaml
  typescript/cli/examples/warp-deployed-predicate-mainnet.yaml
  typescript/cli/examples/warp-ethereum.yaml
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/send/transfer.ts
  typescript/cli/src/tests/ethereum/commands/warp.ts
  typescript/cli/src/tests/ethereum/fixtures/warp-config-predicate-base-ethereum.yaml
  typescript/cli/src/tests/ethereum/fixtures/warp-deploy-predicate-command.sh
  typescript/cli/src/tests/ethereum/warp/warp-deploy-predicate.e2e-test.ts
  typescript/cli/src/tests/ethereum/warp/warp-send-predicate.e2e-test.ts
  typescript/sdk/src/warp/WarpCore.ts
Due: oxlint, oxfmt --write

Indexing spec
  docs/specs/indexing-v2-product-spec.md
Due: oxfmt --write

fix(indexer): fix TypeScript build errors
  typescript/indexer/package.json
  typescript/indexer/scripts/compare.ts
  typescript/indexer/src/config/chains.ts
  typescript/indexer/src/config/contracts.ts
  typescript/indexer/src/db/reorg.ts
  typescript/indexer/src/handlers/hooks.ts
  typescript/indexer/src/handlers/igp.ts
  typescript/indexer/src/handlers/mailbox.ts
  typescript/indexer/src/types/ponder.d.ts
  typescript/indexer/tsconfig.json
Due: oxlint, oxfmt --write
