Repository hyperlane-xyz/hyperlane-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, hooks, isms, token, middlewares

fix: scope explorer fallback by domain
  typescript/scraper-proxy/src/live/event-websocket.integration.test.ts
  typescript/scraper-proxy/src/live/event-websocket.ts
Due: none

feat(infra): move USDC/mantra non-ethereum owners to ICAs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getMantraUSDCWarpConfig.ts
Due: none

feat(infra): add CCTP v2 rebalancing bridges to USDC/electroneum
  rust/main/chains/hyperlane-fuel/src/contracts/mailbox.rs
  rust/main/chains/hyperlane-fuel/src/contracts/mod.rs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getElectroneumUSDCWarpConfig.ts
Due: none

feat(solidity): add Wormhole hook and ISM (#9314)
  .changeset/wormhole-hook-ism-contract.md
  solidity/contracts/hooks/README.md
  solidity/contracts/hooks/wormhole/README.md
  solidity/contracts/hooks/wormhole/WormholeVaaHookIsm.sol
  solidity/contracts/hooks/wormhole/libs/CustomConsistencyLevel.sol
  solidity/contracts/interfaces/hooks/IPostDispatchHook.sol
  solidity/contracts/interfaces/wormhole/IEvmCoreBridge.sol
  solidity/contracts/interfaces/wormhole/IWormholeVaaService.sol
  solidity/contracts/libs/ReverseMapping.sol
  solidity/contracts/libs/WormholeMessage.sol
  solidity/contracts/mock/MockCustomConsistencyLevel.sol
  solidity/contracts/mock/MockWormholeCore.sol
  solidity/foundry.toml
  solidity/remappings.txt
  solidity/soldeer.lock
  solidity/test/hooks/WormholeHookIsm.fork.t.sol
  solidity/test/hooks/WormholeHookIsm.invariant.t.sol
  solidity/test/hooks/WormholeHookIsm.t.sol
  solidity/test/libs/ReverseMapping.t.sol
  solidity/tron-hardhat.config.cts
Due: hooks

feat(core): add LayerZero V2 hook ISMs (#9436)
  .changeset/layerzero-v2-hook-isms.md
  solidity/build-tron.sh
  solidity/contracts/hooks/layerzero/LayerZeroV2HookIsm.sol
  solidity/contracts/hooks/layerzero/README.md
  solidity/contracts/hooks/layerzero/libs/LayerZeroConfigType.sol
  solidity/contracts/hooks/layerzero/libs/LayerZeroPacketV1.sol
  solidity/contracts/interfaces/hooks/IPostDispatchHook.sol
  solidity/contracts/interfaces/layerzero/ILayerZeroPacketService.sol
  solidity/contracts/libs/LayerZeroMessage.sol
  solidity/contracts/libs/LayerZeroMetadata.sol
  solidity/contracts/mock/MockLayerZeroEndpointV2.sol
  solidity/contracts/mock/MockLayerZeroReceiveUln.sol
  solidity/foundry.toml
  solidity/hardhat.config.cts
  solidity/soldeer.lock
  solidity/test/hooks/LayerZeroV2HookIsm.fork.t.sol
  solidity/test/hooks/LayerZeroV2HookIsm.t.sol
  solidity/tron-hardhat.config.cts
Due: hooks

refactor(solidity): inline message ID replay check
  solidity/contracts/hooks/libs/AbstractMessageIdAuthHook.sol
Due: hooks

fix(solidity): prevent message ID hook replay
  .changeset/tough-hooks-replay.md
  solidity/contracts/hooks/libs/AbstractMessageIdAuthHook.sol
  solidity/test/hooks/OPL2ToL1Hook.t.sol
  solidity/test/hooks/OPL2ToL1HookFork.t.sol
  solidity/test/isms/ArbL2ToL1Ism.t.sol
  solidity/test/isms/CCIPIsm.t.sol
  solidity/test/isms/ExternalBridgeTest.sol
Due: hooks

feat(infra): move USDC/electroneum avalanche and base owners to Electroneum Safe ICAs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getElectroneumUSDCWarpConfig.ts
Due: none

fix(solidity): bind RateLimitedIsm to current processing block (#9669)
  .changeset/current-block-rate-limited-ism.md
  solidity/contracts/client/MailboxClient.sol
  solidity/contracts/isms/warp-route/RateLimitedIsm.sol
  solidity/test/isms/RateLimitedIsm.t.sol
Due: isms

fix(solidity): prevent message ID hook replay (#9625)
  .changeset/tough-hooks-replay.md
  solidity/contracts/hooks/libs/AbstractMessageIdAuthHook.sol
  solidity/test/hooks/OPL2ToL1Hook.t.sol
  solidity/test/hooks/OPL2ToL1HookFork.t.sol
  solidity/test/isms/ArbL2ToL1Ism.t.sol
  solidity/test/isms/CCIPIsm.t.sol
  solidity/test/isms/ExternalBridgeTest.sol
Due: hooks

fix(infra): skip keyfunder IGP claims for zero IGP addresses
  typescript/infra/src/funding/key-funder.ts
Due: none

fix(sdk): guard incompatible router fee hooks
  .changeset/deprecate-special-router-token-fees.md
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
Due: none

fix(core): reject unsupported router token fees
  .changeset/deprecate-special-router-token-fees.md
  solidity/contracts/token/extensions/HypERC4626.sol
  solidity/contracts/token/extensions/HypERC4626Collateral.sol
  solidity/contracts/token/extensions/HypFiatToken.sol
  solidity/contracts/token/extensions/HypXERC20.sol
  solidity/contracts/token/extensions/HypXERC20Lockbox.sol
  solidity/test/token/HypERC20.t.sol
  solidity/test/token/TokenFeeUnsupported.fork.t.sol
Due: token

fix(core): disable token fees for incompatible routers
  solidity/contracts/token/extensions/HypERC4626.sol
  solidity/contracts/token/extensions/HypERC4626Collateral.sol
  solidity/contracts/token/extensions/HypFiatToken.sol
  solidity/contracts/token/extensions/HypXERC20.sol
  solidity/contracts/token/extensions/HypXERC20Lockbox.sol
  solidity/test/token/HypERC20.t.sol
  solidity/test/token/HypERC20CollateralVaultDeposit.t.sol
  solidity/test/token/HypERC4626Test.t.sol
  solidity/test/token/TokenFeeUnsupported.fork.t.sol
Due: token

fix(sdk): guard incompatible router fee upgrades
  .changeset/deprecate-special-router-token-fees.md
  .github/workflows/test-cli-e2e.yml
  typescript/cli/src/tests/ethereum/warp/warp-xerc20-fee.e2e-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
Due: none

chore(infra): remove deprecated forma from keyfunder
  typescript/infra/config/environments/mainnet3/funding.ts
Due: none

fix(core): deprecate token fees for incompatible routers (#9637)
  .changeset/deprecate-special-router-token-fees.md
  .github/workflows/test-cli-e2e.yml
  solidity/contracts/token/extensions/HypERC4626.sol
  solidity/contracts/token/extensions/HypERC4626Collateral.sol
  solidity/contracts/token/extensions/HypFiatToken.sol
  solidity/contracts/token/extensions/HypXERC20.sol
  solidity/contracts/token/extensions/HypXERC20Lockbox.sol
  solidity/test/token/HypERC20.t.sol
  solidity/test/token/HypERC20CollateralVaultDeposit.t.sol
  solidity/test/token/HypERC4626Test.t.sol
  solidity/test/token/TokenFeeUnsupported.fork.t.sol
  typescript/cli/src/tests/ethereum/warp/warp-xerc20-fee.e2e-test.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
Due: token

chore(infra): remove deprecated forma from keyfunder (#9808)
  typescript/infra/config/environments/mainnet3/funding.ts
Due: none

feat: add Arc and remove Katana from Eclipse USDC (#9724)
  typescript/infra/config/environments/mainnet3/rebalancer/USDC/eclipsemainnet-config.yaml
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCSTAGEWarpConfig.ts
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEclipseUSDCWarpConfig.ts
Due: none

feat(infra): add CCTP v2 rebalancing bridges to USDC/pulsechain
  typescript/infra/config/environments/mainnet3/warp/configGetters/getPulsechainUSDCWarpConfig.ts
Due: none

feat(infra): move USDC/pulsechain owners to team Safe ICAs
  typescript/infra/config/environments/mainnet3/warp/configGetters/getPulsechainUSDCWarpConfig.ts
Due: none

Path conditions:
  core: any of: solidity/contracts/Mailbox.sol
  hooks: any of: solidity/contracts/hooks/**
  isms: any of: solidity/contracts/isms/**
  token: any of: solidity/contracts/token/**
  middlewares: any of: solidity/contracts/middleware/**
