Repository hyperlane-xyz/hyperlane-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, hooks, isms, token, middlewares

feat: allow for relative configurable lowest block height
  rust/main/hyperlane-base/src/contract_sync/cursors/rate_limited.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/mod.rs
  rust/main/hyperlane-base/src/contract_sync/mod.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/parser/mod.rs
Due: none

feat: make field public
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/backward.rs
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/mod.rs
Due: none

feat: fix underflow
  rust/main/hyperlane-base/src/contract_sync/cursors/sequence_aware/mod.rs
Due: none

Address comments
  solidity/contracts/token/bridge/EverclearEthBridge.sol
  solidity/contracts/token/bridge/EverclearTokenBridge.sol
  solidity/test/token/EverclearTokenBridge.t.sol
Due: token

chore: added more parsing tests for the timelock submitter strategy + improved examples
  typescript/cli/examples/submit/strategy/ica-timelock-strategy.yaml
  typescript/cli/examples/submit/strategy/json-rpc-timelock-strategy.yaml
  typescript/sdk/src/metadata/customZodTypes.ts
  typescript/sdk/src/providers/transactions/submitter/builder/types.test.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.ts
Due: none

Add verify fork test
  solidity/test/token/TokenBridgeCctp.t.sol
Due: none

Simplify verify test
  solidity/test/token/TokenBridgeCctp.t.sol
Due: none

Address pr comments
  solidity/contracts/interfaces/cctp/IMessageHandler.sol
Due: none

feat: extend CCTP with hook and ISM interface (#6687)
  .changeset/nice-crabs-vanish.md
  solidity/contracts/hooks/ArbL2ToL1Hook.sol
  solidity/contracts/hooks/DefaultHook.sol
  solidity/contracts/hooks/MerkleTreeHook.sol
  solidity/contracts/hooks/OPL2ToL1Hook.sol
  solidity/contracts/hooks/PausableHook.sol
  solidity/contracts/hooks/ProtocolFee.sol
  solidity/contracts/hooks/aggregation/StaticAggregationHook.sol
  solidity/contracts/hooks/igp/InterchainGasPaymaster.sol
  solidity/contracts/hooks/layer-zero/LayerZeroV1Hook.sol
  solidity/contracts/hooks/libs/AbstractMessageIdAuthHook.sol
  solidity/contracts/hooks/routing/AmountRoutingHook.sol
  solidity/contracts/hooks/routing/DomainRoutingHook.sol
  solidity/contracts/hooks/routing/FallbackDomainRoutingHook.sol
  solidity/contracts/hooks/warp-route/RateLimitedHook.sol
  solidity/contracts/interfaces/IMailbox.sol
  solidity/contracts/interfaces/cctp/IMessageHandler.sol
  solidity/contracts/interfaces/cctp/IMessageTransmitter.sol
  solidity/contracts/interfaces/hooks/IPostDispatchHook.sol
  solidity/contracts/mock/MockCircleMessageTransmitter.sol
  solidity/contracts/mock/MockCircleTokenMessenger.sol
  solidity/contracts/test/TestPostDispatchHook.sol
  solidity/contracts/token/CCTP.md
  solidity/contracts/token/TokenBridgeCctp.sol
  solidity/test/AmountRouting.t.sol
  solidity/test/MerkleTreeHook.t.sol
  solidity/test/hooks/AggregationHook.t.sol
  solidity/test/hooks/DefaultHook.t.sol
  solidity/test/hooks/DomainRoutingHook.t.sol
  solidity/test/hooks/ProtocolFee.t.sol
  solidity/test/hooks/layerzero/LayerZeroV1Hook.t.sol
  solidity/test/hooks/layerzero/LayerZeroV2Hook.t.sol
  solidity/test/igps/InterchainGasPaymaster.t.sol
  solidity/test/isms/ERC5164ISM.t.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: hooks, token

Tests passing
  solidity/contracts/interfaces/cctp/ITokenMessenger.sol
  solidity/contracts/interfaces/cctp/ITokenMessengerV2.sol
  solidity/contracts/mock/MockCircleTokenMessenger.sol
  solidity/contracts/token/TokenBridgeCctpBase.sol
  solidity/contracts/token/TokenBridgeCctpV1.sol
  solidity/contracts/token/TokenBridgeCctpV2.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: token

Skip V2 fork tests
  solidity/test/token/TokenBridgeCctp.t.sol
Due: none

Remove CctpMessage
  solidity/contracts/libs/CctpMessage.sol
Due: none

chore: Upgrade Relayer RC and Hyperlane Mainnet to latest (#6705)
  typescript/infra/config/environments/mainnet3/agent.ts
Due: none

chore(relayer): rename `Processor` -> `DbLoader`, `SerialSubmitter` -> `MessageProcessor` (#6731)
  rust/main/agents/relayer/src/db_loader.rs
  rust/main/agents/relayer/src/lib.rs
  rust/main/agents/relayer/src/merkle_tree/db_loader.rs
  rust/main/agents/relayer/src/merkle_tree/mod.rs
  rust/main/agents/relayer/src/msg/db_loader.rs
  rust/main/agents/relayer/src/msg/message_processor.rs
  rust/main/agents/relayer/src/msg/mod.rs
  rust/main/agents/relayer/src/msg/op_batch.rs
  rust/main/agents/relayer/src/msg/op_queue.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/relayer/src/relayer.rs
  rust/main/agents/relayer/src/server/operations/message_retry.rs
  rust/main/agents/relayer/src/test_utils/dummy_data.rs
  rust/main/hyperlane-base/src/metrics/core.rs
  rust/main/hyperlane-core/src/traits/pending_operation.rs
Due: none

Error check on validator config parse (#135)
  rust/main/chains/dymension-kaspa/src/conf.rs
Due: none

update image
  typescript/infra/src/rebalancer/helm.ts
Due: none

fix: confirmation validation (#132)
  dymension/libs/kaspa/lib/core/src/util.rs
  dymension/libs/kaspa/lib/relayer/src/withdraw/hub_to_kaspa.rs
  dymension/libs/kaspa/lib/validator/src/confirmation.rs
  dymension/libs/kaspa/lib/validator/src/deposit.rs
  dymension/libs/kaspa/lib/validator/src/error.rs
  dymension/libs/kaspa/lib/validator/src/withdraw.rs
  rust/main/chains/dymension-kaspa/src/validator_server.rs
Due: none

feat(lander): more robust SVM `tx_ready_for_resubmission`
  rust/main/lander/src/adapter/chains/sealevel/adapter.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_submit.rs
Due: none

feat(lander): more robust SVM `tx_ready_for_resubmission` (#6737)
  rust/main/lander/src/adapter/chains/sealevel/adapter.rs
  rust/main/lander/src/adapter/chains/sealevel/adapter/tests/tests_submit.rs
Due: none

feat: parallel contract deployment & ownership fix
  typescript/sdk/src/deploy/StarknetDeployer.ts
Due: none

chore: update AW paradex validator address
  .changeset/tiny-ladybugs-switch.md
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/eclipsemainnet/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/solanamainnet/hyperlane/multisig-config.json
  rust/sealevel/environments/mainnet3/multisig-ism-message-id/solaxy/hyperlane/multisig-config.json
  typescript/infra/config/environments/mainnet3/validators.ts
  typescript/sdk/src/consts/multisigIsm.ts
Due: none

chore: add pre flight check to avoid warp monitor and rebalancer being deployed for the same route (#6692)
  typescript/infra/scripts/warp-routes/monitor/status.ts
  typescript/infra/src/rebalancer/helm.ts
  typescript/infra/src/utils/consts.ts
  typescript/infra/src/utils/helm.ts
  typescript/infra/src/warp/helm.ts
Due: none

Remove unused file
  typescript/cli/src/tests/commands/submit.ts
Due: none

feat(sdk): added more vlaidations to the timelock submitter to avid generating and proposing txs with already used ids
  typescript/sdk/src/metadata/customZodTypes.ts
  typescript/sdk/src/providers/transactions/submitter/builder/types.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5TimelockSubmitter.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/types.ts
Due: none

Relax txSubmitterType to extend string but default to TxSubmitterType
  typescript/sdk/src/providers/transactions/submitter/TxSubmitterInterface.ts
Due: none

Add comments
  typescript/cli/examples/submit/strategy/file-strategy.yaml
Due: none

fix(sdk): fixed bug in btes 32 zod validator
  typescript/sdk/src/metadata/customZodTypes.ts
Due: none

feat: Add HttpServer to Warp Fork (#6583)
  .changeset/sweet-coats-jump.md
  typescript/cli/package.json
  typescript/cli/src/fork/fork.ts
  yarn.lock
Due: none

Msg reception works
  solidity/contracts/token/bridge/EverclearTokenBridge.sol
  solidity/test/token/EverclearTokenBridge.t.sol
Due: token

Address more pr comments
  solidity/contracts/libs/CctpMessageV2.sol
  solidity/contracts/token/TokenBridgeCctpBase.sol
Due: token

Fork test receive fast message
  solidity/test/token/TokenBridgeCctp.t.sol
Due: none

Simplify fork test
  solidity/test/token/TokenBridgeCctp.t.sol
Due: none

feat(cli): submit command should be able to handle multiple chains (#6703)
  .changeset/clean-swans-tell.md
  solidity/contracts/test/ERC20Test.sol
  typescript/cli/examples/submit/transactions/anvil-transactions.yaml
  typescript/cli/src/commands/submit.ts
  typescript/cli/src/config/submit.ts
  typescript/cli/src/context/strategies/chain/MultiChainResolver.ts
  typescript/cli/src/deploy/dry-run.ts
  typescript/cli/src/deploy/utils.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/submit/submit.e2e-test.ts
  typescript/sdk/src/providers/transactions/submitter/ethersV5/EV5ImpersonatedAccountTxSubmitter.ts
  typescript/sdk/src/utils/fork.ts
Due: none

Add replay protection
  solidity/contracts/token/bridge/EverclearTokenBridge.sol
  solidity/test/token/EverclearTokenBridge.t.sol
Due: token

Remove unused param
  solidity/contracts/token/bridge/EverclearTokenBridge.sol
Due: token

Nits
  solidity/contracts/token/bridge/EverclearEthBridge.sol
  solidity/contracts/token/bridge/EverclearTokenBridge.sol
Due: token

Fix type
  typescript/cli/src/config/strategy.ts
Due: none

feat(sdk): added logic to not throw an error when the etherscan api does not return any logs
  typescript/sdk/src/block-explorer/etherscan.ts
Due: none

refactor(sdk): extracted the getExplorerFromChainMetadata function to its own file
  typescript/sdk/src/block-explorer/utils.ts
Due: none

feat(sdk): implemented the required logic to retrieve pending executable transactions from a timelock contract
  typescript/sdk/src/providers/transactions/submitter/ethersV5/timelock/transactions.ts
Due: none

Path conditions:
  core: any of: solidity/contracts/Mailbox.sol
  hooks: any of: solidity/contracts/hooks/**
  isms: any of: solidity/contracts/isms/**
  token: any of: solidity/contracts/token/**
  middlewares: any of: solidity/contracts/middleware/**
