Repository hyperlane-xyz/hyperlane-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, hooks, isms, token, middlewares

fix: update testnet config
  .registryrc
  rust/main/config/testnet_config.json
Due: none

audit: minimize RateLimited diff, add quoteDispatch override, naming nits
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/contracts/libs/RateLimited.sol
Due: isms

audit: dispatch-helper rename, custom errors, setRefillRate override, doc clarifications
  docs/delayed-flow-router.md
  solidity/contracts/isms/routing/TimelockRouter.sol
  solidity/contracts/isms/warp-route/DelayedFlowRouter.sol
  solidity/contracts/libs/RateLimited.sol
  solidity/test/isms/DelayedFlowRouter.t.sol
Due: isms

audit: emit CCR override events, rename helper, past-tense changeset
  .changeset/ccr-addbridge-override.md
  solidity/contracts/token/CrossCollateralRouter.sol
Due: token

feat: support ICA native balance sentinel (#8745)
  .changeset/quiet-icas-collect.md
  solidity/contracts/middleware/libs/Call.sol
  solidity/test/InterchainAccountRouter.t.sol
Due: middlewares

Support ICA delegatecall sentinel
  solidity/contracts/middleware/libs/Call.sol
  solidity/test/InterchainAccountRouter.t.sol
Due: middlewares

Fix ICA delegatecall sentinel CI
  .changeset/olive-icas-join.md
  solidity/test/InterchainAccountRouter.t.sol
Due: none

Remove standing bridge approvals
  .changeset/swap-rebalancing-bridge.md
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/contracts/token/HypERC20Collateral.sol
  solidity/contracts/token/libs/MovableCollateralRouter.sol
  solidity/test/token/AtomicLocalRebalancingBridge.fork.t.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
  solidity/test/token/HypERC20MovableCollateral.t.sol
  solidity/test/token/MovableCollateralRouter.t.sol
  typescript/infra/src/tx/govern-transaction-reader.ts
  typescript/sdk/src/token/EvmWarpModule.hardhat-test.ts
  typescript/sdk/src/token/EvmWarpModule.ts
  typescript/sdk/src/token/deploy.ts
Due: token

Refund local rebalance leftovers
  .changeset/swap-rebalancing-bridge.md
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.fork.t.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: token

Simplify local rebalance refunds
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: token

Address atomic bridge review comments
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.fork.t.sol
Due: token

docs(changeset): Added altvm support in warp check
  .changeset/wet-kids-glow.md
Due: none

feat: added altvm support in warp check
  typescript/sdk/src/token/warpCheck.ts
Due: none

chore: katana igp update
  typescript/infra/src/config/gas-oracle.ts
Due: none

svm igp update
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
Due: none

chore: katana igp update (#8828)
  rust/sealevel/environments/mainnet3/gas-oracle-configs.json
  typescript/infra/src/config/gas-oracle.ts
Due: none

Mitigate atomic bridge destination routing
  .changeset/swap-rebalancing-bridge.md
  solidity/contracts/token/AtomicLocalRebalancingBridge.sol
  solidity/test/token/AtomicLocalRebalancingBridge.fork.t.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: token

Document atomic rebalance flow
  solidity/contracts/token/libs/MovableCollateralRouter.sol
  solidity/test/token/AtomicLocalRebalancingBridge.t.sol
Due: token

test: use canonical router in atomic rebalance fork test
  solidity/test/token/AtomicLocalRebalancingBridge.fork.t.sol
Due: none

feat: enumerable BlacklistIsm with append-only NatSpec
  .changeset/black-tips-jam.md
  solidity/contracts/isms/BlacklistIsm.sol
  solidity/test/isms/BlacklistIsm.t.sol
Due: isms

test(solidity): use _igpContext helper and add standing-quote overflow DoS regression test [HL-2026Q2-001]
  solidity/test/igps/IGPOffchainQuoting.t.sol
Due: none

feat: support ICA delegatecall sentinel (#8746)
  .changeset/olive-icas-join.md
  solidity/contracts/middleware/libs/Call.sol
  solidity/test/InterchainAccountRouter.t.sol
Due: middlewares

feat: add Anvil fork manager
  .changeset/quiet-ants-fork.md
  typescript/sdk/src/index.ts
  typescript/sdk/src/utils/fork.test.ts
  typescript/sdk/src/utils/fork.ts
Due: none

fix: address anvil fork review feedback
  .changeset/quiet-ants-fork.md
  typescript/sdk/src/utils/fork.test.ts
  typescript/sdk/src/utils/fork.ts
Due: none

docs: add validator terraform quickstart
  rust/main/terraform/README.md
  rust/main/terraform/main.tf
  rust/main/terraform/outputs.tf
  rust/main/terraform/terraform.tfvars.example
  rust/main/terraform/variables.tf
Due: none

docs: clarify validator terraform apply steps
  rust/main/terraform/README.md
Due: none

fix: keep full address when stopping impersonation
  typescript/sdk/src/utils/fork.test.ts
  typescript/sdk/src/utils/fork.ts
Due: none

docs: address validator terraform review comments
  rust/main/terraform/README.md
  rust/main/terraform/main.tf
  rust/main/terraform/terraform.tfvars.example
  rust/main/terraform/variables.tf
Due: none

feat: allow multiple messages for cctip v2
  typescript/ccip-server/src/services/CCTPAttestationService.ts
  typescript/ccip-server/src/services/CCTPService.ts
  typescript/ccip-server/src/services/cctpMessageMatcher.ts
  typescript/ccip-server/tests/services/cctpMessageMatcher.test.ts
Due: none

docs(changeset): Allowed multiple messages per origin tx for cctp v2 messages
  .changeset/odd-seas-unite.md
Due: none

docs(changeset): Added new hook deploy command
  .changeset/gentle-pots-appear.md
Due: none

feat(cli): add hook deploy command
  typescript/aleo-sdk/src/clients/protocol.ts
  typescript/cli/src/commands/hook.ts
  typescript/cli/src/commands/signCommands.ts
  typescript/cli/src/consts.ts
  typescript/cli/src/context/strategies/chain/chainResolver.ts
  typescript/cli/src/hook/deploy.ts
  typescript/cosmos-sdk/src/clients/protocol.ts
  typescript/provider-sdk/src/mingas.ts
  typescript/radix-sdk/src/clients/protocol.ts
  typescript/starknet-sdk/src/clients/protocol.ts
  typescript/svm-sdk/src/clients/protocol.ts
  typescript/tron-sdk/src/clients/protocol.ts
Due: none

fix: pr review
  typescript/cli/src/hook/deploy.ts
Due: none

fix: pr review
  typescript/ccip-server/package.json
  typescript/ccip-server/src/services/CCTPAttestationService.ts
  typescript/ccip-server/src/services/CCTPService.ts
  typescript/ccip-server/src/services/cctpMessageMatcher.ts
Due: none

fix: pr review
  typescript/ccip-server/package.json
  typescript/ccip-server/src/services/CCTPAttestationService.ts
  typescript/ccip-server/tests/services/cctpMessageMatcher.test.ts
Due: none

fix: pr review
  typescript/ccip-server/src/services/CCTPAttestationService.ts
Due: none

fix: pr review
  typescript/ccip-server/package.json
  typescript/ccip-server/src/services/CCTPAttestationService.ts
  typescript/ccip-server/src/services/CCTPService.ts
  typescript/ccip-server/src/services/cctpMessageMatcher.ts
  typescript/ccip-server/tests/services/cctpMessageMatcher.test.ts
Due: none

fix: pending
  typescript/ccip-server/src/services/CCTPAttestationService.ts
Due: none

fix: pending attestation
  typescript/ccip-server/src/services/CCTPAttestationService.ts
Due: none

Path conditions:
  core: any of: solidity/contracts/Mailbox.sol
  hooks: any of: solidity/contracts/hooks/**
  isms: any of: solidity/contracts/isms/**
  token: any of: solidity/contracts/token/**
  middlewares: any of: solidity/contracts/middleware/**
