Repository hyperlane-xyz/hyperlane-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, hooks, isms, token, middlewares

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto # strictly increasing coverage
        threshold: 3% # buffer for coverage drop

comment:
  layout: 'header, diff, flags, components' # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that does not have a status defined will have a project type one
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_core
      name: core
      paths:
        - solidity/contracts/Mailbox.sol
    - component_id: module_hooks
      name: hooks
      paths:
        - solidity/contracts/hooks/**
    - component_id: module_isms
      name: isms
      paths:
        - solidity/contracts/isms/**
    - component_id: module_token
      name: token
      paths:
        - solidity/contracts/token/**
    - component_id: module_middlewares
      name: middlewares
      paths:
        - solidity/contracts/middleware/**

feat: check checkpoint index and block height to identify reorg earlier
  rust/main/agents/relayer/src/msg/db_loader.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/validator/src/submit.rs
  rust/main/agents/validator/src/submit/tests.rs
  rust/main/hyperlane-base/src/db/mod.rs
  rust/main/hyperlane-base/src/db/rocks/hyperlane_db.rs
  rust/main/hyperlane-base/src/settings/checkpoint_syncer.rs
  rust/main/hyperlane-core/src/types/checkpoint.rs
  rust/main/hyperlane-core/src/types/reorg.rs
Due: none

chore: update USDC/radix ISM
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRadixUSDCWarpConfig.ts
Due: none

chore: keep Solana ISM
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRadixUSDCWarpConfig.ts
Due: none

Revert "chore: keep Solana ISM"
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRadixUSDCWarpConfig.ts
Due: none

fix: Lander nonce add logs (#7260)
  rust/main/chains/hyperlane-ethereum/src/rpc_clients/fallback.rs
  rust/main/lander/src/adapter/chains/ethereum/adapter.rs
  rust/main/lander/src/adapter/chains/ethereum/nonce/state/assign.rs
  rust/main/lander/src/adapter/chains/ethereum/precursor.rs
Due: none

fmt
  rust/main/hyperlane-base/src/kas_hack/logic_loop.rs
Due: none

impl credential id
  rust/main/chains/hyperlane-sovereign/src/provider/methods.rs
  rust/main/chains/hyperlane-sovereign/src/signers.rs
  rust/main/chains/hyperlane-sovereign/src/signers/ed25519.rs
  rust/main/chains/hyperlane-sovereign/src/signers/ethereum.rs
  rust/main/chains/hyperlane-sovereign/src/signers/sovereign.rs
Due: none

chore: update USDC/radix ISM (#7267)
  typescript/infra/config/environments/mainnet3/warp/configGetters/getRadixUSDCWarpConfig.ts
Due: none

feat: validator instructions (#280)
  dymension/AGENT_COMMANDS.md
  dymension/libs/kaspa/ops/validator/VALIDATOR.md
  dymension/libs/kaspa/ops/validator/agent-config.example.json
  dymension/libs/kaspa/ops/validator/kaspa.mainnet.wallet
  dymension/libs/kaspa/ops/validator/kaspa.testnet10.wallet
Due: none

Add teset for invalid token message recipient
  solidity/contracts/token/TokenBridgeCctpBase.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: token

feat: SOL/incentiv artifacts
  rust/sealevel/environments/mainnet3/warp-routes/SOL-incentiv/program-ids.json
  rust/sealevel/environments/mainnet3/warp-routes/SOL-incentiv/token-config.json
Due: none

feat: Skeleton and FuelPump component, export WarpCoreFeeEstimate
  typescript/sdk/src/index.ts
  typescript/widgets/src/animations/Skeleton.tsx
  typescript/widgets/src/icons/FuelPump.tsx
  typescript/widgets/src/index.ts
Due: none

docs(changeset): Add Skeleton and FuelPump component
  .changeset/warm-ligers-perform.md
Due: none

docs(changeset): Export WarpCoreFeeEstimate
  .changeset/silly-panthers-press.md
Due: none

feat(cli/test): added the HYP_DEPLOYER_ADDRESS_BY_PROTOCOL and BURN_ADDRESS_BY_PROTOCOL mappings for e2e tests
  typescript/cli/src/tests/constants.ts
Due: none

feat(cli/test): added a radix sample core config
  typescript/cli/examples/radix/core-config.yaml
Due: none

feat: widgets components update (#7268)
  .changeset/silly-panthers-press.md
  .changeset/warm-ligers-perform.md
  typescript/sdk/src/index.ts
  typescript/widgets/src/animations/Skeleton.tsx
  typescript/widgets/src/icons/FuelPump.tsx
  typescript/widgets/src/index.ts
Due: none

feat(radix-sdk): updated the RadixProvider to optionally overide the gateway url if one is provided in the config
  typescript/radix-sdk/src/clients/provider.ts
  typescript/radix-sdk/src/utils/types.ts
Due: none

feat(radix-sdk): ported the publish_package_advanced from the rust sdk and implemented it in the RadixBase class
  typescript/radix-sdk/src/utils/base.ts
Due: none

fix: do not donate on receive in `HypNative` (#7262)
  solidity/contracts/token/HypNative.sol
  solidity/test/token/HypNativeLp.t.sol
Due: token

feat(radix-sdk): implemented the publishPackage method on the RadixSigner class
  typescript/cli/src/context/altvm.ts
  typescript/radix-sdk/src/clients/signer.ts
  typescript/utils/src/altvm.ts
Due: none

feat(sdk): updated the DerivedCoreConfig defaultIsm to the correct type DerivedIsmConfig
  typescript/sdk/src/core/types.ts
Due: none

Upgrade solc to 0.8.30
  solidity/contracts/hooks/layer-zero/LayerZeroV1Hook.sol
  solidity/contracts/hooks/layer-zero/LayerZeroV2Hook.sol
  solidity/foundry.toml
  solidity/package.json
  solidity/rootHardhatConfig.cts
  solidity/test/hooks/layerzero/LayerZeroV1Hook.t.sol
  solidity/test/hooks/layerzero/LayerZeroV2Hook.t.sol
  solidity/test/isms/layer-zero/LayerZeroV2Ism.t.sol
Due: hooks

fix: prevent token message verifying GMP recipient (#7261)
  solidity/contracts/token/TokenBridgeCctpBase.sol
  solidity/contracts/token/TokenBridgeCctpV1.sol
  solidity/contracts/token/TokenBridgeCctpV2.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: token

fix: minimize CCTP bytecode size (#7265)
  solidity/contracts/token/TokenBridgeCctpBase.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: token

Fix lint
  solidity/contracts/token/TokenBridgeCctpBase.sol
Due: token

fix: override transfer to with transfer fee behavior (#7264)
  solidity/contracts/token/TokenBridgeCctpBase.sol
  solidity/contracts/token/bridge/EverclearTokenBridge.sol
  solidity/contracts/token/libs/TokenCollateral.sol
  solidity/contracts/token/libs/TokenRouter.sol
  solidity/test/token/EverclearTokenBridge.t.sol
  solidity/test/token/TokenBridgeCctp.t.sol
Due: token

Import and use safeApprove for yield routes
  solidity/contracts/token/extensions/HypERC4626Collateral.sol
  solidity/contracts/token/extensions/HypERC4626OwnerCollateral.sol
Due: token

docs(changeset): Update Yield Routes (HypERC4626OwnerCollateral and HypERC4626Collateral) to use safeApprove
  .changeset/sweet-tips-bake.md
Due: none

Add unit tests. Move vault deployment to its own function
  solidity/contracts/test/ERC20Test.sol
  solidity/test/token/HypERC20CollateralVaultDeposit.t.sol
Due: none

Remove unused return var
  solidity/test/token/HypERC20CollateralVaultDeposit.t.sol
Due: none

Revert unnecessary changes
  solidity/contracts/token/extensions/HypERC4626OwnerCollateral.sol
Due: token

Downgrade to patch
  .changeset/sweet-tips-bake.md
Due: none

feat(cli): implemented the core deploy tests for the readix protocol
  typescript/cli/src/tests/constants.ts
  typescript/cli/src/tests/nodes.ts
  typescript/cli/src/tests/radix/core/core-deploy.e2e-test.ts
  typescript/cli/src/tests/radix/e2e-test.setup.ts
  typescript/cli/test-configs/test-registry/chains/radix1/metadata.yaml
Due: none

feat: Import and use safeApprove for yield routes (#7243)
  .changeset/sweet-tips-bake.md
  solidity/contracts/test/ERC20Test.sol
  solidity/contracts/token/extensions/HypERC4626Collateral.sol
  solidity/test/token/HypERC20CollateralVaultDeposit.t.sol
Due: token

feat(cli/test): added logic to restore the original chain metadata file for radix
  typescript/cli/src/tests/nodes.ts
  typescript/cli/src/tests/radix/e2e-test.setup.ts
  typescript/cli/test-configs/test-registry/chains/radix1/metadata.yaml
Due: none

fix(sdk, cli): fix audit branch failing tests (#6922)
  solidity/contracts/mock/MockValueTransferBridge.sol
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/commands/warp.ts
  typescript/cli/src/tests/warp/warp-bridge-utils.ts
  typescript/cli/src/tests/warp/warp-rebalancer.e2e-test.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.ts
Due: none

feat(cli): updated the compose file for raising the radix node so that it uses less memory and dynamically sets ports for running services
  typescript/cli/src/tests/constants.ts
  typescript/cli/src/tests/nodes.ts
  typescript/cli/src/tests/radix/docker-compose.yml
Due: none

chore: enabled radix e2e tests in the ci
  .github/workflows/test.yml
Due: none

fix: systemd instructions for kaspa validator setup
  dymension/libs/kaspa/ops/validator/VALIDATOR.md
Due: none
